[2019-03-08 19:59] denisfa commented on #94
@rkitover  I manage to get a working code for saving/loading state data, although I don't think it is elegant at all. I have it [here](https://github.com/denisfa/visualboyadvance-m/commit/bf534b06a74b7cd6d6a9c5d420ee53b9c641ac1c). Is this something that you could help me here? Or should I submit a PR and we go from there? (my branch denisfa:xdg-state-dir)

Also, about Windows, there is a cleanup n

[2019-03-08 21:51] rkitover commented on #94
@denisfa I left some comments on your commit.

Also when I was talking about saving states, I meant a different thing, although this is also good.

The emulator has a function to save its state, in the `File -> Save state` and `File -> Load state` menus. These are snapshot of the emulator state to restart a game at the same spot.

[2019-03-09 00:02] denisfa commented on #94
@rkitover Thanks! I will work on it!

Yeah, my wording was ambiguous. But at least you could understand that I meant the GUI geometry. The `[Geometry]` and the `[Recent]` were the sections that I wanted to save to a different place (not sure the name of the file yet) due to them being more likely to be changed often than the rest of the config. They are classified by some as [state data](https://w

[2019-03-09 00:15] rkitover commented on #94
I need to bring the mingw travis slaves back up so we have a test for compilability for windows. I had to bring them down because the mxe debian package repository went offline. If it's still offline I will just redo them using an mxe docker image or something.

[2019-03-09 05:07] rkitover commented on #94
mingw build jobs on travis are fixed

[2019-03-09 15:44] rkitover commented on #94
I was not able to do the `--help` check on travis yet because for some reason the binary exits `255`, it doesn't segfault anymore but still has this weird exit code, will try to fix this.

[2019-03-09 19:10] denisfa commented on #94
I am sure this is related to the cleanup I need to do. I will also be working on this now.

[2019-03-09 23:41] denisfa commented on #94
I am trying to test, but I am having some issues. How do you generate the exe that you can double-click on Windows? Using the MSYS I can build and run, but when I try clicking the exe I get all sorts of errors. This go from missing libs, to directX broken (???).

When I run from the MSYS shell, I get a popup window displaying the `--help` information. Not sure if this is common for windows or not,

[2019-03-10 01:29] rkitover commented on #94
For me `--help` does not display at all from the msys shell.

As for how to run the executable built with msys2, you can either do:

[code]

from the terminal.

or add `c:\msys64\mingw64\bin` to your `PATH` environment variable (`mingw32` for 32 bit builds.)

I prefer the first approach to not put potentially unwanted things in `PATH`.

[2019-03-10 02:48] rkitover commented on #94
The other option with msys2 builds is to use something like e.g. dependencywalker to get all the `.dll`s and copy them to the `.exe` directory.

If you want a static build, you can use mxe in linux (or a docker image) or my build scripts on linux.

[2019-03-11 13:05] #194 closed

[2019-03-15 00:55] denisfa commented on #94
I did some testing about this with the help of virtual machines. I am running am AMD x86_64 and use QEMU to check others. The save states worked. My tests were like this: save a game state on one machine; send to other via scp; load the state.

The game was LoZ Oracle of Seasons, and it worked perfectly on all machines.

If this is correct, what else do we need to do to close this? I wanted to spl

[2019-03-15 01:52] rkitover commented on #94
I'm fine with closing this unless you wanted to make any other enhancements, but these can be tracked elsewhere.

[2019-03-15 01:53] #94 closed

[2019-03-15 01:54] rkitover commented on #94
And by the way, thank you very much for doing all of this, this will definitely help keep us in the distro packages.

[2019-03-16 01:17] denisfa commented on #79
@rkitover This can be closed too, right?

[2019-03-16 01:47] rkitover commented on #79
Yes. Implemented by @denisfa in master.

[2019-03-16 06:25] Squall-Leonhart commented on #382
Can you try one of these nightlies
https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-457876139

if they work, the issue specifically comes back to a change made to gbgfx.cpp on Feb 2.

[2019-03-16 06:55] Squall-Leonhart commented on #374
This reproduces on a keyboard too strangely enough, might be emulator priority level related.

[2019-03-16 07:00] Squall-Leonhart commented on #382
Donkey Kong voice is working as expected of what we emulate (we don't emulate the SGB APU)

[2019-03-17 01:41] sorin255 opened #390 "Weird Sticky Keys Issue"
### Please fill out this form:

### Expected behavior
When movement keys are released, that key's input will stop being read.

### Actual behavior
When a movement key is pressed, often after being held for a bit, movement in that direction will continue until the key is pressed again.

### Steps to reproduce the behavior
First noticed in Fire Red. Tried changing keys to see if it was just an issue

[2019-03-17 03:12] rkitover commented on #390
Which keys did you map for movement? arrows?

[2019-03-17 04:46] sorin255 commented on #390
Arrows initially and then WASD when replicating the issue.

[2019-03-17 11:47] rkitover commented on #390
Thanks, I'll see if I can reproduce this.

[2019-03-19 11:33] v1993 opened #392 "Weird build errors"
### Please fill out this form:

### Expected behavior
VBA-M builds normally using CMake and clang.

### Actual behavior
[code]

### Steps to reproduce the behavior
I guess that this can be reproduced using commands from previous section. You'll need ninja build tool and clang/llvm. All the stuff is done on Ubuntu 18.10.

### Crash bugs

_If this is a crash bug_, and it is not one.

### ROM details

[2019-03-19 15:13] rkitover commented on #392
So if the issue is that cmake is supposed to use `llvm-ranlib` and not regular `ranlib`, how is it supposed to know this? Is there perhaps a toolchain file for clang you are supposed to use?

[2019-03-19 15:15] rkitover commented on #392
Another option is to use a `bin/` directory in your path, with symlinks to all the tools you want, e.g. `ranlib -> llvm-ranlib`, `cc -> clang`, `c++ -> clang++`.

[2019-03-20 01:43] rkitover commented on #392
Fixed in master btw, at least for this project, you will have this problem with other projects.

[2019-03-20 01:44] #392 closed

[2019-03-20 04:22] LazyBunny commented on #374
I'm also having this issue on 2.1.1, using a GPD Win2. The Dpad works fine, though it has a little bit of latency issues. But the analog stick is certainly not working.

[2019-03-20 06:36] LazyBunny commented on #351
I second this for the load and save states.
I use the GPD Win2 for most of my emulation, so i usually have Save State 1 as F1, so i can press it quickly. And then F6 as load state 1. Since i need Fn+F1 to F6, in order to get my F7-F12 keys.

Being able to hit that save state quickly is just really important, and it's not the easiest, or safest to Shift+F1, since it's a thumb-type keyboard. If my t

[2019-03-21 08:57] v1993 commented on #392
I've used clang for a lot of other projects (including ones where static libs are built first and then linked together), never met any errors. That's weird part for me.

I'll try git master, thanks.

[2019-03-21 09:00] v1993 commented on #392
As a sidenote, is VBA-M using SDL (not SDL2) for joysticks? Because it's probably only one place where they act like uncalibrated ones.

[2019-03-21 10:59] rkitover commented on #392
Yes SDL2 is used for joystick, if there is a better thing we can use I could switch.

[2019-03-22 17:03] v1993 commented on #126
Easy way is to just run

    LANG=C visualboyadvance-m
in terminal, make all required changes in inputs (Input → Configure...), then close VBA-M and open it normal way. Easier, isn't it?

[2019-03-22 18:39] rkitover commented on #325
This is not quite ideal yet, it works correctly on Windows but for wxGTK the game area is not centered vertically.

[2019-03-25 03:37] LazyBunny opened #393 "Freeze or Black Screen with Mega Moemon 1.1.4a"
### VBA-M 2.1.0.  (VBA-M 2.1.1 isn't usable atm because of the analog bug.)

### Expected behavior
I expect to be able to access a pokemart shop with the Mega Bracelet or mega-evolution poke-rite stones as i would a normal poke mart. And if i already have the Mega Bracelet/stones, i expect to be able select them in the inventory.

### Actual behavior
If i attempt to open a vender selling the brace

[2019-03-25 03:47] LazyBunny commented on #393
### And... i think i might have solved my own problem...
I feel both silly and annoyed.
I always used the real bios file out of habit. For years, when ever i'd use any GBA emulator, i'd use a GBA bios, just for compatibility. This time i turned it off, just to see what would happen... and sure enough.. it seems to be working.

[2019-03-25 06:59] retro-wertz commented on #393
alot of these Pokemon hacks does not work with real hardware. im not surprised that would not work when using with real bios file. this is why most of them dont patches available in RomHacking.net and mostly includes a rom download, which is illegal...

[2019-03-25 07:31] LazyBunny commented on #393
Yeah, that's true, though oddly enough, i found a lot of rom hacks DO work amazing on original hardware. I actually want some moemon repro carts :D Same with pokemon Prism

[2019-03-25 22:10] Dechstreme opened #394 "Xbox 360 usb joypad won't register the start key right."
### Please fill out this form:

### Expected behavior
To be able to map the GBA start Key to the start key of the joypad
### Actual behavior
The emulator is identifying the start key of the joypad as the Esc button when you press it, making it close the emulator and prevent from mapping the start key to the emulator.
### Steps to reproduce the behavior
Press start on the joypad, it doesn't even ha

[2019-03-25 23:11] rkitover commented on #394
Are you using 2.1.1? Because in that version the esc key mapping has been removed.

[2019-03-26 00:11] Dechstreme commented on #394
I’m supposed to have the latest. I don’t know why it’s doing it. I tried downloading it from your site but it had the exact same data size as the one I got from another site. It also had the same date.

Sent from Yahoo Mail for iPhone

On Monday, March 25, 2019, 7:11 PM, Rafael Kitover <notifications@github.com> wrote:

Are you using 2.1.1? Because in that version the esc key mapping has been remo

[2019-03-26 00:15] Dechstreme commented on #394
Wait, I have 2.1.0...

Sent from Yahoo Mail for iPhone

On Monday, March 25, 2019, 7:11 PM, Rafael Kitover <notifications@github.com> wrote:

Are you using 2.1.1? Because in that version the esc key mapping has been removed.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-26 11:31] chenjaq opened #395 "Painful building issue under CentOS 7.6"
### Expected behavior
installation successfully pass the make process under Centos7.6.

### Actual behavior
The make process was interrupted by multiple errors taking places  at the wxvbam.cpp file.

### Steps to reproduce the behavior
1、Finished pre-install as the last comment mentions of reported issue#297.
2、And then did the following with gcc-c++compiler installed:
2.1mkdir build && cd build
2

[2019-03-26 13:33] rkitover commented on #395
I will take a look.

[2019-03-27 23:36] denisfa commented on #395
I can confirm this. The following script works:
[code]

Both `wx-config` and `wxrc` names are reserved for the stable version. For centOS it is **2.8**.

[2019-03-28 00:54] rkitover commented on #395
@denisfa thanks for the script!

I am actually looking into why it doesn't build for the centos version of 2.8, which is a unicode build, and once I fix this I will also make any necessary cmake and installdeps adjustments. Actually I'll make a branch for this now with what I have, it's centos-fixes. That has mostly working installdeps support.

[2019-03-28 11:06] anLizard opened #397 "Analog Stick on GameCube controller triggering in-game movement even though it is in resting position"
Demonstration:
https://gfycat.com/MetallicRapidHen
https://gfycat.com/SingleMessyDolphin

The GameCube controller does not show this behavior in other applications. I tested this with four different GC controllers on all four ports.
Other kinds of controllers do not have this issue in VBA-M (Xbox One S, 8Bitdo SF30 Pro).

### Expected behavior
After letting go of the GameCube controller's analog s

[2019-03-28 15:07] rkitover commented on #397
This is on 2.1.1 right?

[2019-03-28 15:12] anLizard commented on #397
Yeah, 2.1.1 Windows 64-bit

[2019-03-28 22:17] #297 closed

[2019-03-28 22:17] #395 closed

[2019-03-29 01:54] rkitover opened #398 "PROJECT: fix all regressions compared to MFC builds"
Please discuss any things that don't work correctly in the new builds compared to the old MFC builds, games that no longer work etc..

Also please discuss any UI elements, shortcut keys, etc. that you like better in the MFC builds compared to the new builds.

[2019-03-29 02:12] FiscalMonkey commented on #151
Any progress so far for the on-screen touch controls?

[2019-03-29 02:18] rkitover commented on #151
TBH I forgot about this, but now that you remind me I'll try to do something soon, should not be very hard to do.

[2019-03-31 09:40] nf6429 opened #399 "Save loading issue"
###  Expected behavior:
when choosing rom through rom list, which already has save states, it should load the game save
 ### Actual behavior:
it loads the last save state i made
###  Steps to reproduce the behavior:
play game (only tried on scurge hive), do a save state, then when still playing choose the same rom through 'open' ; It will load the save state instead of the sav file.
Note that i ha

[2019-03-31 10:15] retro-wertz commented on #399
you have "auto load most recent" enabled...

On Sun, Mar 31, 2019 at 5:40 PM nf6429 <notifications@github.com> wrote:

[2019-03-31 10:38] nf6429 commented on #399
Ah sorry, i didnt notice this at all, ill close the issue then. Thanks!

[2019-03-31 10:38] #399 closed

[2019-03-31 13:24] retro-wertz commented on #399
assigned? to do what with a closed issue and clearly a user error???

On Sun, Mar 31, 2019 at 9:22 PM Rafael Kitover <notifications@github.com>
wrote:

[2019-03-31 13:38] rkitover commented on #399
It means you answered the question, you don't have to do anything.

[2019-04-01 12:22] anLizard opened #400 "Can't walk down with analog stick on Dinput controller when using joybus connection to Dolphin emulator"
### Expected behavior
Holding the stick downward will make character walk down.

### Actual behavior
Character only turns himself to face down, doesn't walk.

### Steps to reproduce the behavior
1. Setup input for D-input controller
![image](https://user-images.githubusercontent.com/48686356/55326305-b249a600-5487-11e9-8e35-bc5e7afbeef9.png)
2. Link to Dolphin running Four Swords Adventures locall

[2019-04-01 14:53] anLizard commented on #397
After some more playing around, I found out that the issue is not present on 2.1

[2019-04-01 16:43] rkitover commented on #400
Could you please try this binary:

[visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3030476/visualboyadvance-m-Win-64bit.zip)

[2019-04-01 17:02] rkitover commented on #374
Please try this binary and report your results:

[visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3030539/visualboyadvance-m-Win-64bit.zip)

[2019-04-01 17:48] LazyBunny commented on #374
@rkitover  The Analog is fixed for up/down/left/right in this beta version.
But there's a new issue with it. When i set a specific turbo limit, IE 500%. My turbo button no longer works. However is the turbo limit is set to 0, the turbo button/function works as normal.

Which was the most anticipated feature for 2.1.1 for me anyways. Since at 800-900% it's a bit hard to control, but at 500% or so i

[2019-04-01 18:52] anLizard commented on #400
Sadly it didn't fix this issue, but #397 is resolved with the new binary!

[2019-04-02 16:29] rkitover commented on #374
@LazyBunny I've hard reports that the speedup button configuration does not work for some people, and I noticed it hasn't worked for me on occasion as well, I don't know why yet. Could you try some things:

- try turning off display filter or turning it on (to e.g. xbrz6)
- try switching sound driver
- see if the normal throttle setting behaves the same way

This may be linked to a memory error of

[2019-04-02 17:18] LazyBunny commented on #374
Ok Using OpenGL backend. Moemon Emerald 4x mag. VBA-M 2.1.1-d66e8108
"OR implies multiple tests with each of the OR settings"

SDL, No Filter OR simple 4x OR xbrz6, 500% Turbo cap, freeze/Hardlock of VBA-M

Xaudio2 No stereo upmixing, no filter, 500% turbo, works**
**I can't get above 400% turbo with no display filter, xaudio is hard on my system.
But i can't go above 350% with Simple 4x. If i set

[2019-04-03 00:32] rkitover commented on #374
@LazyBunny thank you for testing, so if I understand correctly with xaudio2 the speedup configuration let you go up to around 400% throttle, but with other sound drivers it did not work.

Can you please test one other thing for me, go into the `General` config and set the normal `throttle` value instead of the speedup key and see if you get the same results.

Thank you!

[2019-04-03 00:37] rkitover commented on #79
@denisfa so this doesn't work yet, when you start the emu with a ROM it first switches to the remembered size then shrinks back to the default size, can you please take a look if and when you have a chance?

[2019-04-03 00:56] retro-wertz commented on #79
core will  resize based on default magnification size and will not use
remembered size....

On Wed, Apr 3, 2019 at 8:37 AM Rafael Kitover <notifications@github.com>
wrote:

[2019-04-03 01:06] rkitover commented on #79
Pretty sure this has nothing to do with the core, the core only calls `systemDrawScreen()` see `src/wx/sys.cpp` for the interface to the core.

[2019-04-03 01:15] LazyBunny commented on #374
Xaudio2, throttle cap 0, General throttle 900%(to let it go as fast as it can)
No graphics filter ~400%, it spiked to 425%
Simple 4x filter, ~350%.
So same.

XAudio2 on is just hard on this system. Same results with 2.1.0
It's why i use DirectSound.

Which i just remembered, may have NOTHING to do with VBA-M.
Some GPD-Win2's have an audio polarity bug, which require a software work-around to corre

[2019-04-03 01:58] rkitover commented on #374
@LazyBunny thank you.

Can you confirm that the throttle setting behaves the same way as the speedup key setting when using throttle for the speedup key (meaning **NOT** frame skip.) With the sound drivers you tested but setting throttle instead of speedup key.

This is what I need to know.

If this is true, we can focus on fixing throttle as unrelated to this feature.

[2019-04-03 03:01] LazyBunny commented on #374
I never use frame skip, ever. Throttle implies Throttle menu within General Settings, Turbo cap always implies the Turbo menu, used with the turbo key**
No GFX Filter.
SDL, Throttle (Not Turbo key), Starts, runs 200%, 300%, 400%
SDL, Throttle (Not Turbo key), freeze on start, have to hard close(not responding) at 500% and 600%

XAudio2, Throttle(not turbo key), works fine, at 200%+, but still can'

[2019-04-03 08:58] denisfa commented on #79
@rkitover I know how to fix this. I will offer a quick solution in a moment.

[2019-04-03 11:48] rkitover commented on #374
@LazyBunny thanks, but I'm still not sure what's happening here. The binary I posted here was built the same way as the 2.1.1 release, and 2.1.0 does not have a configurable turbo feature, only 2.1.1 does.

So did you notice a difference between the speedup key and setting throttle in the general config?

On 2.1.0 the speedup key skips 9 frames, the effect should be the same as selecting 9 frames

[2019-04-03 15:08] LazyBunny commented on #374
@rkitover OHH I get what you mean. Then that would be my confusion! My mistake completely, i understand you now. That would explain the 900%. Then nevermind on the speed/performance, since there was no turbo/speedup menu on 2.1.0. The freezes and crashes are still relevant for SDL, and the weird behavour with directsound with HW Acc on vs off though. Since in 2.1.1b in the turbo menu, i did specif

[2019-04-03 16:52] rkitover commented on #374
@LazyBunny

Let me explain how the turbo configuration works.

There are three possible states when the turbo button is pressed, throttle, speedup and speedup with frame skip.

If you select zero throttle and zero frame skip, then speedup is in effect, the game runs at full speed without skipping frames.

If you select a number of frames to skip, then speedup is in effect, the game runs at full sp

[2019-04-03 17:34] LazyBunny commented on #374
@rkitover
2.1.1b Sorry, it's a lot of info to di through. Decided to redo the tests.  Weird stuff bolded
Default settings:OpenGL, Speedup Frameskip 0, Auto Frameskip off, No Display Filter, Multithread filter on, 4x mag, no bios
Turbo refers to speedup key. (Not frameskip.) 440% is my general average, It actually bounces between 420 and 460. It's not a solid 440, but i see 44x the most.
Rom Moemon

[2019-04-04 02:03] Stargateur commented on #88
turbo mode assign to `D` doesn't work, but `alt+D` works on 2.1.1 64bit windows precompiled build

[2019-04-04 16:12] Cibomatto2002 commented on #374
it's working properly now.

[2019-04-04 16:35] LazyBunny commented on #374
@Cibomatto2002 Yeah, the Analog movement is. We kinda Hijacked your thread for another issue, that happened to occur in that new version. Which has something to do when throttle/turbos are set to 500% or higher.

[2019-04-04 16:40] Cibomatto2002 commented on #374
I left it open because I seen it was Hijacked.

[2019-04-04 16:50] rkitover opened #403 "release 2.1.2"
Hey @retro-wertz and @denisfa, I want to do a release with the analog stick fix most importantly, and any other minor issues we can squeeze in. If you were working on anything we can release in the next couple of weeks please let me know here.

In the meantime I will post a new nightly, I forgot to do that.

[2019-04-04 17:24] rkitover commented on #354
Analog stick fix:

Windows 32bit: [visualboyadvance-m-Win-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3044710/visualboyadvance-m-Win-32bit.zip)
Windows 64bit: [visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3044712/visualboyadvance-m-Win-64bit.zip)

[2019-04-04 19:09] rkitover commented on #374
@LazyBunny thank you very much for this very extensive test run.

Things seem to be working like I expected, pretty much, with occasional glitches, for which I will create a separate thread.

As for the original issue, I posted an updated nightly with the fix and I will do a new release as soon as possible.

[2019-04-04 19:45] rkitover opened #404 "throttle/turbo/speedup related bugs/glitches/issues"
Related threads:

#374 #339 #212

Please discuss throttle, speedup button (called turbo button sometimes) and the `Speefdup / Turbo` config dialog related issues here.

## some background

There are three possible states when the turbo button is pressed, throttle, speedup and speedup with frame skip.

If you select zero throttle and zero frame skip, then speedup is in effect, the game runs at full

[2019-04-04 19:46] rkitover commented on #374
moving speedup related issues to #404

[2019-04-04 19:47] rkitover commented on #339
moving related discussion to #404

[2019-04-04 19:47] #339 closed

[2019-04-04 19:48] rkitover commented on #212
moving related discussion to #404

[2019-04-04 19:48] #212 closed

[2019-04-04 20:58] rkitover commented on #404
@LazyBunny

The "multithread filter" option never actually did anything, except maybe in the MFC builds. I have removed it in master.

Now that I see that things are mostly working as expected, minus glitches, we need to start isolating the glitches.

So what would help me is any particular glitch you can find and give me the process to reproduce exactly, and anyone else of course.

[2019-04-05 00:41] Sun-in-jang opened #405 "Pagemaster (SGB) - no sound effects"
VisualBoyAdvance-M 2.1.1

No sound in Pagemaster in sound test and in-game, when you picking items (like keys), there only music all the time. Almost the same in Animaniacs (SGB) - sounds working, but no music.

[2019-04-06 19:10] denisfa commented on #405
@rkitover Both these games seems to be working correctly on latest git build. I verified sounds/music from youtube's walkthroughs, and they match with what I am hearing when playing. I tested on Linux x64 and only the beginning of both, though.

@Sun-in-jang could you provide some more info so we can debug this better? What platform are you playing? If it is windows, could you download and try our

[2019-04-06 20:16] rkitover commented on #403
Release is posted.

[2019-04-06 20:17] #403 closed

[2019-04-06 20:19] rkitover commented on #405
also please tell us if you're using a bios file, I should add this to the template

[2019-04-06 21:52] Sun-in-jang commented on #405
Platform - Windows 64 bit, tested newer build - the same result. Bios file is not using (i'm unable to find it).

[2019-04-06 22:44] denisfa commented on #405
@Sun-in-jang Thank you for the feedback!  I just want to confirm something:

1. Is this the game [Animaniacs](https://www.youtube.com/watch?v=a-i5cQNQz7Y)?
2. Is this the other [Pagemaster](https://www.youtube.com/watch?v=N4mUd8h30yk)?

If that is the case, could you please test one more time, but running the configuration file attached.
[vbam.zip](https://github.com/visualboyadvance-m/visualboyad

[2019-04-06 22:56] Sun-in-jang commented on #405
Yes these games is correct. Tested with configuration file, music and sounds fine

[2019-04-06 23:07] rkitover commented on #397
fixed in v2.1.2

[2019-04-06 23:07] #397 closed

[2019-04-06 23:14] #394 closed

[2019-04-06 23:15] rkitover commented on #374
fix released in v2.1.2

[2019-04-06 23:15] #374 closed

[2019-04-06 23:52] denisfa commented on #405
@Sun-in-jang Thank you very much for the information and testing! We will see what we can do about this.

[2019-04-07 00:15] LazyBunny commented on #404
Pretty much all my results for (475%?)500% turbo carried over into 2.1.12 from that 2.1.11 that i tested.
I also tested a couple of the weird things on my xeon x5670@4ghz 6C/12T desktop, to rule out my GPD-Win2's performance limitations.
I know, that was a LOT of test results to pick through. If you want me to test something, i can. But i'll only post the combinations that're broken.

[2019-04-07 01:09] rkitover commented on #404
@LazyBunny thank you, what I really would like is for things that are broken, the steps to reliably reproduce the brokenness, because only then would I be able to fix them. There are lots of glitches in this codebase that's for sure.

[2019-04-07 02:28] retro-wertz commented on #405
since this is an sgb-compatible game, if this will be using the snes audio api, then that is not supported, or never will be... (it requires emulating snes audio)

[2019-04-07 10:49] rkitover commented on #405
notes from irc:

[2019-04-07 13:39] Sun-in-jang commented on #405
Looks like bsnes is best one for me. Higan supported sgb, but i don't know how to emulate these games with it (even no video on youtube). Want to ask you what is "snes_faust"

[2019-04-07 13:44] retro-wertz commented on #405
Want to ask you what is "snes_faust"
mednafen

[2019-04-07 15:12] anLizard opened #406 "Last window size isn't remembered, top of GBA screen cut off"
### Expected behavior
Emulator remembers window size from last time it was launched.
![image](https://user-images.githubusercontent.com/48686356/55685496-4bc8fa00-5957-11e9-9a28-51c423f79ba9.png)

### Actual behavior
Emulator always starts with same window size, regardless of previous size and the top of the GBA screen is cut off.
![image](https://user-images.githubusercontent.com/48686356/5568548

[2019-04-07 15:31] retro-wertz commented on #406
mine does as well...

until you resize window then it updates...

On Sun, Apr 7, 2019 at 11:12 PM anLizard <notifications@github.com> wrote:

[2019-04-07 15:31] rkitover commented on #405
we can also try to steal the SGB code from bsnes

[2019-04-07 15:36] rkitover commented on #406
@denisfa looks like we have more work to do on this one

[2019-04-07 15:39] retro-wertz commented on #405
gl...

[2019-04-07 16:32] rkitover opened #407 "windows XP compatibility"
Some users on reddit are reporting incompatibility with XP, it may be possible to tweak the mingw build scripts to support it.

[2019-04-07 17:59] rkitover commented on #407
This is the error:

![](https://i.ibb.co/zNk9fWG/err.jpg)

[2019-04-07 22:45] denisfa commented on #406
Yeah, can confirm both. One of them is an issue with the position `(0,0)` being a weird point for the app. The other one was new to me, though. I will working on a solution.

[2019-04-08 11:14] Alkaris opened #409 "cmake: add compiler check for ASAN"
I need to compile VisualBoyAdvance-M with Network Link, because it's not enabled for some reason in the official build of 2.1.1, however going to compile it complains that the compiler can't find SFML or SSP (gcc-4.8) and GTK (gtk-2.0/gtk-3.0) even though they exist, dev packages and all.

[code]

[code]

Looks to me that it's not looking in the right places to find them or using the wrong syntax

[2019-04-08 11:39] retro-wertz commented on #409
you can run *installdeps* to get dependencies

On Mon, Apr 8, 2019 at 7:14 PM Alkaris <notifications@github.com> wrote:

[2019-04-08 12:29] Alkaris commented on #409
@retro-wertz I've already run that, makes no difference.

[2019-04-08 13:43] Sun-in-jang commented on #405
Will be waiting any news on about this topic (can be able to test newer builds)

[2019-04-08 15:54] denisfa commented on #407
@rkitover Was this working before? If it was, I believe this is related to the compilation warning fixes. Probably somewhere there is an initialized `std::string` with `NULL` or `nullptr`.

[2019-04-08 16:30] rkitover commented on #407
No idea if and when this was working before, someone reported it on reddit, but I don't think we should change our code for this.

[2019-04-08 16:32] rkitover commented on #409
check your environment variables, do you have things like `LDFLAGS` set? I'm fairly sure there should be no issues on mint as there are no issues on ubuntu.

[2019-04-08 16:36] denisfa commented on #409
@Alkaris Could you provide some more info about your build? I am trying to reproduce this error, but without any success. I did a new install on a virtual machine using this [MATE ISO x64].(https://www.linuxmint.com/download.php)

After the install, I executed:
[code]

I believe the `ENABLE_LINK` option was changed very recently to default `OFF` due to issues when building on some platforms.

Also

[2019-04-08 16:37] rkitover commented on #409
I see you enabled ASAN and your compiler does not support it, this is why cmake fails all of its tests.

[2019-04-08 16:40] rkitover commented on #409
I need to do a proper compiler check for ASAN, and it should not be enabled in release mode.

[2019-04-08 16:42] denisfa commented on #407
Well, I believe XP is no longer supported by MS since 2010... So, what will you check exactly?

[2019-04-08 16:43] rkitover commented on #407
There is a way to set the windows API version with mingw with a define, I believe the current default is vista.

[2019-04-09 04:54] Alkaris commented on #409
Okay so I did a fresh git clone and it managed to compile properly this time, however, when I go to run it I now end up with a segfault.

[code]

[2019-04-09 11:09] rkitover commented on #409
@Alkaris that is a separate issue, please show all the steps you used to compile, and don't turn on any options you don't need.

[2019-04-09 12:20] Alkaris commented on #409
Might be a separate issue, but it's still related.

all I did was run
[code]
after doing a clean clone download.

[2019-04-09 15:36] rkitover commented on #409
That is strange and I don't know what can cause that, the issue seems to be in `libpng`, some things I'd suggest:

Do a:

[code]

Run this command on the binary:

[code]

look for any strange paths, especially to the `libpng.so`.

[2019-04-10 14:24] simperen opened #410 "cannot load ROMs with unicode characters"
Unable to open the Zip format compression package with Chinese name,Prompt message:XXXX.zip is not a valid Rom file.

if the Zip package is English name，no error will be reported.
But，The same chinese ZIP package can run normally on 2.1.1.

[2019-04-10 14:26] simperen commented on #410
![1111](https://user-images.githubusercontent.com/26716558/55887205-af655880-5bdf-11e9-8755-44e7950db3e2.png)

[2019-04-10 15:57] denisfa commented on #410
@simperen Thanks for reporting! We will see what is happening.

Some more information, for debugging purposes. I tested on a `Windows 7 x64` virtual machine:

1. the `2.1.1` did not work for me when using a chinese ZIP. The ROM was a Pokemon game, and I only changed the zip name. I did two runs: one before installing the chinese language pack and one after.

2. Same error appeared to me on `2.1.2`

[2019-04-10 18:54] SLaks opened #411 "add hotkeys for 10 save states"
### Expected behavior

Load / Save State submenus in Key Shortcuts dialog should have entries for `1` through `10`

### Actual behavior

![image](https://user-images.githubusercontent.com/313894/55905706-896c9380-5ba0-11e9-9c5c-8543aa6951c4.png)

On Windows 10

[2019-04-11 02:58] ZachBacon opened #412 "Zach's Personal Todo List"
**Immediate task list**
- [ ] Redo FAudio code

**Ideas to look into**
- [ ] Investigate Language setting in either a submenu or a settings category/drop down menu in general settings

List is subject to change and will be done in order (mainly to keep myself focused on one task at a time)

[2019-04-11 03:13] mudlord commented on #412
Question, what is FAudio?

[2019-04-11 03:43] ZachBacon commented on #412
faudio is an opensource accuracy focused xaudio2 implementation. And it's cross platform too, so it'll work on macOS, Linux and Windows.

[2019-04-11 03:47] mudlord commented on #412
Nice.

[2019-04-11 03:49] mudlord commented on #410
My guess is that somewhere Wx is messing up with UTF16. And on Linux everything is plain UTF8 so everything there is just fine.

[2019-04-11 10:59] RunisDauphin opened #413 "Change Emulator Language Interface"
### Please fill out this form:

### Expected behavior
Have an action (like previous VBA-M versions and other VBA branches allow) to set language of the emulator interface into another one. Prevously this was achieved with plugins named vba_???.dll. (? was one letter, and every language had its code) and the option Language -> UI language.

### Actual behavior
There is no posibility (at least that

[2019-04-11 11:05] ZachBacon commented on #413
Currently language switching is achieved by switching your OS language. However I'm investigating a solution that should allow dynamic language switching. But it's not high priority just yet.

[2019-04-11 14:51] RunisDauphin commented on #413
OK then, I will stick with what I have. Could you write it on the readme when that is operative again?

[2019-04-14 19:01] rkitover commented on #410
That is indeed the problem, but it's a bit more complicated.

On Windows wx handles `UTF16` just fine, and `wxString` can be internally represented by `wchar_t` or `char` as necessary and this is transparent to the user.

The problem arises when the user wants to pass a filename to a function taking a `const char*` as we are doing with various core and utility functions, which may in turn call oth

[2019-04-14 20:07] rkitover commented on #410
And of course on windows if you want to open a unicode filename, you have to use functions such as `_wfopen()` and not the regular `fopen()` etc..

Right now I'm thinking of implementing perhaps some clever solution involving macros and the preprocessor and/or C++ function overloading.

[2019-04-15 02:01] mudlord commented on #410
With einweggerat I have to constantly convert between UTF16/ANSI/UTF8.

I made a small class to convert between the 3 using C++ strings and the Windows string conversion functions.

Maybe something similar could be done?

[2019-04-15 02:12] rkitover commented on #410
Thank you, I may need some of those.

[2019-04-17 21:57] rkitover commented on #406
@anLizard hey, could you please test the latest release and see if you still have any geometry/position issues

[2019-04-18 11:04] anLizard commented on #406
Seems fixed on new release, although I get black bars.
![image](https://user-images.githubusercontent.com/48686356/56356943-842fca00-61da-11e9-8885-01d2305024e3.png)

[2019-04-18 11:17] rkitover commented on #406
Yeah the black bars are because of the "keep aspect ratio" option, you can stretch the window to minimize their appearance.

[2019-04-18 11:18] #406 closed

[2019-04-18 11:43] RunisDauphin opened #414 "Add Auto-hold keys, VBA-RR style"
Have autofire keys for all buttons and autohold keys like VBA-RR has. Autohold keys invert the behaviour of the keys: if you selected Autohold B, while you press the B button is unpressed and when you do not press the B button, B button is pressed. If you get tired of autohold or it is not necessary for that part, with the correspondant key the behaviour is returned to normal.

[2019-04-18 12:08] RunisDauphin opened #415 "Add a hotkey for changing sizes, such as mGBA and previous versions of VBA do"
Have a hotkey for changing window size (for example, if want the window 4x the real size, I can press key "4" and it automatically changes, but if I want it later 2x the real size, simply I press "2" then and it reverts back).

### Actual behavior

You have to change it manually in Options -> Video -> Configure -> Zoom -> Default Magnification. Also, for some reason, there are like 40 pixels benea

[2019-04-18 12:13] retro-wertz commented on #414
from my understanding, this would mean pressing and holding the button will only activate the the button one frame, then activated again once released? so if this was super mario holding B wont make him run fast?

is this a hardware behavior and what the use-case for this...

[2019-04-18 12:15] rkitover commented on #398
Not getting any feedback, so moving this to a github project for better tracking.

[2019-04-18 12:18] rkitover commented on #414
How should the autohold for a button be turned off?

[2019-04-18 12:19] rkitover commented on #415
What are the default hotkeys in mGBA and previous versions of VBA?

[2019-04-18 12:21] RunisDauphin opened #416 "Clear button on Input Configuration works weird"
I expect it should clean only the button configuration you are in.

### Actual behavior

It cleans all the buttons, and there is no button to eliminate only one button.
The only way I can do it is by manually change them in vbam.ini and search for the wanted command.

[2019-04-18 12:22] rkitover commented on #416
you can press backspace to delete a button

[2019-04-18 12:24] rkitover commented on #416
I could add a button next to each box to clear it, and rename the bottom clear button "reset".

[2019-04-18 12:38] RunisDauphin opened #417 "config settings for hotkeys get overwritten"
### Expected behavior
vbam.ini file should stay the same way as it was kept before moved or actualised.

### Actual behavior
vbam.ini file changes some options to the default values or varies things.
For example, when updated, it has two lines of Reset=TAB in the file (one between "Save=CTRL+S" and "JoypadAutofireA=D" and the other between "CLOSE=SHIFT+TAB" and "ToggleSound=SHIFT+0"), giving me th

[2019-04-18 13:01] rkitover commented on #417
Can you please describe which versions of VBA/VBA-M you were testing and which settings got reset.

[2019-04-18 14:33] crawfxrd commented on #181
I am using `visualboyadvance-m-sdl` on Fedora.

---

Using `arm-none-eabi-gdb` from devkitARM r52-1 does **not** work.
[code]
Output from `vbam` shows:
[code]
Output from GDB shows:
[code]

---

Using `arm-none-eabi-gdb` from Fedora 29 repo _does_ work.
[code]
Output from `vbam` shows:
[code]
Output from GDB shows:
[code]

[2019-04-18 14:38] rkitover commented on #181
That's interesting, something must have changed in the gdb protocol between 7 and 8.

[2019-04-18 15:00] crawfxrd commented on #181
I tried local builds of v2.1.1 and a8b386816a78da68343c016c9c4c515f7d2e80d2. These both worked with devkitARM r52-1.
[code]
[code]

So my issue is that Fedora does not have up-to-date packages.

[2019-04-18 15:04] HorstBaerbel commented on #181
Does anyone of you have a working launch.json for debugging in Visual Studio with VBA-m / GDB? I can't seem to make it work...

[2019-04-18 15:11] rkitover commented on #181
There were some gdb remote fixes from @knightsc between v2.1.0 and v2.1.1, so this will explain your results.

[2019-04-18 15:12] rkitover commented on #181
@Mystro256 hey are you still the fedora maint?

[2019-04-18 18:39] RunisDauphin commented on #417
As for now, I tried 2.1.0 to 2.1.1 and 2.1.1 to 2.1.2. I will check in the next days what happens to 2.1.3 version.

Thanks for your attention, M. Kitover

[2019-04-18 18:40] RunisDauphin commented on #416
That would be great. By now, this is the only emulator I found that does this kind of things.

Thanks for your attention, M. Kitover.

[2019-04-18 18:46] RunisDauphin commented on #415
In mGBA version 0.7.1, there is no default hotkey to adjust sizes, but you can assign them in Tools -> Settings -> Shortcuts -> Audio/Video -> Frame Size, and there you can give shortcut keys to sizes from 1x to 6x.

Thanks for your attention, M. Kitover.

[2019-04-18 19:06] RunisDauphin commented on #414
In VBA-RR, to turn off the auto-hold is by a specific key.

When you open VBA-RR and you go to Options -> Input, you find an Auto-Fire section and an Auto-Hold section. You can set a hotkey to every Auto-Fire Button and Auto-Hold Button in Options -> Input -> Customize All Commands...

The Auto-Fire buttons you know already how they work (and I like them as they are). The Auto-Hold Buttons have a

[2019-04-18 22:16] ZachBacon commented on #414
We rather take sources directly from the projects website not emucr.

[2019-04-18 22:36] rkitover commented on #414
Yeah thanks for the detailed description, it doesn't sound difficult to implement.

[2019-04-18 22:38] rkitover commented on #415
Ok, so, what are the default hotkeys you would like for this? Perhaps ctrl-1 through ctrl-9 or some such? But people wanted those buttons for save states. We could use ctrl+shift or some such.

[2019-04-19 07:46] RunisDauphin commented on #415
It could be: I do not mean it NEEDS to have a default hotkey, just have a hotkey (that can be empty by default) to make that thing. I think mGBA or even the Visual Boy Advance 1.8.0's Beta 3 do it just right.

In Visual Boy Advance 1.8.0 Beta 3, there are four options (named in x1 to x4 in Options -> Video) who have no default hotkey, but can be assigned in Tools -> Customize -> OptionsVideoXn (wh

[2019-04-19 08:01] RunisDauphin commented on #414
Much welcome. I gave that direction because I had troubles to find that exactly fork everywhere else. I do not know if the original source code is still accessible somewhere.

Thanks, and I hope the project could progress well. If you can, could you put an option to show the input? That is, if active the option, the emulator would show which console button I am pressing. It is not a big deal for n

[2019-04-19 08:20] RunisDauphin opened #418 "vba-m.ini in 2.1.3 changes configuration structure."
### Please fill out this form:

### Expected behavior
No error.

### Actual behavior
[log.txt](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3097498/log.txt)

### Steps to reproduce the behavior
Change version of executable from 2.1.2 to 2.1.3

### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing

[2019-04-19 09:10] RunisDauphin commented on #418
Ignore this issue. The problem is on my USB unit, who got corrupted yesterday and I had to run a chkdsk to clean up the problems. If you want, you can close it or even delete it.

[2019-04-19 09:11] #418 closed

[2019-04-19 09:21] RunisDauphin commented on #417
I tried this morning to actualise versions and it still has this problem. Going from 2.1.2 to 2.1.3 causes this problem to.

The things got reset are that the default hotkeys return no matter what I do. For example, for the Auto-Fire keys, I assign:
-/ Auto-Fire A: D
-/ Auto-Fire B: F
-/ Auto-Fire L: C
-/ Auto-Fire R: V
After I update it gets like this:
-/ Auto-Fire A: D or ALT+1
-/ Auto-Fire B: F

[2019-04-19 09:25] RunisDauphin commented on #411
It does not matter which version of Windows you use: it is still present (in 2.1.3) in Windows 8.1 since 2.0.x, when vba-m.com looked completely different.

[2019-04-19 15:22] rkitover commented on #325
This and related geometry/sizing issues should all mostly be fixed in v2.1.3.

[2019-04-19 15:22] #325 closed

[2019-04-19 16:51] rkitover opened #419 "DEVELOPER CHAT"
Use this page for any questions or discussion that does not need a separate issue.

[2019-04-19 16:58] rkitover commented on #419
@denisfa @retro-wertz @ZachBacon

So I made a rather ambitious plan for the next release:

https://github.com/visualboyadvance-m/visualboyadvance-m/projects/4

This will also get us part way through:

https://github.com/visualboyadvance-m/visualboyadvance-m/projects/3

let me know if you want to work on any of these, we can discuss the details on the issue pages or here.

[2019-04-20 10:23] rkitover commented on #55
Looking at this again.

The only platform where the simple driver is slow is Mac, because of quartz. The filter may make it even slower because it upscales the image.

There is some kind of filter thread code in the wx code, I need to see if it actually still works, this would be in effect before the output driver such as simple or opengl.

[2019-04-21 16:23] Rambin commented on #362
It depends on what game I'm playing.
For example, I use WSAD for direction and [K][J][L][;] for ABLR when playing Metroid, and [J][K][U][I] for ABLR when playing Gyakuten Saiban.
Is it possible to save key setting seperately for a game?

[2019-04-21 16:26] Rambin commented on #419
Hello, this is not a issue of vba-m but, do you have a guide book for GameShark or CodeBreaker? I want to do something interesting with cheat but I can't find a guide for the codes.

[2019-04-21 19:05] rkitover commented on #362
That sounds like a nice feature to add, or perhaps configuration profiles of some sort.

[2019-04-21 22:26] RunisDauphin commented on #362
As far as I know, previous versions of VBA-M, the original VBA and VBA-RR allow to configure up to 4 different sets of keys, leaving you the chance of changing between games or even setting a local multiplayer.

I have never tested it with a multiplayer, but I did some times set two different sets: one with my keyboard and the other one with my beloved Black European Gamecube controller (because w

[2019-04-21 22:45] RunisDauphin commented on #413
If someone wants them, I found some time ago some files to translate VBA onto other languages (although they mysteriously suppressed the Link option on some versions).
[Localisation Files.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3101682/Localisation.Files.zip)

vba_esv.dll translates into Spanish, and vba_fra.dll translates into French. As far as I know, they are compati

[2019-04-22 00:48] ZachBacon commented on #413
That is unnecessary, we have a transifex account that has ongoing translations that people contribute to that we pull from occassionally.

[2019-04-22 06:19] RunisDauphin commented on #413
Yeah, I saw them (and I have them, because they are included with every package of yours), but some people may find them useful if they still stick with the old versions I wrote there.

Thanks again, M. Bacon.

[2019-04-22 19:50] ZachBacon commented on #413
We won't support old versions. So no point

[2019-04-23 22:56] Gumdradude opened #420 "64-bit Mac Build of 2.1.3 won't launch"
### Please fill out this form:

### Expected behavior: VBA-M launches

### Actual behavior: VBA-M Mac Icon bounces on dock for a little while then stops but doesn't launch

### Steps to reproduce the behavior Open 64-bit Mac Build of VBA-M 2.1.3 and wait

### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so ar

[2019-04-24 01:09] rkitover commented on #420
Works fine for me on two Mac OS installs.

Try running this in terminal:

[code]

[2019-04-24 01:56] Gumdradude commented on #420
Nothing happens when I run it through Terminal.

[2019-04-24 02:30] rkitover commented on #420
After you run that command in terminal try running the app again.

[2019-04-24 02:39] Gumdradude commented on #420
Tried that and it still won't launch.

[2019-04-24 03:40] rkitover commented on #420
Odd the binaries are built for 10.7, should definitely work on 10.11

[2019-04-24 11:35] ZachBacon commented on #412
Just an update on progress, I haven't been able to make much progress, the weekend I ended up sick and even though I've recovered, my day job just got stupidly busy, pulling some days 14 hours. I'll try and do what I can but expect my work to be slow.

[2019-04-24 12:59] Gumdradude commented on #420
I've tried redownloading and unzipping it manually too. It still won't launch. I also want to add that VBA-M 2.1.2 launches fine for me it's just 2.1.3 that refuses to do so.

[2019-04-24 15:10] rkitover commented on #420
I know that the `.app` and the `.zip` work fine that I uploaded. You can verify my gpg signature in the `.asc` file against the file that you downloaded. If anyone changed that file that is not under my control.

[2019-04-25 22:58] SBird1337 commented on #269
Is there any progress on where this issue lies? I tried a debug build as well as of 2fedaa63a6720247822327d41bb909513be1c2f1 (now) but this is still non-functional.

[2019-04-26 00:11] rkitover commented on #269
Can you give me a rom that uses print that I can test, or tell me how to get it without linking it if it's not legal.

[2019-04-26 01:11] rkitover commented on #269
By the way, we are in initial stages of Visual Studio 2017 support and you should be able to build the GUI.

[2019-04-26 15:28] felixjones commented on #269
I made a ROM that demonstrates AGBPrint:
[agb_print.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3121922/agb_print.zip)
This prints out the text `AGBPrint %hu` between vblank and vdraw periods, with `%hu` replaced with a uint16 decimal integer that will count up from zero (and overflow at 0xffff).

[2019-04-27 00:02] rkitover commented on #269
Thank you for this, I looked at it and it looks like I just need to implement the `dbgOutput()` callback to append to the relevant `wxTextCtrl`, and it does not look like this was ever implemented.

[2019-04-27 03:01] rkitover commented on #269
Well, after looking at it further, it was definitely never implemented and the GUI code also needs to be completely rewritten, so this is a bigger work than I thought, I'll try to do it in a few days.

[2019-04-27 09:09] SydnaA commented on #420
it wont even open for me, my mac says its damaged and the only option is to move to trash, I assume it should just works out of the box
<img width="398" alt="Screen Shot 2019-04-27 at 5 07 58 AM" src="https://user-images.githubusercontent.com/8703653/56847556-7b11bd80-68aa-11e9-8288-c9b050637192.png">

[2019-04-27 14:31] rkitover commented on #420
Maybe my apple key expired, I'll try again.

[2019-04-27 22:32] rkitover commented on #420
Apparently I had the wrong settings for my certificates in keychain access, I fixed this and the signature verifies now, I uploaded new binaries.

Sorry about this.

[2019-04-28 00:24] orbea opened #422 "linux: alsa underrun when resuming paused emulation"
When the emulator pauses and then resumes it will print the following alsa underrun.
[code]

### Steps to reproduce the behavior

1. Start the wx frontend.
2. Start any content and wait for the background music to start.
3. Pause emulation with `ctrl+p` and wait a few seconds.
4. Resume emulation with `ctrl+p` and check stdout for the alsa underrun.

### Option details

Video driver (simple, openg

[2019-04-28 07:45] rkitover commented on #420
I'm sorry, I fucked it up **AGAIN**. I rebuilt the binaries again and this time I verified that they are good. Sorry.

[2019-04-30 00:54] Alegria4486 commented on #207
Hi, I'm using the VBA-M 2.1.0 version and I see that untoggle "pause when inactive" doesn't do anything: weather it is toggled or not, when the game is on background, the bgm and the screen animations work, and the inputs are impossible. Also, the "Pause" on Emulation menu doesn't work.

### Please fill out this form:

### Expected behavior:
[https://cdn.discordapp.com/attachments/3401417395433635

[2019-04-30 01:20] retro-wertz commented on #207
@Alegria4486
im using this to test (despite it being older) https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-479988998
and i cant replicate any of the conditions you stated.
- clicking on Emulation > pause - pauses every game just fine
- when pause when inactive is enabled (checked), every game freezes when vbam window is not active.

i did find a bug though with us

[2019-04-30 12:01] Alegria4486 commented on #207
Hum... I discovered this when I tried to have an infrared pop card! connection between two pokemon tcg2 saves, at first I thought it was a connection problem, then I realized I had to click the A button on each window at the same time and it wasn't working. Of course each window has its own set of inputs. I don't see what could be different, what parameters could change it...

 I tried it several

[2019-04-30 17:09] rkitover commented on #207
This definitely doesn't work now, I would have to create some kind of global hotkey functionality that could be toggled, because otherwise it's completely normal that an unfocused application does not get any input.

[2019-04-30 17:37] Alegria4486 commented on #207
just to make sure you read this, I tried several roms and Tetris DX was the only one that could work with the inputs on background. except it worked too when "pause when inactive" was on.

[2019-04-30 23:03] bamq opened #424 "No longer loads paths that contain Unicode characters"
### Please fill out this form:

### Expected behavior
The ROM is loaded correctly.
### Actual behavior
Starting with release v2.1.2, VBA-M claims it isn't a valid ROM file.
### Steps to reproduce the behavior
Attempt to load a file whose path contains certain characters, such as é.
![image](https://user-images.githubusercontent.com/6969348/56998320-7f6efc80-6b70-11e9-8921-83c1815f2dd3.png)
![image

[2019-04-30 23:20] rkitover commented on #424
duplicate of #410, sorry will fix for next release

[2019-04-30 23:24] bamq commented on #424
My bad, didn't realize someone else had mentioned it.

[2019-04-30 23:31] denisfa commented on #419
@rkitover

Sorry about going MIA, I have been quite busy with my job, unfortunately =( It should be better from tomorrow on.

I would just add something here: #390 (kinda duplicated of #142). I remember some time ago when I thought my controller was broken and always wanted to investigated what was causing this.

Also, I am still working on the recording solution. It was just an unlucky timing wit

[2019-04-30 23:34] rkitover commented on #419
Nice, glad to hear you'll have some time upcoming.

The key stuff, I redid the key stuff and fixed some joystick stuff recently, the issue with modifiers is probably still present though.

[2019-04-30 23:37] denisfa commented on #419
Yes! Also a suggestion for our template issue. Add the config file from the user. This could help us for some testing or trying to reproduce bugs. Not sure if it should always be needed, but could help a lot.

[2019-05-03 09:47] rkitover commented on #419
btw come hang out on `#vba-m` on freenode irc, our gitter is also bridged to it

[2019-05-05 03:41] JetLag413 opened #425 "Emulator responds to "up" input with "A" button press"
### Please fill out this form:

### Expected behavior
I have W set as my "UP" key, so pressing W should make my cursor go up in menus, make my character go up, etc.

### Actual behavior
Game responds as if I'm pressing the "A" button.

### Steps to reproduce the behavior

### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instruction

[2019-05-06 09:22] rkitover commented on #425
This definitely works, have you tried on another computer?

[2019-05-06 09:23] rkitover commented on #425
Also have you checked all 4 player input configurations?

[2019-05-08 17:34] jgelliss commented on #151
just checking on the status of this UI touch input. I have a 2-in-1 and would be willing to test a build with touch input. idk what you would use as graphics but I can throw some together if you need it. have some experience in this area.

[2019-05-11 19:03] jgelliss commented on #151
@rkitover
Looking at the issues tab it looks like you have quite a full plate. Just bringing this idea to the forefront again. Thank you for all your hard work!

[2019-05-12 04:01] trlkly commented on #213
Same issue here on Windows 7. It also occurs for Alt and Ctrl. It seems that it detects Ctrl-W, for example, as a different key than Ctrl and W.

[2019-05-16 12:45] BurningTurtle commented on #142
Any news on this?

[2019-05-17 00:42] denisfa commented on #142
@BurningTurtle We can confirm this still happens on keyboard. Not so sure about the fix, though. I will give it a try after my ongoing work.

[2019-05-18 11:45] ssbmars commented on #419
Hey I come from a community that regularly plays Battle Network 6 pvp online. We use vbalink 1.8 because it's the only emu with wireless adaptor support that works with our game. There are a few key changes that could really improve our experience with the game, so I wanted to check in with the current vba-m team and see if there's any interest in getting vba-m to work with BN6 before I opened up

[2019-05-18 18:20] rkitover commented on #419
Opening issues is always good, if they are specific and reproducible, what we will actually fix and when I cannot promise unfortunately because we are stretched pretty thin and don't have a lot of time.

[2019-05-20 05:15] shibatan commented on #390
Wanted to chime in that I'm experiencing this (also in Fire Red) but exclusively while using Throttle.

[2019-05-20 05:28] shibatan opened #426 "Using Rewind sometimes crashes"
### Please fill out this form:

### Expected behavior
VBA should rewind by the number of seconds specified as the rewind interval.

### Actual behavior
Sometimes it works correctly. Sometimes it crashes.

### Steps to reproduce the behavior

1. Set a rewind interval.
2. Load any game and play it for a bit.
3. Press CTRL+B.
4. Let the game run longer and repeat step 3.

### ROM details

_Which game

[2019-05-21 05:14] ssbmars commented on #419
Thanks for the reply. Having looked through the open issue list, I had a feeling development was on the slow side, that's partially why I asked about this first.
I'll be trying to find some time soon to thoroughly document our connection process in a controlled environment, then I'll be able to make that issue.

[2019-05-22 00:52] Nickiosaurus commented on #213
Same issue, compiled on Linux Mint.
Example: (Pokemon Emerald)
*I use WASD for direction, Shift for 'B' or sprint. *
I can't start a sprint (Shift+WASD) in any direction when I start with Shift, then press a WASD key a moment later.
If I start with a WASD key, then press Shift.  My character starts to sprint.  When I try to stop, the WASD key, from the first sprint direction, is sustained or held

[2019-05-22 15:52] darktjm commented on #179
When I wrote it it worked fine for both video and audio.  I don't want to maintain code that actively violates my coding and UI standards, though (among other things).  When I was still maintaining it, I paid close attention to the change logs and tried to also make it backwards compatible as much as possible, but all patches to the ffmpeg code dropped that as well.  The only reason this even popp

[2019-05-22 17:47] denisfa commented on #213
Hey @Nickiosaurus, would you mind compiling a branch with a possible solution? I have examined a similar bug report that I believe It is direct related to this one.

`git clone -b fix-213 https://github.com/visualboyadvance-m/visualboyadvance-m.git`

Compile and run like you did for your previous testing. If it does not work, could you upload your config file so we can have a more precise testing

[2019-05-22 17:49] denisfa commented on #124
I am still working on this atm, but development is slow. I hope I finish this soon.

[2019-05-22 18:10] rkitover commented on #354
@denisfa's modifier fix:

Windows 32bit: [visualboyadvance-m-Win-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3208716/visualboyadvance-m-Win-32bit.zip)
Windows 64bit: [visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3208721/visualboyadvance-m-Win-64bit.zip)

[2019-05-22 18:11] rkitover commented on #142
Please try latest nightly.

[2019-05-22 18:11] rkitover commented on #390
Please try latest nightly.

[2019-05-22 20:32] rkitover commented on #179
@darktjm if you would be so kind as to share your working version with us, we will not ask you to maintain it.

[2019-05-23 00:00] denisfa commented on #213
@trlkly, @bebebeebebe Could you check if our new nightly build fixes this for you? We believe this is related to another issue. [Download here](https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-494907933).

[2019-05-23 03:22] trlkly commented on #213
@denisfa I can confirm that this version appears to fix the issue for me. I was able to hold down both CTRL and SHIFT while pressing WASD as the D-pad, as well as with the numpad arrow keys as the D-pad. Thus I can use my shield easily in Link's Awakening DX.

Is there any reason I might not want to just use this version until a more official release comes out?

[2019-05-23 03:28] ZachBacon commented on #213
@trlkly Feel free, and if you find any other issues, let us know. That's why the nightlies exist, help us find these issues and then make a stable and the process begins to repeat.

[2019-05-23 03:36] trlkly commented on #414
Another use case is just to enable being able to press a bunch of keys at once on a keyboard where that only allows a limited number of keys held at a time. If you could toggle the key down and key up, then you could press them separately.

Currently, my workaround is just to assign multiple keys to the same button, but that's a bit annoying if you have more than one button combination you need to

[2019-05-23 05:53] trlkly commented on #213
@ZachBacon I was more wondering if there were any outstanding known issues in the nightlies that weren't in the original. I know there are times where I will not run the Nightly version of Firefox because they've added a feature and haven't ironed out the kinks yet.

[2019-05-23 15:29] Sand-Sand commented on #425
go to options > input > configure > special

Once there remove Autofire A + Autofire B so that they're both blank.

Fixed for me.

[2019-05-23 15:36] denisfa commented on #425
If I understand this correctly, then this means the default option for autofire was "W", and it was set like this when the user @JetLag413 set "UP" as "W". Therefore the issue reported here.

Can I confirm this with you, @Sand-Sand? I believe this should be enough for me to close this.

[2019-05-23 15:37] denisfa commented on #425
@rkitover The default buttons are set for our Windows downloads, right? This should explain what happened here.

[2019-05-23 15:46] denisfa commented on #213
@trlkly Thanks for the feedback. This version is just our latest build with this fix. It is meant to be a faster way to get a fixed version to an user wanting to play games.

Anyways, I will close this since it looks like the issue was solved.

[2019-05-23 15:46] #213 closed

[2019-05-23 18:12] rkitover commented on #419
@denisfa so that's one issue moved to the done board for our release project, way to go!

Also, please add a resolution label when closing an issue e.g. `fixed`.

I am going to go through the issues at some point soon and make sure everything is filed correctly, this will help us make better decisions about what to target.

[2019-05-23 18:24] rkitover commented on #425
@denisfa the default buttons are hard-coded, and we really need to redo them, see also #362.

See `defkeys` in `opts.cpp`.

If you want to redo them to something more sane, and perhaps remove some of the unnecessary defaults please go ahead.

[2019-05-23 18:27] rkitover commented on #213
@trlkly we are hardly as serious an organization as mozilla, so both the releases and the nightlies are going to be in various states of brokenness, so use whatever works for you 😃

[2019-05-23 18:30] rkitover commented on #414
@trlkly I'm not sure I understand fully, you mean we should disambiguate separate key binds when multiple keys are pressed together? If so, please open a separate enhancement request, thank you!

[2019-05-23 23:10] denisfa commented on #213
I had to do an extra commit here, because of an issue with controllers. I did some testing with both keyboard and controller, and everything worked. Hopefully, it was the last for this.

[2019-05-23 23:49] denisfa commented on #417
I did some testing. My tests were from `2.1.2` to `2.1.3` on `Windows 10 x64` (virtual machine). I set `Auto-Fire A` to `D`and `Auto-Fire B` to `F` on `2.1.2`. Nothing else was set since I wanted a simple case of this issue. When I open the config on `2.1.3`, nothing changed. `Auto-Fire A` to `D`and `Auto-Fire B` to `F`.

@RunisDauphin, could you provide some information on this so I can have a be

[2019-05-24 00:04] denisfa commented on #362
We could have a profile per game, that could be a `ini` file with the name of the game.
This could go like this, let's say, for game `loz.gba`.

1. Read `vbam.ini`;
2. Load game `loz.gba`;
3. Search and load `loz.ini` (somewhere for now, could be same dir, config dir etc)
4. When you quit/close the game, save all diff config to `loz.ini`.

This way it would be everything configurable per game, alt

[2019-05-25 12:19] huupoke12 commented on #142
Commit 3d57750c16e28d834e6c210cc5d93d14a780e1e0 has fixed the issue with the modifier key. But the original issue is not fixed. The buttons sometimes get stuck (It can stuck even with only default directional keys) so this is not the same bug.

[2019-05-25 16:56] denisfa commented on #142
@huupoke12 Thanks for the feedback! Are you able to reproduce this bug? I can't reproduce this at the moment. I tried the game `Harvest Moon - Friends Of Mineral Town`, but it was not successful.

If so, would you mind providing the name of the game, OS you are running and your `vbam.ini` file so I can investigate what's going on?

The controller code was refactored not so long ago, so I believe t

[2019-05-25 21:32] RunisDauphin commented on #417
Hiya, I am back in the middle of exam season.

About the assignation of the auto-fire buttons, I did not set them in input configuration, rather on hotkey configuration (a.k.a. Options -> Key Shortcuts...). The problem is not in the input configuration, but on the hotkeys. As I have explained, when I actualise the VBA-M version, those hotkeys get overwritten with the default ones.

Here is another

[2019-05-25 21:56] denisfa commented on #417
@RunisDauphin Thank you very much for all this info! I will see what I can do!

Good luck on your exams!

[2019-05-26 02:05] huupoke12 commented on #142
The games I've tried are: `Mario Kart - Super Circuit, SpongeBob SquarePants - Battle for Bikini Bottom,
Pokemon Leaf Green`
I've also tried `Harvest Moon - Friends Of Mineral Town`, on the player name selection screen, the bug still happens. You can just hold right key for about 2 seconds, about 10% it will be stuck.
I'm using Arch Linux (5.1.4-arch1-1-ARCH).
[vbam.zip](https://github.com/visualb

[2019-05-26 02:27] rkitover commented on #354
I am going to automate this soon.

Follow up to @denisfa's modifier fix that also doesn't break the joystick:

Windows 64bit: [visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3219927/visualboyadvance-m-Win-64bit.zip)
Windows 32bit:
[visualboyadvance-m-Win-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3219928/visualboyadva

[2019-05-26 02:28] rkitover commented on #213
I posted a new nightly with the followup commit.

[2019-05-26 02:29] nemec commented on #142
I just tried the latest master and still have the same issue. Using the original (U.S.) Fire Emblem game (my rom is named `1235 - Fire Emblem (U)(Venom).gba`), place the attached `.sav` and `.sgm` files into the same dir and load the game, then load the save state. Your cursor will show up on the far right of the screen. Simply hold the left arrow key until the cursor _almost_ hits the end of the

[2019-05-26 02:48] rkitover commented on #142
Does this only happen if you load a save state?

[2019-05-26 03:04] huupoke12 commented on #142
Maybe not. In my case, I played `Harvest Moon - Friends Of Mineral Town` the first time to check for the bug so there won't be any save file before.

[2019-05-26 03:09] nemec commented on #142
Not for me, it happens regardless of whether I loaded a save state or not. I just uploaded the save to provide a quick starting point in case you wanted to try to repro the issue. I'm happy to send the rom, too, if you message me on the email in my profile. There is nothing special about it, though. The saves should work with any FE7 from a GBA rom collection.

[2019-05-26 05:50] denisfa commented on #142
@huupoke12 @nemec Thank you for this feedback! I am afraid I have had a lot of luck on my games, since I failed both `Harvest Moon - Friends Of Mineral Town` and `Fire Emblem`, even with the supplied save state... There is nothing special about your config files, so this already removes some possibilities.

This is pretty straightforward, the 20% of any against the 100% from left to right is way t

[2019-05-26 06:14] nemec commented on #142
I noticed that, too. In Fire Emblem this means that a stuck LEFT_KEY forces the cursor to the left side of the screen - you can move up and down, but you are unable to move right until you hit LEFT_KEY again to unstick it. And if RIGHT_KEY is stuck, your cursor will "roll" toward the right side of the screen, but pressing LEFT_KEY will override the stuck key and move your cursor left. Releasing LE

[2019-05-26 06:21] denisfa commented on #142
What Desktop Environment are you using? We are trying to check something if there might be something related to this bug.

[2019-05-26 07:10] BurningTurtle commented on #142
Yes, it still happens.

I'm using Ubuntu 18.04 with Pokemon Emerald.

[2019-05-26 11:25] ncyglhojimm opened #428 "White screen with OpenGL"
### Expected behavior
Play the game with OpenGL.
### Actual behavior
White screen when selecting OpenGL in the GBA options.
Audio works, controller/keyboard input works.
All Stock settings, so no filters, 100% speed.
VBA-M 2.1.3
### Steps to reproduce the behavior
Change from Simple to OpenGL in GBA settings. Simple works, but with an unplayable stuttering.

### ROM details
Both GBA:
Pokemon Emera

[2019-05-26 14:00] RunisDauphin commented on #417
So I keep trying to study, that is what I am trying to pass those exams. That is why I have not written anything in about a month.

By the way, if the configuration file has all those hotkeys readded, that means the problem is somewhere in the track of the route, would not it?

Maybe I am getting out of the track. Going back to work.

Runis Dauphin

[2019-05-27 20:41] denisfa commented on #142
@huupoke12 , @nemec, @BurningTurtle Would you mind testing a possible solution for this? It should be like this:

[code]

This is the branch with the possible fix. I managed to set up a VM and finally be able to run into this issue consistently. Using this branch fixed the issue for me.

[2019-05-27 21:28] nemec commented on #142
That's perfect, @denisfa! I built it and moved the cursor back and forth for ~3 minutes and did not see the issue once. Thank you for tracking this down!

[2019-05-28 01:45] huupoke12 commented on #142
I have tested and didn't run to any issue with it with the default config. It only happens when I hold a key, then click outside of the windows (still hold the key) and release it when "Pause when inactive" is unticked.

[2019-05-28 20:36] denisfa commented on #142
@nemec Good to know! I believe this should be ready to land soon! Thanks for the feedback, it really helped track this down.

@huupoke12 I found out about this issue while trying to run into the original bug. It should also be fixed. If you don't mind, you can test the given branch solution for this one too.

[2019-05-29 03:09] huupoke12 commented on #142
I've tested commit 42d3577647a960ef3dd339b719ec34790ab29246, the bug has been fixed.

[2019-05-29 13:41] denisfa commented on #419
@rkitover What happened with issue #417? It was the one complaining about hotkeys errors... On the project page, we have a
[code]
Was there a link there? Or the user added one and then got flagged?

[2019-05-29 16:04] rkitover commented on #419
@denisfa I can't open that issue at all and there was nothing about it in my irc event log, github staff must have deleted it.

BTW, if you want to join us on irc it's `#vba-m` on freenode, the gitter bridge also works.

[2019-05-29 16:26] quroe opened #430 "VBA-M creates folder in appdata anyway"
### Please fill out this form:

### Expected behavior
If there is ini file in exe's directory,VBA-M doesn't create empty folder.
### Actual behavior
VBA-M creates folder in appdata.
### Steps to reproduce the behavior
1.Unzip "visualboyadvance-m-Win-64bit.zip" to any directory.
2.Create "vbam.ini" file in same directory.
3.Launch "visualboyadvance-m.exe" and exit.
4."visualboyadvance-m" folder cre

[2019-05-29 16:34] quroe commented on #398
MFC builds launch very very fast.(around 0.2seconds)
But new builds(WX) launch slowly.(around 2.6seconds)
I checked by Windows8.1 x64.

[2019-05-29 17:19] denisfa commented on #419
@rkitover Ok, just checking. I have the emails sent from github, so I can still work on that issue.

I am not really a fan of irc in general, so unless there is something there that you think it is important for me to see it, I would prefer avoiding it.

[2019-05-29 17:37] denisfa commented on #142
@huupoke12 Thank you for the testing! I will consider it fixed. It will be available for our next release `2.1.4`.

[2019-05-29 17:38] #142 closed

[2019-05-29 19:32] denisfa commented on #430
@rkitover I might need the tutorial about how to generate one of the nightlies for Windows. This is a really simple fix, but I would like to test it myself. The tutorial using mingw gets me a binary that forces me to copy a bunch of dll's to the current dir, which is not the case for the nightly (I kinda want to know what is being done).

[2019-05-29 20:02] rkitover commented on #430
Sure, I will explain on the chat page in about half an hour.

[2019-05-29 23:14] rkitover commented on #419
I think you can just forget about that issue, I'm fairly sure that a version change in vbam has no effect whatsoever on the config file. And a while back I changed the version string handling, and I don't remember it affecting the config in any way whatsoever.

Now as for static windows builds, there are two methods you can use, you can use the installdeps script with win32 cross target on ubuntu/

[2019-05-29 23:15] rkitover commented on #419
By the way, what's your UTC offset?

[2019-05-30 00:23] denisfa commented on #419
@rkitover All the issues reported by that user are gone... I only remember one because of the email.
This user reported several problems within the same issue, so I believe this was not the only thing there. There was something about hotkeys that I wanted to investigate.

UTC -3

Thanks, I will setup a Fedora vm and use the script.

[2019-05-30 08:55] EpicWink opened #431 "Build fails when disabling the debugger"
Compilation error when setting `ENABLE_DEBUGGER=OFF`

This is cause by `BKPT_SUPPORT` being false, so the [`memoryMap` struct](https://github.com/visualboyadvance-m/visualboyadvance-m/blob/3490620e0fe8a90c661977d4f1f4e31466920fcf/src/gba/GBA.h#L55-L64) doesn't have the `breakPoints` member, yet "src/gba/BreakpointStructures.cpp" is still being compiled.

Setting `ENABLE_DEBUGGER=ON` (the default)

[2019-05-30 11:25] rkitover commented on #419
It's easier to use docker for things like this rather than VMs, I have a little guide here:

http://blog.cachemiss.com/articles/Lightweight%20VMs%20With%20Docker.pod

[2019-05-30 18:15] rkitover commented on #431
This is a bit complicated to disentangle because there are some functions e.g. for disassembly that are not related to using a remote gdb, and the GUI depends on them. Will try to take a look at this sometime but not a high priority right now.

[2019-05-31 03:35] denisfa commented on #390
@sorin255 @shibatan We had a very similar issue reported (#142) and I believe they are the same problem. The fix has been merged, so it will be available on version `2.1.4`.

[2019-05-31 03:35] #390 closed

[2019-05-31 15:11] denisfa commented on #430
Fixed in https://github.com/visualboyadvance-m/visualboyadvance-m/commit/bf6f2d4ac276dd21c6a837ec3795d7a03d3d0bdd. It will be available on version `2.1.4`.

[2019-05-31 15:11] #430 closed

[2019-06-02 16:58] ZachBacon commented on #428
Does it render with the simple driver?

[2019-06-02 19:57] rkitover commented on #428
Well, there is no way for us to reproduce something like this, our opengl code is quite simple and works with anything where opengl works. I suggest trying some other programs that use opengl. The simple driver should also not have stuttering on windows. You may be having hardware issues.

[2019-06-02 19:59] #428 closed

[2019-06-02 21:32] KirbyFan102 opened #433 "Boktai2/MMBN5 Link Battle problems"
I'm trying to do the crossover battle mode available in boktai 2 and Megaman Battle Network 5 (which is the only way to get the last four protectors in the former game). It's very finicky, and when it does work and I win, it just disconnects and I get nothing. This happens EVERY time. Any help with ameliorating this problem would be much appreciated.
(P.S. If you're going to test this out, here's

[2019-06-04 00:09] zoeysaTrap opened #434 "moving to the right in menus"
### Please fill out this form:
in menus it moves to the right non stop
### Expected behavior
not to
### Actual behavior
oddly moves to right with out stopping
### Steps to reproduce the behavior
nc
### Crash bugs
none
If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are
[here](https://github.com/visualboyadvance-m/visualb

[2019-06-04 10:31] denisfa commented on #434
@zoeysaTrap We have had a very similar issue regarding something like this that was fixed not so long ago. I believe it is the same issue and it is fixed already. What windows version are you using? I can generate a exe with the fix so we can check if it is indeed fixed.

[2019-06-04 11:22] denisfa commented on #434
@zoeysaTrap I have a build for Windows that you can try to confirm if this issue is already fixed. Use the one that matches your system (x64 or x32 bits):  [visualboyadvance-m.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3252047/visualboyadvance-m.zip)

If there are any problems, please let  me know.

[2019-06-04 13:39] rkitover commented on #434
Please let us know if that build fixes your issue.

[2019-06-04 13:41] rkitover commented on #419
@denisfa @ZachBacon depending on what happens with #434, if the input bug affects not just ubuntu, it may warrant an early release I think.

[2019-06-05 11:44] zoeysaTrap commented on #434
sorry was away for a bit found a fix in the button mapping got to special
and delete the mappings

On Tue, Jun 4, 2019 at 9:39 AM Rafael Kitover <notifications@github.com>
wrote:

[2019-06-05 11:45] zoeysaTrap commented on #434
sorry was away for a bit found a fix in the button mapping go to special and delete the mappings

[2019-06-05 16:59] rkitover commented on #434
We should remove all unnecessary default mappings.

[2019-06-06 03:10] theVietgamer opened #436 "No Sound"
### Please fill out this form:

### Expected behavior

### **Actual behavior**

### Steps to reproduce the behavior

### Crash bugs
If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are
[here](https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/README.md#reporting-crash-bugs).

### ROM details

Which games

[2019-06-06 03:15] ZachBacon commented on #436
Please fill out the template or else this will be closed.

[2019-06-06 22:00] ZachBacon commented on #436
As I have not heard anything about this, I'm closing this. If you want to fill out the necessary info. That would be greatly appreciated.

We need at least info on what audio driver you're using.

[2019-06-06 22:00] #436 closed

[2019-06-08 12:49] simsemax opened #437 "Key Maps stay empty and cannot be set"
### Please fill out this form:

### Expected behavior

Defined Key Mapping works while playing and is saved when VBA is restarted.

### Actual behavior

Manually configured key maps stay empty, even default mappings are not saved.
The first time I opened VBA everything worked fine, but the second and following times this keeps happening.

### Steps to reproduce the behavior
Start VBA and configure

[2019-06-08 18:04] ncyglhojimm commented on #428
Found the issue with the white screen with OpenGL, it was RivaTuner StatisticsServer.
I still have issues with constant stuttering with the latest release. I looked around for other builds and Somehow this version https://sourceforge.net/projects/vbam/files/Win32-Wx/VisualBoyAdvance-M-WX-2.0.0-beta2.7z gave me much better performance but I still experience stuttering even though it says it runs at

[2019-06-08 20:17] UchihaFabio opened #438 "Not being able to use SHIFT+F1 to F9"
I press the command but nothing happens. I am not that good on not dying at hard games so i would love to be able to use it.
if i do manually (going to settings and saving) it works but not by the command.

I cannot either load or save with the comand

[2019-06-08 22:01] denisfa commented on #438
@UchihaFabio Use the template. We need it to better trace what can be done. For example, I am on Linux and it works as intended.

The default is F1 to F9 to load, and SHIFT+F1 to SHIFT+F9 to save it.

[2019-06-08 22:05] denisfa commented on #437
@simsemax Thanks for the report. I believe this is similar to another open issue. Could you provide what language are you using on your Mac? We have a translation issue currently reported with french.

[2019-06-08 22:06] UchihaFabio commented on #438
Sorry...... I am using on Windows 10 19H1 x64

[2019-06-09 00:42] denisfa commented on #438
@UchihaFabio Thanks, that should help.

Do you have any type of special input configuration? Like using `SHIFT` for something? I am testing this on a virtual machine; it seems to be working. In case you can test this, check [these instructions](https://github.com/visualboyadvance-m/visualboyadvance-m#note-for-windows-users).

Also, what version of `visualboyadvance-m` are you using? We have the la

[2019-06-09 00:46] UchihaFabio commented on #438
no i dont have a special imput uding SHIFT. i am going to test your link

[2019-06-09 00:50] UchihaFabio commented on #438
This version you gave me worked like a charm the save feature. Thanks

[2019-06-09 00:50] #438 closed

[2019-06-09 15:44] thespbgamer commented on #362
I wanted, just like in VBAM V2.0.1, to be able to bind "KP_ADD" and "KP_SUBTRACT", now it's not even bindable, and allways changes the volume.

[2019-06-10 08:20] simsemax commented on #437
Hi @denisfa,
thanks for the reply! My Mac OS runs in german and so does VBA. I have found the threads #110 and #126 after I posted this but I haven't figured out yet how to change the VBA language to english on my mac. I suppose the first time I ran VBA it was in English and everything worked.

[2019-06-11 02:31] denisfa commented on #437
@simsemax At the moment, vbam uses the locale to set its language. So only if you change yours to english, it will use the english texts. This is not necessary, though. I think it is not a translation issue after thinking for a while, so I am going to investigate something else. When this is fixed, we will update you here.

[2019-06-11 07:47] darkracer125 commented on #237
i found another version of visualboy advance yesterday
the visualboyadvance-m  (32 and 64 bit)

wich is the one aerisu is setting his settings in.   but just using this version of visualboyadvance has solved all my problems with sound that i had before.   (one verry noticeable game was pokemon yellow. where the pikachu sounds were just static)  this is now fixed

[2019-06-13 07:50] rkitover commented on #419
@denisfa @ZachBacon I am finishing things up on my trip to Philadelphia, I'll be here one more week, then I will spend some time catching up on the project, earlier if I have some time.

[2019-06-14 01:25] Dylan10126 commented on #301
Thought id play Pokemon again and tried it on the newest build. The above problem is still present.

[2019-06-14 01:31] Dylan10126 commented on #301
Correction, rebooting the emulator corrected this issue

[2019-06-14 07:36] simsemax commented on #437
@denisfa I tried and deleted the languages in the vbam.appContent/Resources folder except for the english one and now the game will remember the key maps I configured. So I beg to differ good sir ;) I think this is an issue related to languages.

[2019-06-14 15:09] denisfa commented on #437
@simsemax Thanks for the extra info. I will take a better look at this.

[2019-06-14 17:28] denisfa commented on #437
@simsemax How did the buttons for input appeared? They don't save, but how were they write? Like `Joy1-Hat0W`, `Joy1-Button5` or something else? Right before you press OK after you configure them.

The translation issue we know did not break all buttons; only the axes related ones. The other issue here is that our special buttons had a overwriting bug, like our key shortcuts. This last part should

[2019-06-14 21:39] Gumbag opened #440 "Frame skip on 0"
Even the number of frames to skip is at 0, it looks like it's skip, giving a few pauses.

[2019-06-14 23:27] Gumbag opened #441 "Emulator does not read rom"
### Expected behavior
Open the game when you select the rom

### Actual behavior
It says that it is not possible to read the rom, even if it is in the format .gba, .gbc or .gb and neither the place where it is

### Steps to reproduce the behavior
Open the emulator and select a rom

### ROM details
All GBA, GBC and GB games in any format

### Build details
Windows 8

Version 2.1.3

Edit:
This occur

[2019-06-14 23:56] denisfa commented on #441
@Gumbag This is way too vague. We need more information. Copy and paste the error message if you can, please. What language are you using?

I might need more answers, so if you can five more info, please do.

[2019-06-15 00:06] Gumbag commented on #440
I was playing in an updated version

[2019-06-15 00:13] denisfa commented on #440
@Gumbag So did the latest version solve the issue for you? So we can close this.

[2019-06-15 02:00] Gumbag commented on #441
I already edited the problem

[2019-06-15 02:52] denisfa commented on #441
@Gumbag We have an open issue where we don't deal with unicode files well on Windows. This means that if there is a `ç`, `á`or any other non-english char, it will result in an error when opening the game. There is the possibility that this might be the cause here as well.

`vbam` uses the current locale to set its language. If you use english, then it should be english. There are missing translati

[2019-06-15 03:10] Gumbag commented on #440
@denisfa yes, I was going to delete, but I did not find where it excluded :/

[2019-06-15 03:11] denisfa commented on #440
@Gumbag It is ok. We don't delete issues, only close them.

[2019-06-15 03:11] #440 closed

[2019-06-15 08:30] simsemax commented on #437
I only configured the Gamepad buttons but no keyboard buttons. I will attach a screenshot.
![Screenshot 2019-06-15 um 10 27 52](https://user-images.githubusercontent.com/51508716/59549069-75566100-8f58-11e9-8e7f-2a811fe047b7.png)

[2019-06-15 18:18] Karl-Stefan opened #442 "entry 'flashSize' appears more than once in group '/BPRE'"
### Expected behavior
No warning messages on application launch

### Actual behavior
Got a warning message on application launch.

entry 'flashSize' appears more than once in group '/BPRE'

Details:
20:15:12: file '', line 7: key 'saveType' was first found at line 2.
20:15:12: entry 'saveType' appears more than once in group '/BPRE'
20:15:12: file '', line 8: key 'flashSize' was first found at lin

[2019-06-15 21:50] denisfa commented on #437
@simsemax Thank you. It is indeed another translation problem. The special buttons is another issue, but I believe it should be fixed soon.

[2019-06-16 18:58] dumboi003 opened #443 "Turbo Mode locks input instead of speeding up the game."
### Expected behavior
When I press the Left CTRL key(or, in my case, the button my Nintendo Switch Pro Controller that corresponds to Left CTRL), the emulator will switch into Turbo Mode and speed up, as the CTRL key is assigned to do.

### Actual behavior
It doesn't speed up, and, if I am holding a directional input(I have not tested it with other buttons yet), the directional input will get lock

[2019-06-16 20:17] denisfa commented on #443
@dumboi003 Thanks for the report. There is a very similar known issue for keyboard input. If you don't mind, we have a build with the fix (for the keyboard, at least) [here](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3252047/visualboyadvance-m.zip).

On menu, check `Help` > `About`. It should be the second line.

[2019-06-16 20:18] denisfa commented on #443
@dumboi003 I believe it is the same as the known issue, hence the fix might apply for this as well.

[2019-06-17 11:26] Birutath opened #444 "Vba-m won't open with wii u pro controller connected"
### Please fill out this form:

### Expected behavior
To open normaly and recognize the controller as a xbox 360 one

### Actual behavior
Won't open, and insted gives a pop up that reads "unhandled Standard exception of type "st20bad_array_new_lenght" with message std::bad_array_new_lenght"; terminating the application"

### Steps to reproduce the behavior
Use a wii u pro controller with wiinUsoft

[2019-06-18 14:59] Squall-Leonhart commented on #444
Get a real xbox 360 controller, bluetooth pads are odd spec wise.

[2019-06-18 15:03] Squall-Leonhart commented on #407
Visual studio needs a compatibility toolchain to retain XP compatibility.

[2019-06-18 15:08] Squall-Leonhart commented on #405
VBA is not a super nintendo emulator, mimicking the graphics output is one thing, the audio is an entirely different ballgame.

[2019-06-18 16:43] Birutath commented on #444
What i think is strange is that, i don't have this problem with anything else. All my pc games and emulators run normally, only vba-m won't run with my controller

[2019-06-18 17:37] denisfa commented on #444
@Birutath Thanks for the report. This is a little tough to debug because I believe we don't have someone who owns this controller... We can take a look, but it won't be high priority.

[2019-06-18 23:25] KyleBelmont opened #445 "GBA Connection with Dolphin: "Joybus host invalid; disabling""
### Expected behavior
After following the steps under "Steps to reproduce behavior"

1. VBA-M upon boot will display a "look at the television" or similar such screen
2. Animal Crossing / The Legend of Zelda: Four Swords Adventures running in Dolphin will detect the Game Boy Advance.

### Actual behavior
1. VBA-M upon boot will give an error dialog box with "Joybus host invalid; disabling".
2. VBA

[2019-06-22 04:50] AceTrainerDJ opened #447 "VBA-M Crashes When Using BIOS"
### Expected behavior
1. VBA-M boots using BIOS rom
2. Screen says something akin to "look at TV screen"
3. Dolphin detects VBA-M
4. Animal Island made available in Animal Crossing
### Actual behavior
1. Emulator boots BIOS rom
2. Emulator freezes and crashes part way through boot process
3. Dolphin obviously doesn't detect
### Steps to reproduce the behavior
1. Set directory in Boot ROM for a BIO

[2019-06-23 03:20] denisfa commented on #447
@AceTrainerDJ Sorry for the delay. Finally I had a chance to look at this.

On main menu: `Help` > `About`. Should be the entire second line. It is the version of vbam you are running.

Did this BIOS file work with `vbam` before? I would suggest trying with another BIOS, if you have available.

I am not familiar with this game, so it is a little bit difficult to debug this. I would need to quickly

[2019-06-23 03:33] denisfa commented on #445
@KyleBelmont Sorry for the delay.

Do this before step `13`:

Edit the configuration file [(where is for windows)](https://github.com/visualboyadvance-m/visualboyadvance-m#note-for-windows-users) and search for a line with `LinkHost=` under a `[GBA]` section.

You need to add the ip address from the machine running dolphin here. So if they are both on same machine, use `LinkHost=127.0.0.1` or what

[2019-06-23 10:04] #79 closed

[2019-06-23 11:00] rkitover commented on #419
@denisfa I reviewed and merged all of your outstanding PRs. Lets discuss what's next and if we should do a new release.

[2019-06-23 11:04] rkitover commented on #419
@denisfa I will give you the steps to do a release so you know how to do this if me or zach are not available.

[2019-06-23 11:11] rkitover commented on #419
@denisfa I pushed back the release project a few version numbers forward so we can do a couple of intermediate releases.

[2019-06-23 14:22] #48 closed

[2019-06-23 14:25] denisfa commented on #417
Fixed in #439.

[2019-06-23 14:25] #417 closed

[2019-06-23 14:27] denisfa commented on #366
Fixed in #448.

[2019-06-23 14:27] #366 closed

[2019-06-23 14:30] #445 closed

[2019-06-23 14:33] denisfa commented on #410
Fixed in #446.

[2019-06-23 14:33] #410 closed

[2019-06-23 14:34] #424 closed

[2019-06-23 14:37] denisfa commented on #434
Fixed in #439.

[2019-06-23 14:37] #434 closed

[2019-06-23 15:38] retro-wertz commented on #447
no one should be using random bios file, especially for link purposes (link is problematic already to begin with, i can only test it with Zelda game + Dolphin on linux, never had success running this on windows)...

[2019-06-24 01:39] benwa opened #449 "Window snapping"
I'd like to have an option to have window snapping to edges of screens or other windows.  An example use case is multiplayer games where you have multiple instances of VBA-M onscreen at the same time.

[2019-06-24 12:20] ZachBacon commented on #444
My guess is that SDL2 isn't picking up on that properly. May need to add a special case for that.

[2019-06-24 13:18] rkitover commented on #437
@simsemax try doing something like this:

[code]

then set your key maps, then it should work when you restart it in german again.

[2019-06-24 16:35] denisfa commented on #447
@retro-wertz what are the known issues of link? There are some open issues, but they feel very random. I know very little about windows, though, so that might be where this is coming from.

[2019-06-24 16:40] denisfa commented on #419
@rkitover how does the locale part work? I see some issues with translation, but I believe they are easy to fix. My issue is to how test this. If I edit the correspondent po file and then compile the code, am I compiling the po file too? @ZachBacon explained to me about transifex, but what does it actually mean? Are the po files pulled from there every once in a while (like added & commited to the

[2019-06-24 19:34] rkitover commented on #449
This is probably best done with a windows utility, windows has some of this window management stuff built in. Stardock might have something.

[2019-06-24 20:37] rkitover commented on #444
The error should be fixed, as for the joystick you might look into SDL2 settings.

[2019-06-24 20:38] #444 closed

[2019-06-24 20:41] rkitover commented on #419
The issue with the control translations is how we are using them not the translations themselves. We are writing the translated string to the config file but expecting to read an english string.

[2019-06-24 20:41] rkitover commented on #419
For transifex use the `tx` client to push and pull, ask @ZachBacon to give you an account. I will do a transifex update shortly.

[2019-06-24 20:44] rkitover commented on #419
If you want to fix the joystick translation issue, that would be awesome for this release.

To start vbam in another language, just set `LANG` e.g.:

[code]

this example being for french.

I just did some joystick cleanups, including for the error in #444

[2019-06-24 23:50] denisfa commented on #419
@rkitover Thank you. I will fix some translations. I have a branch `translation` with the one for the french issue.

I am not sure about this. But I will check to confirm. I know that the PT-BR has incorrect spelling, but I think this is another issue.

[2019-06-25 05:20] AyanamiRei1 opened #451 "VBA-M doesn't load"
First I'm using Windows 10 Pro 64-bit 1809

Alright for the issue I'm trying to load it and all I'm getting is this error no idea why.

![image](https://user-images.githubusercontent.com/25233407/60071183-299e7700-9711-11e9-98c5-1ed4e4a29b63.png)

Cheers for the help.

[2019-06-25 06:49] ZachBacon commented on #451
Please keep the standard issue template, it has questions there that are relevant such as are you using a release or nightly.

[2019-06-25 07:07] AyanamiRei1 commented on #451
Expected behavior
For it to work.

Actual behavior
Crashes while trying to open it.

Steps to reproduce the behaviour

Just trying to open the program causes this error.
![image](https://user-images.githubusercontent.com/25233407/60076663-0d560680-9720-11e9-81b9-b6cc487503e7.png)

Build details
 Latest Stable.

[2019-06-25 07:12] ZachBacon commented on #451
Give this a try https://github.com/visualboyadvance-m/visualboyadvance-m/files/3219928/visualboyadvance-m-Win-32bit.zip
At some point I'll see about doing a new nightly based on current changes. But this should be newer than the stable release.

[2019-06-25 07:17] AyanamiRei1 commented on #451
Still the same problem.

![image](https://user-images.githubusercontent.com/25233407/60077358-acc7c900-9721-11e9-899d-d906c50fad96.png)

[2019-06-25 07:27] ZachBacon commented on #451
So on all my windows based systems it does run, so there's something on your system that is causing a memory allocation exception within vba-m, or I should say that's my best guess on the matter. @rkitover what do you think?

[2019-06-25 10:30] rkitover commented on #419
The actual translation does not affect anything, the only issue is whether the original or the translated string is being used/compared. Mistranslations can be handled on transifex.

[2019-06-25 10:36] rkitover commented on #354
More of various fixes, we will have a release soon:

[visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3324799/visualboyadvance-m-Win-64bit.zip)
[visualboyadvance-m-Win-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3324803/visualboyadvance-m-Win-32bit.zip)

[2019-06-25 10:37] rkitover commented on #451
I think I fixed this, try this nightly:

https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-505387781

[2019-06-25 10:55] rkitover commented on #419
I sent you an invite on transifex, look for it in your email.

[2019-06-25 17:39] AyanamiRei1 commented on #451
Same issue boss.

![image](https://user-images.githubusercontent.com/25233407/60120392-96992780-9778-11e9-94b4-340b5a1e0537.png)

And this is with the Nightly.

[2019-06-25 18:40] ZachBacon commented on #451
Just out of curiosity, go to %USERPROFILE%\AppData\Local\visualboyadvance-m and remove (or backup) the ini, if there is one there and see if that will do anything.

[2019-06-25 22:27] denisfa commented on #451
@AyanamiRei1 Are you using a controller? We had an issue not so long ago that it was related to using a `wii u pro` controller with wiinUsoft app. It was the same error message and behaviour you describe here.

[2019-06-26 10:18] #411 closed

[2019-06-26 23:51] Lava84flow commented on #314
got the same issue

[2019-06-27 21:20] benwa opened #452 "Borderless window mode"
I'd like to be able to have the window be borderless.  Similar to mpv's borderless mode, you could drag the window with left-click and bring up the menubar menu with right-click.

[2019-06-28 00:15] ZachBacon commented on #452
Probably not going to happen, But I'll leave this here because I think the SDL2 console frontend could be adapted if we do decide.

[2019-06-28 07:51] Imbaedo opened #453 "No Sound"
### Actual behavior
I just started Pokemon Emerald, but i have no sound.

### ROM details
Gba Pokemon Emerald

### Build details

Operating System: Windows

[2019-06-28 18:38] denisfa commented on #453
@Imbaedo Please use the template. There are 2 possible audio drivers for windows; this might help to debug this.

Also, check if you are not muted; test another ROM and press the ENTER button in numpad. It is used for mute/unmute function.

[2019-06-28 22:11] jasonsparc opened #454 "Multiple bindings for Keyboard shortcuts doesn't work as expected"
### Please fill out this form:

### Expected behavior
Ability to set more than one key bindings to a command (under **Options > Key Shortcuts**), and should also be saved to the `vbam.ini` file.

### Actual behavior
Only the last key binding is remembered upon closing the emulator. The `vbam.ini` file only records the last key shortcut set.

Another weird behavior: assigning additional key binding

[2019-06-28 22:40] denisfa commented on #454
@jasonsparc This is very similar to another issue already fixed. It will be available for our next release. Check [here](https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-505387781) for our nightly download options.

[2019-06-28 22:49] denisfa commented on #454
I will check this. This is a different issue from the key shortcuts.

[2019-06-29 02:26] denisfa commented on #419
And the `translations.zip`? What is this file? Let's say I want to generate one of these to try running on Windows. What would I need to do?

@rkitover @ZachBacon There is something I would like to ask. What are the plans regarding the cores (gb, gba)? I am interested in learning about emulators (this is a good real example), but everything feels... hard. This is for a system from the 90s... I res

[2019-06-29 02:34] retro-wertz commented on #419
following the link tags should point to some of the issues with link-related problems, asside from it needing optimization and remove sfml if possible but priority is tablize the standalone first.
thats my opinion though.

[2019-06-29 13:55] rkitover commented on #419
To make the `translations.zip`:

[code]

[2019-06-29 14:04] #415 closed

[2019-06-29 19:58] ssbmars opened #457 "MMBN6 Wireless & online connection fails"
We play Megaman Battle Network 6 online pvp in VBA-Link 1.8 using Hamachi to make connecting easier. Old pokemon fans used to use nearly the same connection method in VBA-Link, so this method may be well known.

We attempted to connect the same way in the latest master build of VBA-M, but it didn't work. Other people have attempted to get the game to connect with VBA-M in the past, but all attempt

[2019-06-29 20:05] denisfa commented on #457
@ssbmars Thanks for the report. The link code has lots of known issues. We will  see what can be done.

[2019-06-30 16:13] Photon89 commented on #65
Another "me too" (Fire Emblem, Arch Linux, sound set to SDL, a state can crash several times but then load without problem). The verbose mode sometimes gives me

`free(): invalid pointer`

or

`corrupted double-linked list`

or

`double free or corruption (out)`

as output during the crash.

[2019-06-30 20:17] denisfa commented on #65
@Photon89 do you mind adding a save state that run into this issue? I am trying to debug this, but failing to do so. I tried the pokemon games (original), but also could not get this. Which FE game did you try?

If you don't mind, add you `vbam.ini` please. I am suspicious about the cause, but can't properly confirm.

[2019-06-30 21:06] Photon89 commented on #65
@denisfa Thanks for the fast reply! It is just called "Fire Emblem", from 2003. Please find the two files attached.
[vbam.tar.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3343328/vbam.tar.gz)

[2019-06-30 23:56] retro-wertz commented on #65
looks like a language issue, based on the config file included...

[2019-07-01 00:26] denisfa commented on #65
@retro-wertz It is a Linux issue too. It failed for me on Linux. I tried 3 times before the bug appeared.

[2019-07-01 00:32] retro-wertz commented on #65
any config change you guys using? like custom flash size or whatnot? (in on a clean install, other than custom folders and input keybinds) anyways i tried loading different states and its not a problem, so far on me at least.

[2019-07-01 00:38] denisfa commented on #65
@retro-wertz No, nothing special. I just use his `vbam.ini` and tried to load state a couple of times. I think I know where the issue is, although it is quite weird that you can't reproduce it. Also I am using the master branch build.

[2019-07-01 00:44] retro-wertz commented on #65
where is is? on gba.cpp or on the wx stuff

[2019-07-01 02:21] denisfa commented on #65
@retro-wertz Not so sure about it yet... I believe it can't be just that, since the behaviour for breaking or not (as the error messages) is all over the places. I run into this after 3 times on my first reply, but now had to try 11.Got 2 different error messages while doing so (double free vs realloc fail).

You are reporting ASAN issues, that should take a separate thread. This may or may not be

[2019-07-01 02:25] retro-wertz commented on #65
the asan issue i posted on glitter (or was it griiter) uses more asan options, which i normally use. its not suppose to crash the last time this asan was added...

the asan i posted here is caused when loading.saving the states. this is only using -fsanitize=address instead of my usual address,undefined.

[2019-07-01 05:15] Photon89 commented on #65
Not sure if still any input is required/helpful from my side after your discussion, let me know if I can do anything else to help track down the issue!

[2019-07-01 13:49] denisfa commented on #65
@Photon89 Thank you for all the extra info. We will try to solve this now.

@retro-wertz The issue is indeed memory corruption. But it is not a random behaviour, it happens due to allocated size being smaller than required. When you compare the OpenGL and Simple allocation size, the first is bigger and I also failed to reproduce this issue with OpenGL. It is on this line of `src/wx/panel.cpp`:
[co

[2019-07-01 21:25] retro-wertz commented on #65
the question there is why is it writting dimensions based on GB/SGB when we are suppose to be running GBA.

[2019-07-01 22:44] denisfa commented on #65
This does not matter. It can be scaled to any size. The big thing is the params from the `calloc`.

On the code it is stated that all filters are either 16 or 32 bpp. Is the value 24 because of the gba hardware? Same thing for GB? I have no clue about this. Neither can I notice the difference between 24 and 32... I need pointers so I know I am not ruining everything.

[2019-07-01 23:01] retro-wertz commented on #65
i rest my case then if my inputs are just going to be brushed off like that
then...

On Tue, Jul 2, 2019 at 6:44 AM Edênis Freindorfer Azevedo <
notifications@github.com> wrote:

[2019-07-02 15:40] retro-wertz commented on #442
cleanup you vbam-over.ini.. you have multiple entries there. or set your gba overrides to defaults (change each one as the default button at the buttom does not set all to default).

you can change back to whatever overrides you want later after pressing OK.

[2019-07-02 16:17] retro-wertz commented on #422
confirmed
![Screenshot_2019-07-03_00-15-42](https://user-images.githubusercontent.com/23315382/60528797-dc7d5f00-9d27-11e9-8d7c-eabc9e291435.png)

[2019-07-02 20:13] retro-wertz opened #460 "VBAM unpauses when using pause hotkey"
### Please fill out this form:

### Expected behavior

should remain paused until manually unpauses

### Actual behavior

vbam unpauses

### Steps to reproduce the behavior

pause the emulation using pause hotkey or using Emulation > Pause. select other active window (basically anything to make vbam window inactive). go back to vbam, this should unpause itself while Pause in Emulation is still ena

[2019-07-02 20:49] denisfa commented on #454
Alright, all of this has been tackled in #455. It is fixed.

[2019-07-02 20:49] #454 closed

[2019-07-02 20:52] denisfa commented on #120
Fixed in #439.

[2019-07-02 20:52] #120 closed

[2019-07-04 01:22] #360 closed

[2019-07-04 01:23] #332 closed

[2019-07-04 04:06] rkitover commented on #419
It looks like running `--help` on mac is segfaulting again:

https://travis-ci.org/visualboyadvance-m/visualboyadvance-m/jobs/554058923

[2019-07-04 04:26] #441 closed

[2019-07-04 04:42] #460 closed

[2019-07-04 05:07] rkitover commented on #419
@denisfa I will let you do the honors of making our next release, so that you know how to do it if necessary.

You already have a VM to make the windows binaries, and you know how to make the `translations.zip`. I just synced with transifex so we're good to go.

You need to have a GPG key, if you don't create one and upload it to a keyserver.

You need to have a mac OS VM or a mac to build the mac

[2019-07-04 15:15] rkitover commented on #419
Oh I forgot to mention, when you make a GPG key, upload the public key to github as well in settings.

[2019-07-04 16:59] denisfa commented on #419
@rkitover Thank you for all the instructions. I will be doing this later. I just want to do a final check to see if there is something easy to solve that we could include in this next release, like #460.

[2019-07-04 17:57] #437 closed

[2019-07-04 17:57] #273 closed

[2019-07-05 07:03] retro-wertz opened #463 "[Input Bind] Missing or empty default key binds on a clean or new config"
### Please fill out this form:
[Input Bind] Missing or empty default key binds on a clean or new config

### Expected behavior
a default input binding should be set, most preferably for gamepad (additional analog as dpad) and keyboard binds.

### Actual behavior
there is no default key binds, gamepad nor keyboard

### Steps to reproduce the behavior
remove or delete vbam.ini, run vba-m

### Crash

[2019-07-05 15:53] ZachBacon commented on #419
Just a quick ask, when doing commits, mainly if it's platform specific, can we add the prefix [Windows] for windows, [MacOS] etc, certain distro's would very much like to highlight the changes for that said platform when pushing updates to their users in Linux.

[2019-07-05 19:43] Gumbag commented on #441
@denisfa My folder has an i with accent, ie "í", but the other versions of the emulator, other emulators and the computer itself has always read the folder with that letter with accent.

[2019-07-05 19:55] denisfa commented on #441
@Gumbag This became an issue for vbam starting from version `2.1.1`. It has been fixed, though, and it will be available for the next release.

[2019-07-06 00:44] NoDuff commented on #451
I have the exact same issue with 2.1.2 and 2.1.3, but versions 2.1.1 and older work fine.

Deleting the config folder does not help.

After reading denisfa's post I remembered that I had a MayFlash Dolphin Sensor Bar connected to my computer. When I unplugged the sensor bar, the errors went away and now VBA-M loads.

Is this error potentially fixable? Or will I have to leave the affected device un

[2019-07-06 00:55] denisfa commented on #451
@NoDuff It really depends on the issue itself... We don't have the controller/hardware available for testing, so we would need to keep asking users to test whatever possible solution we have... I believe that the easiest path is to ignore devices, but I would not be able to test it.

I need to ask: does `2.1.1` loads and knows about the device or just ignore it?

[2019-07-06 01:11] retro-wertz commented on #91
you'll have better luck playing SGB snes audio on sgb-enabled snes emulators than on any current gb/gbc emulators. youll have to practically emulate SNES.

[2019-07-06 01:17] NoDuff commented on #451
I would go with it ignores it. The sensor bar is pretty much custom made for the Dolphin emulator and I have never used it for anything else.  I even forget it is still plugged in sitting on my monitor most of the time.

I loaded up 2.1.1 and while it didn't crash. I wasn't able to bind any controller keys or use the Wii Remote to play games. (while my XB360 controller worked just fine)

[2019-07-06 01:52] rkitover commented on #451
@denisfa see line 68 in sdljoy.cpp, this should be fixed, I have no idea how it still happens.

[2019-07-06 17:58] FreskoYouTube opened #464 "Fullscreen doesn't work"
### Expected behavior
Going to fullscreen by pressing alt+enter or going out fullscreen by pressing alt+enter.
### Actual behavior
Nothing happens
### ROM details
Which games are affected by the issue (please state if GBA or GB game):
Kirby's Dream Land (USA, Europe).gb,Mario Kart - Super Circuit (Europe).gba,Kirby - Nightmare in Dream Land (USA).gba and Super Mario Land 2 Dx (a Rom Hack).
### Opt

[2019-07-06 18:09] denisfa commented on #464
@FreskoYouTube There was an issue with key shortcuts that was fixed not so long ago. It will be available on the next release.  So I will mark this as fixed.

[2019-07-06 18:09] #464 closed

[2019-07-08 22:28] Jamiras opened #465 "Visual Studio build failure"
### Expected behavior
Following instructions in README would result in a successful build

### Actual behavior
Error about `int8_t` being doubly defined, which can be fixed by updating `dependencies` submodule to `master`. Then this error occurs:
[code]

### Steps to reproduce the behavior
* Fresh clone, submodule init/update
* Open `VS2017 Native Tools Command Prompt` (tried with both x86 and x64

[2019-07-09 01:36] ZachBacon commented on #465
Run the solution file in the IDE, there's a known issue where the msbuild will error out, but the IDE itself will compile.

[2019-07-09 02:10] Jamiras commented on #465
I get the same errors in the IDE:
![image](https://user-images.githubusercontent.com/32680403/60853258-7aee4200-a1b8-11e9-95d3-c8011b03520c.png)

However, if I switch the IDE to `Release`, it does succeed.

Which led me to try this, which also succeeds.
[code]

For thoroughness, I also tried this:
[code]

Which fails with:
[code]
The file is actually `SDL2d.dll`. Copying `SDL2d.dll` to `SDL2.dll`

[2019-07-09 02:45] ZachBacon commented on #465
That's actually good information to have, @rkitover Gonna tag you in this since I'm sure you'd appreciate the report on this.

[2019-07-09 19:40] rkitover commented on #465
@Jamiras thank you very much for figuring this out, I will update the readme and fix the SDL2 thing!

[2019-07-09 20:50] terralilly85 commented on #451
Not sure if this should be a different thread, but I'm seeing the same error message. I have a WiiU Pro Controller running on WiinUSoft (latest version). If I disable Bluetooth completely, VBA-M will launch with no issues. If I have the controller connected and cloned to as an XInput device, VBA-M fails to launch. Is there some way I can get you any logs of the crash?

[2019-07-10 02:10] rzumer opened #466 "Update libretro memory map for GB"
### Background
Memory info from the emulator is passed through the libretro API via https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/src/libretro/libretro.cpp#L287 and https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/src/libretro/libretro.cpp#L1465 for achievement support.

### Issue
The reference memory map has changed recently, and the changes can be seen

[2019-07-10 02:33] retro-wertz commented on #466
i opened this issue on the libretro forum in reply to the test you did for Harry Potter. As i posted there, the recent or the first update i was able to make it work. but the last one or final one, i cant get that achievement anymore in harry potter, even with corrected maps.

here was the screenshot when that achievement was working, using the initial memory mapping you did:
https://user-images.g

[2019-07-10 02:36] rzumer commented on #466
Your comment is irrelevant to this issue.

[2019-07-10 02:36] retro-wertz commented on #466
not again...

[2019-07-10 02:52] rzumer commented on #466
@retro-wertz Sorry, your comment was not clear and I thought it was related to https://github.com/libretro/RetroArch/issues/8582.

The achievement trigger code was not updated following the second memory map change. It was updated today. So if you have changes ready to accommodate the updated memory map I advise trying again.

If it does not work, then it is due to https://github.com/libretro/Retr

[2019-07-11 01:35] denisfa commented on #419
@rkitover @ZachBacon Sorry for being MIA, I have been really busy on my job. I like to study what I am doing here, so I take an extra time to finish whatever I am assigned to. If you guys want release the next version, please feel free to do it; if we can arrange something, I could make the release after this next one. There are some things that I wanted to check, but I won't have enough time on t

[2019-07-11 01:41] denisfa commented on #362
@rkitover  see 36879ca8b49a102a76a81f663c23ffbfad2b53c3 for an idea of default keys.

@thespbgamer These keys will be available to bind on next release. The issue here is that they were hard-coded to volume changing and they were not available on the menu; so we could not do the rebinding. Now we can using `Options` > `Keys Shortcuts ...` > `Audio` > `{Increase, Decrease} Volume`. You unbind them

[2019-07-11 01:44] ZachBacon commented on #419
@denisfa Don't worry about things. Lately that's been a focus of mine, being my full time job that is, so I understand. And take what time you need. Better to make sure we have a solid release as close to possible.

[2019-07-11 12:54] rkitover commented on #451
Thank you for confirming the bug still exists.

If someone with dev experience can give us a backtrace, it would be highly appreciated.

[2019-07-11 13:01] rkitover commented on #419
@denisfa hey no need to apologize for having shit to do.

I will leave it up to your judgement for when we should do a new release, since you have been doing most of the work the last few weeks, I can do the actual release of course just let me know when you feel comfortable with the state of things.

[2019-07-11 21:19] retro-wertz commented on #466
as stated, cant do anything without fixing in retroarch first. i dont even understand that the initial test case (which is still available as suggested test case in Libretro) still exists despite it being taken down already, the mapping is easy to do, and as stated I made it work despite them having problems making it work in some cores (aside from sameboy which had incorrect memory size to begin

[2019-07-11 21:24] rzumer commented on #466
@retro-wertz You have been commenting on issues and PRs I opened on various projects for a few months now, and you seem to frequently jump to (incorrect) conclusions without understanding what I am actually doing or what issues I am raising, as well as changing the subject away from said issues and PRs.

I would appreciate if you would refrain from commenting on my issues or PRs in the future. You

[2019-07-11 21:28] retro-wertz commented on #466
question. adding this said memory map (which btw you never made it worked that time, hence i posted the screenshot of it working on my end coz i understand how to add the memmaps on the core at least), will the core be able to access the banked gbc rams without updating RetroArch. And i am a collaborator, specifically on the Libretro port. Don't go in here and spread you distrust for whatever reas

[2019-07-11 21:31] rkitover commented on #354
This should finally fix the joystick load error:

[visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3384045/visualboyadvance-m-Win-64bit.zip)
[visualboyadvance-m-Win-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3384044/visualboyadvance-m-Win-32bit.zip)

[2019-07-11 21:33] rkitover commented on #451
@terralilly85 @AyanamiRei1 @NoDuff

I realized what I was doing wrong, can you please try this build:

https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-510661713

[2019-07-11 21:50] terralilly85 commented on #354
@rkitover Same error on launch, however it didn't take ages to respond this time. On previous builds, it would take several minutes to launch the application.

![image](https://user-images.githubusercontent.com/52293448/61087699-60100d80-a404-11e9-99b2-159b48196733.png)

[2019-07-11 21:51] terralilly85 commented on #451
Posted this there accidently:

@rkitover Same error on launch, however this time load was instant. On previous builds application load would take several minutes.

![image](https://user-images.githubusercontent.com/52293448/61087755-8d5cbb80-a404-11e9-92c9-510ff99c44d6.png)

[2019-07-11 23:17] NoDuff commented on #451
Also continues to give the same error for me, and still takes about 20 seconds for the error to pop up (same as the release builds)

[2019-07-11 23:44] rkitover commented on #451
I actually posted the wrong build.

[2019-07-11 23:50] retro-wertz commented on #362
[code]
[code]

[2019-07-12 00:06] rkitover commented on #451
@terralilly85 @AyanamiRei1 @NoDuff

Sorry about that, I thought my script was making the `.zip` but it turns out I was uploading an old `.zip`.

Anyway, these are the right binaries:

https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-510661713

[2019-07-12 00:18] NoDuff commented on #354
The 64bit build ran fine.

For some reason Bitdefender flags the 32bit version as a virus: Atc4.Detection
A quick Google seems so show this as a common false positive.

[2019-07-12 00:31] NoDuff commented on #451
The 64bit build ran fine, no error at all. Looks like you squashed the bug.
VBA-M does still take around 20s to show initially show the window, which is a bit odd.

For some reason BitDefender flags the 32bit version as a virus: Atc4.Detection
A quick Google seems so show this as a common false positive.

[2019-07-12 00:54] terralilly85 commented on #451
I can also confirm that the x64 build squashed the bug. Load time seemed normal to me.

[2019-07-12 00:54] rkitover commented on #451
Thank you very much for testing! We should be doing a new release soon which will have this change.

[2019-07-12 00:54] #451 closed

[2019-07-12 00:57] rkitover commented on #354
The slow load time may be an AV issue, why it is triggered we will have to investigate.

The virus false positive can be fixed if we start codesigning our windows builds, this may also fix the slow load time.

[2019-07-12 01:00] rkitover commented on #419
Well #451 is finally fixed, it turns out I was uploading the wrong binaries to the nightlies because I thought my script was making the `.zip` when it wasn't, but I fixed the script so it will make the `.zip` and the `.asc` automatically.

We also need to look into codesigning the windows binaries to work around AV issues.

[2019-07-12 12:16] rkitover commented on #419
I ordered a 3 year code signing certificate for our org. Once I complete the verification process I'll get a copy to you both.

[2019-07-12 13:18] ZachBacon commented on #419
@rkitover Sounds good, I also think it's a good excuse to hold off the next release until the cert is ready for use.

[2019-07-13 20:03] TraceBullet opened #468 "Add Lua scripting"
Can the VBA-M team add Lua scripting from VBA-rerecording to this project?

VBA-RR repo
https://github.com/TASVideos/vba-rerecording

VBA Lua documentation
http://tasvideos.org/EmulatorResources/VBA/LuaScriptingFunctions.html

[2019-07-14 16:23] DillonCC97 opened #469 "vbam-sdl does not load config with -c flag, will only load from inside directory"
### Expected behavior
Setting flag -c or --config=FILE should read the given configuration file

### Actual behavior
Default config always loads even when setting config flag
Custom config will only load if vbam is run from inside a directory with a vbam.ini

### Steps to reproduce the behavior
`vbam -c $HOME/.config/gvbam/vbam.ini [game]`
Opens game with default config. Controls, filters etc. all

[2019-07-14 16:46] denisfa commented on #419
@rkitover @ZachBacon Thanks. I will try to get things done as soon as possible.

How does that work? I did not know this was a thing for windows... Is this something to add the app to their store or similar?

[2019-07-14 17:00] ZachBacon commented on #419
It's to basically get passed some issues, an unsigned executable (meaning one that isn't signed with a cert) will cause windows to throw a smart screen alert, asking you if you want to run it or not since it's unverified. It's also iirc used for the windows store apps, though in our case we aren't going for the windows store.

[2019-07-14 22:44] denisfa commented on #469
@DillonCC97 Thanks for the detailed report. I can confirm this issue and I will start working on it soon.

[2019-07-15 08:13] rkitover commented on #419
The main reason I want to do it is I think some AVs treat unsigned binaries much more suspiciously than signed ones, so this leads to slow load times and virus false positives etc..

[2019-07-15 23:41] EtianAM opened #470 "Error to start the program"
### Expected behavior
The program starts and is normally displayed
### Actual behavior
The program doesn't start, instead it just displays a window that says:

"St20bad_array_new_length" with message
"std::bad_array_new_leght"; terminating the application.
### Steps to reproduce the behavior
Only starts the program and this appers
### Crash bugs
I can not send this information, because y do not kn

[2019-07-15 23:51] rkitover commented on #470
Use the latest nightly.

[2019-07-15 23:51] #470 closed

[2019-07-17 12:33] denisfa commented on #362
@retro-wertz What keyboard layout do you have in mind here? We were trying to support compact layouts. Also, any special reason for `L2` for `R`? I only fixed the joystick default keybinding (actually started to set it); I did not change it. `bind to left-analog` means two ways to use `D_PAD` with controller?

[2019-07-17 14:07] denisfa commented on #419
@rkitover @ZachBacon What is the deal with @retro-wertz? Look at #471. He just gets upset and leaves. It is not the first time he gets upset over such things. What is happening?

[2019-07-18 15:59] denisfa commented on #88
@rkitover This was very like fixed at some moment in the past. I can't reproduce the joystick issue, and the keybinding was done not so long ago.

@Stargateur If you are still around, your keybinding issue was fixed and it will be available on next release!

[2019-07-18 16:01] denisfa commented on #110
@KingMucus If you are still around for some reason... This was fixed with #437 and it will be available on next release!

[2019-07-18 16:01] #110 closed

[2019-07-18 16:05] denisfa commented on #126
Fixed with #437. We use english for all input, so this issue is no more.

[2019-07-18 16:05] #126 closed

[2019-07-18 16:24] denisfa commented on #196
@rkitover From everything here, only the `autofire` is not being remembered... Are these intended to persist too?

[2019-07-18 19:29] rkitover commented on #419
It may be partly a language thing and partly not understanding other people's intent. In any event these things happen.

[2019-07-18 19:40] #469 closed

[2019-07-18 19:44] rkitover commented on #88
The only remaining issue is that the keybind editor is too sensitive when picking up the analog axis, it binds e.g. axis+ and then immediately adds axis-.

[2019-07-18 19:46] rkitover commented on #196
No we probably don't want to persist autofire.

[2019-07-18 20:02] denisfa commented on #469
@DillonCC97 It has been fixed and it will be available on our next release. If you have any other issues/ideas for enhancements for the SDL port, please feel free to open another issue.

[2019-07-19 12:47] rkitover commented on #88
Ok I added a better hack for 360 triggers in 2fcad3f8 and that problem is gone.

I think we can close this now.

[2019-07-19 12:48] #88 closed

[2019-07-19 19:27] rkitover commented on #419
Unfortunately the code signing certificate will probably not be ready for the next release.

I need to get a letter from a lawyer before they will issue it to me and that may take some time.

[2019-07-19 19:39] rkitover commented on #354
Nothing too exciting, minor fix for the 360 controller triggers:

[visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3412487/visualboyadvance-m-Win-64bit.zip)
[visualboyadvance-m-Win-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3412488/visualboyadvance-m-Win-32bit.zip)

[2019-07-19 20:17] rzumer commented on #466
This can be considered solved after changes made in https://github.com/libretro/gambatte-libretro/pull/138 are reproduced here.

[2019-07-19 20:18] #466 closed

[2019-07-21 03:58] DeathWrench opened #473 "MSU1 Support"
I've been using some MSU1 for snes9x and it would be really cool to enhance the GBA audio by doing the same thing. I know you guys have lives and it might not become a thing for a long time, but it would be a really cool feature to have nonetheless.

[2019-07-21 03:59] ZachBacon commented on #473
Not really going to happen, it's specific to the SNES.

[2019-07-21 03:59] #473 closed

[2019-07-21 04:02] DeathWrench commented on #473
Dang

[2019-07-24 22:47] rkitover commented on #362
@denisfa implemented WASD and KL/IO for game keys in #467 as well as 360 controller defaults. Works for me. Closing this now.

This will be in the next release.

[2019-07-24 22:47] #362 closed

[2019-07-25 00:41] #416 closed

[2019-07-25 01:22] retro-wertz commented on #463
this should be reopened. there is still no default input bind set, keyboard or gamepad, when vbam.ini already exists in path even without the [Joypad/1] / [Joypad/2]. so meaning that non existing entries (at least for key/joy binds) are not filled with default values.

sample 1 (success story)
delete vbam.ini
run visualboyadvance-m
default binds are set...

sample 2
create vbam.ini (can be empty o

[2019-07-25 01:32] rkitover commented on #463
@retro-wertz thank you for testing!

Whether or not we should fix this depends on this, was the empty config file created with a release version or from git? Because as far as I know the problem has only existed in master for a few weeks between a couple of @denisfa's commits.

I will reopen this and let him decide how to handle this.

[2019-07-25 12:55] Eksevis opened #475 "Controller Doesn't Work on Some UI in Adventure Red"
### Please fill out this form:

### Expected behavior
In the rom hack, Adventure - Red Chapter, it should allow you to easily move pokemon around in the PC and the Pokemon menu.

### Actual behavior
On the Pokemon select screen, it moves back and forth and nearly unusable speeds regardless if throttle is activated or not. On the PC, it moves back and forth between the boxes, making it difficult to

[2019-07-25 13:21] rkitover commented on #475
Does this work in e.g. mGBA?

[2019-07-25 13:22] rkitover commented on #475
This sounds like a memory corruption issue.

[2019-07-25 13:41] retro-wertz commented on #433
looks promising here....

![Screenshot_2019-07-25_21-39-49](https://user-images.githubusercontent.com/23315382/61879108-fe33c580-af24-11e9-9291-98727fe0335f.png)

![Screenshot_2019-07-25_21-40-15](https://user-images.githubusercontent.com/23315382/61879091-f411c700-af24-11e9-99b0-9c7947a6487f.png)

[2019-07-25 14:19] retro-wertz commented on #457
making progress, but realized there are at least 2 MMBN6. i had the Gregar here on test, Falzar should probably connect the same.

![Screenshot_2019-07-25_21-39-49](https://user-images.githubusercontent.com/23315382/61882065-4b666600-af2a-11e9-86f6-e8b77e74a459.png)

![Screenshot_2019-07-25_21-40-15](https://user-images.githubusercontent.com/23315382/61881992-240f9900-af2a-11e9-8761-350b10a183ac.p

[2019-07-25 14:30] ssbmars commented on #457
Yeah there are two separate versions, Gregar and Falzar. They connect between each other with no issue.
Different localizations are incompatible though. There are 3 separate localizations: JP, EU, and international. It can be tricky because both EU and international are in English but they can't connect between each other

[2019-07-25 14:39] retro-wertz commented on #457
ok. ill see if i can at least trade with the two versions

[2019-07-26 00:37] denisfa commented on #463
The file is not empty; rather just some options not set (as in option=""). The input was supposed to be set as well, but there was a bug in one of the `if`'s when setting it.

Yeah, I do agree with him. I think we can do something more smart for this, although I need to think better about how to do it. The sample 2 gave me some good ideas; I want to check how some other default options are handled

[2019-07-26 15:35] retro-wertz opened #476 "[Debugger] Logging showing erroneous values"
### Please fill out this form:

### Expected behavior

aside from it has memory leaks, it should work as expected. and this used to log to a text file but not anymore .

### Actual behavior

returns erroneous values, no logging.

### Steps to reproduce the behavior

load gba game. goto tools > Logging. check on anything that would show an output. compare to source code to compare formatting..

![S

[2019-07-26 15:36] retro-wertz commented on #275
any update on this?

[2019-07-26 16:24] denisfa commented on #476
@retro-wertz Thanks for the report! We will see what we can do.

[2019-07-26 16:34] denisfa commented on #275
@retro-wertz I can confirm this is still an issue. We will investigate further and try to fix it.

[2019-07-26 20:58] denisfa commented on #476
@retro-wertz Could you check if 855db11d980dd3e666450fce551da9e19bfca7eb solves the printing issue for you? I did some testing (including yours `log(`), and it worked (or at least I think it did).

The memory leak will be tackled another time.

[2019-07-26 22:37] retro-wertz commented on #476
guess no need to check. its merged anyways.

why do you need
wxString msg = wxString(buf, wxConvLibc); and wxGetApp().log.append(msg);?

systemScreenMessage(msg) can already converts char to wxString in another func: https://github.com/visualboyadvance-m/visualboyadvance-m/pull/477/files#diff-eb93ac5b83fdc8781e2492a80e665e30R1038

[2019-07-26 23:19] ZachBacon commented on #476
@retro-wertz mind checking it still?

[2019-07-27 20:56] Kzitold opened #478 "release v2.1.3 (from Releases "visualboyadvance-m-Win-64bit.zip") crashing."
### Please fill out this form:

### Expected behavior
The exe not crashing

### Actual behavior
[The exe crashing with an error dialog.](https://www.dropbox.com/s/pcc1odwhbbku84d/Screenshot%202019-07-27%2016.46.29.png?dl=0)

### Steps to reproduce the behavior
Freshly extracted exe using WinRAR
Just the exe. No other files extracted.

### Build details
[Here's a copy of the receipt.](https://www.d

[2019-07-27 21:06] ZachBacon commented on #478
For the time being use the latest build from here https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354 the issue has been fixed

[2019-07-27 21:06] #478 closed

[2019-07-28 01:28] Kzitold commented on #419
Ever plan on displaying the set directory in the launcher operated with arrow keys and "Enter" like PJ64 and Dolphin does instead of the black screen where I gotta mouse to `File\Open\ROM.zip`?
Would make it easier in the livingroom where the controller would be the only input.

I can't imagine it being too difficult, considering I've already done it as a [Powershell script](https://www.dropbox.co

[2019-07-28 03:26] ZachBacon opened #479 "Feature Request"
@Kzitold said
Ever plan on displaying the set directory in the launcher operated with arrow keys and "Enter" like PJ64 and Dolphin does instead of the black screen where I gotta mouse to File\Open\ROM.zip?
Would make it easier in the livingroom where the controller would be the only input.

I can't imagine it being too difficult, considering I've already done it as a Powershell script in under 700

[2019-07-28 06:04] Kzitold commented on #479
Didn't think it was important enough to be posted as an issue.

You're missing the link, btw.
https://www.dropbox.com/s/iwphmewifmi658s/visualboyadvance-m.txt?dl=0

[2019-07-28 13:46] ZachBacon commented on #479
You never gave the link, What I posted was the entirety. No link was included.

[2019-07-28 13:47] ZachBacon commented on #479
Chat is meant more for the developers, not to make requests

[2019-07-28 15:02] Kzitold commented on #479
Didn't see anything about the Chat being mainly for developers, though I've only skimmed it.

But thanks for reposting it as it's own "issue." I'm assuming that means it's being added to the to-do list?

Also, the original post did include the link. It was just done as `[words words words](url.com)` with the markdown tools to not clutter your screens.

[2019-07-29 11:03] rkitover commented on #419
An update on the certificate, I decided to get an individual certificate instead, that only involves a notary instead of lawyers so I should be able to get this done soon I hope.

[2019-07-31 03:06] smellyonionman opened #480 "Maybe a giant oversight but how do I start it..."
### Expected behavior
Produce a command to run the emulator

### Actual behavior
Successfully compiled with no way to run the game

### Steps to reproduce the behavior
Compile on Ubuntu 19.04 and be a total noob about it
### Build details

Operating System (Windows, Mac, Linux (state distribution), etc.): Ubuntu 19.04

If using Linux, specify if using xorg or Wayland: XOrg

Version of code (pre-bu

[2019-07-31 03:08] ZachBacon commented on #480
you didn't install it, and if you want to run it in the build directory you need to run it in terminal as ./visualboyadvance-m or just double click on the executable

[2019-07-31 03:10] smellyonionman commented on #480
I actually just noticed that file in the build directory.
I seem to be forgetting Linux faster than I am learning it :D  I had it installed last time, apparently.
Thanks for the tip Mr. Bacon.

[2019-07-31 03:11] #480 closed

[2019-08-05 19:49] denisfa commented on #426
@rkitover I did some research on this issue and it seems to be the same as #65. The ASAN debug points to the same line, and it is the same cause:

Same video driver.

Same random crash behaviour. Also you can reproduce it on Linux using the Simple driver and using no filters. Just like the other issue, it is fixed by c366907.

I think I have an idea about why this happens. When we save/load a save

[2019-08-06 18:45] Gumbag opened #483 "Two words not translated into Brazilian Portuguese (pt_BR)"
### Expected behavior
Putting the translation, the emulator (less a few words, because there is no direct translation) would be translated

### Actual behavior
Only two words are not translated, which are Open (GBA) and Quit
Open=Abrir
Quit=Sair

### Steps to reproduce the behavior
Put the translation in Brazilian Portuguese

![Sem título](https://user-images.githubusercontent.com/51837985/6256722

[2019-08-06 19:01] ZachBacon commented on #483
Not really a bug, more like an incomplete translation.

If you're able, could you submit this to https://www.transifex.com/bgk/vba-m

[2019-08-07 00:46] Gumbag commented on #483
I didn't know where to report this

[2019-08-07 00:52] ZachBacon commented on #483
That's fine, I wasn't being critical or anything.

[2019-08-07 00:54] Gumbag commented on #483
Ok

[2019-08-07 03:08] retro-wertz commented on #475
post screenshot of rominfo (as requested in template) and upload the savefile.

[2019-08-07 03:35] Gumbag opened #484 ".sav files corrupted for non-US region ROMs"
### Expected behavior
Open game and play normally

### Actual behavior
The game says the data is corrupted and you can't play

### Steps to reproduce the behavior
Open game and see if data is corrupted

### Crash bugs
Just can't play

### ROM details
Zelda A Link To The Past & Four Swords, both normal rom and hack rom

[2019-08-07 04:16] ZachBacon commented on #484
what version of vba-m are you using? one of the nightlies? Release build? You left out some important information. If you could provide them please, we can better diagnose your issue.

[2019-08-07 04:38] rkitover commented on #419
@ZachBacon @denisfa

I was issued the certificate.

I need both of you to send me your GPG public key id so that I can send you an encrypted email with the certificate.

[2019-08-07 14:22] cyberdyne-sys commented on #483
Gumball seems to be right i guess, since these aren't just untranlated, but rather hardcoded strings. This issue is present in the hungarian localization too, with several more hardcoded strings anyways.
A few examples:

![vba-m_hardc-str_01](https://user-images.githubusercontent.com/38621070/62630548-7049d880-b92f-11e9-8a77-00dae255e62e.jpg)
![vba-m_hardc-str_02](https://user-images.githubusercon

[2019-08-07 16:41] Gumbag commented on #484
I'm using version 2.1.3, when I was using 1.8.0, it didn't happen, I tried to create a .sav file to see if I could, but it wasn't

Original:
![Sem título 1](https://user-images.githubusercontent.com/51837985/62640890-e3942000-b918-11e9-90ed-a5574a0fd184.png)

Hack:
![Sem título](https://user-images.githubusercontent.com/51837985/62640961-07effc80-b919-11e9-9cf8-956fcfa020dd.png)

[2019-08-07 16:42] ZachBacon commented on #484
Can you try this build? https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-513351748

[2019-08-07 17:06] retro-wertz commented on #484
send me or post you savefile. ill test.

[2019-08-07 17:26] Gumbag commented on #484
When I try to create, it prevents saying that the file cannot be created

![Sem título 2](https://user-images.githubusercontent.com/51837985/62643892-5accb280-b91f-11e9-91a5-291fd81162ab.png)

[2019-08-07 17:31] ZachBacon commented on #484
You aren't using a nightly, the latest build should be versioned 2.1.3-2fcad3f8, again please try the nightly.

[2019-08-07 17:38] Gumbag commented on #484
I used this version and gave the same error

![Sem título 3](https://user-images.githubusercontent.com/51837985/62644691-09252780-b921-11e9-9f58-36459aa69767.png)

[2019-08-08 22:32] #463 closed

[2019-08-08 22:34] rkitover commented on #419
@denisfa also I need your GPG public key ID.

If you don't have a GPG key yet, create one and upload it to a key server, then give me the ID (fingerprint.)

This is so I can send you the codesigning cert.

Also once we finish with your ffmpeg PR, do you think it would be a good time to do a release?

[2019-08-09 22:30] Gumbag commented on #484
I could not create a file in 2.1.3-2fcad3f8

[2019-08-09 23:20] denisfa commented on #419
@rkitover Sorry, I forgot about this. I need to ask something. Did you have to pay for this? If you did, I believe I should not get the cert, since I did not contribute. I am also a very recently added maintainer/contributor, while you two have been here for quite some time. I think only you two should have it, at least for now.

Yes, I was also trying to delay the next release for this, since the

[2019-08-10 00:45] Gumbag opened #485 "Emulator can not connect control Xbox 360"
### Expected behavior
When connecting the control, could change the controls

### Actual behavior
After you change the buttons, when you exit setup, the button menu is blank.

### Steps to reproduce the behavior
Connect the Xbox 360 controller to the computer, change the buttons, after switching press ok

### Hardware details:
Xbox 360 Wireless Control with Receiver

[2019-08-10 01:10] ZachBacon commented on #485
I can not confirm this bug, Input works as expected on both my wireless Xbox 360 Controller and Xbox One Controller. I'm beginning to think your issue is that you're running from a read only location, same with your other issues.

[2019-08-10 01:11] denisfa commented on #485
@Gumbag Thanks for the report. Could you provide a screenshot of the input menu configuration before you press `Ok` but after setting the input?

Also, could you report the version you are running, please?

[2019-08-10 01:18] denisfa commented on #485
@Gumbag Oi! Eu acho que você é brasileiro por causa do problema # 483, então se quiser pode mandar mensagem em português mesmo para mim. Nós estamos com dificuldades em reproduzir alguns dos problemas que você reportou; se você puder, dê mais detalhes. Faz upload do seu arquivo de configuração `vbam.ini`, por favor. Pode nos ajudar a resolver isto.

[2019-08-10 01:30] Gumbag commented on #485
![Sem título](https://user-images.githubusercontent.com/51837985/62815866-40e4c880-baf5-11e9-815d-a662201abbf5.png)

![Sem título 1](https://user-images.githubusercontent.com/51837985/62815871-493d0380-baf5-11e9-9755-6cd70573714a.png)

[2019-08-10 01:46] denisfa commented on #485
@Gumbag Nós estamos com um problema de tradução para mapear o controle. O programa não reconhece nenhuma tradução dos controles (exemplos: `Controle1-Hat0N` e `Controle1-Botão5`). Como ele não reconhece, ele apaga a configuração no `Ok`.

Isso não é apenas para português, é para qualquer idioma que não seja inglês americano. Nós já resolvemos isso, mas vai estar disponível apenas na nossa próxima

[2019-08-10 01:47] Gumbag commented on #485
Ok

[2019-08-10 01:50] denisfa commented on #485
@ZachBacon It is a translation issue. It is a duplicate of #110 for `pt_BR`. We already fixed this in #458. Just waiting for the user feedback.

[2019-08-10 01:56] denisfa commented on #484
@Gumbag Você consegue criar algum arquivo no diretório onde você está tentando criar o arquivo de save? O pessoal acha que é um problema de permissão de diretório. Se você mudar o jogo da pasta para uma em que você consegue criar arquivos, isso acontece (tipo sua área de trabalho)? Se sim, você chegou a usar uma pasta dedicada para arquivos de save? Isso está no arquivo de configuração `vbam.ini`.

[2019-08-10 02:05] ZachBacon commented on #485
@denisfa Alright, once we get your changes settled, 2.1.4 will be marked. We still need to do those before doing a 2.1.7 ;)

[2019-08-10 02:14] Gumbag commented on #484
@denisfa eu já criei uma pasta para saves, mas o problema continua, tentei criar um arquivo .sav e importar e não funcionou, um outro jogo, o Pokémon Emerald não cria um arquivo .sav, mas dá para salvar o jogo mesmo assim, o problema acontece independente da pasta em que o jogo estava, e parece que meu emulador não criar um arquivo vbam.ini, não sei o meu computador Windows 8.1 não cria o arquivo

[2019-08-10 02:37] denisfa commented on #484
@Gumbag Cria um arquivo vazio no bloco de notas com nome `vbam.ini` (você tem que abrir o bloco de notas, e na hora de salvar adicionar o `.ini` -- verifica se o tipo é "arquivo de configuração" ao invés de "Documento de texto") no mesmo diretório onde está o executável `2.1.3-2fcad3f8` (tem que ser onde está o `.exe`). Apenas cria, abre o programa e fecha. Depois, verifica se o arquivo `vbam.ini`

[2019-08-10 02:42] denisfa commented on #484
@Gumbag  (2) tenta, pelo emulador, criar um arquivo de save. Não é para você tentar criar um arquivo `.sav` vazio na pasta e tentar importar*

[2019-08-10 03:25] Gumbag commented on #484
@denisfa eu já tentei com o jogo rodando, mas não funcionou, só consegui fazendo de outro jeito, entrei em outro emulador, rodei o jogo e peguei o arquivo .sav e deu certo.

[2019-08-10 03:46] denisfa commented on #484
@Gumbag Eu queria entender o porquê do `vbam.ini` não ser criado. Esta pode ser a causa do problema. Você tentou com o meu procedimento? Se você estiver com um arquivo `vbam.ini` na mesma pasta do executável, ele usa este arquivo ao invés do padrão.

Só para confirmar, quando você pressiona "Windows + R", digita "%localappdata%" e confirma com Enter, você visualiza uma pasta `visualboyadvance-m`?

[2019-08-10 04:23] Gumbag commented on #484
@denisfa vi e o arquivo está nesta pasta, o emulador só não estava criando na pasta onde esta ele, e eu tinha tentado com o seu procedimento, mas não deu certo, e meu windows é 64 bits.
Esse problema, também vi em um emulador de celular, que os dados estão corrompidos.

[2019-08-10 04:51] denisfa commented on #484
@Gumbag Se eu entendi direito, existem dois problemas então:

1. Você não consegue criar arquivos `.sav` com os jogos na versão nova;
2. Você não conseguiu importar um arquivo `sav` de uma versão antiga para uma nova;

Quando você fala que criou uma pasta para saves, o que isso significa? Você colocou todos os saves lá ou no emulador você apontou que os saves deveriam ficar nesta pasta?

Existe al

[2019-08-10 05:01] retro-wertz commented on #484
you should check if other gba game saves fine. in any case this could be path issue or language (assuming your locale)

game works fine on my end (screenshot even taken from the stable 2.1.3 release) :
![Screenshot_2019-08-08_00-58-00](https://user-images.githubusercontent.com/23315382/62817781-9f01c200-bb6e-11e9-94c0-6366c43fd975.png)

[2019-08-10 05:19] Gumbag commented on #484
@retro-wertz I think it must be really region, I just downloaded the USA version and it worked, I took the other .sav to see and it worked, I was using the European version.

@denisfa eu fiz uma pasta para saves para não ficar meio "poluída" a pasta do emulador e fiz o emulador mandar os saves para lá, acabei de ver também e o pokémon está criando um save, acho que o problema esta na região do jog

[2019-08-10 05:22] ZachBacon commented on #484
Next time, just drag the file into the comment box, it'll upload the file.

[2019-08-10 12:26] rkitover commented on #419
@denisfa It's fine, I want you to have the cert so that you can make releases, so that the windows binaries do not trigger any AV isssues.

As far as money is concerned, I actually need to look into getting some funding for the project, through patreon or whatever, especially for things like this. But again please don't worry about this, I got the cert just for this, and I want all three of us to

[2019-08-10 12:29] rkitover commented on #485
@Gumbag please try latest nightly.

[2019-08-10 12:29] #485 closed

[2019-08-10 12:32] rkitover commented on #484
So what I gathered from this is that for ROMs that are non-US region the `.sav` file might get screwed either upon reading or writing.

[2019-08-10 14:55] RunisDauphin commented on #483
I know I have asked this in a previous issue, and now that it seems to work, I would like to know: how do you make now translations make effect in your emulator? I would like to try M. Kitover's work on the Spanish and French translations.

Thanks for the info.

Runis Dauphin.

P.D.: I had troubles getting my account unflagged. I have no idea what happened, how and who (and I do not care as long a

[2019-08-10 15:10] Gumbag commented on #483
@RunisDauphin download the translation and put it in the folder where the emulator is.

[2019-08-10 15:19] RunisDauphin commented on #483
Thank you, I will try as soon as I get to my store unit. I will answer as soon as I manage to make it work.

[2019-08-10 15:43] Gumbag commented on #484
Acabei de ver e parace que só o zelda não está criando um save, e outras rons europeias criam arquivos .sav e não dizem que os dados estão corrompidos.

[2019-08-10 16:23] retro-wertz commented on #484
using the EU rom, which has different languages is not also a problem saving games. what i said above is the language or locale of vbam itself since it has been a known problem...

[2019-08-10 17:06] Gumbag commented on #484
quando vi o problema, tudo no game overrides estava em default, e mesmo colocando o save type em automatic, ainda continuou o problema, tentei colocar outros idiomas, como o espanhol da Espanha e o francês da França, e não traduziu para eu ver se o problema resolvia

[2019-08-10 22:19] rkitover commented on #484
If you guys could narrow down the exact cause, so that we know what to fix, it would be highly appreciated.

[2019-08-14 02:01] denisfa commented on #419
@rkitover Sorry for going MIA, I had to take a time to focus on something from work. I will still be a little busy, but will be able to do something here.

Ok, if that is the case, I will create a gpg key for this. Once I set this up, I will give you the asked info.

So... @ZachBacon, did something happened? I see we are missing someone... It is not possible that  this was caused by #486, since I

[2019-08-14 09:26] rkitover commented on #419
You mean retro-wertz? Well he does not want to be involved with us, it's nothing you did, and it doesn't really matter I'll keep merging his vbam-libretro fork.

[2019-08-15 00:23] denisfa commented on #407
@rkitover Before I forget about this, the error is [here](https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/src/Util.cpp#L78). This variable does not exist for `winXP`; all the API actually changes after `winXP`. There is a better way to get the equivalent of this variable, I have a test code ready with this. We can do this as a workaround:

[code]

[2019-08-15 01:31] negativeExponent opened #487 "UPS soft-patching fails to work, runs the rom unpatched"
### Please fill out this form:

### Expected behavior

Soft-patching should just works in most cases unless patch itself is damaged.

### Actual behavior

No softpatching happens when using .ups file

### Steps to reproduce the behavior

in this example, ill be using .ups named "Pokemon Adventure : Red Chapter 14.5", which itself is a rom patch for Pokemon Fire Red Version 1.0.

1. Download the .u

[2019-08-15 14:28] rkitover commented on #407
I think now that I know more about this, we can just forget about this.

It's not even possible to build the toolchain for this project on mingw targetting XP, a lot of things need the Vista API or higher. Some things now need the Windows 7 API.

So I will just close this as WONTFIX.

[2019-08-15 14:29] #407 closed

[2019-08-15 15:26] rkitover commented on #196
@denisfa can we close this now?

[2019-08-15 15:27] #55 closed

[2019-08-15 15:30] #124 closed

[2019-08-15 18:43] rkitover commented on #124
Fixed in 5848feae.

[2019-08-17 17:22] HiImBrala opened #488 "VBA-m stutter"
### Expected behavior
Game should run in normal speed
### Actual behavior
Game is smooth then slows down back to normal
### Steps to reproduce the behavior
Play any game

[2019-08-17 20:43] XXXBold opened #489 "Suggestion: Update build process to wxWidgets based on GTK3 for linux"
I'm referring to the PPA for Ubuntu: https://code.launchpad.net/~sergio-br2/+archive/ubuntu/vbam-trunk

The build process should be updated to use wxWidgets based on GTK3 instead of GTK2.
Reason is GTK2 is deprecated and a lot of distros will try to avoid it on the future.

Are there any regressions or other reasons why GTK2 is still used?

[2019-08-17 22:29] ZachBacon commented on #489
That's an issue to bring up to the maintainer of that ppa, we do however already allow vba-m to compile against wxwidgets that itself is compiled against gtk3.

[2019-08-17 22:29] #489 closed

[2019-08-18 20:50] rkitover commented on #354
I should call these **MONTHLIES** instead of **NIGHTLIES**.

Anyway, here is a new build, with various minor things. And updated translations.

@NoDuff the windows builds are codesigned, can you see if your slow loading time issue is fixed please?

I will post binaries built with ffmpeg for recording soon using @denisfa's new working recording code, I just need to update the build scripts to build

[2019-08-18 20:51] rkitover commented on #419
New codesigned windows nightlies posted. Will post another set with ffmpeg and mac builds soon.

[2019-08-19 02:18] ZachBacon commented on #419
@rkitover thanks for taking the time for this. I should be back at it soon myself.

[2019-08-19 16:23] denisfa commented on #419
@rkitover Sorry for the delay, I am still studying some gnupg options, but here is the public key for the cert:
[public.key.txt](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3516693/public.key.txt)

I won't upload this to a key server yet, because I want to play around some options and get a new email.

Let's get the new version up soon. I have some ideas about what to do next.

[2019-08-19 16:25] denisfa commented on #196
@rkitover Yes, everything here is ok now.

This was fixed in several commits and will be available next release. The only notice is that we don't want autofire to persist, at least for now.

[2019-08-19 16:25] #196 closed

[2019-08-19 16:32] denisfa commented on #488
@HiImBrala Sorry about the delay here, but could you provide more information? Fill the information on the issue template, please. This helps us to reproduce this behaviour and fix it.

[2019-08-19 16:37] denisfa commented on #419
Just as an extra, the recording solution has some follow up work available. At the current moment, we have a fixed output size (width and height), but we could use any value. If we could create a modal to get the desired output (format, width, height and quality), this could all be an user input.

[2019-08-19 20:34] rkitover commented on #419
@denisfa I sent you the cert with instructions. I'll update the release instructions here as well.

@ZachBacon I sent you updated instructions for codesigning.

I fixed a couple of minor issues with the mac builder and posted a nightly mac build. I need to make a minor change to do 32 bit builds too (Xcode 10 does not support 32 bit builds, so you have to use Xcode 9.)

Next step for me is to resu

[2019-08-19 20:44] NoDuff commented on #354
The codesigned 32bit build still takes ~25 seconds to show the gui, even with BitDefender Active Threat Defense & BitDefender Shield turned off.

The codesigned 64bit build refuses to launch; visually it does absolutely nothing when I run it, not even an error. The build from July 19, takes the expected (for my PC) ~25-30s to initially load.

I also went ahead and tested the builds (July 19 & Aug

[2019-08-19 20:55] rkitover commented on #354
@NoDuff I think I know why, I re-enabled LTO but apparently that's still broken on 64 bit mingw, I'll have a fixed build shortly.

Thank you for testing!

[2019-08-19 21:23] rkitover commented on #354
@NoDuff uploaded fixed 64 bit binary.

[2019-08-20 02:18] ZachBacon commented on #354
The only LTO that's working at the moment really is just clang's lto from personal testing. GCC's lto for mingw is just quite work well

[2019-08-20 02:19] ZachBacon commented on #419
@rkitover received the email. I'll see about getting a docker image built

[2019-08-20 02:24] ZachBacon commented on #419
@rkitover also https://ci.appveyor.com/project/ZachBacon65337/visualboyadvance-m-2ys5r/builds/26813681 seems there's a duplicate if statement on line 529 for CMakeLists.txt

[2019-08-20 02:28] ZachBacon commented on #419
I see you noticed it, thanks. I was about to push my own fix.

[2019-08-20 02:36] rkitover commented on #419
I'm still trying to get this to work.

[2019-08-20 02:37] ZachBacon commented on #419
I see that, I'm also thinking, we could also setup artifact builds as nightlies for at least windows, have it push to something like bintray repo

[2019-08-20 02:39] ZachBacon commented on #419
I also need to see about switching out covarity with something else, before retro-wertz left, he actually mentioned something to me https://lgtm.com/  For now I'll just disable covarity

[2019-08-20 05:30] rkitover commented on #419
coverity is actually completely useless to us because we have zero tests

[2019-08-20 06:15] rkitover commented on #419
On the idea of using appveyor artifacts, we could possibly do something later, once static vs builds work.

[2019-08-20 07:39] rkitover commented on #465
Finally got around to updating the `README.md`.

[2019-08-20 08:31] rkitover commented on #419
Ok appveyor works now.

I signed up all of us for build failure email notifications, you're welcome.

I did some other minor housekeeping, updated the `README.md` and made some cmake options auto-detect.

That's enough for today I think, later I will work on updating the ffmpeg builder code.

[2019-08-20 20:09] denisfa commented on #431
@rkitover Out of curiosity, what do we want to disable with `ENABLE_DEBUGGER=OFF`? If we look at the main menu, what do we want to remove from there?  Just the `tools` > `GDB` or something else?

[2019-08-20 23:00] #414 closed

[2019-08-20 23:03] rkitover commented on #431
@denisfa yeah I think it's mostly the GDB support, however the routines used for this in the core, which are compiled out when this option is turned `OFF`, are used for other GUI elements as well.

[2019-08-21 00:06] denisfa commented on #407
@rkitover Just to be sure that this is known... If you use the fix suggested and compile for `i686` using minGW, it works out of the box for Windows XP. That is how I tested it.

I agree with dropping support because XP is very old.

[2019-08-21 00:08] denisfa commented on #414
@RunisDauphin Several of the issues you opened are now coded/fixed. Check some of them on our next release (it should be soon).

[2019-08-21 00:42] rkitover commented on #407
@denisfa oh it actually works on XP? That's very interesting, the later APIs in the libraries must not then be in the codepaths that we use. I might take a look at this again then.

[2019-08-21 00:45] #487 closed

[2019-08-21 01:34] EpicWink commented on #419
Did master just get a force push? I had to do a pull-rebase to update today (6fe2fa3c...06a9d786)

[2019-08-21 01:52] ZachBacon commented on #407
I think it's partly because mingw-w64 crt has been focusing on platforms other than i686 more, most recently someone started updating the crt for i686, so I'm not entirely sure how long it'll work.

[2019-08-21 03:17] negativeExponent opened #492 "Gamepad A & B buttons default config is reversed"
### Please fill out this form:

### Expected behavior

button layout for gamepad should ba B then A (like whats currently on keyboard binds).

For example playing a platform game, the left button should make your sprite jump, right button usually shots fireballs or makes you run fast on horizontal layout.

### Actual behavior

button binds for gamepad by default is reverse of keyboard binds.

###

[2019-08-21 08:34] negativeExponent commented on #492
does it need to? when its just the default binds thats the problem?

[2019-08-21 08:37] ZachBacon commented on #492
It matters. Detail is always important. What may seem not so trivial, could mean the difference of knowing if you're using either git master, a release or a released nightly, also platform (which I doubt, but still good to know) you're running this on.

[2019-08-21 13:54] rkitover commented on #419
Yes it did, I was fixing the appveyor shit and I didn't want to have like 100 commits. And yes I realize that you shouldn't force-push to master and I almost never do that.

Anyway, just do this:

[code]

[2019-08-21 13:58] rkitover commented on #492
The reason for this is that we are using the actual A and B buttons for the xbox 360/xbox one controller, so this is the intended behavior.

[2019-08-21 14:00] rkitover commented on #492
I suppose we could have a drop down for default configs for some other gamepad models.

[2019-08-21 20:33] rkitover commented on #354
Well the mingw lto works fine for 32 bit.

[2019-08-21 20:35] ZachBacon commented on #354
I meant from 64bit LTO.

[2019-08-21 20:40] rkitover commented on #419
@denisfa @ZachBacon

I've been updating the transifex stuff and I wanted to post some instructions on how to do that.

Whenever you make changes to the XRC or any translated strings, you have to update the source and push it:

[code]

To pull new translations, which should be done periodically, especially soon after the source is updated, do this:

[code]

[2019-08-22 09:42] rkitover commented on #419
@denisfa @ZachBacon

I forgot to mention, I got a set of licenses for the CLion IDE for our org.

It's a C/C++ IDE. It has vim compatibility with the IDEAVim plugin.

If you want a license let me know.

[2019-08-22 16:48] ZachBacon commented on #419
@rkitover I dunno, I kinda like my workflow so far. But I'll give it a try, looking at some of the features, they look useful.

[2019-08-23 19:22] YALouis commented on #483
![Uploading image.png…]()

I download the translation and attempt to put it any where I thought it should be, however that doesn't work. :(  Would you please tell me how should  me deal with this .mo or .po files.Thanks!

[2019-08-23 19:24] YALouis commented on #483
![image](https://user-images.githubusercontent.com/35215030/63618445-ac16ba80-c61e-11e9-98db-2da60c785dba.png)

[2019-08-23 19:37] ZachBacon commented on #483
so the po is an uncompiled translation, so off hand that won't work, you need the .mo file which should go in the locale folder of the same name. so if it's zh_CN.mo then it goes into locale/zh_CN/zh_CN.mo

[2019-08-23 22:41] rkitover commented on #483
I have the newest `translations.zip` in the nightly thread.

[2019-08-24 00:12] YALouis commented on #483
I download the locale.7z from http://www.vba-m.com/ and unzip it ,but there is only 'zh_TW' in it. I created 'zh_CN' myself ,and put some .mo files in it(can be seen in the photos),but it still not works.My OS should be chinese  simplified.

![image](https://user-images.githubusercontent.com/35215030/63629740-9321ff80-c646-11e9-9bd7-9d963cbb9614.png)
![image](https://user-images.githubusercontent.

[2019-08-24 00:25] ZachBacon commented on #483
get it from here https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354 webpage for vba-m.com is out of date. I still need to redesign the site.

[2019-08-24 01:15] anewuser opened #493 "Non-ASCII keys aren't saved as an input key"
### Expected behavior
Map `A` to <kbd>Ç</kbd> on my keyboard.

### Actual behavior
The input field is cleared after I close the Joypad Configuration window.

### Build details
Windows 10
VBA-M 2.1.3

[2019-08-24 01:40] rkitover commented on #493
use latest nightly, this is fixed

[2019-08-24 15:30] anewuser commented on #493
@rkitover

![screen](https://user-images.githubusercontent.com/6733770/63639530-ae9f0180-c66a-11e9-8b47-065db8a216ed.gif)

![version](https://user-images.githubusercontent.com/6733770/63639531-b2cb1f00-c66a-11e9-9fb2-e1c3e0e0db17.png)

[2019-08-24 15:36] rkitover commented on #493
Ok apparently it's not fixed then, sorry. I will take a look.

[2019-08-24 15:47] rkitover commented on #493
It does not even let me enter non-latin characters.

[2019-08-25 11:53] rkitover commented on #493
This is going to be difficult because `wxAcceleratorEntry` does not support unicode keys.

[2019-08-25 13:52] rkitover commented on #493
@denisfa

I'm thinking I'll:

- replace all keyboard APIs to take `(mod, key, char)` instead of just `(mod, key)` with the char from `GetUnicodeChar()`
- make a subclass of `wxAcceleratorEntry` called `wxUnicodeAcceleratorEntry` that also stores the char
- rewrite `FromString` to handle modified unicode chars not parsed by `wxAcceleratorEntry`
- change all the code to use the new APIs and class, a

[2019-08-28 21:32] ZachBacon commented on #488
It's been 11 days, I'm closing this. If @HiImBrala wants to comment and provide more information, at that point I will reopen then.

[2019-08-28 21:32] #488 closed

[2019-08-28 22:07] #164 closed

[2019-08-28 22:11] rkitover commented on #419
@denisfa could you please take a look at our branch list sometime and delete any we don't need, if you have the time and motivation.

To delete a branch from the command line you do:

[code]

[2019-08-29 00:20] denisfa commented on #425
The default buttons have been reworked. This should be fixed, at least for now.

[2019-08-29 00:20] #425 closed

[2019-08-29 00:28] denisfa commented on #419
@rkitover I can, but I will need someone to confirm everything. Let's agree with not deleting without confirmation, please. I will open an issue just for this task.

 I will try to identify these very-specific issue branches. By the way, who is/was arthur? Is there any old dev that I can ask questions about these? I know that those with `link` in the name are very important for when we decide to d

[2019-08-29 00:31] ZachBacon commented on #419
This guy did something interesting with filters etc which to be honest I don't think we need to worry about anymore. But I'll link you his repo, iirc he still has it somewhere. https://github.com/EmperorArthur/VBA-M He hasn't really done anything in years though.

[2019-08-29 03:27] #153 closed

[2019-08-30 04:56] DeadSkullzJr opened #495 "Clicking 16-bit in the Cheat Search Section Crashes the Emulator"
**Expected behavior**
Allow me to click 16-bit in the data size options of the Cheat Search section so making 16-bit searches are possible.

**Actual behavior**
Clicking 16-bit completely crashes the emulator, thus making it impossible to make 16-bit searches.

**Steps to reproduce the behavior**
Open up any game, click Tools->Cheats->Find Cheats->Click 16-bit in the data size section.

**Crash bu

[2019-08-30 05:00] ZachBacon commented on #495
Have you tried one of the nightly builds? https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-522354350 try that and if it still exists we'll look into it further.

[2019-08-30 05:18] DeadSkullzJr commented on #495
Tested, clicking on 16-bit works on this build, but one of the other issues I encountered on the 2.1.3 release build is still present on this nightly build. Might as well tell what's still broken, apparently making any byte edits in the Memory Viewer still causes some weird issues, the bytes you change tend to change on their own when making edits to bytes next or near that byte(s). Obviously we b

[2019-08-30 05:20] ZachBacon commented on #495
No that's fine. I'm about to head to bed myself, but I do thank you for reporting back on the issue. We'll have a look when someone is available on the team.

[2019-08-30 05:21] DeadSkullzJr commented on #495
Thanks, sleep well, and good luck!

[2019-08-31 14:48] rkitover commented on #495
Memory viewer is completely broken, see #486

[2019-08-31 14:48] #495 closed

[2019-08-31 20:11] rkitover commented on #419
@denisfa I'm currently fixing some CI issues, is `libswresample` required for our ffmpeg stuff? Ubuntu 14 does not have this.

[2019-08-31 22:06] denisfa commented on #419
@rkitover Yes, but it should be part of the `ffmpeg` package... Does Ubuntu not use the latest one available?

@ZachBacon Thanks, this repo in particular had this multiple filters at the same time. Not sure if this is good or bad, though. The repos we have as branches here are more interesting in this sense. It feels like a lot of unfinished works. I will take a better look around it.

[2019-08-31 22:08] ZachBacon commented on #419
@denisfa Some of it is, vba-m is a merging of various projects in a various set amount of states.

[2019-08-31 22:23] rkitover commented on #419
@denisfa I found a solution here:

https://www.faqforge.com/linux/how-to-install-ffmpeg-on-ubuntu-14-04/

[2019-08-31 22:34] rkitover commented on #419
Nope, that doesn't help, that ppa doesn't have any of the libs.

[2019-08-31 22:35] ZachBacon commented on #419
appveyor supports ubuntu images right up to 18.04 https://www.appveyor.com/docs/build-environment/

[2019-08-31 22:46] rkitover commented on #419
Looks like travis moved to xenial as the default.

Building on trusty is a good test of backwards compatibility though, so I will just add a couple newer ones to the matrix.

[2019-08-31 23:03] rkitover commented on #419
@denisfa looks like ffmpeg fails on xenial, can you take a look when you get a chance please:

https://travis-ci.org/visualboyadvance-m/visualboyadvance-m/jobs/579289510

[2019-08-31 23:53] rkitover commented on #419
I fixed the CI issues with travis and appveyor, and added xenial and bionic to the travis build matrix.

[2019-09-01 04:33] denisfa commented on #419
@rkitover These issues are due to version mismatch. I used  `ffmpeg>= 4.1` libraries for coding.

When I run, I have these (4.2):
[code]
instead of
[code]

Not sure what version this is... I believe it is  `<3.0` (probably an updated `2.7`).

[2019-09-01 05:13] rkitover commented on #419
@denisfa the question is, and you would know this better since you understand how to code ffmpeg, is can we make the old version with some `#define`s etc..

If not, I will add a version check to the cmake detection.

[2019-09-01 09:15] rkitover commented on #419
If this is not worth fixing, give me the version numbers of the ffmpeg libs I should check for and I will add the checks in cmake.

[2019-09-01 17:56] denisfa commented on #419
@rkitover I will see what can be done. It is very likely that we could get it to work, although I would prefer to not support old versions of `ffmpeg`. For now, I suggest to disable the option for xenial.

[2019-09-01 18:13] gayboi6969 opened #496 "no sound"
### Please fill out this form:

### Expected behavior
sound
### Actual behavior
no sound
### Steps to reproduce the behavior
i looked at the sound options and turned sound all the way up

[2019-09-01 18:16] ZachBacon commented on #496
Please use the full issue template. You left out very important information like your operating system. And the version you're using of vba-m the template is there to help provide us with the appropriate information to better assist you.

[2019-09-01 20:00] rkitover commented on #419
@denisfa yes but I need the version of ffmpeg that you actually support, at least the version of ffmpeg itself and I will get the versions of the libs from that.

[2019-09-01 20:12] denisfa opened #497 "Investigation of current branches of this project."
I will keep some logs and comments about each branch, as well as the dates of deletion.
Started on `01/09/2019` (first of september, 2019).

- [ ] `agbprint`
- [ ] `arthur/PNaCl`
- [ ] `arthur/dsound`
- [ ] `arthur/gles`
- [ ] `arthur/master`
- [ ] `arthur/opengl-ifdef`
- [ ] `arthur/sdl2`
- [ ] `arthur/sergiobenrocha2-master`
- [ ] `arthur/svn-master`
- [ ] `arthur/svn_adamn-link`
- [ ] `arthur/s

[2019-09-01 20:16] denisfa commented on #419
@rkitover From [here](https://ffmpeg.org/download.html) (`FFmpeg 4.0.4 "Wu"`):
[code]

[2019-09-01 20:17] rkitover commented on #419
@denisfa works for me, thanks!

[2019-09-01 20:39] rkitover commented on #419
@denisfa done in 8b347050

[2019-09-01 20:52] ZachBacon commented on #497
I think the linux-static-build should stay as I think @rkitover still has some plans for that. I'm not 100% on that yet.

[2019-09-02 09:51] rkitover commented on #419
@denisfa @ZachBacon

I wrote a new, much better version of my docker guide for testing things on arbitrary linux distributions:

https://gist.github.com/rkitover/6379764c619c10e829e4b2fa0ae243fd

[2019-09-02 20:52] #409 closed

[2019-09-04 12:38] shinecurve opened #499 "crash immediately when setting check updates weekly"
when click OK button in General settings with check for updates weekly, application crash immediately.

system: Windows 10 1903 x64 simp_chinese
vba-m version: visualboyadvance-m 2.1.3 64bit

[2019-09-04 13:23] denisfa commented on #499
@shinecurve Thanks for the report. The check for updates was behaving weirdly, so it should be fixed by next release. I will keep this open to investigate some related stuff.

[2019-09-04 14:31] #431 closed

[2019-09-04 17:36] ZachBacon commented on #499
@denisfa technically it should be disabled, however, I've been tempted to reimplement the update checker to something along the lines of winsparkle. But for now it should be technically disabled to ensure this doesn't happen again.

[2019-09-05 00:21] EpicWink commented on #431
Can confirm everything works now with `ENABLE_DEBUGGER=OFF`

[2019-09-05 16:13] denisfa commented on #499
@ZachBacon Yeah, it does nothing at all. I would say to just to `ENABLE_ONLINEUPDATES=Off` by default. I don't know what is good or bad on Windows world, but for linux, especially with this package being in official repos, we could turn if off. No idea about mac as well.

[2019-09-05 16:14] ZachBacon commented on #499
@denisfa I'll have to agree there. Or I would say, make it a platform condition since on linux we don't really need it.

[2019-09-05 16:15] denisfa commented on #431
@EpicWink We should probably have asked you to test it first, sorry. It indeed compiles, but we have to also stop showing some stuff on GUI related to it (yet to be done).

[2019-09-05 16:16] denisfa commented on #497
@ZachBacon No issues, this is mostly an investigation. If it is indeed valid work, I will try to merge it, just like other branch dedicated to a specific issue.

[2019-09-05 16:17] ZachBacon commented on #497
@denisfa I think @rkitover would prefer not to merge that in just yet, WIP stuff and all.

[2019-09-05 16:19] ZachBacon commented on #497
outright though I think the arthur branches for SDL2 and wxv3 probably could be removed since we either already migrated on our own to SDL2 and his changes are primarily unfinished work there.

[2019-09-05 16:21] denisfa commented on #497
@ZachBacon Sorry, I meant finish whatever WIPs are there and then make a PR. I did this to `xbrz1.6` (updated to newer version etc) and some other.

[2019-09-05 16:23] ZachBacon commented on #497
I understand, but I'm saying @rkitover's linux-static branch is more of a personal project I think that uses his build script, and the other two branches I mentioned we tackled on and technically completed in master.

[2019-09-05 16:24] denisfa commented on #497
@ZachBacon Ok, I will take a look and check these.

[2019-09-05 17:51] rkitover commented on #497
deleted `osx-32bit` as that was already merged

[2019-09-06 01:38] #230 closed

[2019-09-08 16:46] #496 closed

[2019-09-09 02:30] andresdb91 commented on #207
Background input on Windows 10 works fine until SVN r1490, but I couldn't make it work on any newer version. I don't know if it's of any help but I'll link it below.

Link to old Sourceforge page (r1490): https://sourceforge.net/p/vbam/code/1490/

[2019-09-09 02:33] ZachBacon commented on #207
@andresdb91 try a nightly if you haven't already. https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-522354350

[2019-09-09 09:50] rkitover commented on #207
Just to be clear, are you guys talking about background keyboard or joystick input? And which would be more important to you?

The SVN version is likely the MFC version, a completely different codebase.

[2019-09-10 01:52] h3x4n1um commented on #207
I have problem with the keyboard background input, haven't try controller yet :p

[2019-09-10 11:00] denisfa commented on #483
@Gumbag Eu traduzi o que faltava na GUI. Vai estar disponível na próxima versão. Se encontrar algum erro de tradução, é só reportar novamente.

@cyberdyne-sys Thanks for reporting. I believe everything should be translatable now. If there is something you want translated ASAP, I would recommend updating [our transifex](https://www.transifex.com/bgk/vba-m/) directly (only if you want and have time

[2019-09-10 17:35] cyberdyne-sys commented on #483
@denisfa Thank you for your efforts. I guess, there are still some issues with "Cancel" and "OK" buttons, just like with the About dialog. I'll review the whole localized GUI as soon as the new compiled pot file appears. Also thank you for the invitation into the translation team, but i'm already the only maintainer of this language.

[2019-09-10 19:05] denisfa commented on #483
@cyberdyne-sys Some of these will still be missing because we need the translation. I did all the pt-BR translation, and all buttons from the screenshots are translated. We should get for all languages eventually, though. Out of curiosity, what is the translation of "Ok" to hungarian?

[2019-09-10 19:58] #447 closed

[2019-09-11 14:13] cyberdyne-sys commented on #483
@denisfa Though, OK can be used in almost every country of the world, just like in Hungary, but in more sophisticated translations it could sound like "rendben", or sometimes - according to the current context - "kész" too.

[2019-09-12 03:24] rkitover commented on #354
Various things in this one:

[translations.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3603551/translations.zip)
[visualboyadvance-m-Win-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3603552/visualboyadvance-m-Win-32bit.zip)
[visualboyadvance-m-Win-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3603553/visualboyadvance-

[2019-09-12 03:38] rkitover commented on #407
Ok I added a fallback to `APPDATA` if `LOCALAPPDATA` is not set, if this works for any poor soul still running XP, then excellent.

[2019-09-13 13:09] RunisDauphin opened #502 "The Default Shortcuts can not be deleted from Key Shortcuts"
### Please fill out this form:

### Expected behavior
Every deleted shortcut key remains deleted until Factory Reset (like Développement Version 19/08/2019 does).

### Actual behavior
The deleted keys will come back next time you open VBA-M Développement Version 12/09/2019.

### Steps to reproduce the behavior
Delete any set of defaut keys from Options -> Key Shortcuts, close VBA-M.exe and re-open

[2019-09-13 13:33] RunisDauphin opened #503 "Emulator running slow on low specs."
Hi, I am Runis Dauphin from Rebelles Unis:

I have troubles with the video settings since version 2.0.0. This emulator runs slow on the computers I try it and I can not apply even the simplest filters I use in any other Game Boy Advance emulator (any old version of VBA or VBA-RR run flawlessly with a hq2x filter, but they do not have anything better than that, and mGBA has its problems with the 2x

[2019-09-13 13:44] RunisDauphin commented on #483
By the way, I am trying the newest developpement version (Windows 32-bit) and I still can not make translation of the emulator lines.

Trying with the es_ES and fr_FR translations, on a Windows 7, Windows 8.1 and Windows 10, all x64 and all with Spanish (Spain) as their S.O. language.

Is it having the language file in the same file as the executable? Is it having the LC_MESSAGES file in the same

[2019-09-13 14:42] denisfa commented on #502
@RunisDauphin Thanks for the report. I can confirm a part of this bug. I am testing this on WIndows 10, but there are some discrepancies:

1. The key indeed stops working. It is not rebooted on next startup. I may need more information here.

2. Replacing `MMX` by `NOOP` did not cause any errors for me.

I will investigate more about this.

[2019-09-13 14:44] denisfa commented on #503
@RunisDauphin What video settings do you use? `OpenGL` or `Simple`? The emulator should not be resource expensive...

What specs are we talking here?

Different issue.

[2019-09-13 16:49] denisfa commented on #502
More information about this. On `guiinit.cpp` we do a lot of things like:
[code]

to deactivate commands because they were disabled on compilation time. `MMX` happens to be the last, both on `cmd_id` and code scope. If you remove this part, then you get the previous to last. Eg:
`DebugGDBBreak=CTRL+F1` when you remove this shortcut on config file.

[2019-09-13 17:19] denisfa commented on #502
Another update: I have a solution ready. Just checking some code stuff first.

[2019-09-13 17:39] RunisDauphin commented on #503
I usually use OpenGL because it is what most of the emulators use as their video coder.

And with specs I speak about PC Processor Power (and Clock Speed) and Graphic Card (because my integrated one in the laptop sucks).

Basically those two things.

[2019-09-13 17:50] denisfa commented on #503
@RunisDauphin Give me more information, please. What kind of CPU (core i3 etc)? What type of graphic card (`GTX 750` etc)? What FPS do you get? What is the resolution when using the filters (1600x900, 4k etc)?

When you run into this issues, do you know if it is actually taking all CPU resources (all cores 100% or very close)?

I can't think of anything that could lead to this. Any ideas @rkitover

[2019-09-13 18:12] RunisDauphin commented on #503
I will answer to that tomorrow, because now I am with my Windows 7 and not the laptop (Windows 8.1).

The Windows 7 computer has the following specs:
Windows 7 Service Pack 1 x64
Procesador Intel Core TM2 Quad CPU Q8300 @ 2,5 GHz
4 GB RAM (3,75 GB usable)

For the sake of comparison, I will be checking the x86 Windows version, with Puyo Puyo Fever (Japan), in Free Battle Mode, Arle (me) versus Pop

[2019-09-13 18:16] rkitover commented on #503
Please use the latest nightly for testing. Also try xbrz6, that is the nicest filter.

We will definitely look for opportunities to optimize.

[2019-09-13 20:10] cyberdyne-sys commented on #483
@denisfa After updating the mo file and the binary with the latest nightly, i made a quick check on the GUI and found the followings to be translating, besides "Cancel" and "OK":

![vba-m_00001](https://user-images.githubusercontent.com/38621070/64891689-ed751580-d672-11e9-95ad-c4e296ddc810.jpg)
![vba-m_00002](https://user-images.githubusercontent.com/38621070/64891691-ee0dac00-d672-11e9-8154-54f3

[2019-09-13 20:12] ZachBacon commented on #483
Some of those, actually probably needs the gettext files from wxwidgets themselves. @rkitover besides vba-m's translations, we should look at getting wxwidgets translations included

[2019-09-14 14:34] rkitover opened #504 "RFD: GUI Redesgin"
@denisfa @ZachBacon

So we've been planning for a while to do an overhaul of the interface, mostly the settings/options, to make something more modern and streamlined. Removing unnecessary/outdated elements etc.

A lot of this would be easy to do, mostly just rearranging the structure of the XRC.

Let's discuss it here.

[2019-09-14 14:43] ZachBacon commented on #504
I completely agree, things like the preferences I think sound be a central location instead of having their own separate dialogues.

Something along say hexchat (but obviously it's gonna be much different than hexchat's but just to give an idea)
![preferences](https://user-images.githubusercontent.com/8948676/64909597-665c8780-d6dc-11e9-9b1d-50f1a4f9b4a8.png)

There's obviously other things that c

[2019-09-16 14:59] denisfa commented on #504
I suggest to create/destroy the window instead of just hiding/showing when you press the menu. I don't know much about other eventual issues of the current gui, so can't talk about that.

Also, is this the case of keeping the wxWidgets `2.8`? I would also want to update it to at least `3.0` (I personally want the latest, `3.1.2`).

[2019-09-16 16:05] Gredolas opened #505 "Link Question"
So im not sure if this is the right place (prob. not but cant find a better place to ask) but Im trying to trade pokemon with a friend and the link connection won't work

I'm not sure how to set up the link, is there any good tutorial/guide for setting up link connections?
I've managed to connect 2 instances of VBA-M on my computer but it won't work online.
Also do i need to portforward? which one

[2019-09-16 16:06] ZachBacon commented on #505
Link is currently having issues. The way it's coded doesn't work so well currently. For now I don't recommend it until it's fixed.

[2019-09-16 16:09] Gredolas commented on #505
Wow that was quick :D Is there a fix coming in the forseeable future or will it take more than a few weeks? (I have no idea about coding, not meant to be rude idk how long it takes to code sth like this)

[2019-09-16 16:12] ZachBacon commented on #505
we have a github bot on our irc channel on freenode.  And it's on the list to do, however it's not exactly high priority of things to fix. But it also isn't low priority either. So it maybe a little while before we get to it fully. Focus at the moment is try and fix UI specific things before we get to core features.

[2019-09-16 16:20] Gredolas commented on #505
Ok thank you very much. So for Pokémon trading i came up with the idea of trading .sav files and then locally (on one pc) trading pokemon. Haven't tried it yet tho. Also if you have some spare time could you link me or explain to me the steps required to get a online link (kind of working) with the current version?

[2019-09-16 16:24] Gredolas commented on #505
Oh well. Thanks anyways! Keep up the great work :D

[2019-09-16 16:37] ZachBacon commented on #505
Keeping it open for tracking purposes.

[2019-09-16 22:36] #499 closed

[2019-09-16 22:36] #502 closed

[2019-09-16 22:46] rkitover commented on #497
Deleted `agbprint`.

[2019-09-16 22:47] rkitover commented on #497
@denisfa thanks for spearheading this effort, all of our branches have been cleaned up now.

The only thing left is to look at the arthur branches and see if there is any useful code there.

[2019-09-17 22:19] denisfa commented on #419
@rkitover I forgot to say, but thank you very much for sending me the certificate and the license of `CLion IDE`. My current IDE is also a paid one by my company, but much more annoying regarding tabs and spaces. Nevertheless, thank you!

I set up a `ubuntu disco` and tried to do the compilation for `windows x64`. I got this error message:
[code]

No secrets here I believe. As an workaround, I ins

[2019-09-17 22:48] rkitover commented on #419
@denisfa The cert company must have fucked something up, I will check with them. Thank you for letting me know.

BTW you can use my builder script too, as described previously.

[2019-09-17 22:50] rkitover commented on #419
Yeah they apparently cancelled my order and I need to gen a new cert.

[2019-09-18 06:21] ZachBacon commented on #504
I suggest at potentially doing some design mockups, see if we can get some form of conformant design going, of how we want a modernized vba-m should look dialogue wise.

[2019-09-18 06:30] mudlord commented on #504
Modernized should have that hexchat like dialog.

[2019-09-18 06:31] ZachBacon commented on #504
Well I only suggested that @mudlord due to the fact it has all the settings in one place instead of having to go to various menu clicks to try and find the right prompt you want. It was just an example that's all.

[2019-09-18 06:32] mudlord commented on #504
well for some settings a more refined experience for instance using checkboxes in the gui. atm, having a all encompassing setting for system paths, input, would be nice.

[2019-09-18 17:31] rkitover commented on #419
@denisfa @ZachBacon ok that's taken care of, I sent you both the new cert.

[2019-09-18 18:07] rkitover commented on #419
@denisfa btw did you use `installdeps` to install the mxe deps? I might be able to update it to use newer repos for mxe.

[2019-09-18 18:07] RedBuilder78 commented on #505
you can try to use the vba link system, it works.

[2019-09-18 18:19] Gredolas commented on #505
Thanks for the tip ^^ will try it in a few days :)

[2019-09-18 18:33] denisfa commented on #419
@rkitover Yes, I did a `./installdeps MinGW-w64-x86_64` before running the `cmake` above.

[2019-09-18 18:36] rkitover commented on #419
Ah ok, I think there are newer dists in the mxe apt repo, I will look.

[2019-09-21 06:09] RobertPeip opened #507 "Cyclecount Bug for Thumb: POP {Rlist}, STM R0~7!, {Rlist}, LDM R0~R7!, {Rlist}"
These 3 commands will overwrite the clockTicks at the end of the function.
E.g. for pop:
clockTicks = 2 + codeTicksAccess16(armNextPC);

while POP {Rlist, PC} for example uses
clockTicks += 3 ...

Oberserved at a CMD that was popping 4 regs but only consumed 2 clock cycles, which is impossible.

All 3 commands can be easily fixed by doing "+=" instead of "=".

However, i'm posting here, because i

[2019-09-23 11:30] RunisDauphin commented on #503
I would like, but, as I tell, every filter that I tried to improve the image (basically HQx and xBRZ) makes the emulator go slow (and xBRZ filters make go every emulator that supports them slow in my computers when activated, even the all mighty Kega Fusion, who runs in basically everything with Windows).

I do not see how I am going try the 6xBRZ filter, who looks all nice you want (and, in fact,

[2019-09-25 17:41] JackoboLeChocobo commented on #505
If you still have issues, you can try my forked version here for Retroarch ( Tested on Windows 10 and Ubuntu/Linux  ) : https://gitlab.com/ludum-jackobolechocobo/ludum-softwares/working-visualboyadvance-link .

Compilation commands :
`cd src/libretro
make -f Makefile`

[2019-09-25 21:43] denisfa commented on #497
@rkitover @ZachBacon What are these tags:
[code]

Could we create a task to remove some of these too? I know they only tag commits, but is there a reason for all of them to be there?

[2019-09-25 21:46] ZachBacon commented on #497
Old test releases before we started doing them differently, Keep them up I think for now, But I'll leave that call to @rkitover

[2019-09-25 22:01] rkitover commented on #497
The tag code in cmake ignores these, so they do no harm. You can delete them if you want though.

[2019-09-25 22:59] rkitover commented on #497
@denisfa We can rewrite those tags as version numbers with the strings as the tag messages, sound good? I can do that.

[2019-09-26 00:18] denisfa commented on #497
@rkitover Yes, please. They are just weird to look at. There is the continuous versioning and the others. When I saw those, it felt like `Keyboardfixes`, `c7c6ad6`, `waylandplus` and `throttle` were leftovers from something from the past (like checking a solution for an issue). Meanwhile, `VBA-M_Beta_2` and `Beta-3` could be `v1.X.X` or something like that.

Also, what happened to the SVN repos? A

[2019-09-26 00:29] rkitover commented on #419
@denisfa btw wanted to tell you the best way to run a mac vm:

https://passthroughpo.st/new-and-improved-mac-os-tutorial-part-1-the-basics/

[2019-09-26 07:33] rkitover commented on #497
@ZachBacon would know more about the svn repos, may be what was on the sourceforge project here:

https://sourceforge.net/projects/vbam/

[2019-09-26 14:43] ZachBacon commented on #497
those in the svn repo should of been imported as branches here on git when I did the migration.

[2019-09-26 16:55] Gumbag opened #509 "Save state problem"
### Expected behavior
The problem is not so serious, when pressing save while pressing a button, nothing would happen

### Actual behavior
But sometimes the button gets pressed even without pressing it (I don't know if that happens to the other buttons, because I only saw it happen with the d-pad)

### Steps to reproduce the behavior
Just use the save state by pressing the control button, sometime

[2019-09-26 17:01] ZachBacon commented on #509
Use the full template, in the future if you do not use the full template, I won't hesitate to close the issue. It has pertainant information that we need to properly diagnose your issue such as operating system, what version of the app, because if you're using a stable version then there maybe some bugs that have been fixed in master, if it's a build based on the latest master then we can fix it.

[2019-09-26 18:14] Gumbag commented on #509
I just found out it's not the save state but the shift when it's pressed at the same time as the control is pressed

[2019-09-26 18:28] denisfa commented on #509
@Gumbag This is similar to #390... It should be solved already. Download a newer version [here](https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-530648549).

Please confirm this behaviour: you hold the `D-PAD` key, press and hold `SHIFT`, then release the `D-PAD` key and finally release `SHIFT`. The movement is stuck on the direction pressed by the `D-PAD` previousl

[2019-09-26 18:33] denisfa commented on #419
@rkitover Thank you! I will take a look!

[2019-09-26 20:04] Gumbag commented on #509
Yes

[2019-09-26 22:45] denisfa commented on #509
@Gumbag Thank you! Check if the newer version solves this for you. I will mark this as a duplicate from #390, at least for now.

[2019-09-27 20:18] denisfa commented on #505
@JackoboLeChocobo Your link does not work... Also, I see there were some issues in #356 and other threads... What happened to your fork from this project? Did you manage to get GB link to work as well?

I am interested on working on this, although not much time available... Our last tests here show that GBA link works, as dolphin connection too, but only on Linux. There is also a case of bad defau

[2019-09-27 21:14] JackoboLeChocobo commented on #505
Sorry here is the link : https://gitlab.com/ludum-jackobolechocobo/ludum-softwares/tree/master/working-visualboyadvance-link

I lost my PC : All i have for the moment is a Raspberry Pi 3 ^^" . I will continue the updates when i will have a new computer.

My GBA link mode ( based on VBALink project ) with General Purpose Mode support ( for Final Fantasy Tactics Advance ) works on Linux and Windows.

[2019-09-28 00:49] denisfa commented on #505
@JackoboLeChocobo Thank you for the link. I am having some issues trying to get this to work, so let me ask: did you test using retroarch's netplay? I am getting the error
[code]
even after copying the `wvbal_libretro.so` between machines (all linux). I am hoping this is something you stumbled on, so you might know something about it (the entire libretro stuff is new to me).

Anyway, when you have

[2019-09-28 07:37] JackoboLeChocobo commented on #505
I don't use the libretro netplay system. I use the same system of Gambatte libretro.

You have options in my core :

libretro.cpp
[code]
Here is an exemple : PC1 = server with ip 10.80.254.100 , PC2 = client with ip 10.80.254.101

PC1 :
GBA Mode (needs restart) : 2P Network Server
GBA Support (needs restart) : GBA
Timeout (ms) (needs restart) : 500 for laptop, 1000 for classic computers ( values t

[2019-09-28 21:34] rkitover commented on #419
@denisfa me and Zach updated the builder scripts to reenable ffmpeg support and update some dists etc..

So we are ready to do a release whenever you are, let us know what you want to do.

[2019-09-28 21:48] rkitover commented on #354
This has the new game recording code by @denisfa. Release Soon Now (tm).

[translations.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3666045/translations.zip)
[visualboyadvance-m-Mac-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3666046/visualboyadvance-m-Mac-32bit.zip)
[visualboyadvance-m-Mac-64bit.zip](https://github.com/visualboyadvance-m/visua