[2019-09-29 01:43] rkitover commented on #419
@denisfa I made a new branch `installdeps-mxe-repo` to try to fix the issue with choosing the correct mxe apt repository in `installdeps`.

If you want to try it, delete your mxe packages first like so:

[code]

There is some kind of issue with the `ccache` package for other apt dists, so I was not able to build on `cosmic` which is what I was trying this on.

I will see if I can fix this later.

[2019-09-29 22:43] Ntemis opened #510 "Building Libretro target appears broken, tested on ARCH=arm & x86_64"
### Expected behavior
To be able to launch a game
### Actual behavior
Goes back to emulation station

Instructions for doing so are
[here](https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/README.md#reporting-crash-bugs).

### ROM details

Which games are affected by the issue (please state if GBA or GB game):
tested only gba games

### Build details
https://github.com/batocera-

[2019-09-29 22:47] ZachBacon commented on #510
Fill out the details, of the platform you are compiling on etc by editing your post. These details are important. Because it could be a bug with your compiler setup potentially.

[2019-09-30 12:54] Ntemis commented on #510
@ZachBacon Done

[2019-09-30 13:31] orbea commented on #510
It builds here on x86_64 linux, please share build logs.

To build the libretro target all you need is.
[code]

[2019-09-30 13:46] Compani0n opened #511 ".sav files mades using vba-m do not load"
### Expected behavior
I should be able to load .sav files on all the different roms of pokémon red I have
### Actual behavior
I doesnt load even though a .sav file is created

[2019-09-30 16:07] Ntemis commented on #510
I didn't say it doesn't build. The binary produced doesn't work.

Στις Δευ, 30 Σεπ 2019, 16:31 ο χρήστης orbea <notifications@github.com>
έγραψε:

[2019-09-30 16:12] ZachBacon commented on #510
Wikipedia page is largely incorrect and we don't control the information on that. The libretro core now supports GB and GBC emulation. But builds at least for 64bit works for me, haven't tested aarch64 myself yet.

[2019-09-30 16:18] orbea commented on #510
Sorry I misunderstood, but the binary works here too with both gba and gb games. Can you provide some verbose logs and better explain how it fails?

[2019-09-30 16:33] denisfa commented on #511
@Compani0n Thanks for the report, but please fill the issue template. It helps us to reproduce and isolate the bug behaviour. If you can, please upload the sav file that you want to use on vbam.

Did you try to import the `sav` file using the gui? Did you try to start link or something else than default configuration?

[2019-09-30 16:35] denisfa commented on #419
@rkitover Nice! I would like to run the candidate release against some of the open issues. We can do this after release too, though, so maybe we should release as soon as possible?

[2019-09-30 16:52] rkitover commented on #419
@denisfa well I just did a new "nightly" build a couple days ago so you can try that if you like:

https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-536228062

[2019-09-30 19:02] denisfa commented on #511
@Compani0n Just re-read your issue and I think I have an idea. Check this notice #324. I believe this should be your case.

[2019-09-30 22:06] denisfa commented on #497
@rkitover @ZachBacon The branch `arthur/PNaCl` was supposed to be make the SDL port run as a web app, but its main lib has been deprecated by google (sources [1](https://blog.chromium.org/2017/05/goodbye-pnacl-hello-webassembly.html) and [2](https://groups.google.com/forum/#!topic/native-client-discuss/oMHnO-6RAas)). There is an alternative called [webassembly](https://webassembly.org/), and also

[2019-09-30 22:08] denisfa commented on #497
@ZachBacon Check [this](https://github.com/visualboyadvance-m/visualboyadvance-m/commit/05435d0f342ee23307154403b7adb55f87b1720a). What does

```git-svn-id: https://svn.code.sf.net/p/vbam/code/branches/bgk-link@1230 a31d4220-a93d-0410-bf67-fe4944624d44```

mean? Is this recoverable?

[2019-09-30 22:09] ZachBacon commented on #497
That's autogenerated from when I pulled the svn repo into github.

[2019-09-30 22:10] ZachBacon commented on #497
As for the pncl stuff and the gles, dsound, sdl2 etc they weren't completed works, Most of his efforts went into the frame stuff and making frames accessible from all frontends at the time.

[2019-10-01 00:19] rkitover commented on #497
@denisfa Here you go, a bit of revisionist history, nice and clean:

[code]

[2019-10-01 15:01] denisfa commented on #497
@rkitover This is amazing! Thank you!

[2019-10-02 11:54] TheDoctor40 opened #512 "Releases gone?"
In the readme it says you can find Windows and Mac builds on the releases tab. The only thing I can see though is all different versions of the source code, uploaded 2 days ago, but no build releases. I can't find an official download anymore execpt for the nightly builds, but I'd rather just run a stable build. I used to just be able to download the executable. Where have they gone?

[2019-10-02 13:13] rkitover commented on #512
You need to click the assets arrow.

[2019-10-02 14:04] TheDoctor40 commented on #512
Yeah I saw that, but that only contains the source code. There is no longer an executable you can download and I am not able to build the code on windows myself. When I google around a bit I can find references to pre-built files, but these links now return "Not found".

Example link: https://github.com/visualboyadvance-m/visualboyadvance-m/releases/download/v2.1.0/visualboyadvance-m-Windows-64bit

[2019-10-02 14:07] rkitover commented on #512
Yeah it looks like the releases got screwed up when I rewrote all the tags, sorry.

I'll just post a new release.

[2019-10-02 14:28] rkitover commented on #512
windows binaries posted, I'll post mac binaries in a couple of minutes

[2019-10-02 14:38] rkitover commented on #512
mac binaries posted.

Looks like I just had to republish some of the old releases for them to re-appear, some are gone but those aren't important.

As a bonus, you have a shiny new release.

[2019-10-02 14:38] #512 closed

[2019-10-02 21:52] rkitover commented on #419
@denisfa @ZachBacon I ended up releasing v2.1.4 a bit early because of #512, when I rewrote the tags github screwed up the releases, but I fixed them. Sorry about that, but we were gearing up to do this release anyway.

[2019-10-02 21:54] ZachBacon commented on #419
No worries, I'll have to do some setup for solus to get it in for this friday

[2019-10-02 22:01] poesdelal opened #513 "Executable size"
New versions program size increases abnormally.
2.0 was 1 megabyte.
2.1.3 = 18 MB
2.1.4 = 54 MB
Whats wrong with this.

[2019-10-02 22:02] ZachBacon commented on #513
It's compiled with ffmpeg support.

[2019-10-02 22:05] Compani0n commented on #511
Oh yeah it's working actually ! Thanks for the help, i'm very new to the whole github process.
I was just wondering why it wasnt by default. Do you have any idea ?

[2019-10-02 22:11] mudlord commented on #513
Thats the price you get for cross platform compatibility.

Bandwidth/space is cheap anyway. Executable compression like UPX would just mean false positives will be present.

[2019-10-02 23:12] ZachBacon commented on #419
Just because @rkitover ask that I post this here https://github.com/mstorsjo/llvm-mingw an entire clang/llvm built toolchain

[2019-10-02 23:13] ArtiiP commented on #513
what's about mini ffmpeg :-) https://github.com/alberthdev/alberthdev-misc/wiki/Build-your-own-tiny-FFMPEG
we need only encode m4v => h264+aac + maybe mp3 after all.

[2019-10-02 23:14] rkitover commented on #513
we are definitely building too much stuff into our ffmpeg, I will try to fix this

[2019-10-03 01:19] denisfa commented on #511
@Compani0n In a nutshell, sometimes a game has customized save options and we need to override the defaults with that game parameters. We do that already for some, but it is an ever growing list of exceptions. If we fail to detect a game as one of these, them we use the default options, and hence cannot save/play properly.

Anyway, if you have any issues/questions, please report again. We will be

[2019-10-03 01:19] #511 closed

[2019-10-03 01:23] denisfa commented on #419
@rkitover No issues! We should do this more often as minor releases! I will do check on open issues soon.

[2019-10-03 09:05] RafaelTrepaUnCarballo opened #516 "VBA-M doesn't let me type any number in any preference window"
I was trying to configure the cable link in server-client mode when I noticed I couldn't fill forms like timeout or server IP.

The emulator captured automatically the key 1-6 and resize the window despite not having focus and being paused, so I couldn't write those number.

A possible workaround would be disabling those shortcuts, but it's not a normal behavior and should be fixed.
### Steps to r

[2019-10-03 10:37] rkitover commented on #419
Here is the thread on r/emulation:

https://www.reddit.com/r/emulation/comments/dch6oq/visualboyadvancem_v214_released_lots_of_fixes/

[2019-10-03 13:01] poesdelal opened #517 "Error when opening tile viewer"
2.1.4
Win10 x64

Open tile viewer for every rom show this error:

XRC error: 136: vertical alignment flag "wxALIGN_BOTTOM" has no effect inside a vertical box sizer, remove it and consider inserting a spacer instead

Sometimes error number is 120 and sometimes program just crashes.

[2019-10-03 13:44] poesdelal commented on #517
OAM viewer have this issue too.

[2019-10-03 18:15] ZachBacon commented on #517
The memory viewer still has issues, that's already been confirmed for a while. The current memory viewer fix was more for scrolling.

Currently though we are going to redesign a lot of the common dialogs, try and have a central location for certain things, like video settings etc, So hopefully the xrc error you're experiencing we can get fixed rather soon.

[2019-10-03 18:30] ZachBacon commented on #510
@Ntemis sorry took me a little time to setup an aarch64 chroot, however before I do a few compile tests, I must ask you the platform. One that in my original reply I asked you to fill out. One that's very important.

The arm device you're testing on. What is it? a raspberry pi? bananapi? details like this are very important.

[2019-10-03 20:45] Ntemis commented on #510
Tested on Tinkerboard&MiQi (RK3288) Cortex-A17, also tested on X86_64(pc)
I have an image ready for X86_64 if you care to burn with etcher and test i can link it asap.
Let me know

[2019-10-03 20:47] ZachBacon commented on #510
Nah, I only care at the moment is the aarch64, since x86_64 my distro can deal with that no issue

[2019-10-03 20:48] Ntemis commented on #510
You can boot and test from usb no need to burn or alter your distro or hdd

[2019-10-03 20:58] ZachBacon commented on #510
@Ntemis You missed the point. a generic compile of libretro against 64bit compilers would be all that I need. It's the 64bit arm stuff I'm testing against. I generated a binary using qemu-user-mode emulation via an archlinuxarm image I generated myself. But that was based off of the raspberry pi 3 64bit arm tarball. Now that I know what board you're using I can properly find an image and test it a

[2019-10-03 21:01] Ntemis commented on #510
All boards are treated as arch=aarch32/arm for arm dynarec compatibility reasons since we are a retro gaming distro

[2019-10-03 21:37] Ntemis commented on #510
https://www.androidfilehost.com/?fid=1899786940962600530

[2019-10-03 21:38] ZachBacon commented on #510
As I've mentioned. I have no need for x86_64 images.

[2019-10-04 06:18] RunisDauphin opened #518 "VBA-M 2.1.4 does not open"
### Please fill out this form:

### Expected behavior
Programme opens.

### Actual behavior
Programme does not open and gives error.

### Steps to reproduce the behavior
Double click on the exe file (no matter if it is 32 bits or 64 bits).

### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.
![VBA-M 2 1 4 Error](https://user-images.git

[2019-10-04 06:29] rkitover commented on #518
Well this is strange, I thought I fixed that bug.

Can you try with your joystick unplugged?

[2019-10-04 06:50] RunisDauphin commented on #518
I had (and I have) no joystick plugged.

I have just run Ccleaner to clean up the register and miraculously opened up again.

I have no idea of what just happened.

Runis Dauphin

[2019-10-04 07:02] RunisDauphin commented on #518
Sorry, again. The probleme was caused by version 2.1.3 (which I swear I think I changed it). I will try again in a few minutes.

[2019-10-04 07:05] RunisDauphin commented on #518
Version 2.1.4 opened now just fine. Maybe it was affected by the error of the Register too.

[2019-10-04 07:10] negativeExponent commented on #510
why would you want specifically the libretro core if you are gonna use emulation station anyways? i believe that ES supports standalone version and if so, then an sdl version would work. there is also RAVBA if you want if for the retroachievements.

[2019-10-04 07:10] #518 closed

[2019-10-04 07:11] ZachBacon commented on #510
We test against retroarch, not against emulation station

[2019-10-04 07:12] RunisDauphin opened #519 "Cheat List does not work as it should"
### Please fill out this form:

### Expected behavior
You click on Add Cheat and emulator lets you input a code.

### Actual behavior
You click on Add Cheat and emulator crashes.

### Steps to reproduce the behavior
Click Add Cheat on Cheat List.

### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are
[here]

[2019-10-04 07:13] negativeExponent commented on #507
MUL series instructions have missing cycle counts as well. a little work for memory read/writes would also do no harm.

[2019-10-04 08:41] rkitover commented on #516
@denisfa can you take a look please?

[2019-10-05 00:16] denisfa commented on #516
@rkitover Of course! I believe I know what is happening. Should be fixed soon.

[2019-10-05 01:17] ZachBacon commented on #516
@denisfa Much appreciation man.

[2019-10-05 01:55] orbea commented on #179
It builds now and should work so I am closing this.

[2019-10-05 01:55] #179 closed

[2019-10-05 14:34] negativeExponent commented on #519
the question is what format and cheat codes were added? some requires a master code before you can use any cheat. i just tested now with MMBN2 and adding CB cheats and enabling them worked.

[2019-10-05 17:16] Compani0n commented on #511
Thanks :)

[2019-10-05 19:29] rkitover commented on #511
@denisfa We should probably add the most common of the hacked roms to our overrides list, this is a common complaint.

[2019-10-05 19:30] #516 closed

[2019-10-05 23:29] orbea commented on #289
The build succeeds here with `clang-9.0.0`, should this be considered fixed?

[2019-10-05 23:32] orbea commented on #95
Are there any remaining milestones for this issue?

[2019-10-06 01:29] #289 closed

[2019-10-06 01:30] rkitover commented on #95
cmake integration would be nice, I will do that sometime

[2019-10-06 08:08] Ntemis commented on #510
Am closing this down, and please keep up the good work.
It was a binary naming issue
it was trying to launch /usr/lib/libretro/vba-m_libretro.so
but the correct is /usr/lib/libretro/vbam_libretro.so.
Sorry for the noise. :)

[2019-10-06 08:08] #510 closed

[2019-10-06 08:28] negativeExponent opened #522 "GBA: force feedback(rumble) does not work"
### Expected behavior
controller rumble should work with games that supports it

### Actual behavior

no rumble

### Steps to reproduce the behavior
load drill dozer, or wario twisted
force feedback should just work
(tested on linux with xbox 360 controller)

### ROM details

Which games are affected by the issue (please state if GBA or GB game): gba

Operating System (Windows, Mac, Linux (state d

[2019-10-06 11:13] #522 closed

[2019-10-06 11:14] rkitover commented on #522
@negativeExponent I've implemented this in master, can you please check if it is working adequately for you.

[2019-10-06 11:19] negativeExponent opened #523 "GBA: Noticable audio "pop" when using official bios"
### Please fill out this form:

### Expected behavior

audio should work flawlessly and smooth

### Actual behavior

noticeable audio pop during screen transition when using official bios file. This is noticeable in the game Summon Nights 2. a save file is attached.

### Steps to reproduce the behavior

pre-configure a gba_bios and make sure to enable Use BIOS File.
using the savefile above, run S

[2019-10-06 17:29] RunisDauphin commented on #519
I can not input any code. When I try to hit "Add Cheat" button, the emulator freezes for a few seconds (4 to 5 seconds) and then Windows says "VBA-M has stopped working" and all the stuff Windows says whenever a programme crashes.

The thing I am trying right now is to create a clt file with either Visual Boy Advance 1.8.0 Link or Visual Boy Advance - ReRecording and then export it to VBA-M.

I al

[2019-10-06 17:33] RunisDauphin commented on #519
By the way, Negative Exponent, did you use any kind of BIOS file that is not conflicting with the emulator? Maybe my BIOS file must be disable while I do such kind of things (now it is active for sure).
By the second way, Negative Exponent, which version of Megaman Battle Network 2 are you using? I know it was released in three regions, plus two versions for Console Virtuelle.

Thanks for your hel

[2019-10-06 18:33] rkitover commented on #522
@negativeExponent I changed it to always enable rumble regardless of rtc option based on your feedback, and also increased rumble time just in case.

Is the rumble stronger in libretro/mgba? I couldn't run Drill Dozer in mgba, but I'm going to try to test some other things.

[2019-10-06 22:17] negativeExponent commented on #519
im using US version of games when i mention any (unless the game itself is never imported). with or without BIOS does not affect when just adding cheats. Im on linux, so it probably works here better than on the Windows version since you said it crashes by just starting to add input.

[2019-10-08 02:09] orbea commented on #465
@rkitover This issue is fixed now?

[2019-10-08 02:10] rkitover commented on #465
I'm keeping this open to track Visual Studio build improvements, there is still a lot to do.

[2019-10-08 13:36] RunisDauphin commented on #502
Still makes this weird bug in VBA-M 2.1.4. I have just tried and the keys come back. Is it related with that bug that make the configuration file appear in that corner in C: and load from there?

Runis Dauphin

[2019-10-09 22:56] LoZFanForever opened #537 "Controller Configuration issues"
### Please fill out this form:
So hopefully this is an actual problem and not just a waste of everyone's time.
### Expected behavior
I configure the controls for normal gameplay and it works.

### Actual behavior
I am using an emulator for LoZ Minish Cap but I can't get past the naming screen because no matter what I try to configure the controller settings to it won't recognize the button I call

[2019-10-10 01:22] rkitover commented on #537
Which version of vba-m did you try this on?

[2019-10-10 02:55] negativeExponent opened #539 "Running GB games on GBC mode causes missing sprites"
### Please fill out this form:

### Expected behavior

sprites should appear in color (compared to running it in GB mode)

### Actual behavior

some games have missing sprites

### Steps to reproduce the behavior
this problem is more noticeable in Chikyuu Kaihou Gun ZAS (Japan) since entire ship and enemy is missing/

* load vbam
* make sure emulated gb system is set to Game Boy Color
* load and s

[2019-10-10 08:31] RunisDauphin commented on #539
Have you realised what you have written in "Which games are NOT affected by the issue?"

[2019-10-10 08:37] RunisDauphin commented on #537
What are you configuring? I have tried the keyboard and it worked fine. I have not tried my beloved Black Européen Gamecube Controller with the newer versions yet, but I can help you with the checking.

The form is quite empty for the necessary info.

Runis Dauphin

[2019-10-10 12:11] LoZFanForever commented on #537
I will have to check the brands because they are both offbrand controllers.

Sorry for that this is my first time posting a thread and I am new to emulators. Once I get home from school I will try and find the info.
Thank you for your help :)

If I threw a triangle out the window at 60kmph and wind resistance is a thing how many donuts can Pedro buy with one human soul?

__________________________

[2019-10-10 12:18] rkitover commented on #537
Make sure you are using the binary from the releases page of this project, not some other binary you found somewhere.

[2019-10-10 15:54] negativeExponent commented on #517
Memory viewer is different from Tile/Oam viewer or other viewers. I myself can get crash in some of these viewers as well.

[2019-10-10 17:13] LoZFanForever commented on #537
Okay the VBA-M is 2.1.3

The keyboard and one of the controllers is Logitech, the other is a Izdtech wireless controller

Is the binary the game download?
Sent from Outlook<http://aka.ms/weboutlook>
________________________________
From: Rafael Kitover <notifications@github.com>
Sent: Thursday, October 10, 2019 8:18 AM
To: visualboyadvance-m/visualboyadvance-m <visualboyadvance-m@noreply.github.co

[2019-10-10 17:19] Squall-Leonhart commented on #539
Turn on interframe blending, and don't run this old DMG game in forced CGB mode.

[2019-10-10 18:48] DADDYYANKEE commented on #255
error "your saved data is corrupted" how do I solve it

[2019-10-10 19:01] #539 closed

[2019-10-10 20:30] ZachBacon commented on #255
By posting in a new github issue you create and not a old one that's long been issued.

[2019-10-10 21:26] negativeExponent commented on #539
im confused. why is this closed? are you proposing a fix? or is it that this is NOT suppose to work in gbc mode? i never said anything about sprites flickering or ghosting which can be fixed by using motionblur. the sprites are missing at all. what settings are you using on that vbam 2.1.1 of yours coz without doing anything else with gfx code, sprites are not appearing on my game:

![image](https

[2019-10-10 22:15] Squall-Leonhart commented on #539
its closed because its not a bug,

This game runs in DMG backwards compatibility on a real CGB (The equivalent of VBAM Auto select)
When you force the GBC type in the emulator, it runs with the emulated characteristics of the CGB LCD.

the bug that supports the layer of the ships and projectiles is not supported by the CGB LCD, therefore you must run the game with autoselect or Gameboy type, and t

[2019-10-10 22:17] negativeExponent commented on #539
again. i am not talking about flickering or ghosting here.

[2019-10-10 22:20] Squall-Leonhart commented on #539
the bug that supports the layer of the ships and projectiles is not supported by the CGB LCD, because it explicitly VBlanks before updating the picture, this was an intentional design change because the "Bug" is what caused the blurry behavior of DMG games on the original Gameboy.

[2019-10-11 01:03] negativeExponent commented on #539
i dont know why this is even considered "solved" when nothing is being changed and this issue is not something that happended just now. its not even related to whatever gb "bug" you are refering to which causes some gb games to fail in gbc mode (its not a hard fix to be honest-or at least a workaround). mGBA, know to be accurate dont have this problems (and im talking about "missing" sprites here,

[2019-10-11 01:20] Squall-Leonhart commented on #539
You're forcing the Emulator to run the Game on incompatible hardware.

No fix is coming because the cause is user error, you chose to force the game to boot in CGB mode, the Auto, DMG and SGB types all run the game correctly.

[2019-10-11 06:26] negativeExponent opened #542 "Can't compile a Release build"
im sure this is gonna be closed anyways without proper evaluation but whatever, you guys need better maintainers...

### Please fill out this form:

### Expected behavior
compile done.
### Actual behavior
compile not done
### Steps to reproduce the behavior
cmake..
make
[ 33%] Linking CXX static library libvbamcore.a
ccache: error: execv of /mnt/data/dev/negativeExponent/visualboyadvance-m-git/bui

[2019-10-11 06:52] ZachBacon commented on #542
Your attitude is not warranted, the issue you were talking about was explained.

And as for your error,

(and please next time use code tags) which look like this

`ccache: error: execv of /mnt/data/dev/negativeExponent/visualboyadvance-m-git/build/gcc-ar-wrap failed: No such file or directory`

looks like that you're trying to build in a filesystem that isn't write enabled by the user.

Double ch

[2019-10-11 08:28] rkitover commented on #542
Well I have to respond to this.

Like all open source projects, this is a volunteer effort.

No one is getting paid for this (yet anyway, I'd love to find some sponsors.) In fact I've had to spend a considerable amount of my own money on dealing with issues related to this project.

We do what life allows us time to do and what we are interested in working on.

If you would like to help, PRs are a

[2019-10-11 09:26] rkitover commented on #542
As for your issue:

make sure you are not using a mount with `noexec`, that will definitely not work.

[2019-10-11 13:03] ButterCCM commented on #240
Hi, I have a web based gba emulator that I made with a friend and built off someone else's code. Would anyone be willing to help me patch that for my site. I tried loading Zelda II. butterccm.github.io/gba

[2019-10-11 13:12] orbea commented on #542
Can you please provide a complete build log?

You may be able to work around it by building with clang instead of gcc since it will not use the gcc wrappers then.

[2019-10-11 13:27] denisfa commented on #542
@orbea This also fails for `Ubuntu Disco 19.04`. It seems something related to the `cmake` version.
`libvbamcore` is built before `generate` (which generates the wrapper, I assume). Adding
`add_dependencies(vbamcore generate)` to `CMakeLists.txt`:
[code]

solved the issue for both `disco` and `arch` on my end. I would like to know why setting the debug flag works too, but I can't investigate it at

[2019-10-11 13:33] denisfa commented on #542
Log from arch build (same for disco):

[code]

[2019-10-11 13:40] rkitover commented on #542
Thanks @denisfa I will take a look over the next couple of days unless @orbea beats me to it.

[2019-10-11 13:53] orbea commented on #542
@denisfa Thanks, I was wondering if `generate` should be added as a dependency to any other targets besides `fex`, but travis and I could not reproduce any build issues.

[2019-10-11 14:02] orbea commented on #542
@negativeExponent and @denisfa I made a PR that hopefully fixes this, please give it a try to make sure. https://github.com/visualboyadvance-m/visualboyadvance-m/pull/543

[2019-10-12 14:16] Kumiri opened #544 "v2.1.4 How to set the language? ?"
Officially provided “Language Locale files”
Locale.7z — “Language abbreviation” — LC_MESSAGES — wxvbam.mo
How to use "wxvbam.mo"？

[2019-10-12 14:57] rkitover commented on #544
Currently we do not have a way to set the language from the UI.

If you unzip the `translations.zip` into the same directory as the executable, it will run in the Windows system language using the appropriate translation files.

[2019-10-12 17:04] logicminimal opened #545 "games slow down for no literal reason"
### Please fill out this form:
games play very slow even though it says 60 fps in the latest version

### Expected behavior
for it to run lagless

### Actual behavior
it gets fps drops, even in super mario bros 3. a 1 mb game..
it randomly gets fps drops and therefore slows down when i generate new horizontal lines ( basically just play the game ) i have tried every pixel filter simple opengl and

[2019-10-12 18:03] rkitover commented on #545
Does it start normally and then slow down the longer you play, or does it start slow from the very beginning?

[2019-10-13 08:38] supremayro420 commented on #545
no, it slows down when i move to the right. and that generated chunk has a sprite in it.
not like it plays in %50 of the speed. more like it skips a lot of frames and makes it laggy instead of slow

[2019-10-14 15:36] Kumiri commented on #544
Oh, I see. Thank you for your answer.

[2019-10-14 15:50] denisfa commented on #545
@supremayro420 Could you try running again with a clean configuration file? Also, how is the sound while playing with lagging? Is it normal or also stutters?

[2019-10-14 17:04] supremayro420 commented on #545
there is nothing wrong with the sound. what's wrong is the game doesnt feel like 60/30 fps. fps counter tells that fps is stable 60. all awhile it doesnt feel like 60 at all. i've tried everything i could find from internet like changing renderer to opengl

[2019-10-14 17:06] supremayro420 commented on #545
ooh and actually turns out it isnt like lag. but more like throttle yet i have throttle  on 0% it throttles when new sprites load

[2019-10-14 19:08] #544 closed

[2019-10-14 19:13] denisfa commented on #545
@supremayro420 Thank you! I will take a look at possible causes. Last question: did it happen on previous versions of vbam as well? If you are willing to do so, try recording the gameplay for some seconds and  then watch the recording. Check if they match. Upload the recording here as well if you see something suspicious.

[2019-10-14 20:22] disassemble1999 opened #547 "VBA-M won't work with certain keys when adding cheats"
### Please fill out this form:

### Expected behavior
VBA-M works with all letter and number keys.
### Actual behavior
VBA-M does not work with certain keys
### Steps to reproduce the behavior
Go to List Cheats, Click Add cheat, Press either key from 1-6
### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are

[2019-10-14 20:32] denisfa commented on #547
@disassemble1999 Thank you for reporting. This issue is a duplicate of #516. We are going to release a nightly version with the fix soon. Is your mac 64 or 32 bit? I will send you a link here when it is available.

[2019-10-14 20:57] denisfa commented on #547
@disassemble1999 As a workaround for now, go to `Options` > `Key Shortcuts`. Search for `Video` options: `1x`, `2x`, `3x`, `4x`, `5x`, `6x` and remove the current assigned keys.

[2019-10-14 23:06] disassemble1999 commented on #547
I have already removed the short keys for the video options. As for my Mac, I've just upgraded to macOS Catalina, so it's 64-bit. Thanks for your help.

[2019-10-15 12:58] ArtiiP opened #548 "Linking bin2c.exe failed @msys64"
build on msys64@win7

git current => eaa744cc2eec00706138c8ff38c85253ce399c9a

[code]
msys bug?

[2019-10-15 13:27] denisfa commented on #548
@ArtiiP Thanks for the report. Could you check if the same happens with commit 61520df789d67a8d07f7eb3b99818e593e097dcf? We have been cleaning up our `cmake` scripts build, so it might have introduced some bugs.

I will take a look at this error. I remember having to deal with this not so long ago.

[2019-10-15 13:30] denisfa commented on #547
@disassemble1999 Sorry, but just to be clear so I can close this as a duplicate: did you remove the short keys and still happens or are you confirming the workaround?

[2019-10-15 14:12] ArtiiP commented on #548
[code]

ok i try last know good build (for me)
ced2676926d493ba8bf285c05777eca54e6ef97a
[code]

[2019-10-15 14:13] orbea commented on #548
Is this a cross compile build for windows on linux? Or can someone explain the build environment better to me? It looks like its building `bin2c.exe` with the wrong compiler.

[2019-10-15 14:17] ArtiiP commented on #548
orbea: nop, it's simply build vmam-win64 on win7_64 for win64  :-) via msys64/mingw64 (current)

[2019-10-15 14:45] orbea commented on #548
Can you please try this patch?
[code]

[2019-10-15 14:48] disassemble1999 commented on #547
I noticed this problem before I removed the short keys. After I did remove them, the problem was still there.

[2019-10-15 16:01] denisfa commented on #548
@orbea the patch did not work, unfortunately... I am running a `Windows 10 VM x64`, using `mingw64` from `MSYS`.

The first commit where compilation fails is 680af6d4202eeeb587fcf7839a023d442a8af1c7.

[2019-10-15 16:42] orbea commented on #548
@denisfa On commit https://github.com/visualboyadvance-m/visualboyadvance-m/commit/680af6d4202eeeb587fcf7839a023d442a8af1c7 does reverting the changes in `cmake/HostCompile.cmake` allow it to build?

Can you please provide build logs in English? Unfortunately travis doesn't test this scenario and I'm a bit puzzled why its not working.

[2019-10-15 17:02] ArtiiP commented on #548
on ced2676
bin2c is created by cmake (not make)
it's normal and simple program, not windows gui beast

let's return to current eaa744c in verbose mode
[code]

@orbea
sorry changing to english is hareder than you think
LC_ALL=C don't work ;/

but only problematic string I see is:
Brak reguł do zrobienia obiektu 'bin2c', wymaganego przez => No rule to make target 'bin2c', needed by

[2019-10-15 17:07] orbea commented on #548
Thank you for translating that, just to humor me can you provide a full build log with the master and the patch in https://github.com/visualboyadvance-m/visualboyadvance-m/issues/548#issuecomment-542249429?

[2019-10-15 17:24] RunisDauphin commented on #547
I do not know if this affects Mac, or how it does (I use Windows), but I hace troubles with the Hotkeys as well. I have noticed (if it works for you, I can not check) that if the default hotkey for one thing (for example, F1, which is for selecting "State 1") is selected for another (for example, F1, used for "About"), the default function will not be used.

If your purpose is to eliminate several

[2019-10-15 17:43] ArtiiP commented on #548
[logs.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3730706/logs.zip)

anyway, logs from master vs patch is identical

[2019-10-15 18:22] orbea commented on #548
I think I used the wrong variable, can you try this instead?
[code]

[2019-10-15 18:57] ArtiiP commented on #548
fix  or => OR  (HostCompile.cmake) but ;/
[code]

[2019-10-15 19:08] ArtiiP commented on #548
in zip is full build directory, it's have some internal cmake cache/config/etc - mayby that helps somehow

[build.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3731027/build.zip)

[2019-10-15 19:11] denisfa commented on #547
@RunisDauphin Your issue has been identified already (I believed solved too). This happened between your version and `2.1.4`. When we a new nightly, I will tag you to check on this again.

Don't worry about such things. The important thing is to say the idea. "Use a default key like F1 for another thing. Check what happens". By chance, what is your native language?

[2019-10-15 19:17] denisfa commented on #548
@orbea

No, it still the same error.

Also nothing, as confirmed by the user too.

[2019-10-15 19:18] rkitover commented on #548
I'll take care of this when I get home in 10 hours.

[2019-10-15 21:09] negativeExponent commented on #507
whats the idea of deleting my comment about missing cycle count here as well? doesn't anyone really looked at problems core-wise?

[2019-10-15 23:28] denisfa commented on #507
@negativeExponent Sorry! I may have misinterpreted the purpose of your comment. It felt a lot like adding insult rather than something useful, but I was mistaken. Please forgive me and don't rage-delete your account again.

[2019-10-16 13:17] RunisDauphin commented on #547
I am Spanish (from real Spain), I live in Spain, and my native language is Spanish, although I can express myself in French with high quality and I have a C1 Level in English (or that is what Cambridge Advanced Exam says, at least). When I am tired (like yesterday evening) I have a troubles to express myself in English, and I tend to say things in this complicated syntaxis, proper of someone who h

[2019-10-17 21:54] #548 closed

[2019-10-17 23:50] Calebe64 commented on #255
I'm sorry for the change of subject, but I have some ideas that may help in multiplayer this emulator.
Well, as the GBA cable latency is 256 KB, I think it may be possible to remove lag on the local connection if you decrease the latency when the emulator receives wifi signal because it has much higher latency than the cable, create a sync connection system that can control the level of latency or

[2019-10-18 00:02] ZachBacon commented on #255
@Calebe64 this has literally nothing to do with this topic. If you have a suggestion, post it as a new issue so we can properly track it.

[2019-10-18 22:44] ArtiiP opened #549 "SIGSEGV with patches in GBA mode (which make rom bigger)"
my working tree based on current

[code]

in patchApplyUPS (and WIP patchApplyBPS)
we have
[code]
any patch that make gba rom bigger make this sigsegv,
why?
let's see
gba use
[code]
SIZE_ROM = 32MB

but gb use utilGetSize() => rom size is dynamic,

and that means we must realoc for gb and not for gba
ouch

or fix GBA.cpp

[2019-10-19 00:00] denisfa commented on #549
@ArtiiP This is actually awesome. Not so long ago, we were examining a mysterious ROM padding done on `panel.cpp`. There was no obvious explanation (or seemingly self explanatory comment), and it was only brought to attention due to an UPS patch for a pokemon game (FireRed, if that matters) not being applied due to the padding. I believe that comment on the core about the issues regarding this now

[2019-10-19 00:15] ArtiiP commented on #549
i  trace the code by eyes :)

libretro use CPULoadRomData
but sdl i wx use CPULoadRom

only in CPULoadRomData romSize is overwriten to current rom size
`romSize = size % 2 == 0 ? size : size + 1;`
i don't see this in CPULoadRom

in CPUInit romSize is checked before write
`if (romSize < 0x1fe2000)`
good

[2019-10-19 18:41] HlawatyT opened #550 "I have 144hz and the game is really fast (i want the normal speed)"
### Please fill out this form:

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are
[here](https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/README.md#reporting-crash-bugs).

### ROM details

Which games ar

[2019-10-19 18:41] #550 closed

[2019-10-19 20:58] Calebe64 commented on #255
I see, I'll do this

[2019-10-19 21:00] Calebe64 opened #551 "Some Ideas that can help with VBA-m Multiplayer"
I have some ideas that may help in multiplayer this emulator.
Well, as the GBA cable latency is 256 KB, I think it may be possible to remove lag on the local connection if you decrease the latency when the emulator receives wifi signal because it has much higher latency than the cable, create a sync connection system that can control the level of latency or perhaps delay sending information to the

[2019-10-21 00:27] ArtiiP commented on #549
ach, sorry.
rom name: Magical Vacation (J)
patch: Eng1.0 magicalpatcher (in bps format)

you can use https://github.com/ArtiiP/visualboyadvance-m/tree/bps to work this :)

one more thing, i use MS EMET (Enhanced Mitigation Experience Toolkit) on this machine.
That may by the reason, why realloc and access beyond boundary kick sigsegv

[2019-10-21 02:40] negativeExponent commented on #549
just Quick reply here:
* rom pointer should not be resize/reallocated. this is initially allocated to use entire 32MB of cart space. The unused space if filled with out-of-bounds return values.
* if size is changed after patching, romSize, should be updated as well which is currently not directly accessible and is not currently implemented.
so disabling this line:
[code]
and updating romSize like

[2019-10-21 09:21] mudlord commented on #549
Yeah, this should be looked at, as well as other things in the core. I was meaning at some point in the past to go through the GBA and GB cores with a fine toothed comb to clean up some things as well as work on core accuracy. I guess this was one of those things.

[2019-10-21 13:44] ArtiiP commented on #549
@negativeExponent  GB don't use 32MB for *rom  (gb use utilGetSize)

that means we must resize/realloc if patched rom is bigger.

[2019-10-21 20:20] mudlord commented on #507
Question: its been decades since I looked at core code. Is there any test ROMs now for proper GBA cycle timing and behaviour? I remember Blargg having a test suite for GB/GBC which might be useful to go through.

[2019-10-21 20:53] Moonkis commented on #131
I'll add to this. Colors seems to be very saturated and the color correction seems absent. Here is a comparison between two emulators (sorry if this is bad manners) as well as my real Gameboy Advance SP:
![gba comparison](https://user-images.githubusercontent.com/1334297/67242306-8a3a8800-f455-11e9-86ed-d495a3b56ccc.PNG)
![gba sp](https://user-images.githubusercontent.com/1334297/67242283-80b12000

[2019-10-22 00:34] rkitover commented on #131
@Moonkis which rom is that, and is that a GBC rom you are running in GBA mode?

[2019-10-22 01:55] kode54 commented on #131
In GBA mode, the emulator should be using the GBA color filter, even for GBC games, since some GBC games expect a GBA display and do their own oversaturation to account for the GBA's display.

[2019-10-22 02:23] negativeExponent commented on #131
lcd_filter (the one that is ran during utilUpdateSystemColorMapsXX) and gbColorOption is not exposed to UI, so there are no possible saturations options available.

[2019-10-22 07:07] Moonkis commented on #131
That is my (authentic) Fire Emblem Tactics Advance (European) GBA rom running on both emulators and my GBA SP.

How can I force another mode?

[2019-10-23 01:01] Ntemis opened #554 "Build fails on Ubuntu Bionic 32bit"
Scanning dependencies of target visualboyadvance-m
[ 90%] Building CXX object src/wx/CMakeFiles/visualboyadvance-m.dir/wxvbam.cpp.o
[ 90%] Building CXX object src/wx/CMakeFiles/visualboyadvance-m.dir/guiinit.cpp.o
[ 91%] Building CXX object src/wx/CMakeFiles/visualboyadvance-m.dir/viewers.cpp.o
[ 91%] Building CXX object src/wx/CMakeFiles/visualboyadvance-m.dir/gfxviewers.cpp.o
[ 92%] Building CXX

[2019-10-23 03:18] LoganDungeon opened #555 "Want to change keys with config file"
A few thing to start:
I am on an Arch Linux System with i3wm, so i have no top menu where i can change my key config.
Since I use qwertz keyboard layout instead of qwerty i want to swap y and z controls.
So i thought it must be easy to go into the config and change the keys.

### Please fill out this form:

### Expected behavior

Changing the config files actually changing the key behaviour.

###

[2019-10-23 03:22] ZachBacon commented on #555
Believe it or not, I just noticed that the other day, been a little busy to fully diagnose the issue, but due to the migration to sdl2 somethings regarding input may of changed, and our focus was mainly on the wxwidgets Gui. Since I did notice it, I'm taking a look at it myself and hopefully have a fix in place.

[2019-10-23 11:11] rkitover commented on #554
I just built it fine on bionic, though not 32 bit, I doubt that makes a difference.

Make sure your environment is clean, no `CXXFLAGS`/`CPPFLAGS`/`LDFLAGS` etc..

[2019-10-27 20:17] logicminimal opened #556 "Network connection crashes the game"
### Please fill out this form:

### Expected behavior
that network link will work without any crashes
### Actual behavior
network link crashes vba-m when clicked on
### Steps to reproduce the behavior
Link > Type > Cable > Start On Boot > Restart > Network Connection > \CRASH/
alternately
Link > Type > Cable >Network Connection > \CRASH/
### Crash bugs

If this is a crash bug, and you have the tim

[2019-10-29 00:15] rkitover commented on #354
Fix for link dialog (will try to do a release soon):

[translations.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3781132/translations.zip)
[visualboyadvance-m-Mac-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3781133/visualboyadvance-m-Mac-32bit.zip)
[visualboyadvance-m-Mac-64bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/

[2019-10-29 07:35] laptopsftw opened #557 "anyone tried implementing Kopf-Lischinski (Depixelizing Pixel Art) algorithm as filters?"
I found this [study](https://johanneskopf.de/publications/pixelart/) several years back, and still baffled that there isn't still a implementation in the VBA-M itself. it's a really good filter, and all outputs are actual vector images.

I was wondering on the why it wasn't still implemented. Inkscape had this filter years back. and now, PC's can run faster than years back, maybe having a chance t

[2019-10-29 17:29] denisfa commented on #419
@ZachBacon @rkitover I am mostly mia due to work schedule. End of year is a very busy time. I will finish some WIPs and go back to my checklist.

[2019-10-30 09:48] rkitover commented on #557
We support filter plugins using the rPI API. The plugin would go into the `Plugins/` folder on the same level as the executable. If anyone wants to try doing that.

[2019-10-31 01:01] ZachBacon commented on #419
@denisfa Things happen, I will always urge you to put your life first. This project is just whenever we can work on it.

[2019-10-31 05:18] laptopsftw commented on #557
i really want to do that(also implement the filter into HLSL), but
1. i dont really have the skill
2. since it is in vector space, i think you need to rasterize it again.

[2019-10-31 05:27] laptopsftw commented on #557
to the issues:

1. it was been discussed there on /r/emulation for example. i wonder about the forums for VBA-M, maybe there still, but i cant check.
2. probably more important, sure, but idk if it would work. i hope they did reconsider
3. yes. this is just a novel way to convert raster to vector spaces. it is comparable with xBRZ, but lesser oversmoothing, and this works independently of the size

[2019-10-31 17:44] rkitover commented on #557
Does it give much nicer results than xBRZ6?

[2019-11-03 01:53] InfiniteParallel opened #558 "Boktai - The Sun Is In Your Hand: Unknown RTC Command"
### Please fill out this form:

### Expected behavior: When starting the ROM for the first time or changing the time, no unknown command errors

### Actual behavior: When starting the ROM for the first time, before calibrating the solar sensor, the emulator produces an "Unknown RTC command e4", then when you set the time it produces an "Unknown RTC command fc". Also, anytime you try to change the

[2019-11-04 20:12] thatonegoyim opened #559 "Invalid value (number here) for option Display/Scale. able to set zoom to any positive number"
### Please fill out this form:
Invalid value (number here) for option Display/Scale. able to set zoom to any positive number. negative numbers do not work will only take unsigned numbers.
### Expected behavior
only be able to set to 1.0 to 6.0
### Actual behavior
able to set to any positive number from 0 onwards. potential point of injection for buffer overflow. putting integer size higher then un

[2019-11-04 20:42] rkitover commented on #559
We'll need to reject any values higher than the user's resolution. But instead of a warning just silently reduce them.

[2019-11-05 02:12] thatonegoyim commented on #559
UPDATE:
i was able to crash my system by setting display magnification to a very high integer. caused the program to scale so large that the display driver could not handle it and xorg crashed to restart itself back to login. the number i tired was 128.0 so a magnification of 128x the normal resolution. 64x was stable but very slow but that must be my specs.

but yes the magnification level needs

[2019-11-05 06:45] RunisDauphin opened #560 "[Request] HUD shows the current pressed keys, VBA-RR style."
### Please fill out this form:

### Expected behavior
Any time you press a key, you can watch the current pressed key. If Auto-Hold is pressed, the key will be shown in yellow instead of white, and if you "unhold" said key while AutoHold is still active (I mean, you press the keyboard key when the behaviour is inverted), it will be shown in red.

This is helpful to watch if you forgot to desactiva

[2019-11-06 03:31] Resue opened #561 "BUG with Filters"
Black line appeared when applied filters.

Version: 2.1.4

See the picture:
![bug](https://user-images.githubusercontent.com/57211862/68266044-d6f2a580-0088-11ea-843a-23e51fe7bb0e.png)

[2019-11-06 03:46] rkitover commented on #561
@denisfa hey I think you made some changes to filter calculations previously, any ideas here?

[2019-11-06 04:49] thatonegoyim commented on #561
i notice a very transparent grayish bar similar to that one using filters #1 #6 #7 when cycling through filters using ctrl + g or the menu. so its not just bi-linear filter. just wanted to add to what they posted

[2019-11-06 10:42] denisfa commented on #561
@rkitover Yes, I know why. It is from [this scope](https://github.com/visualboyadvance-m/visualboyadvance-m/pull/494/files#r318804621). The black line is our top border.

[2019-11-06 10:58] denisfa commented on #419
@rkitover I was having a look at the `winsparkle` glue, and I wanted to update the situation. From my previous part, the main issue is to make some changes to the winsparkle code, because I got as far as getting a static lib (using similar procedure to the mSYS build), but not being able to use with other wx apps.

Is there a way one can deal with multiple classes inheriting wxApp?

[2019-11-06 11:22] rkitover commented on #419
@denisfa I used a different approach and packed the dll as a resource. `reset --hard` your branch and check it out, it works!

[2019-11-06 13:20] rkitover commented on #419
@denisfa Ok well, I had to make a few adjustments, but now I'm done screwing up the history.

[2019-11-07 10:11] laptopsftw commented on #557
mostly the same, the upside is that it can be done as 1x, then scale it with some vector->raster filter.

[2019-11-07 17:52] #561 closed

[2019-11-08 12:00] witcher-bayonetta opened #563 "[patch] CMake fails when OpenAL is absent"
Version: visualboyadvance-m v2.1.4
Environment: Gentoo Linux with wxWidgets, without OpenAL

If you try to build vbam with wxWidgets in an environment where OpenAL is not installed, cmake fails. (We will soon see the error message.)

I attached a fix at the bottom. Though it works for me, it's a quick-n-dirty guess, because I don't know CMake. It simply adds

`unset(OPENAL\_LIBRARY CACHE)`

to src

[2019-11-08 12:47] ZachBacon commented on #563
Please submit this as a pull request and not as a patch.

[2019-11-08 15:56] denisfa commented on #419
@rkitover That is actually amazing! I will study this solution as I have time!

[2019-11-08 16:01] denisfa commented on #563
@ZachBacon does our CI try different compilation options? Or is it something like "enable everything and see if it fails"?

[2019-11-08 16:16] orbea commented on #563
@denisfa It would be trivial to add this support to travis.

I suspect there is a better way to refactor to OpenAL `find_package` checks to avoid this issue, but I haven't looked too closely yet.

[2019-11-08 17:41] rkitover commented on #563
To add this to travis we need to add flags to installdeps to skip dependencies like openal and ffmpeg.

[2019-11-09 00:04] Ntemis commented on #554
I updated the gcc via ppa and it builds fine now

[2019-11-09 00:04] #554 closed

[2019-11-11 00:33] ObscenityIB opened #564 "installdeps: Obsolete debian package reference"
### Expected behavior
`./installdeps` succeeds
### Actual behavior
`E: Package 'libwxgtk3.0-dev' has no installation candidate`
### Steps to reproduce the behavior
pull bd7f38ece783abd10358ca05c2f9b9a66173414c
`./installdeps`
### Build details

Operating System (Windows, Mac, Linux (state distribution), etc.):
Linux (Debian/Ubuntu)
If using Linux, specify if using xorg or Wayland:
both
Version of

[2019-11-11 02:25] rkitover commented on #564
which ubuntu is this?

Run this:

[code]

[2019-11-11 12:52] ObscenityIB commented on #564
@rkitover

[code]
Yeah its my everyday distro, because it has all I need.

PS. Last succesful build was eaa744cc and is still currently installed.

[2019-11-11 13:05] ObscenityIB commented on #564
My solution got rid of the warning but there's still an error later on, oddly with gtk2 instead of the gtk3 that was just replaced.

[code]

[2019-11-12 15:47] RunisDauphin opened #565 "Hotkey problem?"
### Please fill out this form:

### Expected behavior
When you press the hotkeys for either Autofire buttons or the Autohold buttons they active their purpose.

### Actual behavior
When you press the hotkeys for either Autofire buttons or the Autohold buttons they do not do anything. At least, if you go to Options->Input->Autofire/Autohold->Button it still works. Also, it does not seem to be any r

[2019-11-12 16:20] denisfa commented on #565
@RunisDauphin Just tested this against current master and I cannot reproduce it. Check your config file. Look for same keys assigned to multiple options.

[2019-11-12 18:46] #564 closed

[2019-11-12 18:47] rkitover commented on #564
This should be fixed in master, please re-run `./installdeps` and let me know if you have any further issues.

[2019-11-13 00:45] ObscenityIB commented on #564
@rkitover yep works great, the other gtk2 error also cleared itself up when I purged and reinstalled it.

[2019-11-13 11:49] #563 closed

[2019-11-13 11:51] rkitover commented on #563
This is fixed now and tested for on travis.

[2019-11-13 19:56] RunisDauphin commented on #565
Alrighty, I have tried at home with the same vbam.ini I moved from the stable 2.1.4 version, and then I made another one from scratch with the last developpement version.

[vbam-1.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/3843181/vbam-1.zip)
This first one is still giving me the troubles I described yesterday.

[vbam-2.zip](https://github.com/visualboyadvance-m/visualboya

[2019-11-13 20:02] RunisDauphin commented on #362
For those of you that want to use the Retrobit Mega-Drive 6 button controllers to play here.
This are my two default configurations:
-/ L -> Z, R-> C:
Up=Joy5-Axis4-
Down=Joy5-Axis4+
Left=Joy5-Axis0-,Joy5-Axis1-,Joy5-Axis2-,Joy5-Axis3-
Right=Joy5-Axis0+,Joy5-Axis1+,Joy5-Axis2+,Joy5-Axis3+
A=Joy5-Button1
B=Joy5-Button2
L=Joy5-Button5
R=Joy5-Button4
Select=Joy5-Button8
Start=Joy5-Button9

-/ L -> X,

[2019-11-13 21:43] rkitover commented on #565
@RunisDauphin can you please be more specific about what doesn't work for you the way you want it to work and what you would like to work differently etc..

Ideally open separate issues with a very specific description of the feature or bug.

[2019-11-13 23:49] denisfa commented on #565
@RunisDauphin I just checked your config file `vbam-1.zip`. I spotted this:
![Capture](https://user-images.githubusercontent.com/11354751/68811500-90d0af80-064f-11ea-9b83-385a34102f12.PNG)

Do you recognize these buttons? Of course you do.
[code]

This is the reason the autohold did not work on your first config.

You changed a couple of these on your `vbam-2.zip`:
[code]
So the autohold started w

[2019-11-13 23:54] denisfa commented on #565
@rkitover Any consideration about this? We are doing like `mGBA`. Example:
1. set key to autofire-A to W;
2. press and hold key W;
3. the behaviour will be as in pressing A repeatedly really fast.

If we were like `VBA-RR`, pressing the key W would be sufficient to trigger A repeatedly until W is pressed again.

@rkitover Is this intended?

[2019-11-14 00:02] denisfa commented on #565
@RunisDauphin We have been dealing with a constant issue of information request when dealing with your issues... Sometimes you write a wall of text without nothing relevant, then you follow up with an incomplete one.

I edited your original comment, but this part I removed is pure gold:

In this case, for VBA-RR the cheatlist is desactivated, and I have no cheats on VBA-M (because I still ignore i

[2019-11-14 15:12] rkitover commented on #419
@denisfa

I am going to be in the processing of rewriting our joystick handling code, which uses SDL.

Currently it uses a timer and polls attached devices every 50ms.

I am going to rewrite it to use SDL events and call SDL_Poll() in OnIdle, like any wx event loop tie-in would work.

This will also allow the proper handling of device attach/remove events.

I'm going to switch from the SDL Joystic

[2019-11-14 18:59] RunisDauphin commented on #565
Let's split things up:

1-/ I did change the keys for the motion controls the second time because I remembered I had the habit of puting them there (when autohold was not present yet).

2-/ I did not know that autofire was changed to be more like mGBA (a button) instead of classic VBA (a switch) (in fact, VBA-M had toggle autofire keys until very recently). By the way, as I said, when I check on i

[2019-11-16 17:20] Ayoub13Berrahel opened #567 "Input Stuck"
# Expected behavior
Going down up left and right
### Actual behavior
getting stuck on going to a direction
### Steps to reproduce the behavior
I don't know the game was running fine (Pokémon FireRed) until it suddenly decided to be stuck non one input key

Instructions for doing so are
[here](https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/README.md#reporting-crash-bugs).

###

[2019-11-16 17:21] ZachBacon commented on #567
Please fill out full template, what version of vba-m etc is important information we need.

[2019-11-24 02:06] mcabel opened #569 "Accept gamepad input in hotkey assignment [Feature Request] [Enhancement]"
### Expected behavior

It would be really useful to assign gamepad/joystick buttons to hotkeys and auto-fire.
This way, one could have savestates, Toggle fast forward, and other useful functionality pretty accessible.

 ### Steps to reproduce the behavior
Options > KeyShortcuts

### ROM details
N/A

### Option details

Video driver (simple, opengl):

Sound driver (directsound, xaudio, openal, SDL)

[2019-11-24 03:14] mcabel opened #570 "Allow multiple assignments for each gamepad button [Enhancement][Feature Request]"
### Expected behavior
Have the ability to assign multiple gamepad/joystick buttons to a single game button.
Examples:
+Assigning BOTH dpad and left joystick to movement.
+Have "A" button on Circle, triangle and R2
+ Map movement to Dpad. Also map "up" from the emulator to up from the second joystick, individually. (can use up in mapped dpad and second joystick)
+and so on...
-as an example PPSSPP

[2019-11-24 03:17] ZachBacon commented on #570
You just duplicated the same issue... Only one please.

[2019-11-24 03:18] mcabel commented on #570
@ZachBacon it's a different issue ^^;

[2019-11-24 03:19] ZachBacon commented on #570
@mcabel it's input related, then append your last issue since it's essentially the same topic

[2019-11-24 03:21] mcabel commented on #570
I can append if you want to keep it that way, but one would deal with the hotkeys modules while the other would deal with basic input modules. Wouldn't it be cleaner to keep them separate?
I'll do as you advise @ZachBacon

[2019-11-24 03:22] ZachBacon commented on #570
@mcabel never mind.

[2019-11-24 03:32] mcabel commented on #570
I realized this is NOT an issue. The current version does this. For some reason it did not work the first time I tried. My apologies.

[2019-11-24 03:32] #570 closed

[2019-11-25 03:52] Hexfire7th opened #571 "Bomberman GB 3 - All characters, enemies and menu pointers are not visible"
### Expected behavior
Bomberman, enemies and menu cursor should show up.

### Actual behavior
They are all invisible. A possible interactive layer problem perhaps?

### Steps to reproduce the behavior
Simply open up the Bomber Man 3 GB rom and get to the playable content.

### ROM details
Bomber Man GB 3 (Japan) (SGB Enhanced)

[2019-11-25 03:54] Hexfire7th opened #572 "Bomber Man GB 3 (GameBoy) characters, enemies and menu pointers not visible"
### Please fill out this form:

### Expected behavior
Interactive elements should be visible

### Actual behavior
They aren't. Layer issue perhaps?

### Steps to reproduce the behavior
Simply open up the rom and get to the playable part.

### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are
[here](https://

[2019-11-25 10:39] ZachBacon commented on #572
So I'm gonna close #571 because you posted this twice. Also please follow the template. We need versions you used etc.

These are ALL important information. If you can add those details that would be great.

[2019-11-25 10:39] #571 closed

[2019-11-25 11:14] denisfa commented on #572
@Hexfire7th As a workaround using version `2.1.4`: go to `options` > `Game Boy` > `Configure ...`. Check if `Emulated system` is NOT set to `Game Boy Color` or `Game Boy Advance`. It should work with others.

@ZachBacon I can confirm this on latest version on Linux, but only when using emulated system like above. Not sure if this is an actual bug, though.

[2019-11-28 15:19] denisfa commented on #572
@Hexfire7th Sorry about the delay here, but I could only check now that this is not an actual bug. If you check your configuration, you will very likely see that you are forcing the emulator to open this rom on either Game Boy Color or Game Boy Advance. This is not supported because of some technical details that I won't explain now.

If you would like to play with colors, use the Super Game Boy.

[2019-11-28 15:22] #572 closed

[2019-11-28 15:32] denisfa commented on #419
@rkitover I just realized you merged the controller stuff. Nice! I will very soon start the auto-updater stuff.

I was going through the issues section and started to see something... interesting. There is a bunch of accounts that are created on the same day they report the issue to never be seen again. No answer from them and usually incomplete information. It feels a lot like a single person spa

[2019-11-28 16:52] rkitover commented on #419
I think it's just that github is more of a programmer application and we are using it for end-user support.

[2019-11-29 03:25] rkitover commented on #419
@denisfa I think my merge may have been slightly premature, I was just waiting for you to press the merge button. Now there is actually a minor change I want to make, can never get the git history as clean as you'd like. I guess history is messy. I just need to make Remove() close the SDL devices so the sticks are detached from the app.

Anyways, there was something I was going to ask you to do.

[2019-11-30 01:00] denisfa commented on #419
@rkitover Absolutely! I will take a look as soon as possible! Do you have any target size in mind? I should probably just start first and see what can be done.

[2019-11-30 07:17] maniaanonymoose commented on #559
## verified buffer overflow. please add a critical tag to this and move to high priority.

![2019-11-29_23-04](https://user-images.githubusercontent.com/58354815/69897223-5af12380-12fd-11ea-96bf-c9ca58055fcb.png)
![2019-11-29_23-05](https://user-images.githubusercontent.com/58354815/69897224-5fb5d780-12fd-11ea-9163-08885915cf7f.png)

[2019-11-30 20:46] FirstArchon opened #573 "gamelink single computer issue"
### Please fill out this form:

### Expected behavior
game links the 2 instances of emulator running and allows pokemon trade
### Actual behavior
games both lag. pokemon and playernames mess up. ex red becomes *random string of numbers*re or a pokemon becomes a diffrent pokemon or even a corrupted string of giberish or missing no
### Steps to reproduce the behavior
try to use the single computer g

[2019-11-30 21:18] rkitover commented on #559
Thanks, will take a look today.

[2019-11-30 21:20] rkitover commented on #573
Thank you for your report, link is currently broken in various ways and we are aware of this.

[2019-11-30 22:32] rkitover commented on #419
@denisfa For comparison, the static windows binary with ffmpeg is `55mb` uncompressed, and `20mb` without ffmpeg. So there is a lot of room to optimize. We can also optimize other things to reduce the size of the executable further, but this is the main thing right now.

Another thing I wanted to tell you, for debugging with the build script, when you want to rebuild a dist just delete the directo

[2019-11-30 22:34] rkitover commented on #419
@denisfa I'm going to run a clean cross build today and make sure everything is ok as far as my latest changes go.

[2019-12-01 00:39] FirstArchon commented on #573
any idea when this might be addressed?

[2019-12-01 00:42] rkitover commented on #573
Since it's one of our biggest issues right now, probably within the next few months.

[2019-12-01 01:09] FirstArchon commented on #573
wooo

[2019-12-01 11:46] rkitover commented on #419
@denisfa currently some issues with the glib cross build using meson, hold on working on the scripts for now I will post here when I have everything ready.

[2019-12-01 22:09] rkitover commented on #419
@denisfa the cross build is fixed as of b9179330. Now I need to look into the wx event loop issue triggered by the new joystick code.

[2019-12-03 17:44] lgczszs opened #574 "ubuntu How to set the language?"

[2019-12-03 20:16] rkitover commented on #419
@ZachBacon I've identified the issue with the joystick code on windows as having to do with the wx event loop in post 3.0 versions. I believe I fixed it in 498e4e85, when you get a few minutes could you please test? Thank you!

[2019-12-03 22:47] ZachBacon commented on #574
@lgczszs Assuming the translations are properly installed, it should follow your operating systems set language

[2019-12-03 23:00] ZachBacon commented on #419
@rkitover already trying, msys2 has some icu compile issue, but I need to switch over to linux so I'll try a cross build there, Been meaning to give that a try since you fixed that

[2019-12-04 06:11] lgczszs commented on #574
I compiled the code, how to change the language from the source code

[2019-12-04 06:11] ZachBacon commented on #574
My answer is shown above.

[2019-12-04 06:19] lgczszs commented on #574
How to install translation correctly

[2019-12-04 06:20] ZachBacon commented on #574
How about asking the Ubuntu forums for that. We aren't an operating system support forum.

[2019-12-04 06:24] lgczszs commented on #574
This is because the compilation tutorial does not say how to compile the language

[2019-12-04 06:26] ZachBacon commented on #574
Translations are automatically compiled and installed upon make install. And if you install into /usr then what I said still stands.

[2019-12-04 06:42] lgczszs commented on #574
It's fixed after executing make install ,thank you

[2019-12-04 06:43] #574 closed

[2019-12-04 09:31] rkitover commented on #419
@ZachBacon can you put the log of the icu build on a gist or something, I just ran a full msys2 build through fine.

[2019-12-05 10:03] ZachBacon commented on #419
@rkitover After getting back to windows, I ran the script again, it built without issue surprisingly. Probably just a small issue, but I did a git pull and ran the script.

[2019-12-05 10:55] ZachBacon commented on #419
@rkitover I did an msys2 build, It definitely registers device connects and disconnects but currently it won't initialize the input without rebinding.

[2019-12-05 14:02] rkitover commented on #419
@ZachBacon that's a problem with SDL, on linux too. If you disconnect the controller and reconnect it again it won't work.

However, if you start the game with the controller disconnected and then connect it, it should work, can you try this?

[2019-12-05 14:11] rkitover commented on #419
@ZachBacon also you have some interesting joysticks, I am curious to know if the default mappings for them work correctly.

[2019-12-05 14:15] ZachBacon commented on #419
@rkitover yes I have and that does work, if I rebind the keys, I'm still reporting the issue as such though and the controller is 8bitdo sn30 pro running in xinput mode.

[2019-12-05 15:02] rkitover commented on #419
@ZachBacon My 360 controller works when I connect it with the app running, I don't have to rebind the keys. If you just connect yours then it doesn't work until you rebind the keys? Are the keys in the config initially?

[2019-12-05 15:06] ZachBacon commented on #419
@rkitover it's the same input bindings however it's connected through Bluetooth, so let's say it's all preconfigured from a previous run, controller is off, I run the emulator and then turn on the controller, it pairs and then I see the message that the controller is connected by windows and by the recent change you placed for the osd, it doesn't quite register though until I reset the input confi

[2019-12-05 17:01] rkitover commented on #419
@ZachBacon I believe I fixed this in 1ccc3779.

[2019-12-05 17:01] rkitover commented on #419
@ZachBacon I'm going to work on improving the Visual Studio support now.

[2019-12-06 01:08] maniaanonymoose commented on #573
Link on GNU/Linux does not work at all in game for any of the pokemon games using any of the link connections. the emulators are able to connect to each others and establish a link but in game it does not see the "gameboys" as linked at all. so for my understanding the actual linking code works but there needs to be individual "game fixes" so that the games know there is an established conenction

[2019-12-06 04:02] ZachBacon commented on #419
@rkitover a bit better, the other use case I've explored is when the pad is active and say you leave it running for a while and let the game pad deactivate and then you reactivate, it doesn't work. But having vba-m run when there isn't a game pad active and then turning it on, does seem to work proper now with my bluetooth controller.

[2019-12-06 05:45] rkitover commented on #419
@ZachBacon excellent, thank you for testing!

The issue with controller reconnect is broken in SDL itself, I might look into it and see if I can send them a patch.

[2019-12-06 05:48] ZachBacon commented on #419
@rkitover anytime. It's the least I can do for now until work gives me more free time.

[2019-12-06 07:36] rkitover commented on #419
@ZachBacon As a first step I filed a bug on the libsdl bugzilla: https://bugzilla.libsdl.org/show_bug.cgi?id=4886

[2019-12-06 07:38] ZachBacon commented on #419
@rkitover awesome

[2019-12-07 11:47] KirbyFan102 commented on #573
I had this problem with Boktai and Battle Network for several years ever since I first started using VBA-M, I think. Even posted it as an issue here a couple of months ago. Glad to see it's finally getting some attention.

[2019-12-07 11:49] ZachBacon commented on #573
It's been on our radar for some time, it's just not been top priority since we shifted UI toolkits from the windows only MFC toolkit to a cross platform one and getting that one up to speed. But it's always been on our radar.

[2019-12-07 12:38] KirbyFan102 commented on #573
I didn't mean to say you haven't been working on it. But it _has_ been an issue for a really long time. Or what feels like a really long time.
(And it's especially troublesome for Boktai because I can't just import the save to VBA-Link, since that function doesn't seem to work on Boktai for whatever reason.)

[2019-12-07 16:26] primo00 opened #575 "Bomberman Tournament - enemy death causes lag"
### Expected behavior
seamless enemy death animation

### Actual behavior
enemy death causes the game to lag

### Steps to reproduce the behavior
killing an enemy (the balloon and tree enemies at alpha/plains)

### ROM details
Which games are affected by the issue (please state if GBA or GB game):
Bomberman Tournament

Include screenshots of ROM Information (File > ROM Information):
https://puu.sh

[2019-12-07 17:53] rkitover commented on #419
@ZachBacon @denisfa

Good news everyone!

As of 2b34983b my vcpkg crap for visual studio now works correctly with Ninja, so it is no longer necessary to use this horrible msbuild garbage.

The doc and appveyor have been updated.

[2019-12-07 20:08] JPValejo opened #576 "Very laggy ROM, any game"
### Please fill out this form:

### Expected behavior
game to run smoothly

### Actual behavior
varry laggy game, both video and sound.

### Steps to reproduce the behavior
open any game... i dont know whats wrong with my setup. is an old laptop, but should run.

### Crash bugs

didn't crashed at any time.

### ROM details
![image](https://user-images.githubusercontent.com/58639338/70380020-a6b257

[2019-12-07 20:17] JPValejo commented on #576
Just un update>>> I just tried the VBA-M-WX and didn't had any problem... any idea what could be?

[2019-12-07 21:44] rkitover commented on #419
I'm finishing up some other long-overdue visual studio fixes, debug builds, static builds, ffmpeg, etc..

[2019-12-07 22:37] ZachBacon commented on #576
We only support the wxwidgets frontend now. A lot of our effort went into polishing that up. That's all I can say.

[2019-12-07 22:38] ZachBacon commented on #575
For the video driver, did you choose one, close the application and then start it again with the driver selected? Or just select the driver and just continued with the same instance?

[2019-12-08 02:31] primo00 commented on #575
i guess more of the latter one. but i also tried the first one by chance. since it was default on opengl, then i switched to simple, and when it did nothing, i closed (vba-m) and checked if the old vba 1.8.0 had the same lag (thinking that it might be the rom's fault). and restarted on vba-m again (on simple).

[2019-12-10 11:16] #465 closed

[2019-12-10 16:49] rkitover commented on #419
@ZachBacon @denisfa

Ok I'm done with getting visual studio support near perfect in cf9a88df.

Some things I have left to wrap up:

- SDL binary throws two assertions on startup coming from SDL
- use a binary package of ffmpeg on appveyor, trying to build it with vcpkg makes the jobs go over the time limit
- find a package of gettext-tools to use because vcpkg does not have anything, to generate t

[2019-12-11 21:08] KirbyFan102 commented on #558
Have you tried download the solar sensor patch and then patching the ROM with lunarips? I used to get a very similar error when I played the first time, but was able to run the game without problem after I patched it. Your mileage might vary, though.

[2019-12-11 21:29] KirbyFan102 opened #577 "Save not being recognized after using save state"
### Expected behavior:
after manually saving the game, using a save state to go back to a moment prior to having saved the game without erasing your actual save.
### Actual behavior:
Game no longer recognizes the save, in spite of the .sav file still existing.
### Steps to reproduce the behavior
create a save state, then save the game, load save state, then reset and check if the game still recogn

[2019-12-12 17:13] InfiniteParallel commented on #558
Yes, I have tried this, Unfortunately, it made no difference in this type of error.

[2019-12-12 19:53] juanpablo64 commented on #573
some lesser known games, like hajimari no ishi or the first swordcraft story, face the same issue, they just won't work using the link option! which is a shame, I really want to know how battles are handled there.

[2019-12-13 00:41] denisfa commented on #419
@rkitover Nice work! What version are you aiming for visual studio support? Only the latest (2019)?

I finally have some free time on my hands, so I will start working on the FFMPEG build. I will probably update the README too with some of the stuff that is hidden in our issues sections.

[2019-12-13 01:12] rkitover commented on #419
@denisfa Nice!

The VS support will work on the commandline in 2015+, however in the GUI there are issues with cmake projects, and it's best to use 2019.

Don't spend too much time on the ffmpeg build, we might switch to VS builds for releases now, but if you can cut out some of the deps and maybe turn off some features, that would be nice.

Also, and this affects the vcpkg builds too, I'd love to

[2019-12-15 13:51] rkitover commented on #419
@denisfa I forgot about the mac builds actually, we will definitely use the script for that. So minimizing the ffmpeg build will definitely help.

[2019-12-15 20:04] ZachBacon commented on #419
@rkitover found this topic regarding bcrypt https://github.com/openssl/openssl/issues/8635

[2019-12-16 08:49] wjmelements opened #578 "Compiler warning: tautological comparison"
During make -j
[code]
This might be causing another issue.

[2019-12-18 03:00] ultima-soul opened #579 "Custom RTC for Pokemon Rom Hack Not Properly Detected"
### Please fill out this form:

### Expected behavior
At memory address 0x300553C, the correct date and time should be showing in this format:
`Year(2 Bytes) 00 Month(1 Byte) Day(1 Byte) DayOftheWeek(1 Byte) Hour(1 Byte) Minute(1 Byte) Seconds(1 Byte)` once the rom is loaded.

00 is December's number in this implementation.

This should be detected by default if RTC has been enabled via Options >

[2019-12-18 18:00] SatoMew commented on #579
There was also a relevant change to the RTC code in [an early 2.0.0 commit](https://sourceforge.net/p/vbam/code/1483/) so I'm mentioning it here in case it may help with tracking down the regression.

[2019-12-18 18:24] denisfa commented on #579
@ultima-soul Thank you for the very detailed report! A dev can only wish something like this!

@SatoMew Thank you very much for the follow up. We will definitely take a look.

At the moment we are all over the places within the current code. I feel like this is more of a issue because we are not detecting the FireRed custom version to use the FireRed overrides (this is a common complain), but I wi

[2019-12-18 18:27] denisfa commented on #578
@wjmelements Sorry for the delay, but could you explain about what other issue this may cause? We know about some warnings, but we are not aware of bugs due to it. Also, please provide some more details (compiler and version).

[2019-12-18 18:29] denisfa commented on #577
@KirbyFan102 Sorry for the delay. I can confirm such matter on latest version (`2.1.4`). Could you tell us about the use case for this?

Also, the sav data was not corrupted. It was just not recognized by the game. We will take a look.

[2019-12-18 18:33] denisfa commented on #576
@JPValejo We are always trying to optimize.

Did you have a special config for VBA-M-WX? Did you try the same config with the latest VBA-M? This is very unlikely, but I just want a simple confirmation.

[2019-12-18 18:36] denisfa commented on #575
@primo00 Is your windows x32 or x64? And this happens just when killing enemies? What about transitions between screens?

[2019-12-18 18:48] denisfa commented on #573
This report is a little bit tricky... @FirstArchon you can confirm that you were able to link **GB** pokemon games on Windows? Could you provide a screenshot of the screen with all the glitches? Or the confirmation that it got linked, please?

@juanpablo64 We need more info. Using my tests as example, I could connect all **GBA** games I tried on Linux (that does not mean everything works, just wha

[2019-12-18 19:23] KirbyFan102 commented on #577
Use case? Well, for some games, like the aforementioned Boktai, I find it useful to keep multiple savestates - one I save frequently, one infrequently, and one very rarely. This is because most GBA games have only one saveslot, so doing this prevents me from suffering if I accidentally make a mistake I'll only regret hours later.
Also, I'm pretty sure I never said the save file was "corrupted" in

[2019-12-18 22:38] negativeExponent commented on #579
Option > Real-time Clock is somewhat misleading. This option only tells core if time should be computed based on real-time clock when checked or use in-game's timer when its off. This does force the ROM to read time itself.

Ingame clock is only activated when a game supports it (through existing database or matching  string in the binary file) and it is enabled by setting rtcEnable{true}.

Pokemo

[2019-12-18 22:39] ZachBacon commented on #419
@rkitover @denisfa Took a little while, but I now own the visualboyadvance-m snap store page, we now have a place to upload snaps for Linux distro's that use snapd

[2019-12-19 03:25] rkitover commented on #419
Zach, that's awesome, would be nice to have something on flathub. Did you say you had some remaining issues with the snap? Something about the icon? There is an `.svg` you can use for that.

[2019-12-19 03:33] ZachBacon commented on #419
@rkitover it's more for the desktop file and iirc we have it already, just for some reason the snap isn't finding it, but it's still can be launched regardless, however this release I did, was more a beta, try and get feedback etc for things I possibly missed.

[2019-12-20 01:14] ZachBacon commented on #419
@rkitover https://hg.libsdl.org/SDL/rev/8c22865bd138 seems the hotplug controller thing should be resolved potentially in the up coming release.

[2019-12-20 18:52] rkitover commented on #419
@ZachBacon I just tried SDL from hg, and unfortunately none of this fixes the problem.

[2019-12-20 19:17] rkitover commented on #419
@ZachBacon I tried building SDL with `--enable-hidapi` and it still does not work. The behavior is slightly different though, repairing the controller makes the indicator glow on the right instead of the left with the app open, but events are still not generated other than the connected event.

[2019-12-20 19:19] ZachBacon commented on #419
@rkitover I wonder if It's on their list. I'll keep an eye on their commits and the commit log.

[2019-12-20 19:20] rkitover commented on #419
@ZachBacon I'm going to see if there is a not too difficult fix for this in SDL itself, so far I saw nothing obvious. Failing that, I might implement a hybrid event/polling system, which should not be too difficult but something I'd rather avoid.

[2019-12-21 05:41] primo00 commented on #575
windows x64. and yes. it only happens when killing enemies. the balloon and the tree enemies, to be specific. the slime enemies are fine. i haven't tried other enemies yet, since i stopped progressing with the game when i encountered the lag.

[2019-12-21 14:57] rkitover commented on #419
I'm doing some work right now to fix up the app name, that will hopefully also fix the desktop file issue with the snap, I will test everything out.

[2019-12-21 19:29] rkitover commented on #419
@ZachBacon Can you set the edge channel of the snap to master and rebuild, I believe f306cc63 fixes the desktop file and icon issues.

[2019-12-21 22:02] rkitover commented on #419
@ZachBacon @denisfa I am going to finish up some release automation stuff in cmake, mostly just the codesigning and translations files, then do the next release, if there are no objections.

[2019-12-21 22:43] denisfa commented on #419
@rkitover Give me a day limit for me to finish the FFMPEG build. I was checking some ideas and got lost trying to add them. I will focus on the easy and simple solution.

[2019-12-21 23:31] rkitover commented on #419
@denisfa take your time, I'll try some other things to fix the joystick hotplug support in the meantime.

[2019-12-22 02:03] CoolFer3 opened #580 "Turbo mode permanetly active after saving the file while having it on"

[2019-12-22 02:09] #580 closed

[2019-12-22 02:10] ZachBacon commented on #580
@CoolFer3 can I ask why you closed your issue? I Assume you figured out how to resolve?

[2019-12-22 02:15] CoolFer3 opened #581 "Turbo mode gets stuck after saving the file while having it on."
### Expected behavior:
Turbo mode is supposed to disable when you press the hotkey that you chose for it.

### Actual behavior
When i try to press the hotkey to disable turbo mode, it does nothing and it stays fast. i think this happens because i saved the file while having turbo mode enabled

### ROM details

Which games are affected by the issue (please state if GBA or GB game):
Pokemon Emerald

[2019-12-22 02:16] CoolFer3 commented on #581
im sorry if there is not enough information but this is the first time im using this emulator.

[2019-12-22 02:56] denisfa commented on #581
@CoolFer3 Thanks for the report. But there is at least one important thing missing: the vbam version you are using. Go on `Help` > `About`. It should be the second line.

Is this a issue with the hotkey only? When the game is running, if you use the menu option, does it work (removes the turbo)?

[2019-12-22 03:23] rkitover commented on #419
@ZachBacon hey can you do some more joystick hotplug testing, specifically of 0577f8af.

I did the hybrid event/polling system and it seems to work. Would like you to verify that there are no issues.

When you compile in debug mode the console output should say `POLLED ...event...` instead of `GOT ...event...` in the scenario where you disconnect and reconnect your controller with the app open.

P

[2019-12-22 03:26] ZachBacon commented on #419
@rkitover sure thing. I'll do some testing tonight.

[2019-12-22 03:35] ZachBacon commented on #419
@rkitover while I'm at it, I'll do a rebuild of the snap and give a local test.

[2019-12-22 03:46] rkitover commented on #419
@ZachBacon unfortunately LTO is now broken on 32 bit mingw as well, it's a different sort of error, something to do with this:

https://mcuoneclipse.com/2017/11/12/solving-problem-with-gnu-linker-and-referenced-in-section-defined-in-discarded-section-error-message/

I got this with the fedora toolchain.

But Visual Studio LTO works fine, which is what we're going to use for the 64 bit builds.

I'm

[2019-12-22 04:15] ZachBacon commented on #419
@rkitover i know clang LTO builds work. But there's some libs that don't build right yet, and llvm-mingw makes use of ucrt (which I don't think works on 7 below, but there was a recent change that allows you to choose the CRT now) https://github.com/mstorsjo/llvm-mingw

[2019-12-22 16:41] CoolFer3 commented on #581
no, the issua is still there when i try to disable turbo mode from the menu

[2019-12-22 16:42] CoolFer3 commented on #581
and im using the version 2.1.4

[2019-12-22 17:38] rkitover commented on #419
@ZachBacon regarding the app icon and name, I made one mistake in f306cc6 which is fixed by 54072f97, this doesn't affect the desktop file however.

[2019-12-22 20:23] Pikachuisgood commented on #581
very easy : just do help--> factory reset

[2019-12-22 21:18] denisfa commented on #581
@CoolFer3 This looks very weird... I was thinking about a toggling issue, but it seems very different.

If you can, please upload your save file `.sav` and your config `vbam.ini` for us to check.

@Pikachuisgood Have you had this issue before? Can you give us more information about your case, please?

[2019-12-22 21:21] Pikachuisgood commented on #581
yeah i had this issues before and it work for me
this was exactly like him

[2019-12-22 21:39] denisfa commented on #581
@Pikachuisgood Thank you! That confirms this is a config issue. Although I still would like to see the config file while this issue is happening, to be 100% sure.

@CoolFer3 Check the solution above from @Pikachuisgood. Before that, please upload your configuration file so I can check and close this.

[2019-12-22 23:15] CoolFer3 commented on #581
it doesn't let me upload my save file

[2019-12-22 23:17] CoolFer3 commented on #581
@Pikachuisgood thank you very much for the advice :) it worked and my game is fixed.
also thank you denisfa for trying to help me with my issue, i like that you guys really care about your emulator and i appriciate your work!

[2019-12-22 23:22] Pikachuisgood commented on #581
no problem buddy ;)

[2019-12-22 23:23] Pikachuisgood commented on #581
i make an account just for fixing ur problem

[2019-12-23 03:51] ZachBacon commented on #419
@rkitover did a mingw build (x86_64) and crash on rom load, haven't gotten to the snap build yet, will try to tonight.

[2019-12-23 03:57] negativeExponent opened #582 "Input latency increased by 1 frame since last rework"
### Please fill out this form:

### Expected behavior

same input latency by frames

### Actual behavior

increased by 1 frame

### Steps to reproduce the behavior

Super Mario Advance 4 - Super Mario Bros. 3 (USA) is a good game for the test.
- start the game in world 1
- pause game.
- press and hold the "jump" button
- press "next frame" hotkey (ctrl+N default)
- Mario jumps on the 3rd press

co

[2019-12-23 03:59] ZachBacon commented on #582
most likely it's due to the input rework that @rkitover put into, trying to get device polling for hot plug support. Thanks for the report

[2019-12-23 04:14] rkitover commented on #419
@ZachBacon was this in msys2?

[2019-12-23 04:15] ZachBacon commented on #419
@rkitover it was indeed

[2019-12-23 04:17] rkitover commented on #419
@ZachBacon will check all of that tonight.

[2019-12-23 04:43] rkitover commented on #419
@ZachBacon btw ninja also works in msys2, I just need to figure out how to get color gcc diagnostics.

[2019-12-23 15:18] rkitover commented on #419
@ZachBacon msys2 builds work fine for me, both the normal builds and the script builds.

[2019-12-24 01:40] Yave-Yu opened #583 "Simple anyX have a black line on top"
In 2.1.4, if you use Simple 2X, 3X, 4X... filter, you will see a black line on top, looks like it ate 1 line pixel, but won't happen in older version like 2.1.0, so why?
Tested on Windows 10.

[2019-12-24 01:42] denisfa commented on #583
@Yave-Yu Thanks for the report.

It is a duplicate of #561. It will be fixed on next release/nightly.

[2019-12-24 01:42] #583 closed

[2019-12-24 04:01] rkitover commented on #419
I'm done with the cmake release automation stuff I was planning to do, just waiting on the all all-clear from the CI.

I will be ready to do a release now.

My next project will be rewriting/refactoring all the cmake code.

After that I will try to improve link support.

[2019-12-24 05:41] ZachBacon commented on #419
@rkitover wasn't @denisfa supposed to finish something up with ffmpeg? Also there's a slight regression regarding input apparently, a frame delay, the issue is in the tracker that should be looked into as well before doing a release potentially. Unless you think it's absolutely ready.

[2019-12-24 06:29] rkitover commented on #419
@ZachBacon yes of course, and I'm still waiting on you to test the joystick hotplug support. I meant I am done with the things I wanted to be ready to actually do the release.

[2019-12-24 06:30] rkitover commented on #419
@ZachBacon what is the issue for the frame delay thing?

[2019-12-24 06:32] ZachBacon commented on #419
@rkitover Sorry I've been busy with work a bit. I'll test when I get home as for the frame delay, check #582

[2019-12-24 06:43] rkitover commented on #419
@ZachBacon sorry I used to rely on the irc channel to watch github events, but now that I left IRC I wasn't paying attention. I'll watch the gmail folder more closely or set up an RSS reader.

[2019-12-24 07:13] rkitover commented on #582
@negativeExponent I might have set the poll frequency too high, can you please try changing `POLL_TIME_MS` in `src/wx/widgets/wx/sdljoy.h` to `50` or even `100`.

[2019-12-24 07:31] ZachBacon commented on #419
@rkitover My phone constantly updates me on new changes, I'm just not always available to reply. But something like an rss feed would be nice.

[2019-12-24 13:58] #582 closed

[2019-12-24 13:58] rkitover commented on #582
Never mind what I said earlier, I realized what it is, should be fixed in master. Please reopen if that is not the case.

[2019-12-24 16:50] negativeExponent commented on #582
no difference. put polling before emuMain

[2019-12-24 21:11] denisfa commented on #419
@ZachBacon @rkitover Before I forget, happy holidays and merry Christmas to you both!

Let's do a nightly, they exist for this reason. Especially if we can add the joystick feature. The thing that I wanted the most to is the auto-updater feature.  The FFMPEG build is in a weird spot, because I am not doing the cmake part, only the builder scripts. Will they replace the cmake? What's the plan to in

[2019-12-24 21:50] rkitover commented on #419
@denisfa I will do a nightly today.

The scripts will be used for the mac build and the 32 bit mingw build. They are still the best way to do mac builds, and I will keep improving them.

[2019-12-24 21:56] rkitover commented on #582
Sorry should have tested this, does it work now?

[2019-12-24 22:14] negativeExponent commented on #582
yeah, not it has better response.

[2019-12-24 22:54] rkitover commented on #582
Awesome, thank you very much for testing!

[2019-12-24 23:19] rkitover commented on #419
@ZachBacon I just noticed that msys2 doesn't require running as admin anymore to use real symlinks, this is fantastic. I updated my guide here:

https://gist.github.com/rkitover/d008324309044fc0cc742bdb16064454

[2019-12-25 01:55] ZachBacon commented on #419
@rkitover just fyi, pretty sure windows 10 now includes sshd but good guide

[2019-12-25 01:56] ZachBacon commented on #419
https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_server_configuration

[2019-12-25 03:21] kode54 commented on #419
Quick hint about Windows XP: There's a Windows FFmpeg cross building script I found:

https://github.com/rdp/ffmpeg-windows-build-helpers/blob/master/cross_compile_ffmpeg.sh

That shows basic steps needed to build a mingw environment from various places, and has various changes throughout to make things XP compatible.

Although I wouldn't recommend making it a high priority, or really only a prior

[2019-12-25 03:34] rkitover commented on #419
@ZachBacon yes I use the windows port of openssh with powershell, it's better to use the chocolatey package or their github releases because they are more recent. Their sshd does not work well with msys2 however, so if someone wants to ssh into msys2 using the msys2 version is better.

[2019-12-25 03:35] ZachBacon commented on #419
@rkitover gotcha

[2019-12-25 03:36] kode54 commented on #419
Thought I'd mention the PowerShell choice probably isn't the best anyway, unless you reconfigure away the default blue color scheme, since I've encountered numerous remote shell things that insist on coloring things the very same blue, like Vim syntax highlighting.

[2019-12-25 13:11] rkitover commented on #419
@kode54 the newest powershell does not impose a color scheme, if actually using powershell it's best not to use the one that comes with windows but the powershell-preview chocolatey package.

[2019-12-25 16:28] nf6429 commented on #575
other enemies are affected too, such as the evil tree, dancing machine and the first boss

[2019-12-25 20:38] ZachBacon commented on #581
If this is resolved, I'm closing this.

[2019-12-25 20:38] #581 closed

[2019-12-25 21:02] rkitover commented on #419
@kode54 I should add that for the most pleasant powershell experience, you want powershell-preview from chocolatey combined with microsoft-windows-terminal from chocolatey and edit the settings json for it. I have tango dark for it here:

https://gist.github.com/rkitover/bd9c93d56708f065797739d8ace8c864

[2019-12-25 21:18] rkitover commented on #354
Here's a new build with lots of new stuff:

- New joystick code with hotplug support.
- The 64 bit Windows build is made with Visual Studio + vcpkg + LTO + ffmpeg.
- The 32 bit Windows build is made with mingw without ffmpeg and is Windows XP compatible.
- Some minor window/border fixes.
- Lots of translations updates from our friends on transifex.

Release (really) coming soon.

[translations.zip

[2019-12-25 21:19] rkitover commented on #419
Posted new build:

https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350

[2019-12-26 14:28] ghost opened #584 "Memory Viewer errors and QoL issues"
## A few errors and QoL qualms with the Memory Viewer.

Windows 10 x64
VisualBoyAdvance-M 2.1.4

Cannot type in 1-6 in the memory viewer due to window scaling sharing the same hotkey. Changing the hotkey, both removing the hotkey and replacing the hotkey, do nothing to return usability. Using a 10keyless and using the memory editor is a pain, as an external numpad or a numpad emu is necessary.

Un

[2019-12-26 15:53] rkitover commented on #419
@kode54 I am going to use remote virt-manager to set up VMs for nightly builds on my server and maybe CI runners too. I vaguely remember you have some experience with this, any tips for me?

[2019-12-26 18:32] denisfa commented on #584
@bixxly Thanks for the report.

Duplicate of #516. It should be fixed already.

We are aware of these issues. They will be tackled eventually.

[2019-12-26 18:35] ZachBacon commented on #584
We do have a new nightly available if you want to see how progress is going so far https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350

[2019-12-27 09:19] rkitover commented on #419
@ZachBacon @denisfa

So, I've taken care of the things I wanted to do the most, updating the joystick code and perfect visual studio support. Even posted a VS binary above.

As far as the new joystick code goes, the thing I wanted to accomplish the most was correct default mappings for different types of joysticks, I hope my use of the SDL GameController API did, in fact, do this, but I don't know

[2019-12-29 00:20] ZachBacon commented on #419
@rkitover chances are of me getting fucked up for the new years are pretty slim, but I'll try and have a good time. Also I figured out the icon issue, in the snapcraft, I need to run a sed command to replace the location of the icon to a hard coded location so I needed to do

`sed -i.bak -e 's|Icon=vbam|Icon=/share/icons/hicolor/scalable/apps/visualboyadvance-m.svg|g' src/wx/visualboyadvance-m.des

[2019-12-29 01:20] rkitover commented on #419
@ZachBacon can you hook up the edge channel to master?

[2019-12-29 01:21] rkitover commented on #419
@ZachBacon everything should actually work fine with the icon etc. in master. There were problems because the names didn't match, and I fixed all of that. This will also help with distro packages.

[2019-12-29 01:24] rkitover commented on #419
@ZachBacon actually I forgot to change the icon name in the desktop file, my bad. I'll do that now.

[2019-12-29 01:24] ZachBacon commented on #419
@rkitover I'm attempting to do that but the icon issue still persists. Like I said the desktop icon is fixed, but the app icon in the application about dialog isn't displaying.

[2019-12-29 01:25] rkitover commented on #419
@ZachBacon I will look at the about dialog.

[2019-12-29 02:06] rkitover commented on #419
@ZachBacon both issues are fixed in f3e4b05f and 065e700f, the about dialog icon works now.

[2019-12-29 02:45] ZachBacon commented on #419
@rkitover It is fixed for sure, alright, I'm gonna finish up a few things, like moving the snapcraft yaml to root directory and then setting up the edge channel to build new releases based on new commits

[2019-12-29 03:30] ZachBacon commented on #419
@rkitover I've setup the build service, however I don't think it makes use of the staging snaps I'm using to help build edge releases, as local builds work no problems.

[2019-12-29 03:30] ZachBacon commented on #419
@rkitover I'll have to ask the canonical snapcraft team when they get back on January 6th about it.

[2019-12-29 03:49] rkitover commented on #419
@ZachBacon nice, I think I'll work on setting up the server for real nightlies tonight. I'll use remote virt-manager to set up the VMs or maybe vagrant and whatever else will work. Will let you guys know when everything is ready.

[2019-12-29 03:53] ZachBacon commented on #419
@rkitover sounds good.

[2019-12-29 04:05] rkitover commented on #419
@ZachBacon in the meantime, I would suggest just building the stable snap from master. master is in a pretty stable state right now and we don't have to be anal about adhering to version numbers. Also this will fix the app name and icon issues.

[2019-12-29 04:07] ZachBacon commented on #419
@rkitover it's kinda done. Basis of what I have now was inspired from another snapcraft yaml I saw for obs studio, I can modify it to do git tags or latest commit.

[2019-12-29 11:30] rkitover commented on #419
@ZachBacon great, in that case I would suggest making the beta channel the current master (not updated, but right now.) You can point to a tarball of a specific commit on github.

Once we do the next release, we can set the stable channel to it. And make the edge channel auto-update on master once you are ready to do that.

[2019-12-29 11:42] ZachBacon commented on #419
@rkitover I'll probably do separate subdirs or a submodule and update those separately perhaps, at least until I can figure out a little more of the snapcraft yaml. I think I could coax it to accept parameters to say.. to channel builds, at least based on my experience with solus and their yaml format. I'd have to dig at the documentation a bit. But until then I'll do separate yaml files for each

[2019-12-29 23:05] P0W3 opened #585 "FlashSize Value Cannot Be Changed"
I changed the value to 131072 in FlashSize from vbam.ini. But when I opened VisualBoyAdvance-M, the message stated that the value, 131072, is invalid.

![New Bitmap Image](https://user-images.githubusercontent.com/18279115/71563879-04dedf80-2a65-11ea-945e-323dd45e9ac2.png)

![MWV_0](https://user-images.githubusercontent.com/18279115/71563901-7fa7fa80-2a65-11ea-861c-13095086c0be.png)

[2019-12-30 00:36] negativeExponent commented on #585
user error. you are not suppose to modify flash size from there. you force flashSize using the Options > Game Boy Advance > Game Overrides on a per-game-basis

[2019-12-30 05:13] denisfa commented on #585
@P0W3 The option `flashSize` on `vbam.ini` is meant to be:

- flashSize=0 => 64KB
- flashSize=1 => 128KB

If you want to modify it due to a game, then please do the change on
`Options` > `Game Boy Advance` > `Configure ...`

Go to the tab `Game Overrides`. You should be able to see and change what you want.

Is there a reason you want to do this? Like the game you want play not saving/playing prop

[2019-12-30 07:23] negativeExponent commented on #585
[code]
there is practically no reason to have two overrides! so i dont understand the idea to entertain the concept. in anycase if not using overrides, gba's findsavetype() will take care of finding the most compatible save format based on signature of the rom itself (similar to the other issue about gba pokemon red romhacks) which will then override optFlashSize anyways. im sorry to say but i don

[2019-12-30 08:18] P0W3 commented on #585
@denisfa Changing the flash size from 0 to 131072 is probably an old-fashioned method, based on what I did in vba-over.ini, but I am not using the game override settings.

When I used VBA-M (without editing the vbam.ini file), I changed the flash size from 64K to 128K (more specifically, 65536 to 131072). Plus, when I closed VBA-M and opened VBA-M, the flash size has been automatically switched ba

[2019-12-30 15:21] denisfa commented on #585
@P0W3 Alright, thank you for the confirmation. I have a good idea about why this is happening. This is some confusion between the variables init of SDL and WX port. That's why the GUI doesn't behave properly.

[2019-12-31 02:30] rkitover commented on #419
@ZachBacon the snap is still pointing to the last release, can you rebuild it with master please?

[2019-12-31 02:33] ZachBacon commented on #419
@rkitover except that it is not. https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/snapcraft.yaml#L50

[2019-12-31 08:14] rkitover commented on #419
@ZachBacon you may need to do something on the website to trigger a rebuild, because I just installed it again and it's still 2.1.4.

[2019-12-31 08:17] ZachBacon commented on #419
@rkitover oh! You asking for a manual rebuild and upload. I can do that in a bit. But I'm also trying to figure out why snapcrafts build service doesn't seem to work with staging snaps at all.

[2020-01-01 12:46] Drakon1590 commented on #419
Hi, I'm new here.

I just want to say that I finished translating of VBA-M to polish language, and of course, I will be grateful if you update "translations.zip" file, by adding to it finished polish translations (pl, and pl_PL).

Thank you in advance.

[2020-01-01 12:47] ZachBacon commented on #419
@Drakon1590

[2020-01-01 12:48] ZachBacon commented on #419
@Drakon1590 did you send it to the transifex project page for vba-m? If so we usually do a sync of translations every so often anyways.

[2020-01-01 12:51] Drakon1590 commented on #419
I translated everything directly on the transifex website.

[2020-01-01 12:51] ZachBacon commented on #419
Chances are it'll be pulled regardless before we do another release.

[2020-01-01 13:00] Drakon1590 commented on #419
That's enough for now for me.

[2020-01-01 15:28] rkitover commented on #419
@Drakon1590 I pulled those translations just yesterday, thank you very much!

Updated the translations.zip for the latest build here:

https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350

[2020-01-01 15:33] rkitover commented on #419
@ZachBacon still waiting on you to rebuild the snap, as for the joystick stuff @negativeExponent did some very thorough testing in #582 so all joystick issues are taken care of.

[2020-01-01 18:00] Drakon1590 commented on #419
I am very happy to read such good news, what's more I will gladly make corrections to the Polish translation in the future.

[2020-01-02 08:43] ZachBacon commented on #419
@rkitover I pushed to the edge channel.

[2020-01-02 19:38] rkitover commented on #419
@ZachBacon I tried it, works great, nice work!

Some notes:

- Why is the version v2.1.4-102-gff0dbf8f, what is 102?

- Translations seem to be broken

- The file association works, I can open a `.gba` file from the gnome folder but the icon for the file is broken for some reason, that is the icon for .gba files in the folder

I think it would make sense to fix the beta channel at the current comm

[2020-01-02 19:41] ZachBacon commented on #419
@rkitover

- That's what git describe gives for the version number.
- I'll have to look at that.
- As for file associations, I have no clue. Didn't think it would work, but I'll do what I can.

[2020-01-02 20:09] rkitover commented on #419
@ZachBacon the `.gba` icon is wrong in a normal install too, I will look into this.

[2020-01-02 20:11] ZachBacon commented on #419
@rkitover one thing I'd like to explore for file association icons, maybe not a must, but more of a nice touch, cartridge icons, like gba cartridge art for .gba a gameboy one for the .gb/gbc potentially.

[2020-01-02 20:13] rkitover commented on #419
@ZachBacon If you can override the version number, this will give you the version format we use:

[code]

[2020-01-02 20:14] ZachBacon commented on #419
@rkitover that's most likely easily done, I'll adapt that next time I'm back linux side.

[2020-01-02 20:19] SatoMew commented on #549
Many thanks for this! 😄 Are there any plans to get this into the official VBA-M anytime soon?

You should uninstall EMET because Microsoft [retired it long ago](https://support.microsoft.com/help/2458544) in favor of improving and including its functionality in Windows 10. There are alternatives like OSArmor if you're using an older Windows version.

[2020-01-02 20:20] ZachBacon commented on #549
@SatoMew I'll probably look into adding it at some point

[2020-01-02 23:01] rkitover commented on #419
@ZachBacon I think we should do a release, the ffmpeg stuff can wait, it's not a big deal. Plus we really need to fix the link dialog, because a lot of our users use link. Also are you going to look into doing a flatpak for us too?

[2020-01-02 23:03] ZachBacon commented on #419
@rkitover I'm going to look at flatpak once I'm sure snap is 100%, iirc flatpak is a bit more involved.

[2020-01-03 12:25] rkitover commented on #419
@ZachBacon do you want to do the release? It's been a while since you did. I'll post the steps here, I automated a lot of things.

[2020-01-03 14:12] denisfa commented on #419
@rkitover We need more documentation about our build process. I think I will create a `Readme-dev.md`. I am running into several issues (to be fair, it had been a long time since I did this, so I believe I am really rust). There is also several code scopes with recommendations spread within our issues and PR sections. We need to put these together somehow.

When trying to build the `wxWidgets=2.8`

[2020-01-03 14:28] rkitover commented on #419
@denisfa Actually, if we are going to still maintain wx 2.8 compat, we should add it to the CI. I will do that and fix the incompatibilities.

The developer readme is a good idea, I will start a branch for that and document some things including the release process therein, and you can add to it etc..

[2020-01-03 14:29] rkitover commented on #419
@denisfa for my linux mingw cross script, I use a fedora docker image. It should really work on other configurations, so let's fix all of this anyway.

[2020-01-03 16:08] rkitover commented on #419
@denisfa in the case of `curl`, what is missing is `-ldl` in either `LIBS` or `LDFLAGS`.

[2020-01-03 19:38] ZachBacon commented on #419
@rkitover Yeah I suppose so. I'll probably do it as soon as you give the word. And then what I'd like to do after is work on the script for clang/mingw support, that and the Linux build script. I'll probably do the Linux one first in a separate branch.

[2020-01-03 19:44] ZachBacon commented on #419
@rkitover also @negativeExponent's pr looks good to me, do we want to include that in for the new release, or merge it in after we do the release to allow a period of testing?

[2020-01-03 19:52] denisfa commented on #419
@ZachBacon There are some leftovers comments there that could be removed, but otherwise I agree with including it for the new release. It would be a new feature plus a fix on some patching cases!

[2020-01-03 20:02] ZachBacon commented on #419
@denisfa The left over comment, I don't have an issue with to be fair. Especially since it tells you what it is, and how it works for the most part.

[2020-01-03 20:07] denisfa commented on #419
@ZachBacon From the WIP... There are `#if 1`,`#else` and
[code]

These are from the WIP commit.

[2020-01-03 20:09] ZachBacon commented on #419
@denisfa Gotcha, I literally just woke up. (And that's why I didn't hit the merge button). If you want to make a comment on the PR about that, go right ahead.

[2020-01-03 21:36] rkitover commented on #419
Sorry I missed the PR, I still haven't set up a feed so I'm not watching issues and PRs.

[2020-01-03 21:50] rkitover commented on #419
@denisfa I'll let you deal with the PR, I will work on starting the dev manual. We definitely do want to include it in the release, but I figure it will be a few days before we get the release out anyway.

@ZachBacon I'll let you know when I've written down the release instructions and we can discuss further.

Have a great weekend everyone! My dad is coming to visit tomorrow and we're going on a r

[2020-01-04 10:26] #549 closed

[2020-01-04 17:25] KirbyFan102 opened #587 "Unable to save state and button inputs at the same time"
### Expected behavior
Being able to save while still doing things like running or jumping.

### Actual behavior
When holding a button for a continuous action (like running), pressing the save state hotkeys causes game to stop receiving the input until you stop holding the button and press it again. I can confirm this is not a problem with my keyboard and that it didn't happen on previous versions

[2020-01-05 11:07] rkitover commented on #419
Ok, going to start on the dev manual now. I'll cover the windows environment and release process to start and add more stuff over the next couple of weeks.

[2020-01-05 15:54] Yave-Yu opened #588 "Boost Noise channel?"
Channel 4: Noise's volume is too low...

[2020-01-06 01:37] Yave-Yu opened #589 "Emulate speed seems a little faster?"
GBA's speed is 59.7275Hz.
I recorded EXE4 Title music on VBA-M and mGBA (It could adjust speed to 59.7275), and cut blank, 2nd loop off. Let's see the result:
VBA-M: 1273021
mGBA: 1274471
Then calculate: 59.7275 / (1273021 / 1274471) ≈ 59.7955

So can you adjust speed to make more accurate to an actual GBA?

Here's music sample:
http://www.mediafire.com/file/8kzwrgwunoedxvp/Speed_Comparation.7z

O

[2020-01-06 04:02] ZachBacon commented on #589
@Yave-Yu We'll see what we can do for the speed, however as for the recording audio feature. File->Record->Start Sound Recording.

[2020-01-06 11:13] negativeExponent opened #590 "SDL build has no default game inputs"
### Please fill out this form:

### Expected behavior

there should at least be defaults inputs provided by keyboard on gamepad

### Actual behavior

no input

### Steps to reproduce the behavior

compile with sdl only
run a game

### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are
[here](https://github.c

[2020-01-06 11:14] ZachBacon commented on #590
Issue is known, I've been meaning to try and work on that but time hasn't been kind to me lately. But it is on the to do list.

[2020-01-06 15:06] rkitover commented on #419
@denisfa @ZachBacon

I started by describing the windows powershell dev environment and some powershell tips, your feedback much appreciated:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/dev-manual/DEVELOPER-MANUAL.md

[2020-01-06 22:36] denisfa commented on #419
@rkitover Do you need the `chocolatey` to use VS2019? I would like to test it, but can't right now. Everything looks good, though.

[2020-01-07 02:10] denisfa commented on #419
Do you guys know details about this on `wxvbam.cpp`:
[code]

This is the main part of the issue with #587. Windows is generating a `MenuPopped` event when the save state is pressed, therefore pausing and immediately unpausing the game and clearing input.

[2020-01-07 13:29] rkitover commented on #419
@denisfa You don't need chocolatey to build vbam with VS2019, you can do it from the regular developer command prompt. What I was describing there is a much more useful powershell terminal environment to both build and do dev work, and for this using chocolatey is better because it will keep all the relevant packages up to date, like powershell-preview, the terminal, git, gpg, vim, etc..

As for t

[2020-01-07 15:42] denisfa commented on #419
@rkitover I see... Though this is not a menu open operation. I have some ideas, let me try some of them.

[2020-01-07 17:05] rkitover commented on #419
@denisfa what might be happening here is the keyboard accelerator for save state triggers the event because it is bound to a menu item.

[2020-01-09 22:06] KirbyFan102 opened #591 "Loading save causes music to stop playing temporarily in Aria of Sorrow"
Just noticed this odd bug in version 2.1.4 while loading a save in Aria of Sorrow. I started the game and loaded a save in the middle of a level. The game had no music, until I ran into another room, at which point the music started back up from the beginning. However, this bug was nowhere to be found in Dragon Ball Z: Buu's Fury or Boktai 2, which were the other games I tested. Both game loaded t

[2020-01-09 22:11] negativeExponent commented on #591
upload the related savefile and do not skip template

[2020-01-09 22:24] denisfa commented on #591
@KirbyFan102 On your other report, you used `VBA-M version 1.8.0.0`. Can you confirm this happens only on `2.1.4`? Also, please upload your savefile so we can check.

[2020-01-09 22:46] KirbyFan102 commented on #591
NEVERMIND, I figured it out. the save state in question was just after I had beaten the first boss. The lack of music was caused by that. I didn't remember because I hadn't played the game for a week, Since I still had the previous problem I talked about in my mind, I assumed it was a problem with VBA instead of the game. Goddamn it. I'm sorry for wasting your time.

[2020-01-09 22:46] #591 closed

[2020-01-09 22:50] denisfa commented on #591
@KirbyFan102 Don't worry about this. Just keep reporting what you think is a bug and we will check case by case! But please use the template next time, like you did a couple of times.

[2020-01-09 22:53] denisfa commented on #419
@rkitover I may have a solution ready for this now. I will do some more testing and confirm it.

Have you guys ever considered opening the wiki part of the repo? I have some ideas for it, but that could also be somewhere else.

[2020-01-09 22:59] KirbyFan102 commented on #591
Sure thing. I'll try to be more careful in the future.

[2020-01-10 09:12] rkitover commented on #419
@denisfa good idea, I turned on the wiki, I need to go through the other settings stuff and see what I can do there as well.

[2020-01-11 20:57] Askmewho commented on #251
I had this same problem on rpi3 (ive compiled master and it does work amazingly under mesa)
the savs are from tgb dual, and are the exact same size than the ones made by visualboyadvance...

[2020-01-14 00:02] denisfa commented on #419
I am still investigating the previous issue, although not much time to work on it. Also I have a Windows ready for testing, in case you want to check something.

[2020-01-15 02:36] rkitover commented on #419
@denisfa if you have the time and interest, I would appreciate it if you try my powershell environment guide and play with building and testing vbam in it. I will continue working on the manual.

[2020-01-15 23:29] denisfa commented on #419
@rkitover Absolutely! That was one of the use cases! It is also for my debugging with windows related stuff.

@ZachBacon About the wiki, my idea was to move some issues content (like #324) and set a Link-results' page. We have had issues all over the places whether the link works (#573 - the user reported a GB link barely working - one thing that I want to check with my Windows install) or not (th

[2020-01-16 13:19] Moonslate opened #592 "Trying to open with Visual Studio"
I'm trying to open the project for almost one week, but I'm having very troubles with it. Can you please generate a Visual Studio solution and send me?

[2020-01-16 13:20] ZachBacon commented on #592
Open in visual studio the cmakelists.txt and visual studio will run the necessary commands to cmske (assuming you installed the cmake module for visual studio.)

[2020-01-16 15:00] Moonslate commented on #592
Is that what I was trying, but always fails in dependences. And it is downloading and building several dependences that I already have into my computer. Can you send the solution please?

[2020-01-16 15:02] ZachBacon commented on #592
The solution is generated by cmake, we make use of vcpkg as we need to make sure the build evnvironment is what we need it to be to build vba-m so as for a pre made solution file, you'll have none, it's all setup by cmake itself.

[2020-01-16 15:18] Moonslate commented on #592
Yes, I'm talking about the solution generated by CMake when you build, with this solution I can link manually the libraries that are needed.

[2020-01-16 15:24] rkitover commented on #419
@denisfa I'd like to remind you that you have admin level access to this org, any settings you want to play with please feel free.

[2020-01-16 15:25] ZachBacon commented on #592
@rkitover mind taking over?

[2020-01-17 19:40] rkitover commented on #419
I'm working on fixing the appveyor failures.

[2020-01-17 19:41] denisfa commented on #419
@rkitover Are you testing something? It wasn't working before?

[2020-01-17 19:43] rkitover commented on #419
It broke for two reasons, static builds now require linking libcharset explicitly (this I fixed) and the port updates overrun the time limit, this I am fixing now, as well as doing some rework on that cmake file.

[2020-01-17 22:00] rkitover commented on #419
Ok I think I'm done with this, will take a while for appveyor to update its cache, so the current build and the next few ones will take longer, but everything should be working now at least, and will hopefully break less often in the future.

[2020-01-17 22:04] rkitover commented on #419
When I feel up to the task, I'm going to redo all the travis and appveyor jobs in gitlab-ci for github, it's a much better system that gives you far more resources for free than either travis or appveyor.

[2020-01-17 23:03] rkitover commented on #419
I think we need like...a better chat system, maybe like a forum, because github issues are not quite up to the task of being proper forum software. Like it collapses this whole thread and there is no way to search it etc..

[2020-01-18 00:47] denisfa commented on #592
@Moonslate I just did a clean build today using VS2019. Please do try again, using latest commit. Check [here](https://github.com/visualboyadvance-m/visualboyadvance-m/blob/dev-manual/DEVELOPER-MANUAL.md) for a WIP about using visual studio for development. It will use cmake, at least for now.

[2020-01-18 00:53] denisfa commented on #419
@rkitover Yeah, it is not good for long conversations.

The tutorial worked perfectly! My tests are only missing the GPG part. I will try to push some commits from there.

[2020-01-18 01:14] ZachBacon commented on #419
@rkitover @denisfa we still have a forum you know...

[2020-01-18 08:04] HiImBrala opened #594 "Multiplayer won't work over internet:Emulator can't accept Public IP"
### Please fill out this form:

### Expected behavior
The emulator would connect to host device if host Port Forwarded
### Actual behavior
The emulator DOES NOT connect to host
### Steps to reproduce the behavior
Simply try to play LAN
### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are
[here](https://git

[2020-01-18 08:05] ZachBacon commented on #594
At the moment link is broken and while it's on the list to be fixed, it isn't exactly on the top of the Todo list just yet.

[2020-01-18 16:23] Moonslate commented on #592
I tried, and the same error occurred with vcpkg. But this time I killed the Visual Studio's process, and after open again, the vcpkg started working. But now I want to disable the automatic libraries downloading. How I do that? There is 9 dependence in the list, but the vcpkg download and build 19. My computer is a 10 years old notebook, so it is very slow, and have low storage. I already have all

[2020-01-19 03:47] rkitover commented on #592
@Moonslate just edit `CMakeSettings.json` and remove the `VCPKG_TARGET_TRIPLET` and pass the necessary cmake variables pointing to your libraries.

We cannot support user-built libraries for Visual Studio because there is no standard way to do that.

You may have to dig into the cmake modules and google around to find the right cmake variables to set, but it should be doable.

If you get this to w

[2020-01-19 03:49] rkitover commented on #592
Also I should note that the dependencies are only built once, and when there are updates. Once vcpkg builds all the dependencies they will be reused on subsequent builds.

[2020-01-19 03:54] rkitover commented on #592
@Moonslate if you want to play with cmake from the commandline instead, I am working on developer manual in another branch which has a guide for setting up powershell:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/dev-manual/DEVELOPER-MANUAL.md

[2020-01-19 16:39] Moonslate commented on #592
@rkitover, this worked.
Before:
`"cmakeCommandArgs": "-DVCPKG_TARGET_TRIPLET=x86-windows -DENABLE_SDL=TRUE"`
And after:
`"cmakeCommandArgs": -DENABLE_SDL=TRUE"`

Now I can link the libraries manually in the `CMake Setting` as you can see in my screenshot:
![screenshot](https://user-images.githubusercontent.com/42197658/72684549-4856c780-3ac0-11ea-84d2-fddee0bb1417.png)

I know, but this still not

[2020-01-20 13:21] rkitover commented on #419
@denisfa

Very happy to hear those instructions turned out to be workable. I recommend setting up gpg, you only need to import your key. Removing the passphrase is optional, I just do it because it makes my life easier. git can automatically sign commits, and a signed tag will be required for the release process, as well as the detached signature files.

I am working on a cmake script to generate

[2020-01-20 13:25] rkitover commented on #419
I forgot to mention, when doing the release I added the `-DUPSTREAM_RELEASE=TRUE` option to cmake, that generates the detached signature files, translations file on windows, etc.. I will add some checks to it as well.

[2020-01-20 13:26] ZachBacon commented on #419
You mean like a forum we already have? https://vba-m.com/forums/ I would need to get it updated again with an active license, but it still works and I was able to get most of it working before we decided to use GitHub issues.

[2020-01-20 14:22] rkitover commented on #419
Oh I see a post:

[code]

well this might work for our needs.

@denisfa can you take a look at this thing and see if it will serve our needs as a more general communications platform. If not, we can explore other options.

[2020-01-20 14:28] ZachBacon commented on #419
At some point I need to fix a few things on it, like get a new version of invision power up and a better dark theme for those that like a dark look so it's easier on the eyes.

[2020-01-20 14:30] rkitover commented on #419
So what I did was I created a gmail filter from github.com matching `[visualboyadvance-m/visualboyadvance-m]`, the problem is I haven't been paying attention to it, I was relying on the bot in the irc channel, which by the way I will continue to maintain, let me know if there are any problems.

So I'll look through all the crap that's in there now and this willl suffice as a feed of the project I

[2020-01-20 14:32] ZachBacon commented on #419
@rkitover nice thing about the boards iirc it has rss settings so that should help as well

[2020-01-20 14:58] rkitover commented on #294
forums indicate that FFTA should work.

@denisfa and I were going to investigate link on windows further now that we have significantly improved windows development environment support.

[2020-01-20 15:01] rkitover commented on #419
I have 279 messages in that folder, it will take me quite a while to go through all of that, but I am doing that now, and then I will be up to date and paying attention to the issues etc..

[2020-01-20 16:46] denisfa commented on #294
@rkitover I can confirm this is working on `Windows 10` using `Cable` and timeout `200` with the latest [nightly](https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350). No special configuration required.

![ffta2](https://user-images.githubusercontent.com/11354751/72743696-e6af5f80-3b8a-11ea-90af-df3470a49919.PNG)

Using `Wireless`, the player 2 gets lagged to

[2020-01-21 16:10] rkitover commented on #419
@ZachBacon forum registration is not working, you may need to set up postfix on your vps.

[2020-01-21 20:04] ZachBacon commented on #419
@rkitover I won't be able to do that until Thursday, it was something I was meaning to do since originally I was using zoho's smtp, but they since done away with smtp access for free users. The thing is though trying to setup in a way that it's at least hardened security where I can.

[2020-01-21 20:21] rkitover commented on #419
Basic postfix setup should be fairly safe, I am using it without issue.

You could also use a docker container like mailinabox.

[2020-01-21 20:28] ZachBacon commented on #419
@rkitover main reason for me is that I'm using my gpg signatures more often and I do use a vba-m email, mainly with GitHub. So I'll most likely switch over to postfix in general hence the need for a little more security than a basic setup

[2020-01-21 23:27] Moonslate commented on #592
Ok, I was linking the libraries, but I still need to link the `vcpkgconfig` executable:
`1> [CMake] -- Could NOT find PkgConfig (missing: PKG_CONFIG_EXECUTABLE) `

And it still wanting to execute vcpkg, but I removed the `-DVCPKG_TARGET_TRIPLET=x86-windows`.

[2020-01-21 23:47] rkitover commented on #419
I just found this amazing thing for cmake:

https://github.com/toeb/cmakepp

unfortunately development seems to have stalled.

[2020-01-22 03:19] rkitover commented on #419
I finished the release commit/tag automation in 93f906e2.

Next step is to finish documenting the release process in the manual, if I run into any other tasks that would benefit from automation I will do that as well.

cmake is not a very beautiful language but it gets the job done.

[2020-01-22 17:57] HiImBrala commented on #594
when will the fix be done.if i may ask?Really want to play some GBA games with friend

[2020-01-22 18:44] denisfa commented on #594
@HiImBrala What games are you trying to play? GBA games using `Cable` should work. But you have to use the latest nightly available [here](https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350).

[2020-01-22 22:31] rkitover commented on #592
pkg-config is a different thing than vcpkg and that is not a fatal error. pkg-config is a system for getting flags for libraries on unix systems and mingw.

Not finding pkg-config is not a fatal error.

You should be able to build the project using your own libraries, if you have any issues I will try to help.

[2020-01-22 22:44] ZachBacon commented on #592
@Moonslate I'm going to leave this issue open, if you could provide feed back to help improve the build experience for those in your situation where you have the libraries already, it would be a great help.

[2020-01-22 22:45] Moonslate commented on #592
Sorry, I closed the issue accidentally while typing.

@rkitover, even if this is not a fatal error, the Visual Studio don't compile. Maybe I'm missing a error-level configuration?

[2020-01-22 23:34] rkitover commented on #419
Was just playing with the visual studio build, and it looks like the sound pref dialog is layed out wrong, probably other dialogs too, we may need to adjust some wx flags for all of this.

[2020-01-22 23:40] rkitover commented on #419
Looks like now I need to fix finding ffmpeg on windows too.

[2020-01-23 00:18] rkitover commented on #592
@Moonslate please provide full logs, you can post them on gist for example.

[2020-01-23 00:21] rkitover commented on #294
@denisfa thanks for testing, did you by any chance try the specific error condition, which is trading items in the game between the two instances?

I can give that a try, I wanted to start working on the link code anyway, because fixing the link bugs are about the most wanted feature in this project.

[2020-01-23 01:31] denisfa commented on #294
@rkitover Yes, I did. I can add the screenshots if necessary. On both Windows and Linux with the above requisites.

[2020-01-23 01:35] ZachBacon commented on #294
Might be a good thing to have in the wiki once we get it going.

[2020-01-23 01:37] rkitover commented on #294
@denisfa awesome, I don't even know which specific link things we need to fix, I just no of the menu pause thing, which I was going to look at at some point, but that one is not going to be easy.

[2020-01-23 01:40] rkitover commented on #419
Which I broke in the first place.

@ZachBacon what do you mean by "wiki format", is this some kind of an option github has, or do we just start writing stuff.

[2020-01-23 01:41] rkitover commented on #419
I assume the format for just about everything is github markdown, which is fine with me.

[2020-01-23 01:41] ZachBacon commented on #419
Pretty sure githubs wiki is markdown syntax

[2020-01-23 01:55] rkitover commented on #419
ffmpeg thing is fixed via 8ce60e17.

[2020-01-23 02:11] denisfa commented on #419
@rkitover @ZachBacon I am stuck on a queue of things I want to do at the moment, and every time I investigate something I find new stuff. So the queue keeps growing... But nevertheless, there is something I want to show about our link issues:

1. `GBA cable` seems to be working fine for most games (Linux and Windows), although you may need to try some `timeout` values for each game. I wanted to cr

[2020-01-23 02:13] denisfa commented on #294
@rkitover One thing we **REALLY NEED** is to be able to reset the connection. Something like when you set to `nothing` it closes and cleans everything from the current connection. For both server and client. It is so annoying to close and open the emulator every time we want to check something.

[2020-01-23 03:20] rkitover commented on #294
@denisfa gotcha, I'll add that to my list.

[2020-01-23 03:33] rkitover commented on #592
@Moonslate and your `CMakeCache.txt` too if possible, that would help a lot.

[2020-01-23 03:39] rkitover commented on #419
@denisfa thank you for doing such a thorough investigation.

So to summarize:

- Wireless does not work, not fully implemented
- GBA Cable works, need specific timeouts documented in the wiki, or to fix this somehow
- GB/GBC Cable works very badly on Windows, with serious syncing issues, and not at all on Linux

So the major architectural fault is syncing emulator state between instances.

[2020-01-23 03:40] rkitover commented on #419
@denisfa also I'll try to take care of the link state reset feature after I finish documenting the release process.

[2020-01-23 03:52] DeadSkullzJr opened #596 "[Feature Request] Improve Cheats/Debugging Features"
Function Request:
Add more features to work with related to debugging and cheats.

Types of features wanted:
Unfortunately I can't exactly explain everything in text (it would be way too long), however I will show an image of an example used by another emulator (DeSmuMe) that has some useful functions/options that I feel VBA-M could heavily benefit from. Not to say I want VBA-M to function identic

[2020-01-23 03:55] ZachBacon commented on #596
We'll take that into consideration, at the moment I think we need to fix up current existing issues, trying to get things like link support etc fixed.

However that said, I do agree certain dialogues could be revamped a little and it is bound to happen soon (tm)

[2020-01-23 05:10] rkitover commented on #419
My gmail filter is working out rather nicely, gmail even has integrated hover buttons to jump directly to issues and PRs.

[2020-01-23 08:21] rkitover commented on #596
That looks awesome, I've been meaning to play with desmume (mostly for advance wars ds).

Currently the state of debug tools is sad, memory viewer is broken and agbprint is broken, I do want to spend some time on this, because some of our users are rom devs of various sorts.

[2020-01-23 12:09] HiImBrala commented on #594
it connects normally using 192.168.x.x. >Local IP.But using Public IP 28.79.40.51 DOESN'T work

[2020-01-23 16:11] rkitover commented on #594
@HilmBrala we don't have any kind of upnp support, you have to make a port forward from your router for that to work.

[2020-01-25 09:17] HiImBrala commented on #594
i did

[2020-01-25 19:37] prestonpirateking opened #597 "Purple text freezing issue fire red squirrels rom with ultra violet."
### Please fill out this form:

### Expected behavior
Pokemon game does not freeze or change text color to purple
### Actual behavior
Pokemon freezes when I go up in my tm case, and the text changes color
### Steps to reproduce the behavior
Not sure. I changed a few settings according to this video:https://www.youtube.com/watch?v=xwwggrT6CKI
### Crash bugs

If this is a crash bug, and you have the

[2020-01-25 20:07] denisfa commented on #597
@prestonpirateking Thank you for the report. Could you retry with our latest version? Is is available [here](https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350).

Some options will have changed place, though. But I believe they should all be there.

[2020-01-26 05:14] Testsr commented on #375
https://github.com/mgba-emu/mgba/commit/93633ea60524ac2983e747e13656b896544299cf

[2020-01-26 05:15] Testsr commented on #375
https://mgba.io/2020/01/25/infinite-loop-holy-grail/

[2020-01-26 09:25] ZachBacon commented on #375
@Testsr thanks for the relevant information, and @benderscruffy You're using an old version, current release is [2.1.4](https://github.com/visualboyadvance-m/visualboyadvance-m/releases/tag/v2.1.4) (though that won't matter as I'm positive it'll still not work.)

I'll look at about seeing if we can adapt this to vba-m.

[2020-01-26 10:08] ZachBacon commented on #419
@rkitover So, I was thinking, semi inspired by mgba, we break down the current core code into smaller files, like say the dma specific code rests in it's own file etc, just as an attempt to better understand the cores, and to clean up things as well. I'll probably begin this in a separate branch, just to see what I can do, a testing ground for core cleanup.

[2020-01-26 11:57] rkitover commented on #419
@ZachBacon that's a good idea, what would also be really helpful is pulling some of the magic numbers out of the code and making them named constants with `#define`.

[2020-01-26 12:00] ZachBacon commented on #419
@rkitover like I said, I only thought if it because if browsing mgba's code, due to a recent dma fix for a certain time that was even an issue in vba-m and trying to adapt it to our codebase. I kinda felt unsure and so this would be a good way to learn more about the code, allow us to do a clean up and perhaps modernize it a little here and there.

[2020-01-26 12:25] rkitover commented on #419
@ZachBacon also you were going to get the forum working again.

[2020-01-26 12:26] ZachBacon commented on #419
Almost done with it, I'll finish up the postfix setup tonight.

[2020-01-26 12:32] rkitover commented on #419
@ZachBacon I'm working on fnishing up the first version of the manual with the release process, I hit a bit of a writer's block, but I should be done soon. I've improved the powershell parts already.

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/dev-manual/DEVELOPER-MANUAL.md

[2020-01-26 13:45] rkitover commented on #419
@ZachBacon good news, I'm done with the first draft:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/dev-manual/DEVELOPER-MANUAL.md

you are on release duty for the next release, so please do a dry run and make sure all of this works for you. If you have any problems, with the guide or the scripts, I will fix them ASAP.

If all goes well, master is in a good state to do a release, a

[2020-01-26 14:03] rkitover commented on #419
@denisfa I added some good powershell shit to that section, check it out.

Also you said you were having issues with my cross script, I need to look into that. Can you give me some details about the environment you used?

[2020-01-27 22:54] rkitover commented on #419
I updated my docker shell guide with a powershell module for windows:

https://github.com/rkitover/docker-shell-guide

[2020-01-27 23:05] denisfa commented on #419
@rkitover I had very weird issues on ubuntu. Like using the script and everything working, but then on reboot it would fail to find the compiler. I will get some logs for you to see.

Also, how do you say that you want to link the ffmpeg, when cross-compiling on fedora? I wanted to test some of my `minimal-ffmpeg-build`, but had to manually change the script to add the option. I want to build for

[2020-01-27 23:24] ZachBacon commented on #419
@rkitover almost ready to let live the postfix setup on the server. It's taken me a little longer, especially trying to get things done in a way that allows for custom email addresses that forwards to whatever email I specify etc, but I think I can at least get the board working now. I'm a little under the weather, but will finish up later tonight.

[2020-01-28 13:24] rkitover commented on #419
@denisfa I'm fine with discussing whatever here until we have a more flexible general communication platform.

[2020-01-28 13:29] rkitover commented on #419
@denisfa currently the plan is to build and link ffmpeg on mac both 32 and 64 bit, and not build ffmpeg on windows 32 bit unless we make it XP compatible, by not relying on some stuff like bcrypt.dll, but this may not be worth the effort for the whole pair of XP users, they can just not use ffmpeg.

Since we are now doing the 64 bit windows build with visual studio + vcpkg, the vcpkg default ffmpe

[2020-01-29 10:56] SkilledTheGamer opened #598 "VBA-M crashing when adding cheats"
### Please fill out this form:

### Expected behavior
Be able to click the add new cheats button without the program crashing
### Actual behavior
Clicking the add new cheats button crashes VBA-M
### Steps to reproduce the behavior
Open VBA-M, loading a game, click list cheats (assuming cheats was enabled), click the add new cheats button.
### Crash bugs

If this is a crash bug, and you have the ti

[2020-01-29 11:57] ZachBacon commented on #598
Can you provide the cheats you used?

[2020-01-29 12:20] RunisDauphin commented on #598
Hi, I am Runis Dauphin from Rebelles Unis:

I already have talked this in Issue 519: Cheat List does not work as it should. According to Negative Exponent, probleme is not present in Linux, but I know it is still present on Windows. I checked back then with Megaman Battle Network games (US version).

Hope that extra info helps.

Runis Dauphin

[2020-01-29 13:36] denisfa commented on #598
@SkilledTheGamer @RunisDauphin Could you retry with the version available [here](https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350)?

I did an initial test using `Windows 10 x64` and it seemed to work.

[2020-01-29 13:58] denisfa commented on #419
@ZachBacon Do you need any help? I was a sysadmin once and we had at the time a similar server to what you are trying to do here, if I understand correctly. I might be able to help you.

@rkitover The main issues are:

1. Fedora (30):
  - installs `2.8` wxWidgets static lib, that causes an error about not finding `wx/time.h`. Using the `3.0` fixes this.
- fails a lot when trying to download packag

[2020-01-29 16:56] RunisDauphin commented on #598
Tried on the VBA-M 2.1.4, 01/01/2020 developpement version with Megaman Battle Network 1 (US) with Must Be On and Full Sack Cheats (for Codebreaker): It works flawlessly (but only tried on Windows 10; later I will try on Windows 7 and Windows 8.1).

If someone wants to try, here you have the cheats:
971181CD4EE1
3FFA80599274
27FB8522914B

1A8A02793170
5CF3E8878C1A
3DA7B225D550
1CF3A926949A
1EA7B22

[2020-01-29 17:22] denisfa commented on #598
You answered yourself... It is "on the fly" and then deletes it when you exit. You can save to a file, though. If you think this is not good, as it should be saved automatically to a file, then open another issue with this request.

[2020-01-29 17:26] rkitover commented on #419
My cross support in `./installdeps` I did mostly just for fun, I doubt anyone uses this. I do use the debian mxe support to do the travis mingw builds, and the debian target for travis ubuntu builds, as this works fairly well now.

The thing we actually use to do the 32 bit windows builds and the mac builds is my build system in `tools/`. I think you were saying earlier that you had some problems

[2020-01-29 17:42] denisfa commented on #419
@rkitover so the scripts on `tools/*` build with everything by default? Can I toggle some of these somehow? I wanted to check the size with and without FFMPEG, as well with Debug/Release options.

There are some cool stuff here, although not very useful for this project. I will see what I can do, but I don't have Mac to test anything.

[2020-01-29 18:13] rkitover commented on #419
Can you can test with the 64 bit windows build? You can run that in vanilla wine perfectly.

Currently there are no options, but ffmpeg can be turned off here:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/tools/builder/core.sh#L213

it turns off by default for 32 bit windows builds.

There is no support for debug builds as of yet.

On linux, you can get a perfectly working

[2020-01-29 18:20] rkitover commented on #419
I just checked, the mac vm linked to previously does run our app, albeit painfully slowly, unless you use gpu passthrough. I use it for building mainly, though it's good that it can run the app at all. For gpu passthrough you would really need an AMD gpu, though sierra with the nvidia web drivers will also work.

[2020-01-29 18:53] rkitover commented on #419
@ZachBacon question for you, are you ready to do the release given the info in the draft of my manual, if so what timeframe, if you don't have time or the setup right now, me or denisfa can do it too. But we need to get the link dialog fix out.

[2020-01-30 00:18] ZachBacon commented on #419
@rkitover I think the cheat issue if possible should be looked into before we do another release #598

[2020-01-30 01:54] rkitover commented on #419
Fine with me, is this a regression?

[2020-01-30 02:05] ZachBacon commented on #419
quite potentially, just waiting on the original poster to say.

[2020-01-30 02:26] rkitover commented on #419
It looks like two people tested this including denisfa and there is no issue.

[2020-01-30 09:28] SkilledTheGamer commented on #598
I have tried the older version [here](https://github.com/visualboyadvance-m/visualboyadvance-m/releases/tag/v2.1.3) and it works flawlessly. Cheats? yeah sure:
[1986 - Pokemon Emerald (U)(TrashMan)(plez change it to clt).txt](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4133208/1986.-.Pokemon.Emerald.U.TrashMan.plez.change.it.to.clt.txt)
if you're too lazy, heres it: 83005E18 270

[2020-01-30 09:38] SkilledTheGamer commented on #598
my timezone is different from you guys (GMT+7) so i might not answer when you guys ask, cuz i am sleeping

[2020-01-30 09:40] ZachBacon commented on #598
@SkilledTheGamer I don't think you answered @denisfa's question. Have you tried one of the nightlies. All you stated was that you tried an older version.

[2020-01-30 10:33] SkilledTheGamer commented on #598
ohk

[2020-01-30 10:34] SkilledTheGamer commented on #598
@ZachBacon @denisfa sorry but it seems like, i can't download it. its giving me a html 500 error.

[2020-01-30 11:06] ZachBacon commented on #598
@SkilledTheGamer We literally linked it to you earlier

[2020-01-30 11:07] ZachBacon commented on #598
It's also a pinned topic on the issues page.

[2020-01-30 11:27] ZachBacon commented on #598
https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350

[2020-01-30 23:27] Moonslate commented on #592
Hello, sorry for taking so long to reply. I give up now. I tried for several days and I'm tired. I never used `CMake` before, and your `CMakeLists.txt` has so many things together that is so hard to configure. There is the `vcpkg` that download a huge amount of GB of unnecessary (since I already have almost all) libs, there is error with git in the `CMakeList.txt` (Why git is needed to compile?) T

[2020-01-30 23:47] ZachBacon commented on #592
Git is needed as there's a submodule containing some needed stuff to compile, even on the msvc side of things, it's mainly headers etc.

[2020-01-31 09:20] rkitover commented on #419
Why exactly is someone's broken or malware-infested computer a release critical issue exactly? We do actually need to get a fix for the link dialog out.

[2020-01-31 10:45] rkitover commented on #419
Seriously I can have a release posted in literally 20 minutes, the point of all the stuff I was doing up to now was to make it easier for you or denisfa to do that if you wanted to or I was not available.

[2020-01-31 10:52] denisfa commented on #419
@rkitover Let's do a minor release. I believe the issue is fixed.  We use VisualStudio for the Windows build, right? Do the scripts already cover this too?

If we can, I want to include the auto-updater for the Windows build. I still want to work on the code, but I believe functionality-wise is ready and set to go.

[2020-01-31 11:51] ZachBacon commented on #419
It's not a security issue that I'm concerned about, but merely I want to make sure it's reported as fixed. There's quite a number of people who use cheats, but if you feel like going into it, go right ahead, I won't stop you.

As for the updater, @denisfa if you think it works, I'll go for it.

[2020-01-31 11:55] ZachBacon commented on #419
If things are alright, I'll post a binary tomorrow night. I'm about to go to bed, I still need to finish the config for postfix/dovecot and restore the forums.

[2020-01-31 20:57] rkitover commented on #419
@denisfa if you want to include the auto-updater, enable it here:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/CMakeLists.txt#L179

presumably we'd also want to upate the appcast file etc.. The build stuff for this is all ready to go.

[2020-01-31 21:00] rkitover commented on #419
@denisfa as for the visual studio build, this is in my draft of the manual:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/dev-manual/DEVELOPER-MANUAL.md

what I did was move a lot of the release automation code into cmake, so it runs when you build with cmake as normal.

[2020-01-31 21:20] rkitover commented on #419
@denisfa actually I was thinking if we do auto updates, I should update my TAG_RELEASE script to write an entry to the appcast, and only for the 64 bit binary, I don't know if winsparkle works on xp, but we probably want to disable it for the 32 bit build.

[2020-01-31 22:12] ProfessorZero opened #599 "fast forward not working"
hello. My Fast Foward is not working, the only thing that get fast is the audio, the video stays the same. sorry for my bad english

[2020-01-31 22:45] ZachBacon commented on #419
@rkitover I got word about another vulnerability in our elf parser. I'm getting more information about it and I'll forward you the email.

[2020-02-01 02:00] denisfa commented on #599
@ProfessorZero What is your native language? We need more information (the version, if you are on Windows or Linux etc). It could be something on your `vbam.ini`. I suspect that this is related to another issue already, but I would really like to confirm it.

[2020-02-01 03:04] rkitover commented on #419
@ZachBacon ok then let's take care of that and whatever @denisfa and I want to do with the online updates before we post a new release.

[2020-02-01 03:53] crest1993 opened #600 "Pressing key 1 to 5 change screen size instead of input in number"
### Please fill out this form:

Pressing key board number (not numkey, num key works as is) 1 to 5 change the screen scale / size instead of input number in cheats searching or anywhere.

Things i did
- open ROM
- list cheats, add code and then can't even put number anywhere
- this happen not only in cheat list, memory view too or maybe everywhere else.

even if i've already remove hotkey from opt

[2020-02-01 03:57] denisfa commented on #600
@crest1993 Thank you for the report. This is a duplicate of #516. Is has been fixed already, it will be available next release.

Download the nightly with the fix [here](https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-568932350).

[2020-02-01 03:57] #600 closed

[2020-02-01 05:10] rkitover commented on #419
Actually I have an XP VM, so I'll see if winsparkle works on XP.

[2020-02-01 05:16] ZachBacon commented on #419
I think for the xp side of things, we could manually compile winsparkle if necessary.

[2020-02-01 06:32] rkitover commented on #419
Now for a fun diversion, once I'm done with some of my backlog here, I am going to port this to cmake:

https://github.com/mpreisler/mingw-bundledlls

[2020-02-01 07:08] SkilledTheGamer commented on #598
suprisingly it worked @ZachBacon

[2020-02-01 07:14] denisfa commented on #484
@rkitover I did some research here and I found out the issue is the save type. The hack uses `SRAM`, while the original is `EEPROM`. If you override to save for the Hack, then the original stops saving and vice versa.

I have a solution ready, just doing some refactoring and I will create a pr.

[2020-02-01 07:20] #598 closed

[2020-02-01 15:32] rkitover commented on #419
@denisfa as promised, I fixed the fedora cross build in b5367e2e.

Be aware that it does not make a completely static binary, you will need some dlls, fedora doesn't yet have all the necessary static mingw libraries.

I will look at the ubuntu/mxe ccache issue next, and the winsparkle stuff we wanted to do.

[2020-02-01 15:35] denisfa commented on #419
I don't know if I can ask this, but I would really appreciate if you tackled the winsparkle first (but do  whatever you prefer, though). There is something that I want to see being done since I have no idea how to do it myself. I have to go out now, but I will explain better when I have time.

[2020-02-01 16:33] rkitover commented on #419
Sure, I will do some stuff in the winsparkle branch.

[2020-02-01 21:47] rkitover commented on #419
Looks like I need to do a bit of work to update my scripts, some URLs are stale etc..

[2020-02-02 03:39] rkitover commented on #419
I am done fixing the 32 bit mingw build, and I can report that winsparkle works perfectly on XP with one caveat: https github URLs for the appcast files will not work, we need to make a github pages site and publish that file there.

@ZachBacon can you get the guy who found the vulns on here so we can discuss.

[2020-02-02 03:55] rkitover commented on #419
It may be possible to do something with the openssl 32 bit build for XP, but I'd rather take the easy way out and just use an http url.

[2020-02-02 10:06] negativeExponent commented on #419
https://github.com/visualboyadvance-m/visualboyadvance-m/pull/601
cant believe PR now have commenting disabled. also, this is an ugly way of handling overrides especially on a commonly used rom where every other hacks are based off of it.

[2020-02-02 12:30] ZachBacon commented on #419
@negativeExponent commenting shouldn't be disabled. I'll dive and see what's up.

[2020-02-02 12:33] ZachBacon commented on #419
@negativeExponent there is no setting I can see that would disable comments on the pull request.

[2020-02-02 15:33] rkitover commented on #592
You just need to install git for windows or the git package from chocolatey, just about every windows developer has this so I don't consider this an issue. There is even an option nowadays in visual studio to install git along with everything else.

However, if you want to build from a source that is not a git clone, make sure to put the dependencies submodule in the source directory.

The file is

[2020-02-02 15:35] rkitover commented on #599
Is this for a GB or GBA ROM?

[2020-02-02 15:51] rkitover commented on #419
@denisfa @negativeExponent

I don't mind having this code for a few common hacks at first.

But I think we do need to use some kind of proper data structure for this, using STL of course, and an overrides file that supports all these features.

We should also collaborate with the mGBA team on the format of this overrides file and the built-in overrides database.

That's my input here, and I'll let

[2020-02-02 16:26] rkitover commented on #354
New build with @denisfa's layers fix for #376 and @negativeExponent's and @ArtiiP's BPS patching support, and icon fix for about dialog, and some new translations.

[translations.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4144634/translations.zip)
[visualboyadvance-m-Mac-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4144635/visualboyadvance-m-Ma

[2020-02-02 16:26] rkitover commented on #419
Posted new build here: https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-581151429

[2020-02-02 16:30] negativeExponent commented on #419
your fix is incorrect. you are basically forcing layers and ignoring changeBGon conditions.

[2020-02-02 16:46] rkitover commented on #419
So we will need to fix that as well then, does this break anything in the current state?

[2020-02-02 17:01] negativeExponent commented on #419
this is the only video taken from an actual GBA https://www.youtube.com/watch?v=cxUbvpf7-JM
as you can see, there is a gap on top of the texts.
its should look like this if fixed (based on video since i do not own the cart nor a gba)
![pinball tycoon](https://user-images.githubusercontent.com/54053706/73611797-84416f00-4620-11ea-99ab-2de5f66a8ec0.png)
this quick fix will just end up showing or hid

[2020-02-02 17:04] rkitover commented on #419
Thank you, we'll try to take care of this for the next release as well.

[2020-02-02 17:18] Moonslate commented on #592
@rkitover, I have git. But I was having a problem, and I had to delete that lines.

I think I checked this folder and there was not CMakeCache.txt, but I'll check again later.

[2020-02-02 17:18] Moonslate commented on #592
@rkitover, I have git. But I was having a problem, and I had to delete that lines.

I think I checked this folder and there was not CMakeCache.txt, but I'll check again later.

[2020-02-02 23:11] rkitover commented on #592
If the file is not there, are other log files that can give you some clues:

[code]

[2020-02-03 01:52] rkitover commented on #419
@denisfa the ccache issue for ubuntu+mxe cross builds is fixed as of 7bbbf047, just run installdeps again.

[2020-02-03 04:20] denisfa commented on #419
@rkitover Thank you very much!

I will rethink what/how I should do it. I believe I am in the right way, just very jumbled. I will keep you updated.

[2020-02-03 10:05] negativeExponent commented on #419
wow an untested code has been merged. now some games are showing scanlines which are not suppose to be there, while others are not shown. good job.

[2020-02-03 10:33] ZachBacon commented on #419
@negativeExponent I'm going to ask this once, be part of the solution, not the problem.

Also I do have to side with you on this one though, for the gba core stuff, we should be looking more towards actual documented gba expectations.

@rkitover @denisfa we should revert  ca3b63d until we can actually emulate expected gba behaviour.

[2020-02-03 10:44] denisfa commented on #419
@ZachBacon Agreed. Done on 789cd2d0f0742093718b6acead76c401b4b367d3.

Unrelated, did you finish the forum stuff? Is it available?

[2020-02-03 17:27] HiImBrala commented on #594
thing is.port 5738 DOESNT WORK .every other does.At least add back option to choose port ourselves.One that link 1.8 has

[2020-02-03 18:33] rkitover commented on #419
@denisfa sorry, it was my fault for merging that a bit prematurely, don't worry though, we are not signaling anyone the expectation that master is stable in any way and I break shit all the time.

@negativeExponent thank you for testing!

I'll post a new build in a few minutes.

[2020-02-03 18:43] rkitover commented on #419
I'm actually going to do some work now on setting up the buildbot, that will definitely make things like experimenting with the core easier.

[2020-02-03 18:43] denisfa commented on #419
@rkitover Don't worry about this. I am the one who has to apologize and be much more careful when trying stuff on the cores. It was a good first problem, though. I will keep studying about it.

I will move this thread to `DEVELOPER CHAT 2`. It has become somewhat slow for me to load this page and search for posts.

[2020-02-03 18:43] denisfa opened #602 "DEVELOPER CHAT 2"
Second part from #419. Use this page for any questions or discussion that does not need a separate issue.

[2020-02-03 18:44] rkitover commented on #602
Good idea, yeah I'm going to try to finally set up the buildbot now, and I'll make it build not just master but all branches.

We could do a core improvements branch and we'll have builds from that for people to try.

[2020-02-03 18:50] rkitover commented on #354
Updating the build to remove the previously mentioned layers fix because it caused incompatibilities. Also lots of new translations included not in the previous one.

[translations.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4149539/translations.zip)
[visualboyadvance-m-Mac-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4149540/visualboyadvance-m-

[2020-02-03 18:51] rkitover commented on #602
New build posted:

https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-581560504

[2020-02-03 19:29] rkitover commented on #594
@HiImBrala oh sure, that's very easy to do. I'll do it now.

[2020-02-03 19:41] rkitover commented on #594
@HiImBrala actually before I do all the gui and options wiring for this, give me a different port you would like to try and I'll make a build for you.

[2020-02-03 19:46] rkitover commented on #602
@denisfa any idea why the default link timeout is `1ms`, that is way too low, we need to set it to like `200ms` what do you think?

[2020-02-03 19:51] denisfa commented on #602
Yeah, I never got it to work with `1ms`. But it is important to notice that I tested only a few games. I suggest `500ms`. I think I got it a `GBA Kirby` game to work locally with  this value. If you need me to check something I can hop on my Windows and test it myself.

[2020-02-03 20:14] rkitover commented on #594
I tried connecting to a port forward over 5738 on my network to the external IP, and I linked advance wars fine. Just FYI. I'll add something to configure the port though.

[2020-02-03 20:16] rkitover commented on #594
Also, I just noticed this and edited one of your previous comments, never post your home network IP publicly, that's a very bad idea.

[2020-02-03 20:19] rkitover commented on #602
Was looking at #594, I just successfully linked advance wars from windows to linux via a port forward on an external IP.

I'm going to add a config option for the port, and change the timeout to `500ms` as you suggest.

I suspect a lot of people never check this and then give up on making link work when it would work just fine for them.

[2020-02-03 22:06] rkitover commented on #602
See my PR #603, what I did there was detect the previous default of 1ms and force it to 500ms, I think that will help.

[2020-02-04 01:27] rkitover commented on #594
Anyway, I'll have a build with the configurable port feature in a few days at most, waiting for that to be merged.

@denisfa I think we need to implement some kind of cross-platform UPNP like apps like qbittorrent do, there should be something handy for that.

[2020-02-04 05:35] ZachBacon commented on #602
@rkitover @denisfa mind going to http://board.vba-m.com and registering? I want to see if things work for you guys.

[2020-02-04 08:49] kode54 commented on #602
Hi, could you reset my goddamn email address to kode54 (at) gmail.com? I seem to have forgotten both my password and whichever possibly now invalid email address was used to register at the forum. I checked my password keeper, apparently, whatever password generator I used at the time decided to make it a mishmash of all sorts of random symbols and crap.

[2020-02-04 08:52] ZachBacon commented on #602
Also for notes etc https://problemkaputt.de/gbatek.htm gba hardware documentation we can use to reference and improve vba-m

[2020-02-04 22:09] ZachBacon commented on #602
@kode54 yeah I can do that.

[2020-02-04 23:11] rkitover commented on #602
@denisfa so what do we want to do with winsparkle? I was going to do some stuff to make my `TAG_RELEASE` script write a new entry to the appcast file, and make a github pages repo to store the file.

[2020-02-04 23:17] rkitover commented on #354
New build with link port setting feature and default link timeout fix:

[translations.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4156627/translations.zip)
[visualboyadvance-m-Mac-32bit.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4156628/visualboyadvance-m-Mac-32bit.zip)
[visualboyadvance-m-Mac-64bit.zip](https://github.com/visualboyadvance-m/visualb

[2020-02-04 23:17] rkitover commented on #602
New build with link port setting and link timeout fix: https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-582162781

[2020-02-04 23:18] rkitover commented on #594
Try this build which has a port setting: https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-582162781

[2020-02-04 23:18] #594 closed

[2020-02-05 00:36] rkitover commented on #602
@ZachBacon finished my registration and managed to post a reply, nice going!

Honestly like the dark theme better though.

[2020-02-05 01:05] ZachBacon commented on #602
@rkitover that's next on the list, though rather finding a theme, I may just design one. It's been a while since I tried my hand at theming, and it would also give me an excuse to try and design something to tie in the forum and site together.

[2020-02-05 16:34] denisfa commented on #602
@ZachBacon Sorry about the delay, but I cannot register myself. When I click `Submit Registration!`, nothing happens.

@rkitover I wanted to isolate the code from `wxvbam.cpp`, as well as adding MacOS sparkle support. If you want to do something related to updating the appcast automatically, I suggest to not do it at the moment. Let's do manual updates on our first nightlies (with auto-updater ena

[2020-02-05 16:56] ZachBacon commented on #602
@denisfa define nothing happens? I did a test registration on another computer and @rkitover was able to register as well.

[2020-02-05 17:05] denisfa commented on #602
@ZachBacon I fill everything, put mouse over button (it goes green) and I click it. It remains green and does not load anything else on the page. When I try to login, it fails with `You have entered an invalid username/password combination.` I am doing this on chromium.

Is there a CAPTCHA or some type of confirmation dialog?

[2020-02-05 17:22] ZachBacon commented on #602
Probably captcha. I was trying to setup recaptcha. I'll revert that.

[2020-02-05 17:23] ZachBacon commented on #602
@denisfa try again.

[2020-02-05 17:32] denisfa commented on #602
@ZachBacon Just did it and registered. Thank you!

[2020-02-05 17:54] rkitover commented on #602
@denisfa

I made a winsparkle branch which simply turns on the support in cmake, the rest is what we worked on a few weeks ago, it works fine.

Here's what I want to do, let me know what you think:

- Make a github pages repo for data files, this is necessary because all normal github URLs are https and XP cannot use them.

- Write the appcast files to this new repo.

- Make a POST_RELEASE cmake s

[2020-02-05 17:57] Passingby1 commented on #131
Even with the latest nightly as of Feb 04/2020 this issue is still present, no gbColorOption is available anywhere to configure, the colors are overly saturated in GBA games.

[2020-02-05 19:06] rkitover commented on #602
@ZachBacon FYI the snap badge in our readme says "failed to build".

[2020-02-05 22:04] ZachBacon commented on #602
@rkitover that's normal because snapcrafts build service is fucked and can't use staging snaps. So I'm going to remove it and just build it myself.

[2020-02-05 23:17] denisfa commented on #602
Can we have a normal github URL ready for when we drop XP support? Something that we could clean up quickly and just use https.

If you remember, `winsparkle` can also have a more descriptive comment about the updates. Like a log, using the commits messages. Have a look at it, you may find something you like.

[2020-02-06 04:09] rkitover commented on #602
Well, I will try to make the URL as nice as possible. I still need to learn how github pages works, I was going to set up a blog for myself using it too.

Also, it may be a good idea to decouple the appcast files from the master of our source code, for various reasons.

@ZachBacon very nice work on the theme!

Can you make a Development forum under the VBA-M section, and we can try that and see ho

[2020-02-06 04:32] ZachBacon commented on #602
@rkitover I can do that, and I didn't make the theme, just an impromptu replacement until I figure out how mybb does it's theming. But as for the development forum, I can do that. Public read only access for it?

[2020-02-06 07:04] ZachBacon commented on #602
https://board.vba-m.com/showthread.php?tid=810 Figured we could move this here

[2020-02-06 15:03] rkitover commented on #602
I don't mind other folks posting there, we can moderate. We are a small community, and input from everyone is more than welcome.

[2020-02-06 15:41] rkitover commented on #602
Well github pages apparently requires https, so that's not going to be a solution for me.

[2020-02-06 16:31] rkitover commented on #602
And so does netlify, I don't think anyone is going to support plain http anymore, what a fucking pointless waste of cpu cycles.

I will figure out the ssl issue in XP instead.

[2020-02-06 16:46] rkitover commented on #602
No, fuck that too.

@ZachBacon can you please give me an `A` record for `data.vba-m.com` pointing to `216.194.165.93`.

[2020-02-06 21:09] ZachBacon commented on #602
@rkitover done

[2020-02-06 22:11] rkitover commented on #602
@denisfa @ZachBacon

Ok I have a URL now:

http://data.vba-m.com/appcast.xml

This is on my server, a cron job will update it every few minutes.

This is also here:

https://visualboyadvance-m.github.io/appcast.xml
https://visualboyadvance-m.netlify.com/appcast.xml

but we won't use those.

The repo is:

https://github.com/visualboyadvance-m/visualboyadvance-m.github.io/

this is going to be a str

[2020-02-06 22:17] rkitover commented on #602
Just tested, the cron job works to pick up changes. So this is all set.

[2020-02-08 04:28] rkitover commented on #602
@denisfa

So winsparkle is on in master now as of 83614290.

I am going to do the update script, let me know if there was anything else you wanted me to look at.

[2020-02-08 05:01] ZachBacon commented on #602
@rkitover awesome news about the updater.

[2020-02-08 20:04] denisfa commented on #602
@rkitover Fantastic! I have to look at my task's queue and see what I need to do next.

[2020-02-08 23:03] rkitover commented on #602
@denisfa I did my script to update the appcast, and updated the manual here:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/dev-manual/DEVELOPER-MANUAL.md#final-steps

this is done in 9475474e.

[2020-02-08 23:30] rkitover commented on #602
@ZachBacon I am going to address the vulnerability, and @denisfa is going to do whatever he wanted to do with winsparkle, and then we have to get a release out again because of the link dialog thing.

Let's try for a time-frame of two months max.

[2020-02-09 05:31] Myusicman opened #604 "Can't Trade with Myself in Pokemon Red/Bluw"
### Expected behavior
I want to trade with myself in Pokemon Red/Blue using two screens within one computer

### Actual behavior
The screens do not register the cable link

### Steps to reproduce the behavior
Click on the VBA icon twice to start up two separate screens
For each one, go to Link -> Type -> Cable
For Screen 1, go to Link -> Start Network Link -> Server -> 2 Players -> Start
For Scree

[2020-02-09 05:45] ZachBacon commented on #602
@rkitover Sounds like a plan.

[2020-02-09 05:45] ZachBacon commented on #602
I also renewed the domain as it was about to expire. Thankfully I got paid a day before it expired.

[2020-02-09 07:27] HiImBrala commented on #594
thanks :)

[2020-02-09 13:43] ShadeAurion opened #605 "Export Custom Color Pallette?"
Apologies, I wasn't sure where to put this but it would be a tremendous help to the hacking community, specifically the colorizing community. This is more of a suggestion/request than anything else and i'm sure you've gotten it before.

### Suggestion
The ability to export custom color palettes, ideally as an .ips that can then be applied to a stock rom with the correct tools

Obviously this would

[2020-02-09 21:54] ZachBacon commented on #604
@Myusicman do you mine testing this https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-58216278 This contains some fixes for link connections.

[2020-02-09 22:27] Myusicman commented on #604
@ZachBacon I downloaded the 64-bit files, but still no luck.  The link setup seems to work, it's just the games don't recognize a link active.

I feel like it's worth noting that in my older laptop, the link actually did go through the game, but whenever I was given the option to either trade or fight, one screen would freeze up entirely (my laptop was over 5 years old and had only 4GB Ram, which

[2020-02-10 01:14] rkitover commented on #604
Are these gameboy advance or gameboy (color) roms?

[2020-02-10 06:58] rkitover commented on #605
Hi, thank you for this post, I'd like to get some more details if you don't mind:

- What are these custom palettes and where do they come from? Do you mean like, loading a gameboy color rom and exporting the palette that it has?

- What is the format of these .ips files? Can you link me to something?

- Could we allow loading these `.ips` files along with an uncolored rom to use as a palette for

[2020-02-10 08:23] Myusicman commented on #604
@rkitover Gameboy roms.  Does it matter if they're unzipped or not?

[2020-02-10 11:12] ZachBacon commented on #604
@Myusicman it doesn't matter, just with Pokemon games some are re-releases in the gba like fire-red.

[2020-02-10 20:43] Myusicman commented on #604
Alright.  Well it is gen 1, so it's the original Red and Blue, so it would be a GB rom, not Advanced

[2020-02-11 00:33] ShadeAurion commented on #605
In VisualBoyAdvance, with a classic Gameboy game file loaded, within Options>Gameboy>Colors you are able to set custom color palettes. This is a great feature of the emulator itself that I use quite a bit. What would be even better is if you could take the custom color palette and export it as a .IPS patch that you could then patch to the rom to make the custom color palette more permanent. This w

[2020-02-11 02:14] rkitover commented on #604
This is consistent with the link behavior @denisfa described for GB roms.

[2020-02-11 19:06] Askmewho opened #606 "unusual bad performance on soft scaler arm64 xbrz x2 (low cpu usage)"
Ive compiled master.. and I was expecting similar performance than on rpi4 at 2.0 ghz. this have two a72 at 2.0 ghz (on the image Ive shown just 1.8 bc 2.0 didnt change anything) and 4 a53 at 1.5 ghz. for some reason, even if I add 6 threads.. it barely use all cores

![2020-02-11-190449_1920x1080_scrot](https://user-images.githubusercontent.com/39385643/74269549-9185ea00-4d01-11ea-9c28-2d1d684aa5

[2020-02-11 19:07] Askmewho commented on #606
sorry, wrong repo

[2020-02-11 19:07] #606 closed

[2020-02-11 19:30] Myusicman commented on #604
@rkitover I see.  Has he come up with a solution for this yet?

[2020-02-11 19:55] denisfa commented on #604
@Myusicman Sorry, this is a known issue for a while. We will eventually tackle it.. The behaviour I noticed is a little different from your description. My config is:

- Link -> Type -> Game Boy
- Link -> Configure -> 120000 (timeout value)

Make sure your emulated system is set to Game Boy. You will very likely see glimpses of connection, although it will(should) be unusable due to desync (you ca

[2020-02-12 03:09] rkitover commented on #605
Thank you for the information.

I did a bit more research and now I understand what these IPS files are and what feature you are asking for.

I think I will do this as one of my current projects, because I need to learn more about and do more work on the cores and this is a nice simple project for this.

Also, we want to take care of some other things to make the life of modders and rom hackers ea

[2020-02-12 19:47] Myusicman commented on #604
@denisfa The GameBoy link works, however, as you mentioned, the desync does make it impossible to use.  While the game registers the link, it has the same problem as my old computer did where one of the screens eventually freezes up.

As you find a way to resolve this, I will find ways to pass the time.  Maybe I can finish up Blue and Yellow or just start a Gen 2 game.  Thank you for your help! :)

[2020-02-12 21:12] RunisDauphin commented on #599
Hello there:

I can confirm (and I think I wrote some issue about this topic three-four months ago, if memory does not trick me) that this issue is still present at least since the August release.

Last time I checked (about two weeks ago, when I downloaded the latest version) it was still present.

The fast forward command (both toggle and hold) are still configurable, but they do not do anything

[2020-02-13 01:02] rkitover commented on #604
If the link feature is important for you, you can try doing a GBA pokemon game, GBA link is far more solid.

[2020-02-13 01:05] rkitover commented on #599
@denisfa you tried my configurable turbo dialog, and it does, definitely, work. Right?

There must be some conditions where it does not work for some people, hopefully it's not some kind of impossible to debug memory corruption issue.

[2020-02-13 01:10] rkitover commented on #599
Actually, I just tried it again and it does not work. At least on my linux config.

I will take a look.

[2020-02-13 01:17] denisfa commented on #599
@rkitover @RunisDauphin What are you calling `Fast Foward`? Is the `turbo`, `throttle`, or `speedup throttle`?

Is it what you configure on `Input` > `Configure` > `Special` tab?

@rkitover Send your config please. I think I know what is going on, but I would like to confirm.

[2020-02-13 01:38] rkitover commented on #599
Yeah, the speedup key, space by default.

The actual effect of the key is configured in Options -> Speedup/Turbo, that's the part I did a while back.

My vbam.ini is attached.
[vbam-ini.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4196055/vbam-ini.zip)

[2020-02-13 01:48] denisfa commented on #599
@rkitover Then that is working for me, at least with my current config.

Change `speedupFrameSkip=0` to `speedupFrameSkip=9` on `Options` > `Speedup / Turbo` > `Speedup Frame Skip`. Try again.

This is very interesting because it is related to my recording solution, from a very long time ago.

[2020-02-13 03:08] rkitover commented on #599
5848feaea not even 6 months. That's a very short time-span in the scheme of things like this. We may have bugs that will take 10 years to fix.

I can confirm that using the frame skip setting for speedup configuration does indeed work.

That was, actually, the reason I did this in the first place. So that the user can find SOME configuration for speedup that works regardless of any other factors i

[2020-02-14 02:43] denisfa commented on #599
@rkitover The idea I have about this is not related to the variable `throttle`, but to the `OpenGL` configuration. You are on Linux, right? Try to disable any type of vsync you may have configured and retry.

It should work when you use the `Simple` output. The only thing I can see here is that there is some type of master config that overrides our `vsync` check (or we are using the wrong function

[2020-02-14 02:47] denisfa commented on #565
@RunisDauphin If you combine checking both autofire and autohold for a given key, do you obtain the behaviour you desire about this feature? If that is the case, then there is something simple that I can do to solve this.

[2020-02-14 02:51] denisfa commented on #599
@RunisDauphin @ProfessorZero Could you report a test for me(if you have time and will), please?

- If you use the `Simple` output module on `Options` > `Video` > `Configure ...`, does the issue still happen?
- Check your graphic card panel configuration for any type of `vsync` option, make sure it is disabled and then try again. Does the issue still happen?

[2020-02-14 03:02] Trinsdar opened #607 "white screen on windows 10 vm"
### Expected behavior
It displays the loaded game
### Actual behavior
Sounds play, but the game screen stays white
### Steps to reproduce the behavior
Install windows 10 on a vm.
Download vba-m in the vm.
Open a gba rom in vba-m.
This might happen in a fresh windows 10 install too, but i can't really test that.
### ROM details

Which games are affected by the issue (please state if GBA or GB game)

[2020-02-14 03:23] denisfa commented on #607
@Trinsdar Thank you for the report. Can you confirm if `OpenGL` is functional on the vm?

If you use `Simple` video driver, it should work.

[2020-02-14 08:43] ZachBacon commented on #607
One question though I have to ask, why load vba-m in a virtual machine @Trinsdar?

[2020-02-14 16:50] Trinsdar commented on #607
It's mainly just for convenience, i don't have to drag the rom i'm hacking over to the shared folder i setup every time I make a change and want to test it.

[2020-02-14 20:11] rkitover commented on #599
@denisfa I think you may be right about this.

I tried `vblank_mode=0` as I have amdgpu, and the throttle did seem to speed things up a bit, although nowhere near the 300% I set it to. I can't be completely sure it's not my imagination though.

I can't test on my windows VM, because for whatever reason the app displays very slowly there.

I'll also try native windows on my laptop in a few minutes.

[2020-02-14 21:54] rkitover commented on #599
@denisfa So on my opensuse tumbleweed on my laptop, a 300% throttle works perfectly, that set up uses intel modesetting with an nvidia gpu.

On the Windows on my laptop, it does not work at all.

[2020-02-14 23:12] ZachBacon commented on #607
@Trinsdar fair enough, I know from experience sometimes opengl doesn't quite work well with vm's, well virtualbox anyways, not so sure for others. But I understand the use case, I do suggest the simple driver though, I think our opengl implementation needs to be flushed out better, kinda uses wxwidgets implementation which I think needs to be redone for our use case for better compatibility in thi

[2020-02-14 23:48] denisfa commented on #599
@rkitover Not sure what else I can do to help. Check your windows video configuration. I also have a intel+nvidia notebook with Windows, and both work as expected...

Here is footage of it using that Windows 10 recording tool.

[Legend of Zelda, The - Oracle of Ages (USA) - VisualBoyAdvance-M 2.1.4 2020-02-14 20-43-15.mp4.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4207433/

[2020-02-15 01:08] rkitover commented on #599
No you already helped a huge amount. We at least know approximately what the problem is.

What I'm going to do first, is reorder the throttle/frameskip options so that frameskip is first, and add a bold label that throttle may not work, this will hopefully reduce some of the confusion. The order of options can make a huge difference for GUI design.

speedup_frame_skip defaults to 9, and speedup_th

[2020-02-15 02:20] denisfa commented on #599
The main issue here is how mysterious this is. Why does it work for me but not for you? We need some type of useful feedback for this, at least for documenting purposes. About your case:

1. What windows do you have?
2. Did the `Simple` output module work for throttle? Or did both fail?
3. Was there any type of VSync configuration for you? Both nvidia and intel config panels (forced or per applica

[2020-02-15 03:33] rkitover commented on #599
Also I verified in my working opensuse configuration that both throttle and frameskip work for GB roms. I believe you fixed this in your ffmpeg pr.

On Windows something affects this app specifically and it's always just very slow for me.

On my gentoo linux, something is screwing up the driver or the higher xorg layers.

I made sure the vbam vsync option was off.

Regardless, we know it's vsync n

[2020-02-18 12:08] ps1337 opened #609 "[Fuzzing] Use after free"
heyo, I've performed some fuzzing in VBA-M and found a user after free that's being triggered using this input file and an ASAN build of vbam:

[uaf.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219065/uaf.gb.gz)

[2020-02-18 12:11] ps1337 opened #610 "[Fuzzing] Null Derefs"
heyo, I've performed some fuzzing in VBA-M and found some null derefs.

[null_deref.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219071/null_deref.gb.gz)
[null_deref2.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219072/null_deref2.gb.gz)
[null_deref3.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219073/null_deref3.gb.gz)

[2020-02-18 12:12] ps1337 opened #611 "[Fuzzing] Out of bounds reads"
heyo, I've performed some fuzzing in VBA-M and found some OOB reads that are being triggered using these input files and an ASAN build of vbam

[read1.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219083/read1.gb.gz)
[read2.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219084/read2.gb.gz)

[2020-02-18 12:13] ps1337 opened #612 "[Fuzzing] Out of bounds writes"
heyo, I've performed some fuzzing in VBA-M and found two OOB writes that are being triggered using these input files and an ASAN build of vbam

[write1.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219089/write1.gb.gz)
[write2.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219090/write2.gb.gz)

**I've got more samples for all issues I've created, if

[2020-02-18 12:25] ps1337 opened #613 "[Fuzzing] Hang in utilLoad / malloc"
Heyo, this input file causes a hang upon loading it into VBA-M since the malloc call in utilLoad uses a size that's directly being read from the input file. I've attached a proof of concept
[hang1.gb.gz](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4219151/hang1.gb.gz)

[2020-02-18 12:54] denisfa commented on #609
@ps1337 Thank you for all of these. What version were you using when doing these tests?

I just tried this one using current master and there was no crash. I will retry later to confirm it more properly.

[2020-02-18 12:58] ps1337 commented on #609
Hey :) I've used the version from master, February 9th 2020. I've compiled it with full ASAN using AFL (afl-clang-fast) by passing AFL_USE_ASAN=1

-----Original Message-----
From: "Edênis Freindorfer Azevedo" <notifications@github.com>
To: visualboyadvance-m/visualboyadvance-m <visualboyadvance-m@noreply.github.com>
Cc: ps <pschmied@mailbox.org>, Mention <mention@noreply.github.com>
Sent: Tue, 18

[2020-02-18 13:02] ZachBacon commented on #609
Can I ask that any future fuzzing you do, stuck to one issue post for all, kinda a catch all for that day you do the discovery. But other than that, much appreciated!

[2020-02-18 13:04] ps1337 commented on #609
OK sure, I just thought that makes closing these more granular since you can go one by one.

Sure, you're welcome :) hope it helps

Von meinem Android-Gerät gesendet.

-----Original Message-----
From: Zach Bacon <notifications@github.com>
To: visualboyadvance-m/visualboyadvance-m <visualboyadvance-m@noreply.github.com>
Cc: ps <pschmied@mailbox.org>, Mention <mention@noreply.github.com>
Sent: Tue,

[2020-02-18 13:11] ZachBacon commented on #609
As long as you section each one off it should be more than enough and iirc GitHub markdown can do some things like lists etc to help separate each things with descriptions.

[2020-02-18 13:38] ps1337 commented on #609
Sorry for the noise - I've just added the ASAN logs to the issues.

[2020-02-18 19:07] ZachBacon commented on #609
That's fine, it all helps!

[2020-02-19 00:43] SatoMew opened #615 "Retire hack to fix RTC issues in Pokémon GSC and enhancement suggestion"
I'm referring to this thread: https://board.vba-m.com/showthread.php?tid=707

In its place, create a new thread advising players to use PKHeX to correctly set the byte in the save file which is normally only touched if the clock data is not sane since it supports all variants of the save data (Japanese, Western, and Korean).

Also, is the information [here](http://bgb.bircd.org/rtcsave.html) regar

[2020-02-19 06:51] negativeExponent commented on #613
i dont get it. what "size" should be used to allocate? in anycase GB should realloc these when the size will not match what the header would indicate (assuming this is a valid rom, can't check since i cannot extract it)

[2020-02-19 07:35] ps1337 commented on #613
You can load the `gb.gz` file directly into VBA-M. I was referring to a check whether the size that's being passed to `malloc` actually makes sense for a GB ROM. Using this sanitation the hang can maybe be fixed - only a suggestion though from my side

[2020-02-19 09:29] negativeExponent commented on #613
thanks for the reply, although i still dont understand the way you phrase it..

in any case the problem is that (size) actually goes negative during utilGetSize()
https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/src/Util.cpp#L642

solution should be utilGetSize should use unsigned types, much preferable uint64_t

![Screenshot_2020-02-19_17-16-36](https://user-images.githubuserc

[2020-02-19 10:39] rkitover commented on #602
Just a note that this chat has moved to the board here:

https://board.vba-m.com/showthread.php?tid=810

For anyone else, you can still post here or use the board, whichever you prefer.

[2020-02-19 16:37] negativeExponent opened #616 "commenting on PR disabled?"
![image](https://user-images.githubusercontent.com/54053706/74853518-ff24bc80-5378-11ea-856f-73b5c5d0498e.png)
this repo now dev only since we cant comment on PRs and stuff! ?

[2020-02-19 19:22] ZachBacon commented on #616
@negativeExponent I literally tried checking the permissions, I couldn't find anything. @rkitover did you change something?

[2020-02-19 20:54] ricsirogi opened #617 "Can't turn off fullscreen visualboyadvance-m 2.0.2 emulator"
### Expected behavior
       After turning on the fullscrean on the visualboyadvance-m 2.0.2 emulator i can close it with f11
        or other key shortcuts

### Actual behavior
        I can't turn off the fullscreen even the key shortcuts are not working!

### Steps to reproduce the behavior
       - start the emulator
       - turn on fullscreen
       - and you can't use anything, u just play,

[2020-02-19 21:27] ZachBacon commented on #617
You're using an outdated version

https://github.com/visualboyadvance-m/visualboyadvance-m/releases/tag/v2.1.4

[2020-02-19 21:29] ricsirogi commented on #617
Thanks a lot, i will try it tomorrow!

Zach Bacon <notifications@github.com> ezt írta (időpont: 2020. febr. 19.,
Sze 22:27):

[2020-02-19 22:43] rkitover commented on #616
Nope, we did nothing, @negativeExponent I think you should contact github support, this is some kind of bug.

I don't think github even has any such setting.

[2020-02-19 22:54] ZachBacon commented on #616
I saw no such setting on my end, and I went through, there's nothing that forbids commenting on pull requests save if it's a private repository in which this repo/organization is not.

[2020-02-19 23:48] rkitover commented on #616
I mean, this may be related to my particular situation, but it's certainly nothing that I did or asked anyone to do.

[2020-02-19 23:51] ZachBacon commented on #616
I'm more inclined to think this maybe a GitHub related but. Seems really weird.

[2020-02-20 21:48] rkitover commented on #616
Let us know what github says.

[2020-02-21 00:23] rkitover commented on #610
These are GB ROM files that cause the crash right?

[2020-02-21 06:41] ps1337 commented on #610
yes indeed, it's loaded directly as `gb.gz` into the emulator

[2020-02-21 11:13] rkitover commented on #602
@ZachBacon something is wrong with the board and requests are timing out, can you check please.

[2020-02-21 11:40] rkitover commented on #602
@ZachBacon right, I see, I will give you a virtual server on my dedi, I have a spare IP.

[2020-02-21 11:46] ZachBacon commented on #602
@rkitover thanks, on the bright side, officially caught up with the things I need to be, next is maintaining that, once it's done proper, it's done. 100% I'm no longer playing the catch up game as of next pay

[2020-02-21 11:52] rkitover commented on #602
@ZachBacon I need the following:

- Your preferred distribution.

- Email me your ssh public key.

[2020-02-21 12:21] ZachBacon commented on #602
Email sent with the details

[2020-02-23 20:15] rkitover commented on #616
I contacted github support about this.

[2020-02-23 20:29] negativeExponent commented on #616
this can be close. i have been requested to enable F2A on libretro (which i dont want to since i care less about security nor remembering gazillion passwords/keys) and that seems to resolve i have here in this repo.

[2020-02-23 20:29] #616 closed

[2020-02-23 23:54] buffaloburrow opened #618 "Framerate Issues"
### **Expected behavior**

Game runs at 60 frames per second.

### Actual behavior

Game runs normally, but after a window of about 30 to 60 seconds, there is a noticeable drop in framerate that can only be addressed by tabbing out of the emulator, then switching back to it.
This will only stall it for that amount of time.

### Steps to reproduce the behavior

None that I'm aware of.

### ROM deta

[2020-02-24 00:05] denisfa commented on #618
@buffaloburrow Thank you for the report. But we need some more information:

- What version were you using (latest, 2.1.4 or nightly)?
- Does the framerate drop affect the audio? Or both audio and video are affected?
- Any type of special configuration? Like throttle,turbo or some other setting?

[2020-02-24 00:11] buffaloburrow commented on #618
Thank you for the reply, I'm using the latest release, audio is NOT affected, and no other setting has been tinkered with that I'm aware of.

[2020-02-24 02:40] ZachBacon commented on #618
@buffaloburrow have you tried the simple renderer yet?

[2020-02-24 03:02] buffaloburrow commented on #618
@ZachBacon Certainly, I have. It turned out it puts a significant dent on the framerate and is far worse than OpenGL. No clue why. I have also tried other emulators but so far this has been the only one to even hint at a stable framerate. Frustrating.

[2020-02-24 03:04] buffaloburrow commented on #618
What's staggering to me is this shouldn't even be a problem, my hardware is more than capable of handling this kind of emulation. Such a bizarre issue. This doesn't happen with other emulators either, just GBA ones. Super Mario World for example runs smooth like butter without any issues.

[2020-02-24 03:20] denisfa commented on #618
@buffaloburrow Sorry if this looks intrusive, but could you test an experimental build for this? It is on the attached file. I have an idea about what is happening, but cannot reproduce it on my end.

[visualboyadvance-m.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4243010/visualboyadvance-m.zip)

Which ones did you try? Were they all OpenGL based?

[2020-02-24 03:27] buffaloburrow commented on #618
@denisfa Whether the other emulators are OpenGL based I couldn't tell you, but I can namedrop the other emulators I do use. The one I use most outside this one is snes9x, and as I pointed out it runs well and without issue. I'll keep you posted on the experimental build.

[2020-02-24 03:36] ZachBacon commented on #618
@rkitover @denisfa I think we should look at revamping the video drivers making that one of the priorities

[2020-02-24 03:37] buffaloburrow commented on #618
@denisfa Here is what I've noticed: It seems that the "grace period" where the emulator runs without issue has been extended dramatically in this build, it's not just 30 to 60 seconds anymore, it's around 3  minutes minimum, a massive improvement. Choppiness does happen, but the emulator can recover and put the frames back together very quickly and enter another grace period. Tabbing out of the em

[2020-02-24 03:57] denisfa commented on #618
@buffaloburrow Thank you very much for testing this. I can't do something better than this very quickly, so I hope this is good enough for now. We will try to tackle this more properly ASAP. If we include a nightly build for it, we will tag you here for updates.

@ZachBacon This is mainly an Windows issue. I think we need to bring back Direct X {9,10,11} output module. Let's move this discussion t

[2020-02-24 05:01] buffaloburrow commented on #618
By the way what is this? It pops up when I close the emulator. Annoying.
![Untitled](https://user-images.githubusercontent.com/61395046/75129778-71fba380-56a9-11ea-8a71-023e70e13196.png)

[2020-02-24 05:10] denisfa commented on #618
It is an wip auto-update feature. Sorry about this. Here is a link without it.

[visualboyadvance-m.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4243146/visualboyadvance-m.zip)

Same stuff, but with the option disabled.

[2020-02-24 05:15] buffaloburrow commented on #618
gotcha. I will keep tabs on this Issue. Let me know when the framerate problem is rectified.

[2020-02-24 07:36] ZachBacon commented on #618
Eventually the message board will be back soon though. Having some sql conversion issues in trying to migrate away from mybb to phpBB, mainly because there's more of a rich extensions that we can make use of certain things like markdown etc, The conversion plugin is set for an older version of phpBB and for a slightly older myBB so it's literally trying to adapt the conversion plugin to convert th

[2020-02-24 21:33] rkitover commented on #607
Closing this as the issue is stalled.

[2020-02-24 21:33] #607 closed

[2020-02-24 21:34] #617 closed

[2020-02-24 21:38] ELECTRODE69 commented on #251
hey,if i give my mother 3 save can i get help too?

[2020-02-25 19:33] rkitover commented on #251
@denisfa I think we should implement automatic nogba save file import. What do you think? The deleted user gave us the full algorithm for this, so it should be very straightforward to implement.

[2020-02-26 03:22] buffaloburrow commented on #618
Short update: Choppiness does not go away like I described. Seems like I have to "refresh" the screen, either by tabbing out, entering full screen or some other method. I have not come across a solution still. My drivers are up to date, too. I have not had to deal with an issue this annoying in forever. Is there any way at all I could bind a key to refreshing the screen so it goes away? Honestly,

[2020-02-26 07:37] rkitover commented on #618
@buffaloburrow what you are describing is very strange.

Is there another Windows computer you can try the emulator on?

It sounds like something specific to your configuration.

[2020-02-26 17:32] buffaloburrow commented on #618
@rkitover Unfortunately I do not have access to another machine. As to whether this is specific to my configuration, let me say this: This is a fresh Windows 10 installation. I do not recall having this issue on Windows 7, so maybe that has something to do with it? All I know is I have never had to deal with something like this.

[2020-02-26 21:06] Trinsdar commented on #607
oh sorry for not replying, forgot about this. simple works.

[2020-02-26 23:31] rkitover commented on #607
That's all good, we're just trying to keep things tidy with the labels, thank you for getting back to us!

[2020-02-26 23:35] rkitover commented on #618
Do you have latest nvidia drivers?

[2020-02-26 23:59] buffaloburrow commented on #618
@rkitover Yes I have triple-checked at this point. There are no driver updates and DirectX is up to date.

[2020-02-27 01:21] rkitover commented on #618
Do you have any kind of remote desktop, screen sharing or screen recording software enabled?