[2020-02-27 04:51] ZachBacon commented on #618
Also directx doesn't really matter since vba-m doesn't support directx, currently that is.

[2020-02-27 20:31] Myusicman commented on #604
@ZachBacon @rkitover @denisfa Hello, it has been about two weeks since I last replied.  I hope you are all doing well!  Any update on the GameBoy/Cable Link issue?

[2020-02-27 21:04] rkitover commented on #604
@Myusicman I'm afraid it will take us much longer than this to get to this issue, you are being way too optimistic.

[2020-02-27 21:09] Myusicman commented on #604
@rkitover Ah, my apologies.  I have no knowledge on computer programming and coding, but I do know that it can be a long and difficult process.  Hopefully you guys will be able to resolve the issue!  As I said earlier, I will be waiting patiently in the meantime :)

Thanks again for listening, it means a lot that you guys are willing to put effort into things like this.  I hope you all have a grea

[2020-02-27 21:35] rkitover commented on #604
We have actually been discussing link in detail over the past few weeks, and we've come to the conclusion that for GB link, the main issues are synchronization.

So this is definitely on our radar as one of the most important things to fix.

[2020-02-27 21:53] Myusicman commented on #604
@rkitover Ah I see, good to know, then!

[2020-02-28 14:22] negativeExponent commented on #599
i ditto this on linux using latest WIP. when using Speedup Throttle above 100% you only get chipmunks-broken audio and framerate stays the same.

[2020-02-28 19:39] RunisDauphin commented on #565
I have never tried that. I have Autofire and Autohold as separate keys (for all four buttons). I am used to VBA-RR way of working: if pulse Autohold A and then Autofire A, then only Autofire A works (that means autohold gets inactive). If pulse again Autofire A (in this case), then both will be inactive. Both modes (in VBA-RR) work as toggles. But, as you told me three and a half months ago, theor

[2020-02-28 19:49] RunisDauphin commented on #599
I call "Fast Forward" what it is called in other emulators "Fast Forward". In this one, apparently, it is called "Speed up" and it is in the Special Keys section of Joypad Configuration.

I do not use throttle because in other emulators I tried (such as VBA-Link, by Javier Himura) does not work at all. In VBA-RR, to do some things easier, I use the Set Speed option to alter the speed.

Sorry for t

[2020-02-29 15:34] negativeExponent commented on #599
RE: https://github.com/visualboyadvance-m/visualboyadvance-m/pull/621
ill continue here so PR wont testings. and this issue seems to be the more logical place for this specific issue(s)

recap: setting **No Limit** to **Speedup Throttle** is suppose to speed up game as fast as the system can when hotkey is used. but on Linux, this do not do anything. turning off checkbox on vsyc do not resolve thi

[2020-02-29 16:27] rkitover commented on #599
@negativeExponent what video card do you have?

[2020-03-01 01:00] negativeExponent commented on #599
intel hd graphics. but why would these manual disable vsync matters? should the Vsync checkbox suppose to handle this? and why would there be 2 ways to fast forward? whats the per frame about and what is percentage about(assuming this would work in all cases above 100%)? libretro can do frame advance, slowdowns and even rewind without having to disable vsync or hard gpu sync? Im not comparing appl

[2020-03-01 01:19] ZachBacon commented on #599
@negativeExponent thank you, thank you for commenting, I honestly do greatly appreciate your input.

For some things, we honestly should be looking at certain other emulation projects for some examples and ideas, certain ideas that could be the inspiration to help build vba-m into a better emulator itself. Like at the moment, I'm taking a cue from mgba and how it's core code is laid out, I plan on

[2020-03-01 19:05] ttepatti commented on #596
I've been messing with VBA-M's memory editor a bit today and found a few features I'd love to see implemented:
- Search memory for a given value
- Scrolling (On my current Linux build, only clicking the scroll bar with the mouse works, you can't scroll with the mouse wheel or arrow keys)

On top of that, I also found a few bugs:
- If you drag the scroll bar down to the bottom of the memory viewer

[2020-03-02 18:41] WildCard65 opened #623 "Incompatibility with Nahimic OSD and Dual Monitors on Windows"
# Expected behavior
Loading a ROM file with the UI on a different monitor to run the contents.

# Actual behavior
Nahimic 3's NahimicOSD.dll causes the application to deadlock on dual display systems.

### Steps to reproduce the behavior
Load a ROM with OpenGL video output (on a different monitor) with Nahimic 3's background services running.

### ROM details

Which games are affected by the issue

[2020-03-02 18:43] WildCard65 commented on #623
Update: Switching from OpenGL to Simple resulted in expected behaviour.

[2020-03-03 05:15] negativeExponent commented on #616
thanks for blocking me again. if you guys dont want corrections, then do you stuff correctly.

[2020-03-03 09:11] ZachBacon commented on #616
@negativeExponent no one blocked you period, this seems legit a GitHub issue

[2020-03-04 17:15] rkitover commented on #599
@negativeExponent Well, none of us wrote any of this. We are just trying to maintain and improve the project as best as we can based on the community's priorities and our own interests.

[2020-03-04 17:22] rkitover commented on #623
Please try with and without filters.

[2020-03-04 20:21] WildCard65 commented on #623
@rkitover Based on further testing, it might be an odd race condition somewhere upon the execution of "SwapBuffers", simply swapping to Simple, run the ROM once and swapping back shifts something internally to not cause a deadlock.

[2020-03-04 22:50] negativeExponent commented on #616
https://help.github.com/en/github/building-a-strong-community/blocking-a-user-from-your-personal-account

![unknown](https://user-images.githubusercontent.com/54053706/75930396-7ac05680-5ead-11ea-9892-98b2b61a0352.png)

[2020-03-04 22:51] ZachBacon commented on #616
Really? That's really odd, lemme talk with denisfa.

[2020-03-05 00:09] rkitover commented on #623
I suspect the `FilterThread` code, line 1527 in panel.cpp. That is the only thing in the wx UI using any kind of mutex.

[2020-03-05 00:10] rkitover commented on #616
I do see that comment in that PR.

[2020-03-05 00:11] rkitover commented on #616
@denisfa can you please check if you blocked @negativeExponent by accident?

[2020-03-05 00:45] WildCard65 commented on #623
My guess, it's the Windows gdi32full that has the mutex as apparent by the
provided stack trace.

On Wed., Mar. 4, 2020, 7:09 p.m. Rafael Kitover, <notifications@github.com>
wrote:

[2020-03-05 00:51] WildCard65 commented on #623
@rkitover Could you provide me a build with debugging symbols so I could gain where exactly VisualBoyAdvance calls SwapBuffers

[2020-03-05 13:43] rkitover commented on #623
Here you go:

http://216.194.163.194/pdb/

sorry it took me a while, this is a new windows server and I was setting up the remote management and IIS etc..

The pdb file is the debug symbols.

[2020-03-05 14:48] WildCard65 commented on #623
Got a 404 on the debugging symbols file.

On Thu, Mar 5, 2020 at 8:43 AM Rafael Kitover <notifications@github.com>
wrote:

[2020-03-05 15:46] rkitover commented on #623
Sorry, I have added the appropriate mime types to the IIS config.

[2020-03-05 16:06] WildCard65 commented on #623
@rkitover Got it, thanks. Here's an updated thread stacktrace of the deadlock:

ntoskrnl.exe!KeSynchronizeExecution+0x5b76
ntoskrnl.exe!KeWaitForMutexObject+0x1c2d
ntoskrnl.exe!KeWaitForMutexObject+0xab4
ntoskrnl.exe!KeWaitForMutexObject+0x255
ntoskrnl.exe!KeTestAlertThread+0x25a7
ntoskrnl.exe!KeWaitForMutexObject+0x3828
ntoskrnl.exe!KiCheckForKernelApcDelivery+0x2b
ntoskrnl.exe!ExReleaseResourceA

[2020-03-05 16:22] WildCard65 commented on #623
@rkitover It seems VisualBoyAdvance doesn't like loading roms when it's UI is on a secondary monitor...

Here's my hardware information:
MSI Leopard Pro GP72-6QF (Intel Core i7-6700HQ, 2.6 GHz + Nvidia Geforce GTX 960M)

[2020-03-05 16:41] WildCard65 commented on #623
I'm pinging @Arisotura from melonDS for information as I believe melonDS doesn't suffer from this problem with OpenGL.

[2020-03-05 19:20] rkitover commented on #623
Yeah, we definitely do use an opengl context.

[2020-03-05 20:14] WildCard65 commented on #623
Do you think it's possible to implement utilization of OpenGL to avoid a deadlock like this?
Also can you change the "bug" label to something like, "OpenGL limitation"?

[2020-03-06 04:20] rkitover commented on #623
I think getting into windows opengl internals is the wrong path to take here.

For the time being, I can tell you that the simple renderer has little to no performance drawbacks on windows. The other opengl features like bilinear filter you can live without, since xbrz6 will still work fine.

As for this issue itself, my solution is to start working on a directx renderer.

Some people kept talking

[2020-03-06 19:49] Hulkninja opened #625 "Emulator can't load BIOS at all"
### Please fill out this form:

### Expected behavior
Emulator loads the provided BIOS upon launch
### Actual behavior
Emulator gives the error message "Could not load BIOS D:\filepath\VisualBoyAdvance-M\BIOS.ROM" and skips the BIOS, booting straight into the game
### Steps to reproduce the behavior
Set up BIOS, set emulator to run BIOS, start game
### Crash bugs
No crash
If this is a crash bug, a

[2020-03-06 21:46] denisfa commented on #616
You should be good now. Sorry about this!

[2020-03-06 23:21] ZachBacon commented on #625
It maybe your bios image, as it's working just fine for me in the release and nightlies.
![bios](https://user-images.githubusercontent.com/8948676/76130037-49dc4080-5fd7-11ea-8f2f-6eec21830e0e.png)

[2020-03-07 11:46] Hulkninja commented on #625
Alright, well, I've tried BIOS from several sources with no success. I put the BIOS in the same folder as VBA-M, set the BIOS in the program, start a game up and get the error message.

What BIOS do you use? Have you ripped them yourself? How would one go about doing that properly? Should I be able to use one proper BIOS file for all games, or would I need, say, a European BIOS for a European game

[2020-03-07 12:59] rkitover commented on #625
Is your Windows system language set to English? Just checking if this is not some kind of localization issue.

[2020-03-07 13:01] rkitover commented on #625
Also please tell us if this is for Game Boy or Game Boy Advance ROMs. These are separate emulators.

[2020-03-07 13:25] Hulkninja commented on #625
System language is set to Swedish. I'll change it and see if that makes any difference.

Game Boy Advance, specifically FireRed European English version which I've ripped myself

[2020-03-07 13:49] Hulkninja commented on #625
Tried changing system language, didn't do anything, not even change the file path. Can I not have the emulator located on a USB drive..?

[2020-03-07 13:54] rkitover commented on #625
USB drive should not matter. Does the path to the bios file have any non-ascii characters?

[2020-03-07 16:51] Hulkninja commented on #625
OH MY GOD I'M A HUGE DUMBASS

I didn't realize that by putting the emulator folder inside the "Pokémon" folder I broke it because "é" is a non-ASCII character.

Thanks for helping me realize my own incompetence. I hope you can forgive me for wasting everybody's valuable time.

Consider this issue resolved.

[2020-03-07 17:06] denisfa commented on #625
@Hulkninja You are not a dumbass and this is a bug. The emulator should be able to use non-ASCII paths for Windows.

We are aware of some UTF-8 issues on Windows. This is another example of them.

Were the games also inside a folder with non-ASCII chars? Did they break at some point or only the BIOS did not work?

[2020-03-07 18:08] Hulkninja commented on #625
The games were inside another sub-folder, located in the folder where the emulator itself was placed. From what I could tell, the games were working fine. They booted up and ran without issue.

[2020-03-08 04:31] Tenome commented on #314
Same issue.

[2020-03-08 04:34] Tenome commented on #517
Same issue.

[2020-03-08 11:31] Squall-Leonhart commented on #623
This is more likely related to your laptop having Optimus, and you're using 2 different WDDM revisions for the IGP and Nvidia gpu.

[2020-03-08 11:36] WildCard65 commented on #623
@Squall-Leonhart It was already determined that the issue is related to a limitation of OpenGL.

[2020-03-08 11:36] Squall-Leonhart commented on #623
That limitation is false.

[2020-03-08 11:40] WildCard65 commented on #623
@Squall-Leonhart My laptop's Nvidia GPU has no display outputs by design, all of my displays are off the iGPU.

[2020-03-08 12:07] Squall-Leonhart commented on #623
Everything is routed by the IGP and its driver, so the IGP driver needs to be on atleast a WDDM 2.4 driver to work right when paired with an Nvidia 2.5 or 2.6 model driver.

Cemu has had the same problem, with the same fix.

Lucky for you, unlike those on the HD 4xxx igp's, your devices HD 530 can take the newest DCH driver

https://downloadcenter.intel.com/download/29426/Intel-Graphics-Windows-10

[2020-03-08 12:10] WildCard65 commented on #623
Provider
Intel Corporation
Version
26.20.100.7870
Date
2/5/2020
Device Details
Adapter Compatibility
Intel Corporation
Video Processor
Intel® HD Graphics Family
Resolution
1920 x 1080
Bits Per Pixel
32
Number of Colors
4294967296
Refresh Rate - Current
60 Hz
Refresh Rate - Maximum
60 Hz
Refresh Rate - Minimum
60 Hz
Adapter DAC Type
Internal
Adapter RAM
1.00 GB
Availability
Running at full power
St

[2020-03-08 12:11] Squall-Leonhart commented on #623
What windows 10 build are you on?

[2020-03-08 12:11] rkitover commented on #623
Nice to see you here Squall! Hope things are going well.

Good catch with the optimus, I did not even suspect this. I should be more explicit about people giving their hardware configuration in the issue template.

Also, most optimus laptops have the HDMI port wired directly to the nvidia GPU, while the internal screen is on the iGPU. I'm on my second optimus laptop and that's how that works.

Of

[2020-03-08 12:14] WildCard65 commented on #623
@rkitover I'll have to check Nvidia Control Panel then to see which GPU my HDMI port is wired to, but ya, my built-in display is wired directly to the Intel CPU.

Driver wise (and Windows build), everything is up-to-date.

[2020-03-08 12:15] Squall-Leonhart commented on #623
Yes, though not all.

I do know of one other cause of the nvidia device not being woken up on an additional screen, and thats due to 1809+ having that new GPU choice screen where you can set an application to use the low power or performance gpu.

The drivers own internal options haven't worked quite as well since.

![image](https://user-images.githubusercontent.com/1098176/76162524-afc0f780-6192-

[2020-03-08 12:17] WildCard65 commented on #623
@Squall-Leonhart I had that set to force Windows to use the NVidia GPU with Visual Boy Advance, it doesn't change anything issue wise.

[2020-03-08 12:24] Squall-Leonhart commented on #623
Very odd,  everything points to it being an optimus thing,  I can run vba-m just fine on a headless system using teamviewer, as well as forcing the rendering gpu to my 1060 and rendering it via the primary gtx 1080 so its not as simple as it just being an opengl issue.

[2020-03-08 12:25] Squall-Leonhart commented on #623
oh, just a question but you aren't combining nvcp msaa and any scalers are you?

[2020-03-08 12:28] WildCard65 commented on #623
@Squall-Leonhart Can you elaborate what you mean by MSAA?

[2020-03-08 12:33] Squall-Leonhart commented on #623
nevermind, i can't even reproduce where I was going with that for it to even matter lol.

[2020-03-08 12:34] WildCard65 commented on #623
I do notice something odd in Windows Task Manager, it's not showing any driver information for the 960M despite a driver being installed.

[2020-03-08 12:36] Squall-Leonhart commented on #623
i don't think it can list that while the nv gpu is 'asleep'

[2020-03-08 12:38] rkitover commented on #314
I believe @denisfa is addressing this in an ongoing PR in the several-wips branch.

I am going to try to decouple that work so it can be merged to master.

[2020-03-08 12:40] Squall-Leonhart commented on #618
is this a case where the GPU falls back to low power clocks and the emulator chokes from the reduced video memory bandwidth?

[2020-03-08 12:49] Squall-Leonhart commented on #615
No we cannot revise the save implementation, since its  the save implementation used by every other sane emulator and flash cart.

[2020-03-08 12:58] Squall-Leonhart commented on #588
You'll have to tell that to blargg

[2020-03-08 13:00] Squall-Leonhart commented on #604
pipelining is the only way to do it right,  trying to do it via tcpip sockets just isn't going to cut it, it.

[2020-03-08 17:19] rkitover commented on #615
I would agree that we have to preserve file format compatibility to the greatest extent possible, but tweaks may still be possible, like when I made 32bit and 64bit saves compatible a few months ago.

Optionally making another file is one of the things we could do, because that does not affect compatibility.

[2020-03-08 19:59] WildCard65 commented on #623
@Squall-Leonhart @rkitover Just checked and my laptop is reporting that both the built-in display AND my HDMI output both operate under Intel HD Graphics 530 (The iGPU basically).

[2020-03-08 20:50] LilBeanBoi opened #627 "Stuck at High Speedup"
Sorry this is not any technical stuff, but vba seems to be stuck at 200-250% speed and I can't seem to fix it. Any help?

[2020-03-08 22:18] denisfa commented on #627
@LilBeanBoi We have had a couple of issues of the speed being stuck at high values. I will assume you have the latest stable version `2.1.4`... Also, Windows or Linux?

Has it been like this since you very first try playing a game? Or did it start happening after you tried to do some configuration?

Could you try: `help`--> `factory reset` (backup your configuration first). If it works, could you

[2020-03-08 23:54] rkitover commented on #623
@WildCard65 Ok, let's do a test to confirm or reject Squall's theory:

- In Device Manager, find your NVidia device, right click it and disable it.

- Reboot.

- Check if deadlock still occurs.

- Re-enable the NVidia device.

- Reboot.

[2020-03-09 00:21] WildCard65 commented on #623
Deadlocked again, but before we proceed, do I also need to disable "NVIDIA Virtual Audio Device (Wave Extensible) (WDM)"?

![Screenshot](https://user-images.githubusercontent.com/5003283/76173950-5baa1900-617a-11ea-91c9-cf2655b8eb6f.png)

[2020-03-09 00:39] WildCard65 commented on #623
Quick update: Managed to get ROM loaded successfully on the 2nd monitor ONCE (and only ONCE) with all NVidia devices disabled... unfortunately I wasn't able to figure out what caused the success as subsequent runs deadlocked.

[2020-03-09 00:55] WildCard65 commented on #623
Update 2:

Managed to get a few successful ROM loads in (occurs after system reboot) independent of the NVidia GPU being enabled/disabled.

Also during the last successful ROM load, I occurred a new deadlock while the ROM was running, but I couldn't get a static stacktrace for you (Windows wasn't giving me a useful one either) as it was jumping the stacktrace with mentions of a spinlock. After tha

[2020-03-09 03:34] rkitover commented on #623
If you want a much more useful backtrace, run the app in visual studio, you can just open the exe too. It should see the pdb file next to it. Clone the project with git for sources.

I'm just setting up my windows nightly build job which will do debug builds too.

As for what we can do to improve this situation, I'm not sure we need to change anything in our app, unless you manage to find some spe

[2020-03-09 03:46] Squall-Leonhart commented on #623
I'm actually beginning to convince myself that the nahamic OSD might be involved,

https://www.matrixgames.com/forums/tm.asp?m=3954156 prior history exists.

[2020-03-09 03:56] WildCard65 commented on #623
@Squall-Leonhart It appears you're correct. Forcably murdering Nahimic's services resulted in the deadlock disappearing.

@rkitover I think now that we found the cause, I believe this issue can be closed.

[2020-03-09 04:06] Squall-Leonhart commented on #623
You can modify this file to prevent nahimics intrusion while still using it in the cases where it is useful

C:\ProgramData\A-Volute\A-Volute.Nahimic\Modules\Scheduled\Configurator\BlackApps.dat

[2020-03-09 04:12] WildCard65 commented on #623
I already found that in the last link you provided.

On Mon., Mar. 9, 2020, 12:06 a.m. Squall Leonhart, <notifications@github.com>
wrote:

[2020-03-09 11:14] jkotlinski opened #628 "[Feature Request] PS/2 keyboard emulation"
This feature would allow Little Sound Dj to be played like a piano, and might open up other exciting interaction possibilities in the future.

[2020-03-09 12:38] LilBeanBoi commented on #627
@denisfa I have the 2.1.3 version on Windows 10, and this issue started randomly, but I don't think changing video filters might have affected that. I tried to do a factory reset and it worked! Unfortunately I don't know what vbam.ini is but the issue is fixed, thank you

[2020-03-09 16:34] rkitover commented on #602
@denisfa @ZachBacon

Well getting the forum operational again is now on me, sorry for slacking off.

Here's a nice (if I say so myself) prompt I made for powershell:

[code]

You need the git version of posh-git, the chocolatey poshgit package is too old.

The powershell setup guide will get a very thorough revision soon.

[2020-03-09 23:58] #627 closed

[2020-03-09 23:59] rkitover commented on #627
Glad things are working for you now.

If you have any problems feel free to open an issue and we'll help the best we can.

[2020-03-10 06:01] SenerioIX opened #629 "Switch Pro Controller not registering on 2.1.4"
### Please fill out this form:

### Expected behavior
Switch Pro Controller input mapping to work

### Actual behavior
Switch Pro Controller input mapping doesn't work

### Extra Info
I launch 2.0.0, go into inputs and can normally bind the controller buttons.
I launch 2.1.4 and do the same thing but it doesn't seem to register anything.

### Steps to reproduce the behavior
Plug in Switch Pro Cont

[2020-03-10 06:23] SenerioIX opened #630 "Final Fantasy Crystal Chronicles Multiplayer Inputs Stuttering"
That's an old one and maybe it's been addressed before with no result but here goes anyway.

### Expected behavior
No stuttering for a player when their map is opened.

### Actual behavior
The player experiences stutter when their map is opened.

### Steps to reproduce the behavior
You need to setup links between Dolphin and VBAs to get into multiplayer (at least 2 players).
When going in a map, t

[2020-03-10 08:04] ZachBacon commented on #629
This is most likely due to the fact it's not using xinput. I do have a pro controller and a controller that has a switch input emulation, so I'll give that a local test and see what's going on, but my guess is that it isn't using xinput. I'll report what I find.

[2020-03-10 08:05] ZachBacon commented on #630
Can you try this build https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-582162781 and then tell me if it's still an ongoing issue, mainly since this build has some link changes.

[2020-03-10 08:41] SenerioIX commented on #630
Same thing. I'd say it's a very specific emulator to game problem. Not only is it only with this game, but it's also only when a player has a map opened. And it's not that it's affecting the whole emulation. It's really just eating inputs from that player alone.

And on a side note, that build also made my GameCube controller not work anymore.

[2020-03-10 22:22] rkitover commented on #629
Please try this build which has the new joystick code:

https://github.com/visualboyadvance-m/visualboyadvance-m/issues/354#issuecomment-582162781

[2020-03-10 22:24] rkitover commented on #629
Also when you try that build, please also check that the default mappings are correct. That was one of the goals of my joystick refactor.

[2020-03-10 22:28] rkitover commented on #630
Can you please open a separate issue for the gamecube controller? I need to fix this before next release then.

[2020-03-10 22:34] rkitover commented on #628
This is what you're talking about right:

https://www.reddit.com/r/Gameboy/comments/797wcg/my_gameboy_now_has_a_ps2_port/

[2020-03-11 01:35] ZachBacon commented on #629
@rkitover SDL 2.0.12 recently added some new API something like SDL_GameControllerTypeForIndex(), SDL_GameControllerGetType() to return the type of a game controller (Xbox 360, Xbox One, PS3, PS4, or Nintendo Switch Pro) so worse comes to worst, could add conditionals for switch controllers

[2020-03-11 05:03] SenerioIX commented on #629
Nope. Still not registering anything and I'm always counter validating with 2.0.0 so you can be sure I didn't mess up the test.

[2020-03-11 05:07] SenerioIX opened #631 "GameCube Controller not registering"
### Actual behavior
GameCube Controller input mapping doesn't work

### Extra Info
I launch 2.0.0, go into inputs and can normally bind the controller buttons.
I launch 2.1.4 and do the same thing but it doesn't seem to register anything.

### Steps to reproduce the behavior
Plug in the GameCube adapter, start VBA, try setting the inputs, nothing happens.

### Build details

OS:
Windows 10

Emulat

[2020-03-11 05:07] SenerioIX commented on #630
There you go https://github.com/visualboyadvance-m/visualboyadvance-m/issues/631

[2020-03-11 06:54] jkotlinski commented on #628
Hi!
Yes, although there is no need to modify a Game Boy for it to work...
typically, the PS/2 keyboard is simply soldered together with a Game Link
cable and plugged into the Game Boy link port.
https://littlesounddj.fandom.com/wiki/Little_Sound_Dj

It’s a bit particular since PS/2 keyboards send 11 bits per byte, and Game
Boy can only read 8 at a time. But it is possible to work around from Game

[2020-03-11 12:52] rkitover commented on #631
So in this joystick refactor I did, I used the SDL GameController APIs instead of the Joystick APIs to try to have uniform default mappings for various controllers. It seems now I need to add some kind of fallback code for joysticks that don't work as a GameController.

Can you check if there are any settings in the driver to e.g. turn on xinput etc..

[2020-03-11 12:56] rkitover commented on #629
Related: #631

So looks like switch controllers don't work as a GameController in SDL at all.

I will add regular joystick fallback code.

[2020-03-11 19:15] SenerioIX commented on #631
That's pretty much all it offers :
https://cdn.discordapp.com/attachments/165275830816079872/687378049448149051/unknown.png
https://cdn.discordapp.com/attachments/165275830816079872/687378036030439455/unknown.png

[2020-03-11 20:04] rkitover commented on #631
Alright thanks, joystick fallback should work then, I'll have a build for you to try when I get that done.

[2020-03-11 20:19] SenerioIX commented on #631
If you want to test stuff really quickly, I have a [Discord server](https://discord.gg/GhzWeNU) where I have a section for VBA cuz I made a tool to easily set up links between Dolphin and VBAs. It's quite elusive to most people haha.

Can also give you ample details about that Final Fantasy bug there too. That one's been plaguing the community for a long time. It'd be quite an achievement if it we

[2020-03-12 03:51] ZachBacon commented on #631
We generally don't use discord for vba-m stuff.

[2020-03-12 20:50] rkitover commented on #602
Just an update, as I was working on my windows nightly build script, I ran into an issue with codesigning, which I finally managed to solve:

https://stackoverflow.com/a/60661598/262458

So the nightly script will be running soon.

I have not yet started on the forum conversion, but I will try to start today.

Hope you guys are doing well.

Avoid any unnecessary trips to stores or events/gathering

[2020-03-12 20:56] rkitover commented on #602
Actually never mind, I have not found a solution yet. I thought I did but I was building on the wrong computer.

I'm thinking of just using a mingw build of `osslsigncode`.

[2020-03-13 00:13] ZachBacon commented on #602
could do a local build of osslsigncode binary and upload it for our personal use and just use the script to download it when it comes to signing and cache it

[2020-03-13 00:54] kode54 commented on #602
Do either of you know how one would use osslsigncode with a DigiCert OSS certificate? Those jackasses require you to buy their stupid USB token, so I presume Windows expects the certificate to be permanently stored inside it, and inaccessible to anything but signtool.exe, and maybe Microsoft's web browsers.

[2020-03-13 01:23] rkitover commented on #602
@kode54 It may be just a matter of extracting the certificate chain and the private key from the usb shit and putting it into a `.pfx` or `.p12` or something like that anyway. Maybe I'm wrong, but I know nothing about crypto and all it does is piss me off.

@ZachBacon So I just stole the exe and dlls from the msys2 mingw64 build. It took me literally seconds to do that:

[code]

works perfectly in

[2020-03-14 04:57] justin-cotarla commented on #631
I'm getting the same behavior on Ubuntu 18.04. On 2.4.0, Mayflash's GameCube adapter gets recognized in PC mode; however on the latest master that I had pulled (8ede756fb06752b99d2d706c8fcba3234d41d3de), it did not.

[2020-03-14 13:33] rkitover commented on #602
@ZachBacon @denisfa your accounts on the windows server are ready to go, I set everything up.

You don't have to install a gpg key to use UPSTREAM_RELEASE anymore, it will just skip that part. You can if you want of course.

[2020-03-15 01:24] robertlinke opened #632 "[enhancement] set server ip for linking"
Expected behavior
in `options>link>start network link>server` field the ability to adjust the ip address for which i want to run the server
### Actual behavior
the ip field grays out the moment i switch from client to server mode
### Steps to reproduce the behavior
`options>link>start network link` en then server, and the IP setting grays out.

### Build details

Operating System (Windows, Mac, Li

[2020-03-15 19:39] rkitover commented on #632
Here's a build for you with the feature enabled:

[visualboyadvance-m-Win-64bit-bind-ip.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4334965/visualboyadvance-m-Win-64bit-bind-ip.zip)

[2020-03-15 20:10] robertlinke commented on #632
you sir are awesome!

[2020-03-16 12:19] rkitover commented on #354
Actual nightly Visual Studio builds for Windows are now here:

http://win.vba-m.com/nightly/

32 bit MinGW Windows builds (for XP compatibility) and Mac builds will be added soon. At that point this thread will be closed.

the powershell scripts for this, if you are curious, are here:

https://github.com/visualboyadvance-m/win-nightly-builder

[2020-03-16 12:25] rkitover commented on #602
Ok, nightly builds are up here:

http://win.vba-m.com/nightly

The powershell code for this is here:

https://github.com/visualboyadvance-m/win-nightly-builder

I will probably rename that repo later to a general nightly builder with scripts for the other builds too.

[2020-03-16 12:27] rkitover commented on #602
I still need to do the 32 bit mingw builds and the mac builds.

I will just have the scripts scp those to the same web server directory once I get that done.

[2020-03-16 12:33] ZachBacon commented on #602
The automation will be a big help, and make things easier to get into the hands of users to try.

[2020-03-16 14:13] rkitover commented on #602
If you ever want to re-run the build, run `build-nightly.ps1` in `/source/repos/win-nightly-builder` on the server.

[2020-03-16 14:43] ZachBacon commented on #602
Sounds good

[2020-03-16 16:37] #632 closed

[2020-03-17 14:47] rkitover commented on #602
Someone just asked me via email when v2.1.7 is coming out, I'm putting my response here, just to clarify my reasoning:

[2020-03-17 20:17] denisfa commented on #602
Yeah, I don't think versions are that important right now. It just guides what we should be coding or not, especially for the frontend. For me, we could just use the nightlies for every month or so and set the auto-updater to take care of the rest.

Is someone here a distro maintainer? I want to ask about updating policies.

[2020-03-17 20:33] denisfa commented on #625
@Hulkninja Sorry for the delay here. Could you test the attached build, please?

It is a build with a possible fix. My testing used PT_BR and had some `áéíóú` on subfolders (both bios and games). Would like to confirm with you if it is indeed working.

We are aware of conversion issues and we are dealing with them as they are reported. So feel free to create another issue if you find anything.

[v

[2020-03-17 21:22] ZachBacon commented on #602
I'm a package maintainer for solus

[2020-03-18 00:48] #131 closed

[2020-03-18 00:48] #517 closed

[2020-03-18 00:48] #585 closed

[2020-03-18 02:03] rkitover commented on #602
I have done various distro related things over the years. I've never gotten very deeply involved though.

[2020-03-18 02:07] rkitover commented on #269
@denisfa finally fixed this in d05e8fc1.

[2020-03-18 02:07] #269 closed

[2020-03-18 10:41] Venkx opened #636 "No way to start this thing"
### Please fill out this form:
Ok
### Expected behavior
.exe file
### Actual behavior
no .exe file
### Steps to reproduce the behavior
search for a .exe file
### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructions for doing so are
[here](https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/README.md#reporting-

[2020-03-18 10:48] denisfa commented on #636
@Venkx The latest release is available [here](https://github.com/visualboyadvance-m/visualboyadvance-m/releases/tag/v2.1.4).

You may also consider our nightlies builds, which are available [here](http://win.vba-m.com/nightly/).

Just download and extract the zip file.

[2020-03-18 10:57] denisfa commented on #602
@rkitover Thank you for timer loop split.

So I should have asked already, but can we use our nightly as a minor release for distros? Using something like `2.1.4.X`? What are the criterias for major/minor releases?

[2020-03-18 11:07] Venkx commented on #636
ok now I found it. but I was on the releases tab before, maybe you should consider hiding all the changes, while scrolling the page I couldn't make out the files at the bottom, but it works now

[2020-03-18 11:07] #636 closed

[2020-03-18 19:54] ZachBacon commented on #602
@denisfa thanks to @rkitover the board is back up. https://board.vba-m.com. You may need to clear out your cache to log in.

[2020-03-18 20:12] ZachBacon commented on #636
@Venkx the changes are also for distro maintainers to know what's new when they pull in the source to compile for linux distributions. In future release information will also be mirrored at https://vba-m.com and at https://board.vba-m.com/viewforum.php?f=22

[2020-03-20 00:08] rkitover commented on #602
Board is looking very good thanks to zach, let's wait for email to work before we move back to our thread there.

@denisfa the way I understand it, actual version numbers have to be set by humans. They correspond directly to git tags.

Distros sometimes do things such as `-git` packages, to track master for a project as closely as possible, and of course they can do this for our project too.

Spea

[2020-03-20 00:33] kode54 commented on #602
WinSparkle, probably like macOS Sparkle does, requires the first part of the version string it checks to be an incrementing number. As of whatever versions they decided do "Git version support", that basically means that anything after the first hyphen in the version string is truncated off and ignored for version comparison. So don't use hyphenated dates or timestamps, either.

How about the `git

[2020-03-20 02:18] ZachBacon commented on #602
@rkitover email or not, board still runs, I still vote to move to it, the board also supports RSS feeds as well. Anywaays as per my email, I do believe I resolved it by using SMTP.

[2020-03-20 02:47] rkitover commented on #602
@kode54 that would work, but for some reason it says that e.g. `2.1.4-gb21880ea` is older than `2.1.4`, instead of recognizing that they are the same, which is all we need.

[2020-03-20 02:48] rkitover commented on #602
@ZachBacon can you send me a PM then and I'll see if I got the email, I'll send you one.

[2020-03-20 03:51] ZachBacon commented on #602
@rkitover I've sent a reply, it should of sent an email

[2020-03-20 13:23] WildCard65 opened #637 "Potential false positives with nightly builds."
https://www.virustotal.com/gui/file/ccafa75705ac8c91d19d32396b975af4e53a10e4b54bc154b9fbace44791662b/detection

https://www.virustotal.com/gui/file-analysis/ODMyNTMzNTY2NWIwZDM2ZGYyZjg4M2Q0ZjFkOGMyMDQ6MTU4NDcxMDU5Mg==/detection

I've only tested the nightly x64 builds (March 18th) and only the release one got purged by Bitdefender.

I've also submitted the release x64 build to Bitdefender for anal

[2020-03-20 15:56] ZachBacon commented on #637
Yeah it's a false positive. Though I wonder if this was more because we started using visual studio for the 64bit builds. Thanks for submitting it though.

[2020-03-20 20:46] rkitover commented on #637
Well that is rude, considering that they are codesigned. But I guess codesigning means nothing in this case.

@ZachBacon actually the 32 bit builds in that folder are made with visual studio too, until I fix that. But I think for the mingw32 builds I'll add them separately with the `-winxp` suffix, that will make their purpose clear.

[2020-03-22 04:34] ZachBacon commented on #602
https://board.vba-m.com/viewtopic.php?f=38&t=810 we can probably move back to the board now that email notifications work properly.

[2020-03-22 15:08] rkitover commented on #602
@denisfa clear your browser cache to log in to the board, then go to notification settings and enable emails for the notifications you want like subscribed topic posts.

[2020-03-22 22:36] WildCard65 commented on #637
@ZachBacon @rkitover Quick update, it appears all the detections have been cleared up as clean.

[2020-03-22 22:37] WildCard65 commented on #637
Update 2... MalwareBytes is now in on it and is blocking the URL as "Trojan"

[2020-03-22 22:47] WildCard65 commented on #637
Sent a false positive report to MalwareBytes...

https://forums.malwarebytes.com/topic/257773-httpwinvba-mcomnightly/

[2020-03-22 22:50] WildCard65 commented on #637
@rkitover Bad news, your certificate got revoked.
![Major Oofs](https://user-images.githubusercontent.com/5003283/77263087-02f47900-6c6e-11ea-9e4c-431438dd9ef3.png)

[2020-03-22 23:08] rkitover commented on #637
@WildCard65 thank you for looking into this.

To be honest, I was just starting to work on my nightly script, I'm going to change the directory layout to have rotating date directories etc. later.

[2020-03-22 23:09] rkitover commented on #637
@WildCard65 my certificate got revoked? I was pretty sure I was using the right one, well I guess I will look into that too.

[2020-03-22 23:10] rkitover commented on #637
@WildCard65 oh actually I might be using the wrong copy of my certificate.

[2020-03-22 23:12] WildCard65 commented on #637
@rkitover No worries, glad it was caught, it's just Windows was telling me it got revoked by the CA.

[2020-03-22 23:27] rkitover commented on #637
@WildCard65 I believe I fixed the certificate issue, can you please check on your end?

[2020-03-22 23:31] WildCard65 commented on #637
@rkitover What's your current time so I know how to tell, I'm currently at 7:31 PM at time of this comment.

[2020-03-22 23:33] rkitover commented on #637
I have all my devices set to UTC 11:33 PM. My local timezone PST8PDT where it's 4:33 PM.

[2020-03-22 23:35] WildCard65 commented on #637
Ok, the x64 release build for 11:22 PM UTC still have invalid certificates assigned to the executable.

[2020-03-22 23:42] rkitover commented on #637
Are you sure? I checked on windows and it didn't say anything was wrong with the certificate. Can you give me a screenshot of the error please?

[2020-03-22 23:48] rkitover commented on #637
![certificate](https://ch3302files.storage.live.com/y4majaTLazMCSFmH3aQlw6udP4lwpSRsA2UpJrLekz6487tmTPlBBKXnUcnOzShDy1fW2LWgu4iWosBEyt00jc-iMTL70QW52jWBjI-vVUKJUVPbkCSTT6ESoHLl3K6qUwxR6EhvKmlNO_gHK8XUnRTTx-7y94H4jJJvVkWPAVIKBfDV5AEl0sksZxV1qhXRMX4ksc_hukS7V56VJBPB2wfeg/2020-03-22.png?psid=1&width=405&height=515)

[2020-03-22 23:56] WildCard65 commented on #637
@rkitover
![issue_1](https://user-images.githubusercontent.com/5003283/77266902-443d5680-6c77-11ea-9ffd-dd04b07e59c7.png)
![issue_2](https://user-images.githubusercontent.com/5003283/77266904-46071a00-6c77-11ea-8531-33d28fdf6973.png)
![issue_3](https://user-images.githubusercontent.com/5003283/77266905-469fb080-6c77-11ea-90fe-0df16bf6e655.png)

[2020-03-22 23:58] WildCard65 commented on #637
Something just occurred to me, but I'm not sure if it's the cause, but Bitdefender could also be running interference despite no longer finding the file suspicious.

[2020-03-22 23:59] rkitover commented on #637
Timestamp is mar 17 which means you're looking at the old binary.

[2020-03-23 00:01] WildCard65 commented on #637
@rkitover Let me try Microsoft Edge real quick, the 32-bit binary has a valid certificate.

[2020-03-23 00:03] WildCard65 commented on #637
@rkitover It appears Google Chrome/Bitdefender is running interference by delivering me an outdated ZIP folder for x64 release, Microsoft Edge gave me an executable with valid cert.

[2020-03-23 00:09] ZachBacon commented on #637
It could be that we need an ssl certificate, to me it possibly sounds like chrome and most other virus scanners are trying to penalize sites etc without ssl certificates. Of course this maybe a far stretch explaination.

[2020-03-23 00:15] rkitover commented on #637
@ZachBacon sounds completely plausible, http URLs are considered bad now, whether you actually need encryption or not. I'll do whatever it is you do on windows servers to set up letsencrypt.

[2020-03-23 00:16] rkitover commented on #637
@WildCard65 thank you for testing, I'll set up an ssl cert and we'll see if the new URL fares better.

[2020-03-23 00:29] rkitover commented on #637
The https url is ready:

https://win.vba-m.com/nightly/

the let's encrypt client for windows is beautiful, it automatically configures IIS and makes a new task in the task scheduler and you have to do nothing.

[2020-03-23 00:30] rkitover commented on #637
Ok so that's two suspicious factors we've fixed:

- Bad codesigning certificate.
- HTTP URL.

[2020-03-23 00:33] rkitover commented on #637
Another nice thing is that it doesn't redirect http requests, so win XP users will be able to get to the site with no issues.

[2020-03-23 00:37] ZachBacon commented on #637
let's' hope this is the case and things resolve quickly

[2020-03-23 00:39] WildCard65 commented on #637
@rkitover I suspect Bitdefender was the cause of me getting a March 17th download instead of the recent upload, a quick restart allowed Chrome to give me a zip with an executable that has a valid certificate.

And MalwareBytes still hates it (It needs to be removed from their database).

Good news: The only company to not block the URL yet is NordVPN, that would be horrendous if they start to.

[2020-03-23 02:19] jvillages opened #638 "How to launch after building from source (using Debian10)"
I've tried the commands visualboyadvance-m, vbam, vbam-wx, and vbam-sdl in the Terminal but none of these are recognized.

What file do I need run in order to launch the VBAM? I can add it to PATH once I know that.

Thanks!

[2020-03-23 02:25] jvillages commented on #638
sudo find /home -name "visualboyadvance-m"
cd ~/src/visualboyadvance-m/build/visualboyadvance-m
./visualboyadvance-m

[2020-03-23 02:25] #638 closed

[2020-03-23 03:07] rkitover commented on #637
I think I know what the problem is, in my efforts to set up the windows server I opened ports like netbios which is generally considered bad. I'm going to update some things, get a new subdomain, and we'll try again for http://nightly.vba-m.com/ or something like that.

[2020-03-23 07:37] ZachBacon commented on #637
@rkitover https://forums.malwarebytes.com/topic/257773-httpwinvba-mcomnightly/ seems the block is being removed from Malwarebytes end now.

[2020-03-23 12:21] rkitover commented on #637
Awesome, well, I am going to close unnecessary ports regardless, and if the URL is still problematic we will change it.

[2020-03-23 12:34] WildCard65 commented on #637
I think a url of "nightly.vba-m.com" is better, especially once Linux
builds start appearing.

Example: https://nightly.vba-m.com/windows/x64/" for release & debug x64
Windows builds.

On Mon., Mar. 23, 2020, 8:21 a.m. Rafael Kitover, <notifications@github.com>
wrote:

[2020-03-23 12:50] WildCard65 commented on #637
@ZachBacon @rkitover Confirmed that the block added by MalwareBytes has been removed.

[2020-03-23 13:42] rkitover commented on #637
@WildCard65 I like that URL scheme actually. We'll also eventually do stuff like dates, branches and features but generally yeah.

I am going to do a security audit of my windows server, I think the probes these companies do to look for hacked systems such as port scans was what triggered this blacklisting. And having netbios open looks like an easily exploitable system, even though this is server

[2020-03-28 14:58] rkitover commented on #637
I've closed all ports on the server, apparently even SMB was turned on. This is what likely flagged it as malware by scanners.

[code]

Next we'll switch the hostname and make a good URL scheme.

[2020-03-28 16:38] rkitover commented on #637
I googled the IP and it looks clean. So we likely don't have any IP level blocks.

[2020-03-28 20:22] WildCard65 commented on #637
@rkitover Sounds greats.

[2020-03-30 21:28] TheBrowndragon opened #640 "No Sound When Playing"
So I've been trying to play a Pokémon Ultra Violet and there has been no sound. I looked in the settings and I tried almost everything In the audio settings but nothing is working.

[2020-03-30 22:02] denisfa commented on #640
@TheBrowndragon I have some questions:

1. Is this the title screen?
![Screenshot_2020-03-30_18-58-07](https://user-images.githubusercontent.com/11354751/77965922-76266c80-72b8-11ea-9182-baef2f60d625.png)

2. Windows, MacOS or Linux? 64 or 32 bit?

3. For confirmation, did you ever try `Help` > `Factory Reset` before playing the game?

4. What version of vbam did you try? `Help` > `About` (should

[2020-04-03 06:13] TheBrowndragon commented on #640
1. This is my screen. Sorry that it's not the title screen don't know if that matters though.
![Pokemon Ultra Violet](https://user-images.githubusercontent.com/62910981/78328945-21426900-75cc-11ea-8cb3-9aebcc559b14.PNG)

2. I am Using Windows 10 64 bit.

3. When I press help it says Report Bugs, VBA-M Support Forum, Translations and About

4. 2.0.1

5. Yes it also happens for other games

[2020-04-03 06:20] ZachBacon commented on #640
You're using an extremely old version @TheBrowndragon if you look, you'll see the releases link and news is updated at https://vba-m.com we also have nightlies you can test at https://win.vba-m.com/nightly/

[2020-04-03 07:02] TheBrowndragon commented on #640
Thanks! It is working now!

[2020-04-03 08:08] ZachBacon commented on #640
Alright, glad it is fixed for you, if you notice any issues, feel free to open more posts.

[2020-04-03 08:08] #640 closed

[2020-04-04 14:23] Nathanrico04 opened #641 "Zelda Four Swords can't link"
I spent 1 hour trying, but every time I try to link, it stays on this screen for a long time, and nothing happens
detail: we are using hamachi
![image](https://user-images.githubusercontent.com/60151869/78452985-3f0fdc80-7665-11ea-95ea-f13fd1c5ec1b.png)

### Steps to reproduce the behavior
Well, I tried it on an older version, and it worked, but it ran at 6%, I soon found out that there were newer

[2020-04-04 19:57] Real96 opened #642 "Pokemon Box can link to Ruby/Sapphire USA roms only"
I'm using last dolphin commit + last vba-m commit. To reproduce the error, you just have start a connection from JPN/EUR Pokemon Box to JPN/EUR Pokemon Ruby/Sapphire (same results with BIOS or without).
I'm able to connect Dolphin to VBA-M using Pokemon Box USA version with Ruby/Sapphire USA version. But it doesn't work with both JPN/EUR versions of Ruby/Sapphire. I tryed to use BIOS in dolphin an

[2020-04-04 21:00] ZachBacon commented on #642
Please use the template. We need to know information such as the version of visualboyadvance-m you are using etc.

[2020-04-04 21:09] Real96 commented on #642
Sorry, if needed i can edit it. Anyway, i used version M 2.1.4-b21880ea. There is also dolphin version in the screens

[2020-04-05 08:52] Paulus88 commented on #123
Having the same issue with the nightly and public build of 2.4
![link](https://user-images.githubusercontent.com/25663775/78470659-67620e80-772b-11ea-995a-d4a334ba2239.PNG)

[2020-04-05 10:00] rkitover commented on #123
This bug is too general I think, while it is true that the link functionality in vba-m is extremely buggy, and things like GB link are pretty much non-functional, GBA link generally works just fine, and Dolphin link often works well enough to be playable.

We have been discussing all of this at length recently, and development resources will be allocated to various link issues, but this will take

[2020-04-05 10:00] #123 closed

[2020-04-05 11:13] Real96 commented on #625
I tested the build you sent, but doesn't seem to load the BIOS....it is in the same filder of VBA-M, "Pokémon" folder

[2020-04-05 20:05] subarashi-06 opened #643 "Can't stream VBA-M on Discord"
When I try to stream my VBA-M window on Discord (I'm playing Pokemon Crystal Clear) the screen whites out. The game still functions underneath the white screen, and resetting it keeps the white screen. I need to reload the ROM file in order to see the game again.

[2020-04-05 23:15] denisfa commented on #625
@Real96 Thank you for testing, but if the bios does not load, then it should display a message saying so. I would like some more info: did you use a GBA or GB/GBC bios? Did you set `Use BIOS` on either `Options` > `Game Boy Advance` or `Options` > `Game Boy`?

[2020-04-05 23:33] Real96 commented on #625
Sorry, i expressed it wrongly. I was saying that i got the usual BIOS error that couldn't be loaded. I was in a folder called /Pokémon/VBA-M. Was able to load the BIOS (no error window + GBA BIOS screen) putting VBA-M folder in my Desktop and running the exe from there

[2020-04-06 00:44] denisfa commented on #625
@Real96 Thank you very much! This helps a lot!

Where was the BIOS file among this? Could you please check if the path on `Options` > `Game Boy Advance` > `Configure ...` > `Boot ROM` tab is correct (both spelling display and path)?

- `/Pokémon/VBA-M/vbam.exe` and`/Pokémon/VBA-M/bios.bin`  (does not work)

- `/Desktop/VBA-M/vbam.exe` and  `/Desktop/VBA-M/bios.bin` (works)

[2020-04-06 13:35] Real96 commented on #625
Ok sorry, i think bios was in another folder. I tested it again and it seems to work perfectly. In both Desktop or Pokémon folder

[2020-04-07 16:14] rkitover commented on #643
Try changing video output from OpenGL to Simple.

[2020-04-11 13:02] plaguewolf opened #645 "Program not opening. idle in process list, no window."
downloaded latest release version (2.1.4) attempted to run but while i can find the process in the task manager no window opens and the program is just idling.

### Expected behavior
Working?

### Actual behavior
Not working. no error message, no obvious log files created, no indication as to whats happening.

### Steps to reproduce the behavior
download latest release, drop in empty folder, doubl

[2020-04-11 19:43] Drakon1590 commented on #645
Maybe you should try to use nightly build.

[https://win.vba-m.com/nightly/](url)

[2020-04-11 22:34] ZachBacon commented on #645
Another thing to look at is the settings located in %APPDATA%/visualboyadvance-m, basically move the ini out of that directory and then try launching it with fresh settings.

[2020-04-12 00:26] rkitover commented on #645
Try turning off your anti-virus/anti-malware realtime protection.

[2020-04-12 00:30] rkitover commented on #645
Check that your OpenGL is working properly too.

You can also try editing the config file in `%USERPROFILE%\AppData\Local\visualboyadvance-m\vbam.ini` and changing `RenderMethod` to `simple`.

[2020-04-12 00:54] Ebizi opened #646 "Cheats not working for Fire Emblem"
### Expected behavior
Cheats are supposed to work and save
### Actual behavior
When I go to List Cheats, and enter a cheat in, I restart the ROM by exiting out of the application and starting it back up. When I load the ROM in again, I find that none of the cheat codes (GameShark) have been saved and nothing is there
![image](https://user-images.githubusercontent.com/63524695/79057917-baa8f500-7c3

[2020-04-12 01:11] Vivit-R opened #647 "Audio Delay"
### Expected behavior
Game audio is synchronized with the emulation.

### Actual behavior
Audio lags up to half a second behind the emulation. If the emulation is paused after an event happens onscreen but before the event's sound effect plays in the delayed audio, the sound effect does not play until the emulation is resumed.

### Steps to reproduce the behavior
Open a ROM and begin emulation.

#

[2020-04-12 02:26] Ebizi commented on #646
Nevermind I'm an idiot and didn't check off automatic save/load cheats

[2020-04-12 02:26] #646 closed

[2020-04-12 08:11] rkitover commented on #647
Can confirm there is an audio delay with master compared to mgba.

[2020-04-12 15:56] plaguewolf commented on #645
Okay, I've tried the suggestions listed here and the same thing is happening. heres what ive done:

Working from a fresh temporary directory to test things
Downloaded latest release version. failed.
tried deleting %APPDATA% and running release version. failed.
downloaded nightly. failed
deleted %APPDATA% and running nightly version. failed.
 changed RenderMethod to simple for both release and nigh

[2020-04-12 19:14] Liger0 opened #648 "Pokemon RS can't communicate with dolphin's Colosseum bonus disk"
### Expected behavior
The VBA M acts like it isn't connected to dolphin, while dolphin connects to it.

### Actual behavior
It should work correctly. 6 years ago I transferred Jirachi from the Colosseum bonus disk to Pokemon Sapphire just fine, while now it doesn't connect at all with the correct settings.
I tried to use the same VBA as before but it doesn't seem to work and crashes each few secon

[2020-04-13 01:27] rkitover commented on #645
By the way, is there an entry in the taskbar when you launch the executable?

Would you be willing to download the `-debug` version of the nightly and running it in visual studio? You can just open the `.exe` directly in visual studio and run it in the debugger.

[2020-04-13 10:21] plaguewolf commented on #645
hmm, updating nvidia drivers seems to have fixed it. so im thinking that windows update must have changed my video drivers in the last month or so.

its either that or the restart after updating drivers fixed it. dunno.
going to close issue.

[2020-04-13 10:21] #645 closed

[2020-04-13 18:43] Shuquan96 opened #650 "Super Mario Land (Gameboy)(Ver A) world4-1 Graphics bug"
### Super Mario Land (Gameboy)(Ver A)Graphics bug

One of my favorite game, found a graphics glitch. many thanks!!

### Expected behavior
in world 4-1 there should be a "flower" pointing downwards from the pipe as the picture shown. this screenshot is taken from original vba emulator(1.80 beta 3).

![Original scene](https://user-images.githubusercontent.com/54615404/79147022-deffff80-7df5-11ea-9ea

[2020-04-13 18:46] ZachBacon commented on #650
First question I have to ask, have you tried the simple video driver first in vba-m? If not can you try and report on that findings? Chances are when you do switch you'll need to restart the application before loading the ROM.

[2020-04-13 18:53] Shuquan96 commented on #650
just tried, simple video driver did not work. And I opened tile viewer, it still reports the same error. I suppose that something wrong with the "tile decoder".

[2020-04-14 01:32] fab1o commented on #216
Would you mind pointing out what the latest version with skins support is, and the link I could download it from?

[2020-04-14 01:32] fab1o commented on #216
Would you mind pointing out what the latest version with skins support is, and the link I could download it from please?

[2020-04-14 01:38] ZachBacon commented on #216
We don't support skins period. The version that did is old and isn't supported anymore.

[2020-04-14 02:22] fab1o commented on #216
Gotcha. What was the reason behind it? Is there a known workround?

[2020-04-14 02:31] fab1o commented on #216
Gotcha. What was the reason behind it?

[2020-04-14 08:15] negativeExponent commented on #650
i've opened a similar issue before, that got closed easily.

anyways:

![Screenshot_2020-04-14_16-14-13](https://user-images.githubusercontent.com/54053706/79201688-093fd480-7e6b-11ea-837a-02c25b46d2df.png)

[2020-04-14 09:09] rkitover commented on #650
@negativeExponent how does this work in retroarch?

[2020-04-14 09:11] rkitover commented on #216
We should probably consider implementing something like this, I don't know what sort of theming support wxWidgets has available, but I will look.

For what it's worth, on Linux you can use GTK themes.

[2020-04-14 10:11] ZachBacon commented on #216
@rkitover I think he's looking for super game boy themes, stuff that is usually done through a special SNES cartridge.

[2020-04-14 22:29] Shuquan96 commented on #650
I checked issue(#539 ) posted by @negativeExponent ,and tried in gameboy mode. It really worked. So the bug only happens when you use gameboy color system to emulate gameboy(DMG) games. But I still did not figure out how to get fake-color in gameboy mode.

Could you please share your solution? @negativeExponent

[2020-04-14 22:49] denisfa commented on #650
@Shuquan96 Would you mind testing one solution for us? It is on the attached file, for Windows x64.

The tile viewer should be fixed too.

[visualboyadvance-m.exe.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4478157/visualboyadvance-m.exe.zip)

[2020-04-15 00:41] Shuquan96 commented on #650
@denisfa I had a brief test on this beta version, the problem is almost fixed, and the tile viewer no longer reports error.

![fixed](https://user-images.githubusercontent.com/54615404/79286647-d8f04880-7ef3-11ea-8a44-91523a72fff7.png)

Just mention some point for refinement. The new default settings are bit confusing. When you open a .gb file, it uses the monochrome gameboy system as default, and

[2020-04-22 10:34] DilanRona opened #651 "Event roms not connecting as expected"
### Please fill out this form:
Good day.

I need some assistance with a particular rom for GBA, and I cant seem to get it to work with FRLG RSE.

Its the event gba roms. And regardless what I try, none link. The link via cable, and the link with wireless produce the same results. And when I use the key combo (start+select), it freezes the emulator. Yet some events need that combo to transfer from

[2020-04-22 16:26] roytam1 opened #652 "GB: MBC30 or MBC3 with 4MB support"
### Please fill out this form:

### Expected behavior
All blocks should have a tick.

### Actual behavior
blocks starting from block 7F get a F(ail) mark.
![image](https://user-images.githubusercontent.com/1192577/80007601-0abb6d80-84f9-11ea-8584-f58612f3190a.png)

### Steps to reproduce the behavior
-Load ROM
-Start emulation

### Crash bugs

it doesn't crash emulator.

### ROM details

Which gam

[2020-04-22 23:05] rkitover commented on #651
Please try cable link with link timeout set to 500.

[2020-04-23 00:04] roytam1 commented on #652
for hackfixing this issue, changing from `0x7f` to `0xff` will make `mbctest.gb` pass the test.
https://github.com/visualboyadvance-m/visualboyadvance-m/blob/master/src/gb/gbMemory.cpp#L365

[2020-04-23 09:38] rkitover commented on #652
@roytam1 According to this informal spec I found:

https://gist.github.com/drhelius/3745961

MBC3 rom bank select actually is supposed to accept values up to `0x7f`, if you are sure that this is wrong then we should fix it, but please give me a technical explanation, I am actually clueless about the hardware emulation and we need to be very careful about things like this and document everything pr

[2020-04-23 10:46] roytam1 commented on #652
because it is actually MBC30, but with MBC3 in ROM type byte.

[2020-04-23 11:01] rkitover commented on #652
@roytam1 as I admitted, I'm clueless about these things, thank you for the info.

What in your opinion is the best way to distinguish this MBC30 variant, would rom size be sufficient?

[2020-04-23 11:21] roytam1 commented on #652
yeah it should work.

[2020-04-23 14:38] FredrIQ commented on #652
MBC30 cartridges should be possible to distinguish by the rom and sram sizes, yes. E.g. Japanese Crystal uses a MBC30, but (as per above) identifies as a MBC3 with added SRAM, since MBC30 don't have their own MBC identifier but uses the same as MBC3.

[2020-04-23 17:38] ApteryxWarrior commented on #643
I have the same problem. How do I change the video output?

[2020-04-23 18:23] rkitover commented on #643
`Options -> Video -> Configure -> Output Module`

[2020-04-23 19:40] rkitover commented on #643
Please also let me know if this fixes your issue.

[2020-04-23 20:32] ApteryxWarrior commented on #643
Just tried it, and it works! Thanks for the help. I'm sure other people with find this issue.

[2020-04-23 21:10] DilanRona commented on #651
Still not working. Same result.

[2020-04-24 00:51] pegs001 opened #653 "VBA-M 2.1.4 Gameshark not working"
### Please fill out this form:

### Expected behavior
Put in gameshark codes, gameshark codes work
### Actual behavior
No change in game
### Steps to reproduce the behavior
Go to Tools
Cheats
List Cheats
Add in GS code
Enable

P.s. Codebreaker Codes work, but not gameshark
### Crash bugs

If this is a crash bug, and you have the time and inclination, please provide a
symblic backtrace.

Instructio

[2020-04-24 02:51] denisfa commented on #653
@pegs001 Thank you for the report. What codes did you try? Could you list them, please?

I think these games need a mastercode before other gameshark codes, so I would like to confirm this here.

[2020-04-24 03:38] pegs001 commented on #653
Hello,

I used the codes from this page
https://www.almarsguides.com/retro/walkthroughs/GBA/games/MegaManBattleNetwork2/Gameshark/

I used that master code in there
F80250A0 00000101
45324541 001DC0DE

and tested multiple codes such as
No Random Battles: 12009082 00000000
Cheap Chip Trader: 12009B28 00000009
Busting Level S
02004EFA 0000000B
0200EFF7 0000000B

I tried the same codes on a different

[2020-04-24 11:44] rkitover commented on #652
Any hints where I can find the right crystal rom, the one I tried was a 2M rom size, please email me at rkitover@gmail.com.

[2020-04-24 15:35] roytam1 commented on #652
retail cart of Pokemon Crystal JP is 2MB in size, and there are custom projects make use of MBC30 with 4MB ROM with success.

[2020-04-24 15:43] roytam1 commented on #652
and by the way, there is also a project make use of normal MBC3 and 4MB ROM. https://shop.insidegadgets.com/product/gameboy-4mb-32kb-fram-mbc3-with-rtc-flash-cart/

[2020-04-27 05:00] GauravSahare27 opened #656 "Multiple issues in VBA emulator settings."
Hello sir,

I am using Visual Boy Advance v2.1.4 in Windows 10(November Update 2019) 64 bit. Full device information attached in txt file provided.
I am facing multiple issues in current version of Visual Boy Advance that was not faced in previous versions such as:
1. Pause when inactive not working when minimize, even when I switch to other application(Emulation > Pause when inactive).
2. Many ti

[2020-04-27 10:45] Cheaterman commented on #178
Just for the heads up in 2020, I confirm the issue on 2.1.4, and confirm it's gone on master.

[2020-04-27 15:09] rkitover commented on #656
Hi @GauravSahare27, I'm sorry you are having problems with the app.

In order for us to track these issues, we need detailed, separate issues for each specific problem.

Could you please do that, and follow the template.

Thank you!

[2020-04-27 18:32] #652 closed

[2020-04-28 14:22] rkitover opened #657 "Minor UI Issues"
Edit this list to add new issues:

[ ] Turning off preserve aspect ratio does not take effect without restarting the app.

[2020-04-28 14:26] rkitover opened #658 "Major UI Issues"
Edit this list to add new issues:

- [ ] Turning off preserve aspect ratio often does not work at all.

[2020-04-30 02:17] #578 closed

[2020-04-30 16:48] kuvam commented on #602
I'm mentioning this here because I haven't confirmed this issue on branch master, but on branch tag v2.1.4, when compiling on Windows with MSBuild (64-bit) with

`msbuild -m -p:BuildInParallel=true -p:Configuration=Release .\ALL_BUILD.vcxproj`

after

`cmake .. -DVCPKG_TARGET_TRIPLET=x64-windows -DENABLE_ONLINEUPDATES=OFF`

the build fails with

[code]

(and no other errors).

The build succeeds w

[2020-04-30 20:27] rkitover commented on #602
Thanks! This actually should be fixed in master and @denisfa is rewriting all of this.

[2020-05-01 18:36] denisfa commented on #602
@kuvam Thank you for the info. I will take a look at this.

[2020-05-03 19:30] rkitover commented on #602
@denisfa @ZachBacon do you guys know exactly what the players 2-4 controller configuration tabs are for? Are these only active during link to control that linked player?

[2020-05-05 00:12] denisfa commented on #602
I believe it is for that indeed. I did not use it, though. So can't tell for sure.

[2020-05-05 01:45] kode54 commented on #602
Is anyone even looking into that ELF issue that was reported? I attempted to fix it, but it looks like our ELF loader needs even more work. For instance, it needs to support actually mapping the addresses to somewhere in the GBA address space, instead of just assuming 0x200000 is the multi-boot address and 0x800000 is the ROM address space. I haven't looked at the test vector to see why it used to

[2020-05-05 20:27] denisfa commented on #602
@kode54 What issue, specifically (from our list)? If you do have valid ELF files, please attach them somewhere so we can have an useful test case.

[2020-05-06 17:46] rkitover commented on #602
I fixed a similar issue some months ago, I think this is a similar one, the ELF loader reads values from the header and uses them blindly without range checks, which leads to buffer overflows etc..

[2020-05-07 05:46] kode54 commented on #602
Fine, I’ll post the POC publicly, once I’m back on my desktop.

[2020-05-07 10:14] rkitover commented on #602
We are not claiming that this software is secure in any way, and no one should expect that.

There was some related vuln zach wanted me to fix actually I keep promising to do that.

Anyway none of this is actually important and we need to get a release out soon.

[2020-05-10 22:51] Liger0 opened #664 "Memory viewer shows unexpected data when expanding the window"
### Expected behavior
Don't show new data when expanding the view.

### Actual behavior
It shows new ram after expanding the window.
(The first expanded offset seems to be the hex of the last value in the first row)
https://youtu.be/4A1CUkKum0I

### Steps to reproduce the behavior
Expand the window

[2020-05-11 00:38] rkitover commented on #602
I updated my powershell guide in the dev manual:

https://github.com/visualboyadvance-m/visualboyadvance-m/blob/dev-manual-powershell-update/DEVELOPER-MANUAL.md#windows-native-development-environment-setup

[2020-05-12 09:29] kode54 commented on #602
Here you go, have fun!

[vbam-vuln.elf.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4614643/vbam-vuln.elf.zip)

[2020-05-12 11:06] rkitover commented on #602
Seriously though, this codebase is shit, we can patch things like this, but there will just be more things, we need an actual plan to refactor and improve.

[2020-05-13 17:23] MBWebTechMariusz opened #665 "Playing on 2pcs LAN does not work | v2.14"
### Expected behavior
When linked with another VBA-M on the same LAN, you can play with them.

### Actual behavior
Connection works, but the game still doesn't recognize any connections.

### Steps to reproduce the behavior

1. Start a server on pc1 (192.168.0.149)
2. Connect to the server on pc2
3. Try to play a game

### ROM details

All roms which I've tested; easily reproducible on:
![image](h

[2020-05-13 18:41] rkitover commented on #665
Please try cable link type with the latest nightly.

[2020-05-13 22:08] MBWebTechMariusz commented on #665
@rkitover cool - some GBA-Games actually worked with that, really cool!

I still can't connect Pokémon Blue:
![image](https://user-images.githubusercontent.com/37508162/81870806-ecd0ae00-9576-11ea-8fe5-c659dd71ce21.png)
It's a GB-Game, is there another issue?

ROM: Pokemon - Blaue Edition (Germany) (SGB Enhanced)

[2020-05-13 23:55] rkitover commented on #665
Yes, GB link is horribly broken at this time. GBA cable link should usually work fine.

[2020-05-13 23:55] #665 closed

[2020-05-14 00:45] sadpokemonguy opened #666 "Import Battery File not working"
Expected behavior

Import a .sav file created by another emulator (higan)

Actual behavior

VBA continues as if nothing happened

Steps to reproduce the behavior

Open game. File>Import>Battery File. Choose the .sav file. Click okay when asked if you want to continue.

ROM details

Pokemon - Emerald Version (USA, Europe) - from Vimm's Lair

I was using a bios file for higan... just called bios.rom

[2020-05-14 00:59] ZachBacon commented on #666
Are you nuts? You don't upload a god damn rom here, I had to remove it stuff like that can get this project in trouble. As for the issue on importing save states, I'm not sure if it's compatible with higan, but that will require some research to try and possibly resolve see what higan does to theirs and how to get vba-m to import them.

But please, don't post roms to your github issues.

[2020-05-14 01:15] sadpokemonguy commented on #666
@ZachBacon I'm really quite sorry.  I'm not a smart guy.

On this issue- please let me know if these is a way VBA-M can import higan save files.

[2020-05-14 01:16] ZachBacon commented on #666
I've already said it'll take a bit of research into the matter, and it'll take as long as it needs to, to get it right

[2020-05-15 19:53] Xyaxux opened #667 "Link chooses wrong network adapter/How to choose"
I (Windows) plan to play pokemon vs a friend (Mac) online. Therefore I have created a LAN Network using ZeroTier. I can see the corresponding adapter, IP etc. in ipconfig. I have tested the Network by running one instance of VBALink 1.8 on my PC and another one in a VirtualMachine. There, the correct IP of the LAN Network is automatically chosen and a connection between the two is stablished witho

[2020-05-16 20:16] rkitover commented on #667
If you use IP addresses on your LAN, the operating system should automatically use the correct network device.

[2020-05-16 23:01] rkitover commented on #667
Let me elaborate on this a bit. Your OS has a routing table.

Now suppose your internal lan for your internet router is this network:

192.168.1.0/24

Now for your virtual lan, you just need to use a different network, for example:

192.168.2.0/24

Now suppose your host computer has this IP address on the virtual lan:

192.168.2.1

and your friend's computer has this IP address:

192.168.2.2

Then

[2020-05-17 00:18] Mhanna112 opened #668 "issue with .sav"
**Expected behavior**
When I import my FFVI battery file or boot up the game, I expect my game to have my most recent save.
**Actual behavior**
The game doesn't have the "Load Game" option. Emu seemingly isn't detecting my .sav file.
**ROM details**
VisualBoyAdvance-M 2.1.4.
**Which games are affected by the issue (please state if GBA or GB game):**
Final Fantasy VI Advance (Restored) - GBA game.

[2020-05-17 02:56] #668 closed

[2020-05-17 03:27] denisfa commented on #668
@Mhanna112 Were you able to solve your issue? What happened? If you can, please upload your `sav` file as a zip attached here.

[2020-05-17 22:27] acoudoux commented on #651
Hello,

First of all: thanks rkitover for the incredible work you're doing!
I just wanted to add that I also have the same behavior using the "Wireless" type. I've got the following error message in verbose mode:
_**000002233: UnkCOM 00000000  5086  996600A8 00000000**_

and when I use the "Cable" type, it either doesn't work when the players are ready or it crashes when they're entering in the ro

[2020-05-19 16:37] Liger0 opened #669 "connection drop"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

### ROM details

Which games are affected by the issue (please state if GBA or GB game):

Which games, if any, are NOT affected by the issue (please state if GBA or GB game):

Include screenshots of ROM Information (File > ROM Information):

If you are using a BIOS file, please say which one.

### Option details

Vide

[2020-05-20 09:55] Liger0 commented on #669
Update: the connection was broken in a release after the 2.0.0, which works.

[2020-05-20 17:41] albertsl opened #670 "Wrong colors in Metroid Fusion"
I first played the game with Visual Boy Advance and could complete the game with no problem. When using VBA-m, I can't jump making the game unplayable.

### Expected behavior
Samus jumping when A is pressed

### Actual behavior
Samus does a weird movement but doesn't jump

### Steps to reproduce the behavior
Open the game, advance the intro history, move and try to jump

### ROM details

Which gam

[2020-05-20 17:58] denisfa commented on #670
@albertsl What weird movement, exactly? If you can, please check the latest nightly build available as well. Are you using a keyboard or a joystick?

I recorded a video while playing the game (keyboard). I can jump ok. One thing I noticed is that if I spam the jump button, I don't do a full jump in game (final part).

[Metroid Fusion (USA, Australia).avi.zip](https://github.com/visualboyadvance-m/

[2020-05-20 20:59] albertsl commented on #670
Hi, thank you for your reply!
I tested with the nightly build and the jump worked fine however I had a problem with the colors, they don't seem the right colors, here is a screenshot. The colors are right in your video.
![imagen](https://user-images.githubusercontent.com/7349234/82496340-d84b6300-9aec-11ea-9613-bb130c20ff5c.png)

Then I opened it with the version I reported earlier and had no issu

[2020-05-22 19:25] Liger0 commented on #642
To me, it doesn't link using USA roms either.
Only the VisualBoyAdvance-M-WX v2.0.0.0 (as reported by windows version at least, because it's not specified on the emulator and I noticed some vba-m versions report different versions on windows and in the "about" dialog) connects.
Vba-m 2.1.4 only displays a black screen on the VBA and nothing happens on Dolphin.

[2020-05-22 19:28] Liger0 commented on #669
Updated with versions.

[2020-05-22 19:35] denisfa commented on #669
@Liger0 Thank you for all the info. Could you just add some extra bits:

1. what `timeout` values you tested for the link?
2. rom information, as `File` > `Rom Information...` screenshot.

Sorry for the ignorance, but how do I get to test the wireless part of pokemon emerald? Can you just do it from the start or do you need to progress a little bit on the story beforehand? It has been a long time

[2020-05-22 19:45] denisfa commented on #670
@albertsl Thank you for the feedback! I will take a look at this.

That is very weird, as nothing was changed for this; could you check if it is not a filter or something from the configuration? Try recording a video and see if it matches what you are seeing. Were the colors correct when you dealt with the jumping issue?

If there is a `vbam.ini` in the same folder of the exe, we use it. Otherwise

[2020-05-22 23:24] Liger0 commented on #669
![eme jap](https://user-images.githubusercontent.com/20385116/82715142-1df56080-9c92-11ea-9c53-376bb73d0f29.png)
The roms should be like this.
Timeout works with 10000

The Pocket Monsters - Emerald (Japan) events.sav is the event distributor, which must be the host and will transfer a legit old sea map to the sav that receives it (only with a dual connection)
The receiver is self explainatory.

T

[2020-05-22 23:26] dagwimweaper opened #672 "Is there a way to transfer saves from no$gba to vba?"
### Expected behavior
When importing battery file from no$gba i expect it to load my save along with it
### Actual behavior
it loads a blank game
### Steps to reproduce the behavior
1. change no$gba.ini to make saves in raw format
2.save game
3. import save into vba

### ROM details

Which games are affected by the issue (please state if GBA or GB game):
pokemon leafgreen

### Option details

Vide

[2020-05-22 23:38] denisfa commented on #672
@dagwimweaper Please edit your issue and upload your save file. Also, add a screenshot of `File` > `Rom information` so we can 100% sure about what version of pokemon leafgreen this is.

[2020-05-22 23:58] Liger0 commented on #672
After opening the rom and the battery (import File->battery), do Options->GBA->Configure->Save type->Detect now->OK. Then restart the emulator and try again. importing the battery.

[2020-05-23 00:00] Liger0 commented on #651
Possibly related: https://github.com/visualboyadvance-m/visualboyadvance-m/issues/669

[2020-05-23 01:25] dagwimweaper commented on #672
Sorry, the information is there now.

[2020-05-23 01:27] dagwimweaper commented on #672
this didnt work, but thank you for the suggestion!

[2020-05-23 02:07] denisfa commented on #672
@dagwimweaper Here you go. Tell me if it works.

[Pokemon - Leaf Green Version (U) (V1.1).sav.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4670978/Pokemon.-.Leaf.Green.Version.U.V1.1.sav.zip)

Also, as far as importing saves from `no$gba`, you need to locate the file `NO$GBA.INI` and change the line:

`SAV/SNA File Format == Compressed (good/lz)`
to
`SAV/SNA File Format == R

[2020-05-23 02:12] denisfa commented on #669
@Liger0 Thank you for all this info! It definitely helps! Not sure how to solve it, because it seems to be a desync issue rather than a core one. I will investigate this further.

[2020-05-23 02:20] dagwimweaper commented on #672
It worked now! I tried that before but apparently it didnt work because I didn't capitalize the R in raw. I feel like an idiot lol

[2020-05-23 10:15] albertsl commented on #670
I checked and I'm using the same configuration for both the nightly build and the stable release, the one located in LOCALAPPDATA and using this exact same configuration I get the colors right on the stable and wrong on the nightly.

I tried changing the pixel filter many times but it doesn't change anything and on the nightly there is some problem when changing, there appears a text that says "No

[2020-05-23 17:16] #672 closed

[2020-05-23 17:53] Liger0 commented on #666
(removing the post history would be probably a good move since the rom link is still present)

[2020-05-24 20:59] Liger0 opened #673 "Vba-M suddenly crash at bios logo"
### Expected behavior
No crash during bios logo

### Actual behavior
Randomly, today the Vba-M has just started freezing for 10 or more seconds or indefinitely multiple times and eventually crashing when gamecube connection is selected, even with no dolphin open.
I even tried redownloading the emulator and trying different versions and changing the bios file, rom and sav in case they somehow got c

[2020-05-24 21:45] Liger0 commented on #673
The only thing I remembered was done between the working and broken instaces were the windows date was changed.
When working, the date was 2000(20 years ago), then in 2020 it didn't work.
I now have just tried using the vba in 2000 again and it got working again. Changed again the date in 2020 and it's still working so far.
Maybe windows 10 stores some data and such a date difference corrupted som

[2020-05-24 21:45] #673 closed

[2020-05-25 22:36] camthesaxman opened #674 "VBA-M freezes when using GDB"
### Expected behavior
Basic GDB commands like stepi, breakpoint, and continue work as intended in order to debug GBA code.

### Actual behavior
Emulator becomes completely unresponsive after executing commands like `continue` or `stepi` in GDB. I have to manually kill the process to close it.

### Steps to reproduce the behavior
* Launch VBA-M with the following command (I am using Pokemon Ruby as

[2020-05-28 17:43] Liger0 opened #675 "Mouse disappears in link"
Expected behavior
Mouse cursor doesn't disappear

### Actual behavior
When there are 2 emulator instances and random clicks are done, the cursor keeps disappearing on either screens

### Steps to reproduce the behavior

Stock configs (apart inputs that have WASD I don't accept)
Link in cable, click multiple times on both screens on the program title bar and the screen to trigger it.
Clicking then

[2020-05-28 17:58] denisfa commented on #675
@Liger0 This is intentional. The mouse cursor is supposed to disappear if stays on top of the vbam screen for some time (with a loaded game, of course). We could make this an option on the config file, but this is definitely not a bug.

[2020-05-28 18:55] Liger0 commented on #675
It happens instantly, not after a bit of time, and that only makes sense if you don't move the mouse, not trying to figure where it is, imo.

[2020-06-02 00:00] rkitover commented on #669
@Liger0 have you tried cable link by the way? We know that is generally more reliable, are there features that only work for wireless link and not cable link?

[2020-06-02 00:01] rkitover commented on #669
Also if you try cable link, make sure to set the timeout to 500.

[2020-06-02 00:08] rkitover commented on #670
@denisfa this is probably related to the lcd filter stuff, I will take a look if I can reproduce.

Which colors are actually "correct" in this case?

[2020-06-02 00:11] rkitover commented on #672
@denisfa I suppose we should detect this compressed format and decompress it if this is not difficult to do.

[2020-06-02 00:20] rkitover commented on #674
I remember someone getting gdb support working again 2-3 years ago, but perhaps the gdb protocol has changed again.

[2020-06-02 00:23] rkitover commented on #675
@Liger0 can you please try the nightly, I believe I changed some code related to the mouse cursor hiding/unhiding recently.

[2020-06-02 14:58] Liger0 commented on #669
That is wireless-only feature.

[2020-06-02 17:39] acidcake opened #676 "Cannot complete build on Mac"
# Expected behavior
Build successfully.

### Actual behavior
#### Hangs at step 204/205 (and has yet to timeout on both macs I'm testing this on).

### Steps to reproduce the behavior
Following the procedure to generate a build in the ~/src/vis... directory, and having doctored and cleaned up homebrew so that there would be no issues before installing dependencies, I am able to clone the repo, ins

[2020-06-02 21:37] rkitover commented on #676
In release mode it copies and links all dylibs to the app bundle, this can take a while, but it should not hang, I will look into it.

In the meantime, pass `-DCMAKE_BUILD_TYPE=Debug` to cmake.

[2020-06-02 21:58] acidcake commented on #676
This created the application, but the process generated a bunch of warnings. Most of these are _unused parameter_/_function_ warnings, and I'm assuming there's some shifting around in the logic currently going on bts that's more or less harmless. Some pragmas ignored as well.

The part that's iffy is again the 204th step.

A bunch of these. I won't bother counting or passing standard output into a

[2020-06-02 22:14] rkitover commented on #676
The warnings are because the codebase is shit, and we just turn them off in release mode. They need to be fixed of course, when that will happen I don't know.

What version of macOS are you building on by the way?

The linking warnings can most likely be ignored.

The dylibs linking I will definitely look at and either fix or remove if I can reproduce the problem.

If you want to build in release

[2020-06-02 22:30] acidcake commented on #676
I'm actually just a bit outdated. **High Sierra (10.13.6)**. I'm afraid updating will cause so many things to break in Catalina. I've heard horror stories, so I'll lay off for now. If you think that's an issue let me know.

Otherwise, thank you for the frankness and information. I'm shit when it comes to solving linker issues myself, and if I have to implement a linker on a mac, it usually ends up

[2020-06-02 23:35] rkitover commented on #676
I should mention that we do our release binaries differently, using the `tools/osx/builder` script.

This will build all deps and make a static binary, that does not require bundling any dylibs.

If you want to try it, it will take much longer to build, maybe about an hour or so depending on your hardware, but next time you use it it will not rebuild any deps since they are already built.

[2020-06-03 22:36] acidcake commented on #676
Thanks, Rafael. This is good info to have. Let me give it a go. Not that it'll solve this problem. I didn't realize that this wasn't a release build. And going to the tags, I didn't realize that the current release didn't support 32-bit Macs until the literal day I tried it (~3-4 days ago).

Of course I could just be interpreting this wrong.

Let me know if you have a commit for me to try on my ma

[2020-06-04 05:05] rkitover commented on #676
32 bit macs really aren't worth supporting, any macs still in actual use, even if they are running a 32 bit OS, can run 64 bit binaries.

[2020-06-04 08:57] rkitover commented on #676
I made a high sierra vm, but I could not reproduce the problem.

If you could tar up your `/usr/local` and post it for me on dropbox or some such, I would be able to debug whatever the linking issue is.

I am guessing it's something to do with a recursive symlink to a dylib, or something like that, but if I could reproduce the issue it would be much easier to fix.

[2020-06-04 15:49] acidcake commented on #676
Shared a Drive link via email. If it's something on my end and not a problem native to this repo, then don't feel obligated to troubleshoot for me. Otherwise, I'm happy to help.

[2020-06-05 10:17] rkitover commented on #676
I used your local tree and it ran through fine for me.

I think I know what the problem is, the link script can use sudo in some cases, and it's hanging on the password prompt.

Try enabling passwordless sudo, by doing this as root:

[code]

where **user** is your normal mac user.

[2020-06-05 11:34] #676 closed

[2020-06-05 11:39] rkitover commented on #676
Also a note that your brew installation is out of sync, you probably need to run `brew upgrade`.

[2020-06-05 15:17] C4J3 opened #677 ".fla support request"
Small feature request if anyone gets bored, GBI (Game Boy Interface) has the ability to dump save files from GBA cartridges but for some reason uses the .FLA file extension. These work identically to .SAV files but if you want to load them with VBA you need to change the extension to .SAV (as in change the file name from save.fla to save.sav).

I was wondering if you could add .FLA to the list of

[2020-06-05 21:16] ZachBacon commented on #677
I honestly don't think that will happen, we don't have the hardware or flashcart to actually do something like that to be sure if it works or not.

[2020-06-05 23:16] rkitover commented on #677
I don't see any reason to not load this extension if the files are the same.

[2020-06-06 16:38] Liger0 opened #678 "Pause behaviour is a mess"
### Expected behavior
Make pause by hotkeys work

### Actual behavior
The pause by hotkeys is a mess

### Steps to reproduce the behavior

For latest stable v2.1.4, when you use Ctrl+P, the emulator doesn't get paused, but in the emulation tab the pause option is ticked.
So, with the game running and the pause check selected, both using hotkeys or ticking manually causes weird behaviour with the p

[2020-06-06 17:26] denisfa commented on #678
@Liger0 There are a couple of input issues that we are trying to solve. If you can, please attach your `vbam.ini` so we can have a look.

There is no nightly for this date. Sometimes we attach a build for debugging a known issue for an user, but we should not consider a nightly release.

[2020-06-06 20:08] Liger0 commented on #678
https://win.vba-m.com/nightly/

Latest nightly is of june 5.
By the way all configs are stock, just downloaded after deleting from the appdata/local folder (altough I'd prefer by far having in the folder of the exe as I have different versions for different purposes ad each one works for a thing the other doesn't)

[2020-06-06 20:28] rkitover commented on #678
We should seriously consider doing that for windows in some way, can you open a separate issue please.

[2020-06-06 20:57] Liger0 opened #679 "Portable app conversion"
### Expected behavior
It would be useful to have the program in a portable version with his own .ini settings file, so you can have various versions of the software as needed and each one configured differently, also being able to use the program on the fly with usb drives

### Actual behavior
settings .ini file is stored in appdata/local

### Build details

Operating System (Windows, Mac, Linux (

[2020-06-06 20:57] Liger0 commented on #678
Done. #679

[2020-06-06 22:44] ZachBacon commented on #679
It is portable. So what you do is remove the settings file from appdata, and then you move it to the exe folder and it will use that. That's been a thing since forever

[2020-06-06 22:47] Liger0 commented on #679
Why not doing it by default or making it as a selectable option?

[2020-06-06 23:09] ZachBacon commented on #679
Because not everyone wants a portable setup.

[2020-06-06 23:30] rkitover commented on #679
Actually I think we should have a menu option to copy the config to the `.exe` location etc..

[2020-06-06 23:31] rkitover commented on #679
Anyway I wanted to discuss this, that's why I told him to open the issue.

[2020-06-07 13:15] pfhore-github opened #680 "Crash when writing PNG capture"
# Expected behavior
save PNG screen capture imge.

### Actual behavior
VBA-m crashed.

### Steps to reproduce the behavior
1. open any ROM.
2. Select "Screen capture..."
3. write any file name & click

### ROM details

Which games are affected by the issue (please state if GBA or GB game): Any (both GB/GBA)

Which games, if any, are NOT affected by the issue (please state if GBA or GB game):

Incl

[2020-06-07 17:15] denisfa commented on #678
Sorry, completely forgot about the site for this.

This is very weird, because the default should work. When you have a manually defined shortcut and other stuff, I can very likely understand what is going on, since it falls on one of the known cases. Anyway, I will investigate.

[2020-06-07 17:47] denisfa commented on #679
Being portable does not make much sense on Linux, but it is very natural on windows. Maybe on macos too? We already have something like "search first on current dir" for our configuration. We could have an option on windows  to use portable mode (ticked by default) on `Options` > `General` or on `Help` menu.

[2020-06-07 18:01] rkitover commented on #679
Yeah, the issue is that going into the `AppData` directories on Windows is something only advanced Windows users are familiar with. Which is why I added the `Factory Reset` menu item under `Help`. All that does is delete the config in `AppData`.

For mac we need to tweak our config finding a bit to support this better, we need to look not in the executable location, but the `.app` bundle location,

[2020-06-07 18:06] #680 closed

[2020-06-07 18:22] rkitover commented on #680
Nightly has been rebuilt with the fix.

Thank you for your report!

[2020-06-07 21:14] Liger0 commented on #679
Using as default the exe location would be better also because, in case you already have general settings on your pc for the other versions but you want one that needs not to use them, you can reset its own config file safely without having to remove the appdata one.
If you make it portable by transferring the config file into the portable one you would already have some predefined settings, and d

[2020-06-08 05:30] rkitover commented on #679
@Liger0 sorry, I don't understand what you mean.

If there is a config in the .exe folder then the one in appdata has no effect, the first one found is used.

[2020-06-08 12:20] Liger0 commented on #679
Yeah, but you may want to restart it from scratch rather than using one. Deleting one from the exe folder won't make the settings clean but it will just make it use again the  appdata one.

[2020-06-08 18:10] rkitover commented on #679
So I already have "factory reset" to remove the appdata config, so what do you think about my "config location" pref pane I described above, there if you remove both checkboxes then both configs would be removed.

[2020-06-08 18:11] rkitover commented on #679
So I would also change "factory reset" to remove ALL configs, not just the first one found.

[2020-06-08 21:25] Liger0 commented on #679
Maybe automatically creating a backup .bak file of the appdata would be a good idea to avoid any removing by mistake.

[2020-06-08 21:27] ZachBacon commented on #679
@rkitover maybe change it to a back up and restore along with a full on factory reset. The back up and restore for quick testing etc

[2020-06-09 00:15] rkitover commented on #679
Yeah we can also add the backup/restore to the new pref pane.

@denisfa what do you think about all of this.

[2020-06-11 23:50] Louispaz opened #682 "Odd Audio"
While I was playing a modded version of Pokemon Emerald, odd audio began to play and I'm unsure what caused it. I decided to close the game and open it again, but it was still playing. The audio just sounded like some tractor driving around. I have no idea how to remove it from the game and I wish I could show you the audio of whats playing, but the file pasting doesn't support MP3 files. I just h

[2020-06-12 00:19] ZachBacon commented on #682
Please use the template that was given, we need to know config specifics such as sound driver etc

[2020-06-12 00:22] Louispaz commented on #682
I tried everything, but nothing was working. I just decided to do a new game and start all over

[2020-06-12 00:48] ZachBacon commented on #682
That doesn't help at all. We need specific INFORMATION such as what audio driver you're using within vba-m etc. Information like that helps diagnose your issue and have a better chance of helping you with your issue.

[2020-06-14 01:18] Liger0 commented on #675
The mouse works fine with the nightly, it doesn't disappear.
The problem now the menu bar keeps appearing and disappearing each 2-3 seconds, making the game screen move continuously and thus making it impossible to play.

[2020-06-14 02:28] rkitover commented on #675
The menubar hiding is a new feature, it is supposed to disappear when the mouse is inactive.

Are you moving the mouse while playing?

Are you using the keyboard or gamepad to play?

[2020-06-14 06:36] rkitover commented on #675
I forgot to mention, you can turn off the menubar hiding by going to Options -> UI Settings.

[2020-06-14 15:30] Liger0 commented on #675
I am using the keyboard.
 Anyway, I don't think it randomly reappearing each 3 seconds is a good thing, with the mouse moving or not. Maybe the delay could be improved or the mouse should be gived a minimal range of movement, or making this option off by default.
This becomes worse when multiple instances are open and connected and you have to move the mouse. Maybe the feature could automatically

[2020-06-14 20:43] rkitover commented on #675
The random reappearing does not happen for me, or other people who have tried this feature, with link as well. A guy I work with who does dolphin link stuff says it works fine for him and his users.

I would need to figure out why it happens for you. The minimal range of movement thing is a good idea, and I can try to implement it to see if it will fix your problem.

Are you using a laptop with a

[2020-06-14 21:00] Liger0 commented on #675
It seems to be working fine today, I can't say what was. Probably the mouse shaking a little bit due to high DPI.

[2020-06-15 18:50] slacknk opened #684 "Graphic glitches in FF4-Advance"
Sometimes when i playing game `Final Fantasy IV Advance`  i'am getting graphic glitches,  game don't go to crash and glitches don't stop gaming process, they are refreshing and go away after any actions and changes made. Glitches AFTER or inside  dialogs and in gaming messages from objects. Intro, Clips and Battles  are without these glitches.
* This is not Crash bugs

This bug happens in window a

[2020-06-15 19:32] #675 closed

[2020-06-15 19:45] rkitover commented on #684
Can you please see if you can reproduce the glitch using the regular emulator GUI, so we can see if this issue is specific to the libretro interface.

[2020-06-15 23:16] ZachBacon commented on #682
Closing this due to lack of detail from original poster, if he provides more details then it can be reopened.

[2020-06-15 23:16] #682 closed

[2020-06-16 07:06] ambipie opened #685 "I cant even find how to enable Super Game Boy SGB mode, let alone use it..."
### Expected behavior
I expected it to be labeled.

### Actual behavior
I wouldn't know where to start.

### ROM details

Which games are affected by the issue (please state if GBA or GB game):
Any SGB enabled/enhanced games.

Version of code (pre-built binary version, or commit ref, or just "master"):
It seems to be fully updated, as far as I could discern. I cant find the version at this time.

[2020-06-16 08:21] slacknk commented on #684
Too, vba-m_2.1.4:
[![](https://i.postimg.cc/Jy6TQHFG/vbam-v2-1-4-200616-102251.png)](https://i.postimg.cc/1tPLspcc/vbam-v2-1-4-200616-102251.png) [![](https://i.postimg.cc/68hbymLV/vbam-v2-1-4-200616-102232.png)](https://i.postimg.cc/RZkkbrWY/vbam-v2-1-4-200616-102232.png) [![](https://i.postimg.cc/wtTfJQ0C/vbam-v2-1-4-Final-Fantasy-IV-Advance-UA-03.png)](https://i.postimg.cc/zfT9sdWG/vbam-v2-1-4-

[2020-06-16 09:50] rkitover commented on #684
Great, thank you.

[2020-06-16 21:00] Liger0 commented on #642
So far, to me even the USA rom doesn't work on vba 2.1.4 x64 as the screen remains black after the intro, when the box screen is supposed to appear.
I am sure it worked in the past, not sure why it doesn't anymore. I even tried removing the settings from appdata and using new empty local ones using the bios, RTC, directories, etc, but no luck.
It works on vba-m-wx 2.0.0 beta2 x32.
I can't test vba

[2020-06-16 21:25] ella-t commented on #584
Hi there.  I'm using the latest nightly build (June 15th 2020, windows x64) and am encountering these same issues, including the one about not being able to type 1-6.  I also don't seem to be able to click anywhere or type any values in unless "automatic update" is checked, but checking that disables all the buttons on the memory editor UI and doesn't allow me to put focus back on the emulator, ma

[2020-06-17 16:11] denisfa commented on #670
Sorry about the delay, I forgot about this. The color difference reason is that on nightly we
have added an option `Options` > `Game Boy Advance` > `LCD Filter` ticked by default. If you
use the nightly, just toggle this option and it should be the same colors as the latest stable.

Keep in mind that unknown options (such as `LCD Filter`, for the stable) are deleted. So if you
toggle it off with n

[2020-06-17 16:11] #670 closed

[2020-06-18 01:05] rkitover commented on #642
Please do any testing with a recent nightly, 2.1.4 is already almost a year old.

[2020-06-18 01:10] rkitover commented on #670
@denisfa That's what I thought, can you please verify that in his screenshot above, with the LCD filter active, the colors are the intended colors, that is, they are similar to the original hardware, that's all I wanted to know.

[2020-06-18 14:03] RokkumanX commented on #685
![image](https://user-images.githubusercontent.com/50436544/85029231-5ba7b500-b17c-11ea-839a-0d0f9144a20e.png)

![image](https://user-images.githubusercontent.com/50436544/85029517-a7f2f500-b17c-11ea-80c0-71ec8bb293a4.png)

![image](https://user-images.githubusercontent.com/50436544/85029997-39fafd80-b17d-11ea-8d9e-3b3be2c32da6.png)

[2020-06-18 14:07] RokkumanX commented on #685
Good luck!
Personally I don't even use VBA-M anymore but found this option pretty much immediately.

[2020-06-18 15:27] #685 closed

[2020-06-20 12:54] Ds886 opened #688 "combining he he_Il in transifex"
Hello,

I've started to translate the UI to Hebrew and due to still learning the interface in the site didn't notice I could translate he-IL.

I noticed that there is two langues for Hebrew, "he" and "he-IL",  as far as I aware from usage in Windows and Linux they function the same for users  and you will more commonly see users use he-IL.

 and there is no regional differences in so far as how th

[2020-06-20 17:35] ambipie commented on #685
How do I access the border editor? I tried pressing my bound L and R buttons but nothing. And VBAM doesnt have an X and Y bind.    On Thursday, June 18, 2020, 10:03:58 AM EDT, Rokkuman X <notifications@github.com> wrote:

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-20 23:03] rkitover commented on #685
What is the border editor? You can assign keys to GBA buttons in the input configuration.

[2020-06-21 18:16] denisfa commented on #688
@Ds886 Thank you for taking your time to contribute! We really appreciate it!

Don't worry about this. There are some extra locales there, not used at all. We can swap the files later. Just do as you wish and we can combine the files later.

[2020-06-21 20:11] rkitover commented on #688
I will see if there is some kind of auto-link feature in transifex for similar locales that we can use, if not we may actually want to prune the unnecessary ones.

I don't know how all this works anyway, do operating systems use other locales as fallback if the target one is mostly empty?

[2020-06-21 20:17] rkitover commented on #688
@Ds886 I fixed the couple of strings you opened issues for on transifex, and pulled your new translation, it will be in today's nightly (in about 3 hours.)

Thank you very much for contributing to our project!

[2020-06-22 00:02] Ds886 commented on #688
no problems, glad I could assist.

It is probably safer to include the region in order to be future proof and to fit with wider array of OS and desktop environments as Linux and Windows require you to specify region as well as language.

from what I familiar en_UK and en_US suppose to reflect more contingencies of regions, so things like manner of formatting dates, encoding settings,  default curr

[2020-06-22 01:20] rkitover commented on #688
@Ds886 if you want to try out your new translation, grab the nightly and translations.zip from here:

http://win.vba-m.com/nightly/

[2020-06-22 07:39] EpicWink opened #689 "Misbehaving arrow keys"
About a year ago (or maybe a little more), there was a bug (in Linux I think) where the emulator would intermittently not register my arrow key release. This was fixed in an input refactor back then (I think near or at the same time the input latency on Linux was significantly improved).

It now seems to have cropped up since the recent input refactor. In addition, some of my inputs seem to be dro

[2020-06-22 11:16] EddyHg80 opened #690 "Speedup behavior"
So I just updated from the latest release to the nightly version.
(Btw the release has choppy framerates, with frameskip = 0, but in the status bar it shows 60 fps regardless)

I have a 144hz screen, in the latest release I could choose
- Speedup throttle XXX%
- Speedup frame skip 0

That way the emulator would run at 144fps speeding up the game to 240% without losing any frames. Super smooth.
If

[2020-06-22 13:35] denisfa commented on #689
@EpicWink Thank you for this report. There were some open questions after I finished the input refactor, but I couldn't confirm anything with my testing.

Is there a minimal test case here? I am also on Linux, but could only get something similar when I press and hold a key, then open a menu with mouse. If I release the key while browsing menus, it would not get registered for the game.

Also arro

[2020-06-22 13:41] denisfa commented on #690
@EddyHg80 Are you on Windows or Linux?

Does the nightly still have this issue?

Notebook or desktop? What graphic card? There are some edge cases here, hence why I need this info.

They are alternatives. If one does not work, you can try the other. If they stacked together, it would be even more confusing.

This is correct indeed.

Could be a couple of things... Would you upload your `vbam.ini`,

[2020-06-22 14:40] gabba-wabba opened #691 "Cannot toggle fullscreen (visualboyadvance-M 2.1.4)"
### Expected behavior
Toggle on/off fullscreen when pressing the F11 key.
### Actual behavior
F11 key does not do anything, cannot toggle off fullscreen even when using the Esc key if fullscreen has been activated using the hotbar.

### Build details

Operating System (Windows, Mac, Linux (state distribution), etc.): Windows 10

[2020-06-22 15:03] EddyHg80 commented on #690
Nope, the nightly seems to be smooth on normal speed, that's why I updated.

It's a notebook, nvidia gtx 1650 mobile.

Sure!

[vbam.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4813910/vbam.zip)

I retested now, with frame skip unchecked I don't get the slowdown anymore, I get 61-62 fps, and the audio is very distorted.

Still I would love the previous behavior: no frameskip

[2020-06-22 15:28] denisfa commented on #690
@EddyHg80 Thank you for the extra. Let's see what we can do.

I believe you are using the integrated graphic card to run vbam. Your nvidia graphic card is the one for `144Hz`, the integrated one is probably `60Hz`. Could you please do a couple of tests for me? Make sure `vsync` is not checked on menu (you need to do this before loading a game to take effect).

Set/Replace the following options on

[2020-06-22 16:07] EddyHg80 commented on #690
Ok so I can't actually choose which graphics card to use, I think my cpu i7-9750HF hasn't an integrated graphincs card.
I have the nvidia thingy in the bottom right corner and I confirm I'm running the emulator with the 1650.

With those settings I get 235-240% game speed but 45-47 fps, clearly with so much frameskip.

[2020-06-22 16:12] denisfa commented on #690
@EddyHg80 Alright, thank you for the feedback. I will investigate the code now.

[2020-06-22 22:11] EpicWink commented on #689
Is difficult to find one, as the problem is intermittent. However is feels like the same issue from a year ago, so if there was a test case for that, perhaps that could be reused. Regardless, I think first steps for me is to on down the exact commit which introduced the issue (I suspect my username doesn't rely on you follow-up commit)

I'm not touching the mouse when I get the issues

Hard to tes

[2020-06-23 09:57] rkitover commented on #691
Try `ALT+ENTER`, you can also modify the bindings for this in `Options -> Key Shortcuts`.

Also please try nightly.

[2020-06-23 10:05] rkitover commented on #690
Game speed is controlled by the sound driver, can you try different sound drivers and see if you get the same results?

Which sound driver are you using right now?

[2020-06-23 10:30] rkitover commented on #689
@denisfa this may be because we removed `wxGetKeyState()`, which as I recall you added some months ago to fix spurious keyboard events, we may want to reintroduce it with some checks (disable for unicode keys and wayland.)

I think this is the most likely cause, I can do a PR for this if you like.

[2020-06-23 14:04] gabba-wabba commented on #691
`ALT+ENTER` worked, thanks for the help! I'll also check nightly out.

[2020-06-23 14:04] #691 closed

[2020-06-23 15:03] EddyHg80 commented on #690
How can I change which sound driver the emulator is using? I think I have Realtek audio

[2020-06-23 16:04] rkitover commented on #690
I meant our own sound drivers.

Go to `Options -> Audio -> Configure -> Advanced`.

[2020-06-23 17:58] EddyHg80 commented on #690
I actually tried all of them after your reply because I wasn't sure. Same behavior on all of them.
I was on SDL.
The other 3 have even worst performance.

[2020-06-23 18:09] rkitover commented on #690
Great, thank you!

[2020-06-23 18:12] rkitover commented on #690
@denisfa this one might be difficult to track down, I suggest doing a bisect, see here:

https://www.metaltoad.com/blog/beginners-guide-git-bisect-process-elimination

[2020-06-24 15:07] ltlynx opened #693 "Speed problems"
I have speed problems with this emulator, going constantly from 98% to 101%. It doesn't matter the configuration (automatic frame skip, VSync, video driver, audio driver, etc). Some of the configs make it go from 98 or 99% to 100%, that's the best I could get from it.
I have also tried several games (Pokémon Crystal, Pokémon Fire Red, Golden Sun and Final Fantasy I & II). Throttle is at 100%.
I do

[2020-06-24 17:02] Ds886 commented on #688
when I tried it with changing locale it show me the menu in RTL but the strings are still in english is there something I am missing in the setup?
![2020-06-24 19_59_09-VisualBoyAdvance-M 2 1 4-047cc297](https://user-images.githubusercontent.com/2217864/85599670-65865800-b655-11ea-9a1b-fb1cb485288e.png)
![2020-06-24 20_01_33-combining he he_Il in transifex · Issue #688 · visualboyadvance-m_visualb

[2020-06-26 09:15] EpicWink commented on #689
I can confirm that the issue is not present in d379a076, but is present in de933301. In addition, re-mapping the direction buttons to other keys (I tried "IJKL") didn't solve the issue.

I see your follow-up: in de933301, the backspace and enter didn't work, but in the follow-up 91a6b53e they worked again

[2020-06-26 12:47] denisfa commented on #689
@EpicWink Thanks for taking your time here! The issue for me is that I cannot replicate using my setup. The issues for the older input refactor were really easy to force and I did check my test cases for that matter. As a last attempt here, could you please upload your `vbam.ini`? I want to see all config so I can compare with mine.

@rkitover  Were you able to force this?  I don't think this func

[2020-06-26 19:59] rkitover commented on #689
To refresh your memory, look at commit b0ec8469, this is where you introduced this function.

The function was only necessary because of bugs in the system and/or system libraries. If we were not getting spurious keyboard events, it would not be necessary in the first place.

My theory is that @EpicWink has this bug on her system, while you do not. Perhaps because of different Ubuntu versions, or

[2020-06-27 04:26] wisetrap11 commented on #647
Audio delay is also occurring on Rhythm Tengoku (GBA). I know this thread is a few months old but this seems like relevant enough information to add.
![image](https://user-images.githubusercontent.com/67494522/85914520-a96f8d80-b80c-11ea-875e-91d8421f4c6e.png)

[2020-06-28 00:22] rkitover commented on #689
@EpicWink Hi, can you please try the `key-state` branch, I believe it will fix this issue, for reasons I described above.

[2020-06-28 04:33] EpicWink commented on #689
@rkitover The `key-state` branch works perfectly, thanks

[2020-06-28 19:22] tdeeb commented on #207
I'm having this same issue with controllers on Linux on version 2.1.4-8e883631 (commit https://github.com/visualboyadvance-m/visualboyadvance-m/commit/8e88363163283dd64f4f2c3e7fc93d0c185fb6b2) built from source. **Emulation > Pause when inactive** is not checked.

Other emulators such as mGBA allow input when the window isn't focused. This is a dealbreaker for link-cable games since only one windo

[2020-06-28 19:26] rkitover commented on #207
@tdeeb thanks for the report, this may have worked before but we just did some work on input handling and I will make sure it works and report here.

[2020-06-29 01:24] #689 closed

[2020-07-04 11:08] CahosRahneVeloza opened #695 "[Visual Bug] GBA: Super Bust-a-Move + BIOS"
### Expected behavior --> You (the player)  should be able to see your Spaceship as well as your player's Avatar you can choose from, when you are on the ingame map direction selection screen.

### Actual behavior ---> The ship and Avatar appears as a black shape, so you can't see the avatars you can choose from.

### Steps to reproduce the behavior --->Just start a Puzzle mode game, difficulty do

[2020-07-04 19:14] Jab666 opened #696 "Save State not working"
### ROM details

Which games are affected by the issue (please state if GBA or GB game): Zelda Links Awakening - Downloaded from (please don't include rom links, that's illegal to do that and could compromise the project) - The save state file doesn't appear after closing said emulator.

Being a noob at this kind of thing, can I ask what I am doing something wrong please?

Thanks

[2020-07-04 20:18] DanStevens commented on #176
I'm having this issue also. When I enter the Macro Zone, the game crashes and look like this:

![image](https://user-images.githubusercontent.com/1074238/86520409-cd018c00-be3b-11ea-876f-f43b575a45a6.png)

[2020-07-06 16:01] rkitover commented on #696
By default, the save state file is written to the directory where the ROM is. Do you have write permissions for that directory?

You can change the directory for save states, go to `Options -> Directories` and input a directory for `Emulator saves`.

Then close and restart the emulator.

After that, save states will be written to that directory.

[2020-07-06 16:03] rkitover commented on #696
@denisfa there is a UI issue here as well, we should rename `Emualtor saves` to `Save states` and setting this directory should take effect immediately.

[2020-07-06 22:43] denisfa commented on #696
@rkitover Alright, I will take a look as soon as I can.

[2020-07-06 23:27] rkitover commented on #696
@denisfa You don't have to, I was just pointing it out for tracking purposes.

I'm going to look at a couple of emulation issues, #695 and #176, we need to start addressing these as well.

[2020-07-07 01:02] rkitover commented on #695
I cannot reproduce this in the current version. What version are you using? Can you try the nightly?

[2020-07-07 01:20] denisfa commented on #696
@rkitover Don't worry, I know what you mean. At the moment I am finishing an alternative for the timer solution for our main loop, using a separate thread. I will probably ask you to review it soon (not as a PR, but the commits themselves).

[2020-07-07 22:29] CahosRahneVeloza commented on #695
I am using the 2.1.4 version.

I'll try the nightly build you mentioned, but does that come in a binary/executable form as well. I ask because I do not know how to compile code, sorry.

[2020-07-07 23:40] rkitover commented on #695
It's a windows executable yes:

http://win.vba-m.com/nightly/

please try it and see if your problem is fixed, and report back here.

[2020-07-07 23:46] CahosRahneVeloza commented on #695
Okay, I tried the nightly build (June 30, 2020) and the first thing I noticed was the screen can't be resized. You can resized the window, even go fullscreen. But the video still retains the small size it has. Second, the colors are off. And when I try this game in question, my gamepad controls become inactive after I select the game's language option so I can't proceed to the ingame map view to c

[2020-07-08 01:16] rkitover commented on #695
Try going to `Help -> Factory Reset` and restart the program.

[2020-07-08 01:58] CahosRahneVeloza commented on #695
Factory reset did fix the resolution issue I was having and it did fix the input issue as well but the game still looks the same once I get to the map. Also the colors are still off.
![Super Bust-A-Move (U) (M3)](https://user-images.githubusercontent.com/44338023/86865445-92c91080-c101-11ea-8e23-78198ecf6cec.png)

[2020-07-08 02:25] denisfa commented on #695
@CahosRahneVeloza

Where is your `vbam.ini` located? Is it in the same folder of `visualboyadvance-m.exe`? If that is the case, could you attach this file to your original comment, please?

The nightly has extra UI options available, some of these are enabled by default. I am using the nightly build for answering you.

`Options` > `Video` > `Configure ...`

Go to `Zoom` tab. Check the value for `M

[2020-07-08 03:25] CahosRahneVeloza commented on #695
@denisfa:

vba.ini file for the latest stable version 2.1.4:

[vbam214.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4888175/vbam214.zip)

Recording of the issue:
[Super Bust-A-Move (U) (M3).zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4888179/Super.Bust-A-Move.U.M3.zip)

[quote]I am using the Linux x64 build for this screenshot. The same result applies

[2020-07-08 03:49] denisfa commented on #695
@CahosRahneVeloza Thank you! I found the issue: this happens when you boot using a GBA BIOS.

Ok, at least I found the cause here. We will see what to do next.

[2020-07-08 03:53] CahosRahneVeloza commented on #695
I forgot to post the ROM Information...
![Untitled](https://user-images.githubusercontent.com/44338023/86873741-906eb280-c111-11ea-977f-90ac870e41e8.png)

[2020-07-08 19:54] rkitover commented on #695
@denisfa How would we do this, trace bios calls during that segment of the game and see what is different?

[2020-07-09 02:10] rkitover commented on #493
@denisfa fixed this in baa0341b and 91a6b53e with a minor followup by me in 306f92f5.

[2020-07-09 02:10] #493 closed

[2020-07-09 03:36] CahosRahneVeloza commented on #695
Wait...

So my issue is caused by the fact I run vba-m with BIOSes? But I thought using BIOSes made emulators better? I've been running visualboyadvance with the GBA BIOS ever since vba 1.7.2 And in fact hack in those days the BIOS was important. The old vba-over.ini file was even important back in the day, especially when running games like the third Gen Pokemon titles. Even after switching over

[2020-07-09 04:49] rkitover commented on #695
Generally these days the BIOS is not needed, except in some rare cases where it makes link work better. Also @denisfa fixed your bug, just waiting for him to merge it and then it will be in the nightly.

[2020-07-09 07:16] CahosRahneVeloza commented on #695
Cool 👍

You guys work fast. By the way  forgive me for asking, if it's against the rules, but are you the folks who used to work om vba-m and would often release various builds on the old vba-m forums? I used to keep an eye on those torums for the latest builds 😊

[2020-07-09 08:25] rkitover commented on #695
The forum is still available at https://board.vba-m.com/. We just recently brought it back online. Neither me or denisfa go that far back but @ZachBacon does.

We actually really need to do a new release, also.

[2020-07-10 23:26] rkitover commented on #695
The nightly has the fix now, could you please try it and see if your issue is resolved?

[2020-07-11 02:09] CahosRahneVeloza commented on #695
Tested with a demo video showing that everything's fixed now :)
[NightlyDemo.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4906135/NightlyDemo.zip)

Thank you  both for the quick responses and fix.

[2020-07-11 02:18] rkitover commented on #695
Excellent, thank you!

[2020-07-11 02:18] #695 closed

[2020-07-11 17:58] My1 opened #699 "file opener problems and suggestions"
### Expected behavior

1) clicking on the address panel reveals some option to get a "real" address bar for entering a path
2) when directly entering a path (e.g. by setting the default path) where you can enter, even if a higher folder does not actually read permissions, it works
3) other locations should normally list all drives and stuff

### Actual behavior

1) I have not found any way to get

[2020-07-11 18:30] rkitover commented on #699
Have you tried pressing `CTRL-L`, see:

https://winaero.com/blog/how-to-enter-file-location-manually-in-gtk-3-opensave-dialog/

[2020-07-11 19:29] My1 commented on #699
okay, while that helps with the location bar, it doesnt help the permission issue.

for some crazy reason it doesnt even let me go into /media, but as stated in the initial post, /media is 755 so nothing should stop me, right?

[2020-07-11 19:38] ZachBacon commented on #699
What it does depend is ownership, even if it's writable, if you don't own that directory, then it's still a permission issues, you need to make sure that directory is owned by your user, at least that's my take on the issue.

In this case it shows that it's owned by root, so you'll need to make sure it's owned by your user specifically.

[2020-07-11 20:08] My1 commented on #699
well the folder /media where generally drives are mounted is always owned by root and changing that would probably break stuff (and / is also owned by root and with perms on 755, but that obviously works)

[2020-07-11 20:50] ZachBacon commented on #699
Then it could be a permission issue with how gtk is setup with kde on Ubuntu 18.04. Usually I just primarily use a gtk desktop environment such as budgie myself. I'll have to see if I can reproduce the conditions.

[2020-07-11 20:54] ZachBacon commented on #699
Oh, Snaps.... I think I might know the solution!

[2020-07-11 21:20] ZachBacon commented on #699
@My1 can you do me a favour? Can you run snap connect visualboyadvance-m:removable-media as a test? Let me know if it works, if it does, there maybe a bug somehow with snapcrafts plugs perhaps, in the meanwhile I'll keep looking into the issue.

[2020-07-11 21:20] My1 commented on #699
snaps seemed kinda weird to me anyway like opening a new mount point and all.

but your idea about the removable media actually helped.

[code]

now it actually works

[2020-07-11 21:21] My1 commented on #699
I literally just searched for snap and the media thing and found a site showing a similar issue, so was literally typing it as you sent your reply

[2020-07-11 21:21] My1 commented on #699
sorry, misclick

[2020-07-11 21:22] ZachBacon commented on #699
Could of been an issue with the snap daemon then.

[2020-07-11 21:23] My1 commented on #699
interesting. well apparently it had a connection but no "slot" although I have no idea how snaps actually work, so I have no real idea what it exactly means, lol

[2020-07-11 21:25] ZachBacon commented on #699
snaps are kinda like an image being overlayed onto the host system and the plugs, basically allows the image that's being overlayed direct access to certain things, at least as my understanding of snaps, so if one thing isn't connecting properly in the snap, then I think in this case it's a snap daemon issue where it's not overlaying properly (to put it simply, kinda a little more complicated to e

[2020-07-11 21:27] My1 commented on #699
okay. I kinda prefer appimages, they just work, no root no nothing. just download, place them somewhere convenient and execute.

[2020-07-11 21:30] ZachBacon commented on #699
Problem with the app images is that as systems progress, sometimes the components in the appimage may not execute anymore. plus it's a security thing too.

I much rather stick with snap and eventually get flatpak support in.

[2020-07-11 22:30] ZachBacon commented on #699
@rkitover what do you feel on the appimage support? Yay or nay? I'll go with what you think.

[2020-07-12 00:58] rkitover commented on #699
@ZachBacon

Can you please update the snap to the current master, it's in a stable state right now and 2.1.3 is ancient.

We'll talk about doing a new release elsewhere.

[2020-07-12 01:01] ZachBacon commented on #699
The 2.1.3 is actually 2.1.4, just when the tag was made there was a changelog issue where it still read as 2.1.3. so technically not ancient. Just a display bug.

[2020-07-12 01:01] ZachBacon commented on #699
So I'll keep that one as is, but for a master build, I can do a beta channel for that.

[2020-07-12 01:14] rkitover commented on #699
@ZachBacon

2.1.4 is also ancient, we made the tag at the beginning of October. A lot has happened since then.

[code]

I would much rather you use a stable sha of master for the snaps if people are going to rely on them to be up to date. GitHub lets you download a tarball for a specific sha so you can bake that into the package description.

At least until we fix our broken release process.

Ther

[2020-07-12 01:19] ZachBacon commented on #699
Either way, I won't be able to do it right now. Not till Thursday, I'll try to see if I can get it sooner, but as for stable 2.1.4 is technically the latest, the beta channel I'll set up as the snap nightly if I can. I have two different snap yaml's for this. And last time I couldn't setup an automated process due to snapcrafts autobuild system not being able to use staging snaps just yet. It may

[2020-07-12 01:21] ZachBacon commented on #699
Sorry I mean edge channel, not beta.

[2020-07-14 15:07] v1993 commented on #207
Can confirm this on KUbuntu. Unfocusing VBA-M window prevents it from receiving even joystick input. Interestingly, windows version running in wine seems to ignore all joystick input at all (I can bind buttons fine, keyboard works for input).

[2020-07-15 01:14] denisfa commented on #699
Only if one of you guys agree to maintain. I have no interest on appimages at all.

[2020-07-15 01:33] denisfa commented on #207
@v1993 What version of vbam are you using? I am having the opposite issue of yours, my joystick input is detected even if the screen is not focused, which is how I am running linking tests. If you can, please attach your `vbam.ini` so we can take a look.

[2020-07-15 05:41] My1 commented on #699
sad but okay

[2020-07-15 06:01] SoulStriker27 commented on #573
Any progress so far on linking issues? I am currently trying to play Zelda Four Swords and I am running into a blocker where the games cant detect other links.

I am on a Windows 10 using GBA, single computer,

[2020-07-15 08:15] ZachBacon commented on #699
I'll probably do that, however it won't be top priority, it'll be back burner stuff since I rather support snap and once I can get it, flatpak

[2020-07-15 12:14] denisfa commented on #573
@SoulStriker27 This game is a known case of bad defaults for linking from vbam. Would you mind testing a configuration? Download our latest nightly for Windows [here](https://win.vba-m.com/nightly/). Use a `GBA BIOS` file when trying to play, and enable the option `Options` > `Link` > `Speed hack`. Also set `Link Timeout` to `1000`. The game should be able to detect each other, although you will p

[2020-07-15 18:12] DenSinH opened #701 "Error with sign extended multiplication"
I wrote a [fuzzer](https://github.com/DenSinH/FuzzARM) for the GBA, and among testing it on my own emulator, some others and on hardware, I also tested it on VisualBoy Advance. It turns out there is a mistake in sign extending long multiplication (`SMULL/SMLAL`). I posted a screenshot of your emulator failing the ROM in the repo to showcase the eWRAM error info dump (I hope this is okay, your memo

[2020-07-15 21:18] SoulStriker27 commented on #573
I guess I am half-way there, I downloaded the lastest nightly and I am using  BIOS file (does it matter which one?). My Link settings are as follows:
Type: Cable
Local mode: enabled
Link on boot: enabled
speedhack*: enabled

[2020-07-15 21:23] SoulStriker27 commented on #641
Also using DS4windows causes inputs on 1 controller to act as 2 separate controllers. The previous version didn't do this (SVN947)

[2020-07-15 21:23] SoulStriker27 commented on #573
Also using DS4windows causes inputs on 1 controller to act as 2 separate controllers. The previous version didn't do this (SVN947)

[2020-07-15 22:05] denisfa commented on #573
@SoulStriker27  I am not sure, but you should use the offical GBA BIOS file. I am not aware of other BIOSes (I really don't). Also make sure you set the option `Options` > `Game Boy Advance` > `Use Bios file`.

`Local mode` is for dolphin connection. Use the `Start Network Link`  and set as localhost (`127.0.0.1`). Also disable both `Link on boot` (not needed) and `Lan mode` (because otherwise you

[2020-07-15 22:17] denisfa commented on #701
@DenSinH Thanks for this report. Were you using the latest nightly for this testing? It is available [here](https://win.vba-m.com/nightly/). I did a quick testing using the ROM available on the root of your repo (`main.gba`), and no errors appeared. Do you still have the ROM that causes this? If so, could you attach here, please?

There are no issues for you doing this. It is just weird because ou

[2020-07-15 23:18] DenSinH commented on #701
@denisfa I can't test it myself right now unfortunately, but the ROM that caused the problem is the ROM in the repo iirc, if it doesn't display a message like in the screenshot it is probably fixed in a different version.

I must have gotten my build of VBA from elsewhere or something, because I downloaded it pretty recently (about 1-2 months I think).

If it was a different ROM that caused it, it

[2020-07-16 01:12] SoulStriker27 opened #702 "[LINK] Controller only works on one screen at a time"
# Expected behavior
Open 2 windows of visual boy and play with different controllers.

### Actual behavior

I have to click on each window to play on that window. (Pause when inactive is disabled)

### Steps to reproduce the behavior

Just open up 2 windows, load Link to the Past/Four Swords, watch as the same controller works on one screen at a time

### ROM details

Which games are affected by t

[2020-07-16 01:24] SoulStriker27 commented on #702
I apparently made it work at 2 screens at a time if you don't click any screen at all. Yet clicking 1 will force you to only play on that one.

[2020-07-16 01:33] SoulStriker27 opened #703 "DS4Windows Compatiblity"
# Expected behavior
Configuring controller settings should only be from 1 input device

### Actual behavior
Controller configurations end up setting 2 buttons at once  (joy1 - button 11, joy3 - button 11)  when 1 button on 1 controller is pressed.
![Capture](https://user-images.githubusercontent.com/46726808/87615980-964c3100-c6d9-11ea-8a5d-bc131997da5c.PNG)

### Steps to reproduce the behavior

I

[2020-07-16 14:44] v1993 commented on #207
@denisfa I'm using a recent version built from commit 81c88227fabe4d7703ba9679d6789506b5f554ee. [`vbam.ini`](https://github.com/visualboyadvance-m/visualboyadvance-m/files/4932156/vbam.txt) attached.

[2020-07-20 00:23] #174 closed

[2020-07-22 18:28] rkitover commented on #699
@ZachBacon can you make an org account for the snap please, so I can update it. And in general for any of these things, so that we don't have to rely on you for that.

[2020-07-22 19:14] rkitover commented on #573
We use SDL for joystick support, I believe SDL may have built-in support for the PS4 controller, try disabling DS4windows.

[2020-07-22 19:20] rkitover commented on #701
@DenSinH thank you for the report anyway, and if you get more information on this please update us here.

[2020-07-22 19:20] #701 closed

[2020-07-22 19:25] rkitover commented on #703
Would it be possible to test what happens with DS4windows disabled?

[2020-07-24 00:34] rkitover commented on #602
@denisfa @ZachBacon

So, we need to get a release out.

The major blocker was finishing sparkle stuff, I believe we've taken care of that adequately. I just need to check the xml stuff for the mac side and update the manual.

Our last release was on October 2nd of last year, 9 months ago.

Since then we've done quite a lot:

[code]

lots of new features, refactors and fixes.

As far as any securit

[2020-07-24 02:19] denisfa commented on #602
@rkitover I agree. I think we have the opportunity to also change a little bit our release process. I think we could go with
`MAJOR`.`MINOR`.`PATCH` as our default. My reason for this is that now we have the auto-updater for both Windows and MacOS. Whenever we want to get something out fast, we can just increment the patch with our changes. Likewise, we should have more well-defined goals for mino

[2020-07-24 08:54] rkitover commented on #602
Oh I didn't mean that everything works, just that our recent work has been tested. Like your input refactor.

Yes a lot of stuff is completely broken and we need to fix it, I am aware.

The gdb thing is to allow an arm version of the gdb debugger to connect to a running rom remotely.

Fine with me, then I will cut `2.2.0` and we will increment patch level for minor new features. And increment the

[2020-07-25 02:26] Castaf1ore opened #704 "More Speed Issues"
### Expected behavior
Regular speed at 100% without turbo.
### Actual behavior
Extreme speed at 785% - 800% without turbo. Changing throttle did not help, in fact, it only made it worse when I increased throttle (from the default 100) it pushed it up to 1200%-1500%. Lowering throttle had no affect on the speed stuck at 800%. Interestingly, the audio is also silent. Configuring the audio to anythin

[2020-07-25 07:22] rkitover commented on #704
Try going to `Help -> Factory Reset`.

[2020-07-25 07:22] rkitover commented on #704
And then restart the program.

[2020-07-25 17:24] v1993 commented on #702
I think this is a duplicate of #207. This issue is also not related to link issues being mainly about input handling (it's problem in input system that begins to play a role once link feature is used).

Also, deselecting all windows won't do the trick on Linux.

[2020-07-25 20:44] v1993 commented on #702
Check #705, that should fix this issue.

[2020-07-25 20:47] v1993 commented on #641
It's not "dolphin link" issue. Four Swords are run by linking VBA-M instances together with no Dolphin involved.

[2020-07-26 02:36] SoulStriker27 commented on #702
How long before it is a part of the nightly build?

[2020-07-26 10:36] rkitover commented on #702
Once it is reviewed and any issues are resolved and it's merged to master.

It needs some more polishing at first glance.

[2020-07-27 03:34] rkitover commented on #602
Ok, I'm going to wait for the background input issue to be resolved before cutting the release, since a lot of people want that fixed.

[2020-07-28 23:05] phoe opened #707 "Crash on Hamtaro - Ham-Ham Heartbreak"
### Expected behavior

No crash.

### Actual behavior

[code]

### Steps to reproduce the behavior

Launch the game, go past the naming screen. Finish the dream sequence, talk to Boss, try going down the stairs.

### ROM details

`Hamtaro - Ham-Ham Heartbreak (USA).gba` - md5 `42cca53c94c0bb8e5146631945bf0cd9`

### Option details

opengl hq2x / sdl

### Build details

debian sid x86_64 xorg, VBA-M

[2020-07-28 23:26] denisfa commented on #707
@phoe Thank you for the report. I am going to guess that you are using a GBA BIOS file, right? Also, just for confirmation, what compiler did you use?

[2020-07-28 23:37] phoe commented on #707
I do not think that I am using any GBA BIOS file. Where do I check?

It seems that GCC10 was used to compile vba-m.

[2020-08-01 05:01] negativeExponent commented on #707
vbam has a lot of these errors caused by offscreen drawing especially when using asan. this one is pixel offset during mosaic effects.

[2020-08-01 23:48] github-fanuser opened #708 "Settings"
I just discovered your emulator and thought I would give it a chance. I have been using BGB gameboy emulator. I downloaded the zip file, There was only one file to extract (.exe). I copied it to a folder and ran the program...no problem. I do have a couple of questions.

1) Where are the settings stored? There is no settings file in the folder with the program file.
2) I have a game controller. Is

[2020-08-01 23:57] ZachBacon commented on #708
By default settings are saved in %APPDATA%/visualboyadvance-m (or was it %LOCALAPPDATA%/visualboyadvance-m? I know there was a change at some point) but also alternatively you can move the file, or make an empty file vbam.ini right beside the executable to be used in a portable manner instead.

[2020-08-01 23:58] ZachBacon commented on #708
As for binding multiple buttons to one. Currently that isn't an option. But perhaps could be added potentially.

[2020-08-02 01:43] github-fanuser commented on #708
Thank you. I found the file. I moved it the same folder as the program.

On Sat, Aug 1, 2020, 6:58 PM Zach Bacon <notifications@github.com> wrote:

[2020-08-03 20:25] denisfa commented on #708
@github-fanuser Unless I am not understanding what you want, can't you just bind both game keys to the same button to achieve what you want? You can bind multiple keys to each game input, so it should be possible.

[2020-08-04 08:32] rkitover commented on #708
I think he wants combos to work differently from single keys, e.g. you'd have A, B, and A+B = C. I can do this I think.

[2020-08-04 17:42] ZachBacon commented on #708
@rkitover that was my take on it at least. I don't see why it couldn't be implemented, but I'll go with everyone's consensus on the matter.

[2020-08-08 16:10] briansrls opened #709 "Choppy Framerate on Windows with SDL sound driver"
### Expected behavior
Smoother framerate.  To be clear, I am not sure if issue is actually framerate.  Anecdotally, I see it drop to 58 fps regularly during these micro stutters, and when things are more clear it shows 60.  It may take more analysis to determine the actual issue.

### Actual behavior
Getting micro stutters, demonstrated in video.  The leftmost screen is getting small stutters as I

[2020-08-09 02:44] negativeExponent opened #710 "[Request] installdeps: Add support for some Arch-based distros"
(no template since its not a bug report)

As indicated in title: add support for the ff arch-distros, Artix and Obarun, only if possible and within the scope.

based on existing 'installdeps':
- Artix can be detected by the presence of /etc/artix-release (file is empty though for some reasons)
- Obarun can be detected by grep/awk 'Obarun or obarun' keyword from /etc/os-release
[code]
Both distros

[2020-08-09 02:47] negativeExponent commented on #709
what gpu is this? just a guess, but you might need to make sure vsync is enabled for your compositor/xorg driver (i need to do this on my intel gpu).

[2020-08-09 07:15] rkitover commented on #709
Please get the latest nightly from http://win.vba-m.com/nightly and try turning on `Emulation -> Vsync`. Thanks to @negativeExponent for the idea.

[2020-08-09 08:50] negativeExponent opened #711 "[Input] Cannot remap inputs with gamepad"
### Expected behavior
Should be able to remap gamepad buttons
### Actual behavior
No effect
### Steps to reproduce the behavior
- goto options > input > configure
- clear and try to set new binds
- nothing happens with gamepad, keyboard binds works fine. the default gamepad presets also works but remapping any does not.

Conditions:
- The issue happens when remapping while a game is already loaded

[2020-08-09 20:33] ZachBacon commented on #602
Apologies for being away as long as I have, recently left Amazon, started a new job, which to be honest has made me more happy than when I was at Amazon. I'm slowly getting in better shape and taking better care of myself.

Anyways I solved the issue of getting nightly builds on Linux being automated on snapcraft's edge channel for vba-m's app store so all that needs to be done is run snap install

[2020-08-10 03:58] briansrls opened #713 "Crash/Assert when switching audio plugins when running GBA"
### Expected behavior
Successful switch of audio plugin triggered via application

### Actual behavior
Crash or Assert

### Steps to reproduce the behavior
Launch a GBA game, switch between audio plugins.  I am trying to address this issue with #712.

**Assert:**
[code]

### ROM details

**Which games are affected by the issue (please state if GBA or GB game):**
Seems to be limited to GBA only, se

[2020-08-10 04:04] briansrls commented on #709
Hi all, thank you for the tips, I was actually able to solve my issue by switching my audio config from SDL to directsound.  Maybe it's an audio sync issue?

[2020-08-10 20:37] rkitover commented on #602
@ZachBacon good to hear about positive life changes.

My main issue was that the package is too old, but now that we will do a release soon and do releases more often that issue will be taken care of.

But yes, we should have an org account for this, please send it to me and denisfa.

On that point, we need to talk in general about organization structure and resources at some point soon. There is

[2020-08-10 20:39] rkitover commented on #602
@ZachBacon I forgot to mention, if there are any packaging or usability issues with the snap or any distro packages, please let us know here so we can take care of them. Like the icon stuff when you were just making it, if you remember.

[2020-08-10 20:46] ZachBacon commented on #602
@rkitover yeah definitely, so far seems alright, I've did a small test on my raspberry Pi 3b but my sound wasn't going over HDMI so I need to fix the config for that, eventually I'd like to get a pi4, at least the 4gb ram one for further testing on those platforms, but so far the armhf snap works as intended, but I definitely need to see about other tests to do in terms of graphics.

[2020-08-10 20:49] rkitover commented on #709
The way this emulator works, is the emulation is synced to the sound driver.

Just out of curiosity, what is your hardware configuration, how many cores etc. and what is the sound device/driver.

SDL is our primary sound driver, in some cases it works even better than the directsound driver on Windows, but perhaps we should revert to making directsound the default driver on Windows.

@denisfa woul

[2020-08-10 21:33] briansrls commented on #709
I have reproduced this on two devices,

One a desktop with an overclocked 10900k, (10 cores 5.2Ghz), and the sound device is a speaker coming out of my motherboard, as well as a thunderbolt dock.  I have tried the generic microsoft sound drivers, and also just installed raeltek drivers but see the issue regardless.

The other is my laptop, it has an 8750H (6 cores 4.2ghz), and the sound device are

[2020-08-10 22:05] rkitover commented on #709
@briansrls thank you, I will wait for your results and then make this change if necessary. I think some other people reported this issue as well.

[2020-08-10 23:19] briansrls commented on #709
I didn't notice any impact when I modified the buftime

[2020-08-11 00:17] Myusicman commented on #604
Hey guys!  I know it's been a while, but is there any update on the fixes for the emulator?  If so, lemme know!

[2020-08-11 07:11] rkitover commented on #709
@briansrls Great, thank you for testing.

@denisfa I was thinking about the best way to handle these issues, and I had an idea, why don't we set default config settings to the string `default` instead of a specific setting, that way we can change defaults and users will be updated appropriately.

[2020-08-11 07:13] rkitover commented on #604
No, unfortunately we have not started on this issue yet.

[2020-08-11 13:02] vannessqn opened #714 "Hi guys I just wanna ask is VBA-M performance for low end laptop better than mGBA?"
I have i7-5500u + 930M, technically I can run both without problems but my friend said mGBA consume CPU usage much more than VBA-M? I want my laptop not heating when playing GBA graphic, is he right? And if anyone could give even more recommend settings would be great, ty. Oh and I know this is not relevant but what about Desmume and MelonDS, Desmume still on the better side with performance right

[2020-08-11 21:15] rkitover commented on #714
No idea about any of that, but if you want to reduce CPU usage, make sure any filters are off.

[2020-08-12 18:42] briansrls commented on #648
Hello, I just tested this locally with the latest dolphin nightly build (12436) and the latest VBA-M build.

The first time I tried, I got the transmission error you described.  Then, without closing dolphin and retrying the process, I proceeded through the gamecube dialogue once more and reset the GBA when appropriate.  This time, it worked.

I was very careful to follow these instructions:  http

[2020-08-12 22:20] Myusicman commented on #604
Really?  I imagine that you all must have been very busy over these past few months, then.  Do you know when you will be able to start working on this issue?

[2020-08-13 13:56] infernoblack commented on #189
tengo el mismo pero se me cierra sin ponerme nigun mensaje   en otra version si nos anda pero no se conecta

[2020-08-13 14:01] infernoblack opened #717 "error del link del vba-m"
quiero conectarme al link del emulador con un amigo pero senos crashea no nos deja poner ni el server ni el client  que hago

[2020-08-13 20:02] briansrls opened #718 "Unhandled Exception / Crash when disconnecting controller"
### Expected behavior
Gracefully disconnect

### Actual behavior
Crash/Unhandled exception

### Steps to reproduce the behavior
Sometimes it gracefully disconnects, but occasionally when my bluetooth controller disconnects this crashes.  I can reproduce by taking the batteries out.

This happened once while I was playing, I tried to reproduce using debugger, here is the information I found:

[code

[2020-08-14 00:41] infernoblack commented on #717
For those who speak English I put the translation: I want to connect to the link of the emulator with a friend but crashea does not let us put neither the server nor the client that I do

[2020-08-14 06:52] rkitover commented on #604
Well you can see what we're doing in the commit log:

https://github.com/visualboyadvance-m/visualboyadvance-m/commits/master

the other primary developer on this project, denisfa, just left. So it's just me now.

My primary goal is fixing any major usability issues and getting the next release out.

I may have more time soon to work on this project, in which case link issues will be looked at for

[2020-08-14 06:57] rkitover commented on #718
Are you playing a game with rumble?

[2020-08-14 07:01] rkitover commented on #717
Make sure you are using the nightly and this is a GBA game, GB link is known broken, and GBA link also has some issues with some games.

[2020-08-14 07:02] #717 closed

[2020-08-14 14:51] briansrls commented on #718
I didn't know gba games could have rumble 😂

I'm playing Pokemon Sapphire.  One thing I'll say is that after it disconnects, somehow polling indicates hundreds of inputs being detected and then this exception.  I will try to test more later.

[2020-08-14 17:12] #713 closed

[2020-08-14 19:39] rkitover commented on #718
Well this is definitely a bug in SDL, which is what we use for joystick support, and we will need to follow up there.

[2020-08-14 21:48] briansrls commented on #718
I think you're right, because SDL reports that my joystick has a lot of buttons :)
![image](https://user-images.githubusercontent.com/11205878/90295201-2bf3f100-de3d-11ea-81fa-272869e8f45d.png)

[2020-08-15 00:49] negativeExponent commented on #61
this is still an issue with latest commit https://github.com/visualboyadvance-m/visualboyadvance-m/commit/b23d463652da94579381be5a00c12909704cfb04

strangely enough, running the latest libretro core using this same commit does not have the said flickering issue (more obvious in Classic SMB)

interestingly, running vbam with either interframe-blend modes other than none remedies the problem, both i

[2020-08-15 01:00] negativeExponent commented on #684
can you consistently recreate this issue? if so, upload the savefile (either vbam or libretro savefile will do)
ive played with the (USA) version of this game past where you kill all summoners in the village but no issue so far.

[2020-08-15 01:42] Squall-Leonhart commented on #61
these games are supposed to be interframe blended.

[2020-08-15 02:56] negativeExponent commented on #61
as i have stated, libretro, which uses the same commit does not need
interframe blending (or lcd ghosting effect) to be enabled. Its rare to
have a gba game uses such slow refresh to create some effects (only see a
few games that may need it like race timers etc). But it should never be
flicking like it does on the standalone compared to libretro or other emu.
this is not the same flickering on gb

[2020-08-15 03:24] Squall-Leonhart commented on #61
i don't care what libretro does.

[2020-08-17 23:48] rkitover commented on #602
Fixed the windows build again and appveyor finally, took me a few days.

[2020-08-18 00:03] ZachBacon commented on #602
Cool, I think over the next few days I'm gonna get an armv8 board like the pi4 etc and do some testing there as well as finish doing my SDL display option, still trying to understand how the mac driver operates a bit when I have the free time and translating that work into an SDL derivative

[2020-08-18 06:53] rkitover commented on #718
@briansrls can you please submit a bug report here:

https://bugzilla.libsdl.org/

and post the link to the bug.

Thank you.

[2020-08-18 18:27] briansrls commented on #718
https://bugzilla.libsdl.org/show_bug.cgi?id=5264

[2020-08-19 05:21] rkitover commented on #718
Excellent, thank you!

[2020-08-19 07:13] briansrls opened #719 "Speedup not working with Directsound"
###Expected behavior
Graceful speedup (1000%, frame skipping)

### Actual behavior
No actual speedup, only frame skipping
https://streamable.com/68v7vu

### Steps to reproduce the behavior
Configure directsound, try to speed up game.  If speedup % is set to 500 and frame skipping is disabled, the game simply runs at normal speed when speedup is toggled (60fps).

SDL works as intended.

### ROM det

[2020-08-19 07:25] briansrls commented on #648
@rkitover I think we can close this issue.

[2020-08-19 12:19] #711 closed

[2020-08-19 17:12] #648 closed

[2020-08-19 17:15] rkitover commented on #719
Thanks, I'll look at this now. We'll need to fix this to make directsound the default on windows again.

[2020-08-20 09:01] Achaean opened #721 "Translations don't work."
I downloaded the ZIP, checked and extracted on VBA-M's directory and...nothing happened!  :-)
Interface is still in English.
Factory Reset afterwards, didn't help.

V.2.1.4 on Win 10 x64 Pro b.1909 (GR).
Bye!!!

PS. I think, VBA-M really needs the respective GUI option.

[2020-08-20 09:17] ZachBacon commented on #721
So only two things about that, it can't be in a subdirectory, it has to be your exe and then the language code directory beside it. Second thing that could be is that the translation could not be completed.

As for a GUI option, that's something that's been on the menu but not a full priority item at the moment.

[2020-08-20 09:33] Achaean commented on #721
THANKS Zach for your reply!  :-)

I tried before posting, 3 options:

1) Unzipping the archive -> 76 localization subdirectories on visualboyadvance-m.exe directory.
2) Deleting all, but el_GR.
3) Deleting all directories and keeping wxvbam.mo amongst with the EXE.

None of them worked.

[2020-08-20 11:58] Achaean opened #722 "Screenshots can't be saved."
I tried (at general settings) both PNG and BMP, I also tried (at input config) several key combinations and also some different located directories (Options -> Directories), but still screenshots can't be saved.

Last stable version (2.1.4) on Win 10 x64 Pro b.1909.

[2020-08-20 12:31] rkitover commented on #721
Your Windows system language has to be set to that language for the translation to be used.

[2020-08-20 12:36] rkitover commented on #722
Works for me, I tried with the Windows 2.1.4, go to `File -> Screen Capture` and save the screenshot. Make sure you have permissions to the directory you are writing the screenshot to.

[2020-08-20 12:41] rkitover commented on #722
Also tried setting a directory for screenshots, mapping a key, and pressing the key to take a screenshot. Also works fine.

[2020-08-20 13:16] Achaean commented on #722
Oh...Indeed!!!
From menu, capturing works perfect!

Pressing the assigned hotkey, doesn't work here.
Obviously, my report is wrong!
Capturing works flawlessly. Key mapping maybe, it's the problem I faced.

[2020-08-20 13:19] Achaean commented on #721
My Windows system language is set to Greek and apparently the Greek translation is NOT working.

[2020-08-20 16:39] rkitover commented on #722
Follow these steps to assign a key:

Go to `Options -> Directories` next to `Screenshots` press `Browse` and select a directory you want to save screenshots to, press `Ok`.

Go to `Options -> Input -> Configure`, press the `Special` tab, press the `Screenshot` field and press the key you want to assign for taking a screenshot.

Now press that key during a game, and you will get a message that a sc

[2020-08-20 16:40] rkitover commented on #721
For Greek you need the `el` translation not `el_GR`, the latter is empty.

[2020-08-20 18:04] Achaean commented on #721
Nope! Didn't work either.   :-(

Note: The only thing I changed here (at my Windows settings (via Registry)), is switching the active codepage -> 65.001 (Unicode).
Because of a known bug, Windows can't display Greek characters, otherwise.
If VBA-M depends on this setting, it obviously fails to guess the correct language.

Anyway, let me stick to my suggestion  :-)
(for an explicit setting for inte

[2020-08-20 18:19] Achaean commented on #722
You're describing exactly the steps I took before posting.  :-)
Not only that, but I tried several key combinations and I took care of the working directory, to comply with the old DOS-Win98 rules.
(2nd or 3rd level directory (under root dir), capital English characters (no Unicode), no spaces, no special characters, 8 letters maximum).

Just 1 question from me:
Assuming you work with Win 10 x64,

[2020-08-20 19:51] rkitover commented on #722
So you tried an all English directory name you say, I thought that might be the problem, have you tried selecting it via `Browse` instead of typing it in?

[2020-08-20 19:55] rkitover commented on #722
There is definitely a problem with non-English screenshot directory names.

[2020-08-20 19:56] rkitover commented on #722
Do you get an error by the way? If so, what is it? Any status message in the game area?

[2020-08-20 21:49] rkitover commented on #721
Can you please try downloading the latest translations from http://win.vba-m.com/nightly.

If that doesn't work, try renaming the `el` directory to `el_GR`.

I'll see if I can add a language menu, but can't promise anything.

[2020-08-22 00:47] LAC48 opened #723 "ffmpeg sound recording only captures right channel"
When you record video or sound that is in stereo and then play the saved file it only plays the audio of the right channel.
I tried different sound settings and the same thing keeps happening.

[Example.zip](https://github.com/visualboyadvance-m/visualboyadvance-m/files/5111759/Example.zip)

[2020-08-24 06:19] briansrls commented on #718
@rkitover I think this is what I'm doing now, but for the life of me can't figure out how to execute debugger commands.  For example, if I'd like to see the result of a function call in GDB I could type in "foo(var)" and get a result.  I can't seem to replicate things like this in Visual Studio's debugger, i'm not sure if that is implemented.

[2020-08-24 11:38] rkitover commented on #718
See: https://stackoverflow.com/questions/48944289/evaluate-expressions-during-debugging-in-visual-studio

[2020-08-24 21:54] briansrls commented on #718
Thanks, I'll try this out.

[2020-08-24 22:19] rkitover commented on #718
I'm going to fix the msys2 build today so you could use gdb.

[2020-08-25 21:53] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

This feature is important because it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

For example the Pokemon games, some of the most popular used by users of the emulator. They come two version

[2020-08-25 21:53] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

This feature is important because it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

For example the Pokemon games, some of the most popular used by users of the emulator. They come two version

[2020-08-25 21:53] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

This feature is important because it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

For example the Pokemon games, some of the most popular used by users of the emulator. They come two version

[2020-08-25 21:53] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

This feature is important because it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

For example the Pokemon games, some of the most popular used by users of the emulator. They come two version

[2020-08-25 21:53] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

This feature is important because it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

For example the Pokemon games, some of the most popular used by users of the emulator. They come two version

[2020-08-25 21:54] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:54] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:55] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:56] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:56] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:56] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:56] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:56] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:56] ZachBacon commented on #653
I'm going to ask you to stop reposting the same thing over and over and over. Keep doing that and this issue will be locked.

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 21:57] JMC5 commented on #653
Hello,

I'm having the same problem with the cheat tool from the Emulator. In this case, for the game Megaman Battle Network 3.

_This feature is important because_ it's the only way to completely experience the game if they are the kind of games that come in two or more version per release.

**For example the Pokemon games,** some of the most popular used by users of the emulator. They come two v

[2020-08-25 22:13] ZachBacon commented on #653
alright, I deleted the duplicate posts by JMC5 and kept the original first, I'm assuming that the connection he was using kept refreshing with the data and just kept posting it, I will now unlock the topic.

[2020-08-25 23:51] JL2210 commented on #714
mGBA is probably about the fastest you can get.

[2020-08-26 13:10] JMC5 commented on #653
I’m sorry, it was not my intention to comment several times. In my screen the comments didn’t seem to be being posted, so I tried several times. Seems that it was working and the problema was my connection.
Again sorry.

Thanks for your understanding.

JMC5

[2020-08-26 16:34] ZachBacon commented on #653
No worries about it, like I said, it felt like a connection issue so I temp locked it until I could clean up.

If that kind of issue happens again just close the tab and then go back to the issue to be sure next time, it'll help keep things a little cleaner.

[2020-08-26 19:51] rkitover commented on #653
@JMC5 Thanks! I'll see if there's an easy fix for this.

[2020-08-27 18:45] briansrls commented on #718
Hi @rkitover , I have made significant changes to how joysticks are processed.  https://github.com/briansrls/visualboyadvance-m/pull/1/files

It's working now.  However, I think I will need your input to determine final behavior.  Previously, we had issues differentiating joystick_index and joystick_instance_id.  This led our program to show certain behavior, which can look positive/correct, but i

[2020-08-28 03:47] ammrat13 opened #725 "Clarification on CPULoop"
I was looking for clarification on what exactly the `void CPULoop(int ticks)` method in `src/gba/GBA.cpp` does. I would expect that it advances execution by `ticks` instructions. However, it also seems to be doing other stuff with timers, interrupts, SWI, IRQ, and something with `has_frames`, all of which seem to extend how long the CPU is simulated for. I haven't looked too deep into the code, bu

[2020-08-28 06:01] rkitover commented on #718
Good news, I fixed the Msys2 build, now you can use `gdb` on windows.

I will look at your `instance_id` stuff.

[2020-08-28 19:03] Steelskin opened #726 "Input configuration is doubled when 2 controllers are connected"
### Expected behavior

1. Connect 2 XInput controllers on Windows
2. Open Input configuration panel
3. Input one button on one controller.
4. Only one input shows up in the input configuration panel

### Actual behavior

The input configuration panel shows 2 input at the same time. In fact, after configuring, both controllers work as input.

### Steps to reproduce the behavior

See above.

### ROM

[2020-08-28 21:11] briansrls commented on #726
Hi @Steelskin , I am currently rewriting the joystick code to better handle situations like this.  I was not able to repro your issue in my branch, do you want to give it a try?

https://github.com/briansrls/visualboyadvance-m/pull/1  (it's in my fork)

[2020-08-28 21:14] briansrls opened #727 "Billinear filter does not toggle until you open/close the video plugin menu"
### Expected behavior
Bilinear filter should immediately take effect when toggled through the menu.

### Actual behavior
Bilinear filter does not seem to take effect until the video plugin menu opens.  Also, bilinear filter doesn't seem to work with the "Simple" video driver?

### Steps to reproduce the behavior
Toggle bilinear filter.

Video driver (simple, opengl):
opengl

### Build details

Ope

[2020-08-28 21:35] briansrls commented on #727
Probably need to reload something when this option is set, I will look into it.

[2020-08-28 21:36] Steelskin commented on #726
I am going to try your branch. In the meantime, I have managed to pinpoint the issue to these 2 commits:
* Starting at 02520fb63e97160ef6d46053d744e9085d3e1cf1, only one controller input is accepted.
* Starting at 0577f8afc24b4afba946cbfba683c6b77a11300d, the issue I described starts happening.

[2020-08-28 21:40] rkitover commented on #725
This is the main entry point into the emulator core, it is called by `gbaEmulate(int ticks)` in a loop until frames are produced one level above which is mapped to `emusys->emuMain(int ticks)` by `struct EmulatedSystem` in `src/common/System.h`. This is what we call from the wxWidgets GUI to do one emulation cycle.

`int ticks` is a fixed number set to `300000` in `struct EmulatedSystem GBASystem

[2020-08-28 21:45] rkitover commented on #727
bilinear filter is only implemented for the OpenGL video driver.

Does toggling the option work with the OpenGL driver currently in effect?

We may want to change the UI for this.

[2020-08-28 21:50] rkitover commented on #726
@Steelskin thanks, I'm going to do some more work on the joystick code soon, I will try this configuration.

[2020-08-28 21:52] briansrls commented on #727
I realized that after you toggle the option in dropdown menu, you then have to go to open the video plugin menu, and then simply hit OK for it to take effect (without changing anything).

If the filter isn't implemented for all video plugins, I think the option should only be present on a plugin to plugin basis in the video plugin menu.

[2020-08-28 21:56] rkitover commented on #727
I agree, we should just move it to a checkbox in the video config dialog for OpenGL.

[2020-08-28 22:10] Steelskin commented on #726
@rkitover I tested your branch. I can confirm that some of the issues go away with it. Double input is gone but another issue has appeared. I am testing with 2 controllers connected. One is an SF30 Pro, the second is an FC30 Pro.

The SF30 Pro inputs work fine, they appear as `joy0-buttonX`. However, the POV buttons in the FC30 Pro do not register in the UI. Oddly enough the other buttons on that

[2020-08-28 22:19] briansrls commented on #726
@Steelskin thanks for testing.  It looks like you are running issues with the player_index changes I made, the joy65535 looks like an underflow (we use player index -1 to indicate an invalid player index).  I'll look into it to see if I can find any bugs.

Just as a test, could you try the FC30 as a standalone controller (only controller attached), if this works I will play around more with having

[2020-08-28 22:23] Steelskin commented on #726
The issue was that the FC30 Pro was connected as DInput and not as XInput, I can confirm everything works great with a build from your branch, otherwise!

[2020-08-28 22:29] briansrls commented on #726
Ah ok, I don't actually know much about DirectInput, how are you able to switch between the two?  Maybe I could try testing and see what behavior is like.  I read somewhere that ps4 controllers are using directinput, so I will try that first.

[2020-08-28 22:33] briansrls commented on #726
Actually, I was able to reproduce some buggy behavior by having both a ps4 controller and xbox one controller plugged in.  Seems like SDL is not having the behavior I expected, I will try to fix it now.

[2020-08-28 22:35] rkitover commented on #726
@briansrls Before you spend too much time on that branch of yours, I should tell you that there is no way I am going to use any of that, I am going to do my own refactor. I appreciate your help debugging all of this, but that code is extremely bad.

[2020-08-28 22:36] Steelskin commented on #726
8bitdo controllers offer different modes to connect. I usually just use XInput when connecting to a Windows machine but I must have accidentally set that one for DInput. The issue was that the D-Pad appears as an axis in this mode, which I am guessing it being filtered out by VBA-M.

[2020-08-28 22:37] rkitover commented on #726
It may be a hat, and I dropped hat support because modern controllers send button events for hats too, but I can re-add some kind of fallback code for hats.

[2020-08-28 22:40] briansrls commented on #726
Hi @rkitover, can you please clarify what you meant by "extremely bad"?

[2020-08-29 21:48] rkitover commented on #602
An update on the state of things.

TL;DR the release will be majorly delayed again.

I've finally stabilized the vcpkg and windows build support, and fixed a link issue that popped up with Msys2.

Both appveyor and travis were broken, now both CIs are back up and running.

Actually that's not entirely true, the nostl build on travis just failed and I need to fix it now.

I fixed some serious probl

[2020-08-29 23:18] briansrls opened #728 "VBA-M Causes X-Server (XORG, at least) to Freeze/Crash when setting Default Magnification through Display Settings dialogue"
### Expected behavior
Reject display/scale values that are too high/unreasonable

### Actual behavior
Values are accepted, launch a game and then the X server crashes.  Not only does VBA-M stop working, other opened windows (e.g. browsers, etc) will also close because the X server crashes with SIGINT.

Upon launching the program again, it finally shows the error message:
![image](https://user-imag

[2020-08-29 23:20] briansrls commented on #728
I think this issue should be solved by not only rejecting the values in the UI, we should also throw an assert before actually configuring the values received if they exceed the limits in the UI.  Because the UI may break/change over time, we should not assume values from the UI have been sanitized correctly, else issues like this will happen.

[2020-08-29 23:27] briansrls opened #729 "Program crashes on Ubuntu when selecting OpenAL audio driver and "OpenAL soft" device"
### Expected behavior
Gracefully select driver

### Actual behavior
Crash/Assert

### Steps to reproduce the behavior
1. Launch a game
2. Options->Audio->Configure->Advanced
3.  Select OpenAL as plugin, change "Default device" to "OpenAL soft"
4.  Crash

visualboyadvance-m: ../src/wx/openal.cpp:90: virtual OpenAL::~OpenAL(): Assertion `AL_NO_ERROR == alGetError()' failed.
Aborted (core dumped)

Pr

[2020-08-29 23:29] briansrls commented on #729
Hi @rkitover, I filed two crashes recently.  I was thinking after our recent conversation regarding joysticks, it would be more wise if you assign me issues you'd like me to look into.  If you want me to look into either of these, or something else, just assign it to me.  If not, I'll assume you want to look into it and won't touch it.

Thanks

[2020-08-29 23:36] briansrls opened #730 "Inconsistent behavior for "Pause when inactive""
### Expected behavior
This is more of a question, I'm not sure what expected behavior should be.  I think windows behavior is buggy, but let's see.

### Actual behavior
On windows, regardless of when "Pause when inactive" is checked/unchecked, the emulator always pauses when the **drop down** menu is opened. The game resumes after you open say the video plugin configuration dialogue, with pause wh